@font-face{font-family:'Gothem-black';src:url(../font/GothamPro-Black.ttf);}
@font-face{font-family:'Gothem-medium';src:url(../font/GothamPro-Medium.ttf);}
@font-face{font-family:'Gothem-light';src:url(../font/GothamPro-Light.ttf);}
html{scroll-behavior:smooth;}
body{margin:0;padding:0;}
.header{max-width:1680px;margin:auto;padding:0;}
.navbar{position: relative;display: -ms-flexbox;display: flex;-ms-flex-wrap: wrap;flex-wrap: wrap;-ms-flex-align: center;align-items: center;-ms-flex-pack: justify;justify-content: space-between;padding:10px 15px;}
.navbar-brand{display:flex;align-items:center;text-decoration:none;}
.name_brand{margin:0;font-size:13px;line-height:14px;text-transform:uppercase;color:#18176B;font-family:'Gothem-black';font-weight:bold;padding-left:8px;}
.navbar-toggler{display:none;}
.navbar-collapse {-ms-flex-align: center;align-items: center;}
.navbar-nav{display: -ms-flexbox;display: flex;padding-left: 0;margin-bottom: 0;list-style: none;margin-top:0;position: relative;}
.nav-item{padding:5px;position:relative;}
.nav-link{display:block;padding:10px 20px;text-decoration:none;font-family:'Gothem-black';font-size:13px;color:#18176B;text-transform:uppercase;letter-spacing:0.08em;}
.nav-link:hover{color:#ED6932;}
.list-unstyled{list-style:none;}
.subitem{padding:5px;width:100%;}
.drop_link{font-size:16px;font-family:'Gothem-light';font-style:normal;letter-spacing:-0.01em;line-height:24px;padding:5px 15px;}
.drop_link:hover{color:#ED6932;text-decoration:none;}
.w-100{width:100%;}
.cont_header{display:flex;align-items:center;padding-left:10px;}
.phone_header{font-size:13px;color:#ED6932;font-family:'Gothem-black';letter-spacing:0.04em;text-decoration:none;display:block;}
.phone_header:hover{text-decoration:underline;}
.link_leng{font-size:14px;font-family:'Gothem-light';color:#18176B;opacity:.5;text-decoration:none;transition:all .3s;}
.link_leng:hover{opacity:1;}
.search_label{position:relative;width:100%;}
.search_inp{border:none;background-color:#fff;padding:10px 5px;width:153px;}
.search_inp:focus{outline:none;}
.search_img{position:absolute;right:0;cursor:pointer;top:4px;bottom:0;margin:auto;}
.mobile_phone{display:none;}
.right_block{display:flex; align-items:center;}
.navbar-toggler span{width:30px;height:2px;background-color:#18176B;position:absolute;left:0;right:0;}
.navbar-toggler span:nth-of-type(1){top:2px;}
.navbar-toggler span:nth-of-type(3){bottom:0;}
.flex_container{width:100%;display:flex;position: relative;}
.company_block{background-color:#18176B;padding:20px;flex:.5;min-height:100%;display:flex;align-items:flex-start;flex-direction:column;justify-content:center;}
.img_block{position: relative;background-color:#ccc;flex:.5;}
.img-fluid{max-width:100%;}
.title_text{color:#fff;text-transform:uppercase;font-family:'Gothem-black';letter-spacing:0.01em;width:100%;margin:0;padding-bottom:30px;z-index:1;}
.link_intro{display:inline-block;color:#fff;position:relative;font-size:16px;font-family:'Gothem-medium';text-decoration:none;transition:all .3s}
.link_intro:nth-of-type(2){margin-top:30px;}
.link_intro i{position:absolute;top:0;bottom:0;margin:auto;left:-15px;font-size:17px;color:#ED6932;}
.link_intro:hover{color:#ED6932;transform:translateX(20px);}
.link_intro:before{content:'';position:absolute;width:0;height:1px;left:0;top:8px;background-color:#ED6932;transition:width .3s;}
.link_intro:hover:before{width:20px;left:-30px;}
.bg_mask_mobile{display:none;}







@media(min-width:1400px){
  .leng_block{padding:0 55px 0 20px;}
}
@media(min-width:1200px){
  .leng_block{padding:0 10px 0 20px;}
  .title_text{font-size:88px;line-height:88px;padding:}
  .company_block{padding:0 30px 0 100px;}
}
@media(min-width:768px){
  .menu_dropdown{box-shadow:0 5px 5px #eee;position:absolute;left:0;padding:0 10px;top:40px;left:60px;}
  .dropdown:not(:hover) + .menu_dropdown{display:none;}
  .dropdown:hover + .menu_dropdown{height:auto;transition:all .3s ease;opacity:1;z-index:9999;background-color:#ffff;display:block;}
  .dropdown + .menu_dropdown:hover{display:block;}
  .list-unstyled{padding-left:7px;}
}
@media(max-width:1199px){
  .search_block{display:none;}
  .nav-link{padding:10px;}
  .title_text{font-size:80px;line-height:80px;}
  .company_block{padding:0 30px 0 60px;}
}
@media(max-width:991px){
  .leng_block{display:none;}
  .nav-link{padding:10px 0;}
  .cont_header{padding-left:0;}
  .img_block{display:none;}
  .company_block{flex:1;padding:100px 30px 100px 100px;background-image:url(../img/inro_img.jpg);background-size:cover;background-position:center top;}
  .bg_mask_mobile{display:block;position:absolute;width:100%;height:100%;z-index:0;left:0;}
}
@media(max-width:767px){
  .collapse:not(.show){display:none;}
  .navbar-toggler{display:block;position:absolute;top:0;bottom:0;margin:auto;right:10px;border:none;background-color:transparent;width:30px;height:21px;cursor:pointer;}
  .show{display:block;}
  .cont_header{padding-right:50px;}
  .navbar-nav{position:absolute;left:0;right:0;flex-direction:column;width:100%;text-align:center;top:50px;z-index:9999;background-color:#fff;}
  .list-unstyled{padding-left:0;}
  .subitem{width:auto;}
  .menu_dropdown{position:relative;transition:all .3s;}
  .title_text{font-size:70px;line-height:70px;}
  .company_block{padding:100px 30px;}
}
@media(max-width:400px){
  .mobile-none{display:none;}
  .mobile_phone{display:block;}
  .name_brand{display:none;}
  .cont_header{padding-right:65px;}
}