@font-face{font-family:'circe_bold';src:url(../font/Circe-Bold.ttf);}
@font-face{font-family:'circe_light';src:url(../font/Circe-Light.ttf);}
@font-face{font-family:'circe_reg';src:url(../font/Circe-Regular.ttf);}
html{scroll-behavior:smooth;}
body{font-size:14px;color:#151414;font-family:'circe_reg';}
.wrapper{overflow:hidden;position:relative;}
.header{width:100%;position:relative;z-index:10;height:100%;}
.header_logo{max-width:140px;}
.header_menu{width:100%;padding:15px 0;position:absolute;height:100%;left:0;top:0;}
.header_nav{display:flex;align-items:center;justify-content:space-between;}
.btn_green{display:inline-block;font-family:'circe_bold'; padding:17px 35px;box-shadow:0px 4px 10px rgba(39, 57, 10, 0.08);background-color:#3E5618;border-radius:8px;color:#fff;font-size:16px;line-height:14px;}
.btn_green:hover{color:#eee;text-decoration:none;box-shadow:0px 4px 10px rgba(39, 57, 10, 0.3);}
.header_menu_link{color: #151414;font-size:16px;line-height:24px;font-family:'circe_reg';font-weight:normal;margin:0 10px;border-bottom:1px solid transparent;transition:all .3s;}
.header_menu_link:hover{border-color:#151414;text-decoration:none;color:#151414;}
.intro{position:relative;width:100%;z-index:1;}
.intro.green{background-color:#C0EF2F;padding-top:95px;position: relative;}
.img_box{position:relative;bottom:0;right:0;text-align:right;max-width:1920px;margin:auto;z-index:0;}
.img_people{max-width:100%;transition:all .3s;}
.main_title{font-size:57px;line-height:65px;color:#151414;letter-spacing:0.01em;font-family:'circe_bold';}
.text_content{font-size:16px;line-height:24px;color:}
.container.text_intro{position:absolute;left:0;top:200px;margin:auto;right:0;z-index:2;}
.link_green_text{font-size:24px;line-height:35px;display:inline-block;position: relative;color:#3E5618;transition:all .3s;font-family:'circe_bold';}
.link_green_text:before{content:'';position:absolute;left:0;right:0;bottom:3px;height:2px;background-color:#3E5618;transition:all .3s;}
.link_green_text:hover{color:#3E5618;text-decoration:none;color:#fff;}
.link_green_text:hover:before{background-color:#fff;}
.wrapper_box_description{position:absolute;bottom:-87px;left:0;width:100%;}
.container.box_description{position:absolute;display:flex;left:0;bottom:0;margin:auto;right:0;z-index:2;background-color:#FAFAFA;box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.08);border-radius: 12px;}
.box_description_item{flex:1 1 25%;padding:30px;border-right:1px solid #3E5618;display:flex;flex-direction:column;justify-content:space-between;}
.img_block_description{text-align:left;}
.title_item{font-size:22px;line-height:32px;color:#151414;font-family:'circe_bold';}
.text_item{font-size:15px;line-height:22px;color:#151414;font-family:'circe_light';}
.box_description_item:last-of-type{border-right:none;}
.questions{padding:150px 0 40px 0;}
.title_content{font-size:46px;line-height:50px;letter-spacing:0.01em;font-family:'circe_bold';}
.num_light{font-size:22px;line-height:18px;color:#717171;font-family:'circe_light';}
.title_min{font-size:16px;line-height:14px;font-family:'circe_bold';}
.text_content.min{font-size:15px;line-height:18px;color:#717171;}
.whom{padding:20px 0;}
.wrapper_img{text-align:left;position:relative;width:auto;margin-bottom:80px;}
.name_block{position:absolute;left:0;bottom:0;background-color:#fff;padding:20px 60px 20px 15px;display:inline-block;}
.green_text_upper{font-size:13px;text-transform:uppercase;color:#3E5618;font-family:'circe_bold';}
.name_foto{font-size:30px;line-height:33px;font-family:'circe_bold';}
.how_it_work{padding:40px 0;}
.step_box{opacity:0.7;transition:all .3s;cursor:pointer;display:flex;align-items:flex-start;margin-bottom:15px;}
.step_box:hover{opacity:1;}
.often_quest{padding:40px 0 100px;z-index:2;position:relative;}
.card{border:none;background-color:#fff;border-bottom:1px solid #3E5618 !important;margin-bottom:5px;}
.card-header{background-color:#fff;border-bottom:none;padding:0;}
.btn-block{padding:10px 20px 10px 0;position:relative;font-size:16px;line-height:24px;color:#151414;font-family:'circe_bold';transition:all .3s;}
.btn-block:hover{text-decoration:none;color:#3E5618;}
.btn-block:focus{outline:none;box-shadow:none;text-decoration:none;}
.card-body{padding:10px 0;}
.card-body:hover{text-decoration:none;}
.btn-block svg{position:absolute;bottom:20px;right:0;margin:auto;transition:all .3s;}
.btn-block[aria-expanded="true"]{color:#3E5618;}
.btn-block[aria-expanded="true"] svg{transform:rotateX(180deg);}
.btn-block[aria-expanded="true"] svg path{stroke:#3E5618;}
.promo{padding:80px 0;background-color:#C0EF2F;z-index:0;}
.img_promo{position:absolute;left:0;bottom:150px;top:0;margin:auto;z-index:0;}
.footer_link{font-size:24px;line-height:30px;color:#151414;font-family:'circe_bold';}
.privacy{display:block;font-size:16px;color:#151414;text-decoration:none;font-family:'circe_reg';}
.allright{font-size:15px;line-height:24px;color:#717171;font-family:'circe_light';}
.footer{padding:60px 0;}
.icon_block{display:flex;align-items:center;padding-top:20px;justify-content:space-around;}
.footer_menu{display:block;font-size:16px;line-height:26px;color:#151414;font-family:'circe_reg';margin-bottom:10px;}
.intro.green.quar_page{padding:150px 0;}
.quar_page .main_title{position:relative;}
.quar_page .main_title img{position:absolute;right:0;top:0;}
.card_waitres{display:flex;align-items:center;}
.name_waitres{font-size:22px;line-height:32px;color:#151414;font-family:'circe_bold';}
.wrapper_estimation{background-color:#FAFAFA;border-radius:12px;box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.08);padding:40px 15px;}
.summ{width:100%;display:flex;justify-content:center;text-align:center;font-size:40px;line-height:49px;color:#151414;font-family:'circe_bold';}
.summ .value_summ{width:80%;border:none;border-bottom:1px solid #3E5618;text-align:center;position:relative;min-height:50px;}
.wrapper_summ{position:relative;background-color:#F2F2F2;border-radius:200px;display:flex;justify-content:space-between;}
.radiocheck{margin-bottom:0;cursor:pointer;transition:all .3s;}
.quantity[type="radio"]{display:none;}
.radiocheck .value{display:inline-block;width:63px;height:63px;border-radius:50%;background-color:transparent;font-size:20px;font-family:'circe_light';display:flex;align-items:center;justify-content:center;transition:all .3s;}
.radiocheck:hover .value{background-color:#C0EF2F;}
.radiocheck .quantity[type="radio"]:checked + span{background-color:#C0EF2F;}
.wrapper_star{display:flex;justify-content:center;align-items:center;flex-direction:row-reverse;}
.star_item{position:relative;overflow:hidden;width:20px;height:40px;display:flex;justify-content:center;align-items:center;cursor:pointer;-webkit-appearance:none;appearance:none;margin:0;}
.star_item:before{content:'\f005';position:absolute;font-family:fontAwesome;font-size:40px;left:1px;color:#E5E5E5;transition:all .5s;}
.star_item:nth-child(2n+1):before{right:1px;left:initial;}
.star_item:hover ~.star_item:before{color:#C0EF2F;}
.star_item:hover:before{color:#C0EF2F;}
.star_item:focus{outline:none;}
.star_item:checked ~.star_item:before{color:#C0EF2F;}
.star_item:checked:before{color:#C0EF2F;}
.text_area{width:100%;}
.text_area textarea{display:inline-block;width:100%;background-color:#F2F2F2;overflow:hidden;border-radius:200px;padding:23px 25px;border:none;}
.text_area textarea:focus{outline:none;}
.text_area textarea::-webkit-input-placeholder{font-size:15px;line-height:22px;color:rgb(21, 20, 20, .4);font-family:'circe_light';}
.pay_btn{width:100%;display:inline-flex;align-items:center;justify-content:center;margin-top:20px;background-color:#C0EF2F;padding:20px 0;border-radius:200px;font-size:18px;color:#151414;font-family:'circe_bold';border:1px solid #C0EF2F;transition:all .3s;}
.pay_btn:focus{outline:none;}
.pay_btn:hover{background-color:transparent;}
.pay_btn.bg_white{background-color:transparent;}
.pay_btn.bg_white:hover{background-color:#C0EF2F;}
.intro.green.page_staff{position:relative;min-height:570px;padding-top:150px;}
.bg_text{position:absolute;z-index:0;top:0;bottom:100px;right:0;margin:auto;}
.table_staff{position:relative;z-index:1;margin-top:-300px;}
.wrapper_table{width:100%;background-color:#FAFAFA;box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.08);border-radius: 12px;padding:40px 40px 20px;}
.header_table{display:flex;align-items:center;justify-content:space-between;}
.name_table{font-size:40px;line-height:48px;letter-spacing:0.01em;color:#151414;font-family:'circe_bold';}
.btn_table_block{display:flex;align-items:center;}
.btn_table_block .pay_btn{display:inline-block;width:auto;padding:15px 30px;}
.btn_table_block .pay_btn.bg_white:hover{text-decoration:none;color:inherit;background-color:#C0EF2F;}
.btn_table_block .pay_btn:hover{text-decoration:none;color:inherit;background-color:transparent;}
.staff_item{width:100%;margin:30px 0;}
.staff_item thead{border-bottom:1px solid rgba(62, 86, 24, .5);}
.staff_item thead tr th{font-size:15px;line-height:22px;color:#151414;font-family:'circe_light';padding:15px 0;}
.staff_item tbody tr th{font-size:15px;line-height:22px;color:#151414;font-family:'circe_reg';padding:15px 0;}
.staff_item tbody span{display:inline-flex;align-items:center;}
.link_table{display:inline-block;font-size:15px;color:#151414;transition:all .3s;}
.link_table:hover{color:#3E5618;text-decoration:none;}
.staff_item tbody tr{border-bottom:1px solid rgba(62, 86, 24, .5);}
.btn_delete{border:none;background-color:transparent;}
.link_table.green{color:#7A9B14;}
.link_table.green:hover{color:#7A9B14;}
.pay_btn:hover{text-decoration:none;color:inherit;}
.qr_code{padding:40px 0 25px;}
.wrapper_qr{width:100%;background-color:#FAFAFA;box-shadow:4px 4px 12px rgba(0, 0, 0, 0.08);border-radius: 12px;padding:50px 40px;}
.order_btn_block{display:flex;flex-direction:column;width:272px;}
.info{padding:40px 0;}
.text_content.min a{color:inherit;}
.many{width:100%;border:none;background-color:transparent;position:absolute;left:40%;bottom:0;transform:}
.many:focus{outline:none;}
.value_summ span{position:absolute;right:0;bottom:0;}




@media(min-width:1550px){
  .img_people{padding-right:200px;}
}
@media(min-width:992px){
  .content.d-none, .footer.d-none{display:block !important;}
}
@media(max-width:1199px){
  .img_people{object-position:85px 0;}
}
@media(max-width:991px){
  .btn_menu{width:32px;height:32px;position:relative;padding:0;margin:0;display:flex;flex-direction:column;justify-content:space-around;background-color:transparent;border:none;}
  .btn_menu span{display:inline-block;width:100%;height:2px;background-color:#3E5618;border-radius:2px;}
  .header_menu_block{overflow:hidden;height:0;width:0;position:absolute;left:0;top:90px;right:0;}
  .header.active .header_menu_block{overflow:visible;width:100%;height:auto;max-width:720px;margin:auto;}
  .header.active .header_menu_item{display:flex;flex-direction:column;align-items:center;}
  .header.active .header_menu{position:relative;}
  .header_menu_link{margin:0px 0 15px 0;font-size:18px;}
  .container.text_intro{position:relative;}
  .img_people{object-position:0 0;}
  .img_box{text-align:center;}
  .wrapper.active{overflow:visible;}
  .header_logo{max-width:130px;}
  .container.text_intro{top:40px;}
  .box_description_item{flex:1 1 50%;}
  .container.box_description{flex-wrap:wrap;}
  .box_description_item:nth-of-type(2){border-right:none;}
  .box_description_item:nth-of-type(3), .box_description_item:nth-of-type(4){border-top:1px solid #3E5618;}
  .wrapper_box_description{bottom:-260px;}
  .questions{padding:305px 0 40px 0;}
  .wrapper_img{text-align:center;margin-bottom:40px;}
  .img_promo{bottom:auto;position:relative;max-width:100%;}
  .intro.green.quar_page{padding-bottom:50px;padding-top:120px;}
  .header_table{flex-direction:column;}
  .staff_item{min-width:850px;}
  .scroll_table{overflow-x:scroll;}
  .scroll_table::-webkit-scrollbar { width:6px; height:6px;opacity:1;}
  .scroll_table::-webkit-scrollbar-button {  background-color:transparent; }
  .scroll_table::-webkit-scrollbar-track {  background-color:transparent;}
  .scroll_table::-webkit-scrollbar-track-piece { background-color: #eee;opacity:.2;border-radius:6px;}
  .scroll_table::-webkit-scrollbar-thumb { height:50px; background-color: #7A9B14; border-radius: 6px;}
  .scroll_table::-webkit-scrollbar-corner { background-color:#7A9B14;}
  .scroll_table::-webkit-resizer { background-color: #7A9B14;}
  .name_table{font-size:30px;line-height:33px;}
  .order_btn_block{width:100%;}
}
@media(max-width:767px){
  .header_logo{max-width:100px;}
  .title_content {font-size:36px;line-height:42px;}
  .main_title {font-size:45px;line-height:50px;}
  .name_block{padding:20px 15px;}
  .whom{padding:0;}
  .name_foto{font-size:24px;line-height:20px;}
  .how_it_work{padding:0 0 20px;}
  .promo{padding:40px 0;}
  .intro.green.quar_page{padding-top:100px;}
  .btn_table_block{flex-direction:column;width:100%;}
  .btn_table_block .pay_btn{width:100%;text-align:center;}
  .wrapper_table{padding:30px 15px;}
  .wrapper_qr{padding:25px 15px;}
}
@media(max-width:575px){
  .box_description_item{flex:1 1 100%;padding:20px 30px;}
  .box_description_item:nth-of-type(2){border-top:1px solid #3E5618;}
  .container.box_description{position:relative;}
  .wrapper_box_description{bottom:15px;position:relative;}
  .questions{padding:20px 0;}
  .main_title {font-size:40px;line-height:45px;}
  .quar_page .main_title img{display:none;}
  .wrapper_estimation{padding:30px 5px;}
  .card_waitres{flex-direction:column;text-align:center;}
}





