html {scroll-behavior: smooth;}
@font-face {font-family:'Mazzard_M_regular';src:url('../font/MazzardM-Regular.ttf');}
@font-face {font-family:'Mazzard_M_bold';src:url('../font/MazzardM-Bold.ttf');}
@font-face {font-family:'Mazzard_M_light';src:url('../font/MazzardM-Light.ttf');}
@font-face {font-family:'Mazzard_M_medium';src:url('../font/MazzardM-Medium.ttf');}
@font-face {font-family:'Mazzard_M_semibold';src:url('../font/MazzardM-SemiBold.ttf');}
@font-face {font-family:'Mazzard_H_regular';src:url('../font/MazzardH-Regular.ttf');}
body{background-color:#F8F8F8;}
 /*header style*/
.header{
  padding:39px 0;
}
.header__nav-leftblock{
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.link{
  display:flex;
  padding:0 3px;
}
.nav__top{
  width: auto;
  display:flex;
  align-items:center;
  justify-content:space-between;
}
.header__nav-link{
  padding:0 54px 0 0;
}
.menu__top-link{
  font-family:'Mazzard_M_regular';
  font-weight: normal;
  font-size: 14px;
  line-height:17px;
  display:inline-block;
  padding:0 13px;
  text-decoration:none;
  color: rgba(85, 85, 85, 1);
  transition:all .3s;
}
.menu__top-link:hover{
  color:rgba(60, 80, 232, 1);
}
.account__items{
  display:flex;
  align-items:center;
}
.account__items-button{
  min-height:40px;
  display:inline-flex;
  align-items:center;
  justify-content:center;
  color:rgba(60, 80, 232, 1);
  font-family: 'Mazzard_M_bold';
  font-size: 14px;
  line-height: 17px;
  padding:0px 10px;
  border: 1px solid #CDD3FF;
  border-radius:5px;
  text-decoration:none;
  transition:.3s;
}
.account__items-button.button_profile{
  background-color:rgba(255,255,255,1);
}
.account__items-button.button_profile:hover {
  background-color:rgba(60, 80, 232, 1);
  color:rgba(255, 255, 255, 1);
}
.account__items-button.button_profile .color_icon {
  transition:.3s;
}
.account__items-button.button_profile:hover .color_icon{
  fill:#fff;
}
.account__items-button span{
  width:16px;
  height:18px;
  display:flex;
  margin-right:10px;
}
.button_profile{
  margin-right:10px;
  padding: 0px 19px;
}
.button_order{
  color:rgba(255, 255, 255, 1);
  background-color:rgba(60, 80, 232, 1);
  box-shadow:0 24px 27px -10px rgba(60, 80, 232, .5);
  border-color:rgba(60, 80, 232, 1);
  padding: 0px 30px;
}
.account__items-button.button_order:hover{
  transform:translateY(-5px);
  color:rgba(255, 255, 255, 1);
}









/* first section */
.head__main-bold{
  font-size:57px;
  line-height:100%;
  letter-spacing:-0.02em;
  color: #2D2D2D;
  font-family: 'Mazzard_M_medium';
}
.text_intro{
  font-size:20px;
  line-height:140%;
  font-family: 'Mazzard_M_light';
  padding-top:26px;
}
.container.content{
  width:1160px;
}
.first__block-conent{
  padding:88px 15px;
}
.button_get{
  font-size:16px;
  line-height:19px;
  margin-top:24px;
  padding:25px 73px;
  border-radius:10px;
}
.box_bg-intro{
  position:relative;
  width:100%;
  height:100%;
}
.img__bg-intro{
  position:absolute;
  max-width:fit-content;
  right:-155px;
  top:-189px;
  z-index:-1;
}
.message__box{
  max-width:343px;
  position:absolute;
  padding:20px 26px;
}
.message__box.box-one{
  left:100px;
  top:3px;
  background-image:url(../img/Union.png);
  background-position:center;
  background-repeat:no-repeat;
  filter: drop-shadow(0px 10px 80px rgba(76, 81, 118, 0.2));
}
.message__box.box-two {
  right: -18px;
  top: 210px;
  padding: 21px 20px 20px 44px;
  background-image: url(../img/Union2.png);
  background-position: center;
  background-repeat: no-repeat;
  filter: drop-shadow(0px 10px 80px rgba(76, 81, 118, 0.2));
  z-index:1;
}
.title__message{
  font-size:15px;
  font-family:'Mazzard_M_semibold';
  display:inline-block;
  margin-bottom:1px;
  letter-spacing:0.025em;
}
.text__message{
  font-size:15px;
  line-height:20px;
  font-family:'Mazzard_M_regular';
  display: inline-block;
  letter-spacing: 0.025em;
  margin-bottom:5px;
}
.box_cards{
  display:flex;
  align-items:center;
  padding-top:146px;
}
.text_min{
  font-size:13px;
  line-height:120%;
  font-family: 'Mazzard_M_light';
  color:#555555;
  display:inline-block;
}
.icon_card:nth-of-type(1){
  margin-left:44px;
}
.icon_card:nth-of-type(2){
  margin-left: 30px;
}
.icon_card:nth-of-type(3) {
  margin-left: 27px;
}
.icon_card:nth-of-type(4) {
  margin-left: 30px;
}
.icon_card:nth-of-type(5) {
  margin-left: 26px;
}












/* second section */
.wrapper__text-block{
  padding-bottom:77px;
}
.lowestprice__block{
  padding:167px 0 100px;
}
.lowestprice__block .head__main-bold{
  font-size:60px;
}
.lowestprice__block .text_intro{
  line-height:150%;
  padding-top:27px;
}

/* second section - blocks with hover effects */

.blocks_grid{
  display:grid;
  gap:30px;
  row-gap:30px;
  grid-template-columns:280px 280px;
  grid-template-rows: 230px 230px;
  justify-content:end;
}


.block__hover{
  width:280px;
  min-height:230px;
  height:100%;
  display:flex;
  flex-direction:column;
  background-color:rgba(255, 255, 255, 1);;
  border-radius:30px;
  padding:24px 27px;
  transition:.3s;
}
.block__hover-top{
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:space-between;
}
.gray__text-bold{
  font-size: 30px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color:rgba(45, 45, 45, .1);
  font-family: 'Mazzard_M_bold';
  transition: .3s;
  margin-bottom:5px;
}
.block__hover-icons{
  opacity:0;
  transition:.3s;
  margin: 6px 5px 0 0;
}
.block__hover-content{
  display:flex;
  flex-direction:column;
  padding-top:12px;
}
.hover__content-title{
  font-family:'Mazzard_M_semibold';
  font-size: 14px;
  line-height: 150%;
  color:rgba(45, 45, 45, 1);
  margin-bottom:10px;
  transition: .3s;
}
.hover__content-content{
  font-size: 14px;
  line-height: 140%;
  color:rgba(45, 45, 45, 1);
  font-family:'Mazzard_M_light';
  margin-bottom:2px;
  transition: .3s;
}
.block__hover:hover{
  background-color:rgba(45, 45, 45, 1);;
}
.block__hover:hover .gray__text-bold{
  color:rgba(255, 255, 255, .1);;
}
.block__hover:hover .block__hover-icons{
  opacity:1;
}
.block__hover:hover .hover__content-title{
  color:rgba(255, 255, 255, 1);
}
.block__hover:hover .hover__content-content{
  color:rgba(255, 255, 255, 1);
}
.link__blue{
  font-size: 14px;
  line-height: 140%;
  font-family: 'Mazzard_M_regular';
  color: #3C50E8;
  text-decoration:none;
  transition:.3s;
}
.link__blue:hover{
  color: #fff;
  text-decoration:underline;
}






/* third section style */
.third__section{
  padding:80px 0;
}
.third__section .head__main-bold{
  font-size:60px;
}

/* styles slider items */
.slider__card{
  position:relative;
  padding-top:54px;
}
.slider__card-body{
  width:87% !important;
  min-height:100px;
  background-color:#F1F1F1;
  border-radius:30px;
  padding:49px 64px 69px 64px;
  position:relative;
}
.light__text{
  font-size: 14px;
  line-height: 140%;
  font-family: 'Mazzard_M_regular';
  color:#555555;
}
.name__card{
  font-size:30px;
  line-height:100%;
  letter-spacing:-0.02em;
  color:#2D2D2D;
  margin-bottom:25px;
}
.table__info{
  padding-top:17px;
  width:310px;
}
.rows__info{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:center;
}
.rows__info.rows-one{
  margin-bottom: 6px;
}
.text_regular{
  font-size: 20px;
  line-height: 140%;
  font-family: 'Mazzard_M_regular';
  color:#2D2D2D;
}
.text__blue{
  font-size: 20px;
  line-height: 140%;
  color: #3C50E8;
  font-family: 'Mazzard_M_bold';
}
.button__box{
  padding-top:28px;
  width: 310px;
}
.button__box .button_get{
  width:100%;
}
.box__img{
  width:551px;
  height:334px;
  position:absolute;
  right:-150px;
  top:0;
  bottom:0;
  margin:auto;
  display:flex;
  align-items:center;
}
.box__img img{
  position: relative;
  top:-5px;
  right:5px;
  pointer-events:none;
  box-shadow:-7px 58px 34px -28px rgba(36, 42, 88, .2);
}
.slick-arrow{
  position:absolute;
  top:auto;
  bottom:70px;
  z-index:10;
  width:70px;
  height:70px;
  border:1px solid #DCDCDC;
  border-radius:10px;
  display:flex;
  align-items:center;
  justify-content:center;
}
.slick-prev{
  left:400px;
}
.slick-next{
  left:480px;
  background-color:#DCDCDC;
}



