@font-face{font-family:'Gothem_pro_normal';src: url(../font/GothamPro-Medium.ttf);}
@font-face{font-family:'Gothem_pro_light';src: url(../font/GothamPro-Light.ttf);}
@font-face{font-family:'Gothem_pro_bold';src: url(../font/GothamPro-Bold.ttf);}
@font-face{font-family:'Gothem_pro_black';src: url(../font/GothamPro-Black.ttf);}
html{scroll-behavior: smooth;}
body{background-color:#F8FCFF;}
.wrapper{overflow:hidden;background-image:url(../img/bg_content.jpg);background-size:100% auto;background-repeat:repeat-y;background-position:top center;}
.navbar{padding:25px 0;transition:all .5s ease-in-out;}
.navbar.bg_nav{background-color:rgba(0,0,0,.3);backdrop-filter:blur(10px);padding:5px 0;transition:all .5s ease-in-out;}
.navbar.fixed-top{position:fixed;left:0;top:0;width:100%}
.header{background-color:transparent;z-index:10;position:relative;left:0;top:0;width:100%;}
.link_brend{z-index:100 !important;transition:all .3s;}
.mobile_menu{justify-content:center;display:flex;}
.menu_top_wrap{display:flex; align-items:center;list-style:none;padding-left:0;margin:0;}
.menu_item{margin:0 15px;display:inline-block;font-family:'Gothem_pro_light';font-weight:normal;color:#f7f7f7;transition:all .3s;font-size:15px;}
.menu_item:hover{color:#afaaaa;text-decoration:none;}
.intro_page{position:relative;padding:0 0 100px;}
.swiper-container{width:100%;padding:170px 0 85px;}
.title_slide{color:#fff;font-size:51px;line-height:49px;text-transform:uppercase;letter-spacing:0.04em;font-family: 'Gothem_pro_bold';}
.link_item{margin-left:15px;position:relative;}
.basket_item{position:absolute;top:-7px;right:-7px;width:16px;height:16px;border-radius:50%;background-color:#FD9800;color:#fff;display:flex;align-items:center;justify-content:center;font-size:11px;}
.swiper-button-next, .swiper-button-prev{left:auto;right:0;top:auto;bottom:30px;}
.swiper-button-prev{right:40px;}
.swiper-button-next:focus, .swiper-button-prev:focus{outline:none;}
.swiper-button-next:after{content:'';width:15px;height:18px;background-size:auto 100%;background-image:url(../img/next.png);background-position:center center;background-repeat:no-repeat;}
.swiper-button-prev:after{content:'';width:15px;height:18px;background-size:auto 100%;background-image:url(../img/prev.png);background-position:center center;background-repeat:no-repeat;}
.right_item_block{display:flex;align-items:center;justify-content:flex-end;z-index:100;}
.btn_menu{display:none;}
.bg_menu_mobile{display:none;}
.sub_title_slide{font-size:68px;line-height:65px;letter-spacing:0.02em;text-transform:uppercase;color:#FFBC01;font-family: 'Gothem_pro_bold';}
.bg_text{font-size:218px;line-height:209px;letter-spacing:0.04em;text-transform:uppercase;font-family: 'Gothem_pro_bold'; -webkit-text-stroke-width: 1px;-webkit-text-stroke-color:rgba(255,255,255,.3);display:flex;align-items:center;justify-content:center;text-align:center;position:absolute;top:0;bottom:0;right:0;margin:auto;left:0;background:transparent;-webkit-background-clip: text;-webkit-text-fill-color: transparent;color:#fff;transition:all 3s;}
.body_slide{position:relative;padding:0 0 30px;}
.img_slider_1{max-width:544px;position:absolute;top:-95px;right:190px;z-index:0;transition:all .3s;}
.btn_order{display:inline-block;background-color:#FFBC01;position:absolute;padding:15px 45px;text-align:center;text-transform:uppercase;color:#000;font-size:19px;line-height:21px;font-family:'Gothem_pro_normal';font-weight:bold;background: linear-gradient(180deg, #FFBC01 0%, #FD9800 100%);border-radius: 25px;transition:box-shadow .3s;border:1px solid transparent;bottom:-55px;left:0;}
.btn_order:hover{text-decoration:none;background:#FFBC01;color:#000;box-shadow:4px 4px 12px rgba(253, 152, 0, 0.55);}
.btn_order:active{outline:none;background:#000;color:#FD9800;box-shadow:4px 4px 12px rgba(253, 152, 0, 0.22);}
.swiper-pagination{width:30%;left:auto;right:100px;bottom:30px;font-size:27px;color:#FD9800;font-family: 'Gothem_pro_normal';display:flex;flex-direction:row-reverse;}
.swiper-pagination-current{font-size:40px;color:#fff;line-height:38px;}
.swiper-pagination-current:before{content:'0';left:0;color:#fff;}
.swiper-pagination-total:before{content:'0';left:0;color:#FD9800;}
.tabs_menu{position:relative;padding:70px 0 30px;z-index:1;background-color:#fff;}
.title_block{font-size:60px;line-height:57px;letter-spacing:0.04em;text-transform:uppercase;color:#141212;font-family: 'Gothem_pro_black';}
.paper{width:100%;object-fit:cover;position:absolute;top:-100px;z-index:-1;}
.navs_item{display:flex;align-items:center;flex-wrap:nowrap;}
.btn_navs{display:inline-block;border: 1px solid transparent !important;padding:13px 45px;text-align:center;background-color:#DEDEDE;border-radius:25px !important;font-size:18px;color:#141212;line-height:21px;font-family:'Gothem_pro_normal';transition:all .3s;}
.btn_navs.active{border-color:#FD9800 !important;background-color:#fff}
.btn_navs:hover{border-color:#FD9800 !important;background-color:#fff;text-decoration:none;color:#FD9800;}
.btn_navs:active{border-color:#FFBC01 !important;background-color:#FFBC01;text-decoration:none;color:#000;}
.nav-item{border:none;background-color:transparent;}
.nav-item:not(:last-of-type){margin-right:15px;}
.nav-link.active{border:none;}
.nav-tabs{border:none;}
.card_goods{position:relative;width:100%;background-color:#fff;border-radius:10px;box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.13);padding:15px}
.link_card{display:inline-block;text-align:center;width:100%;}
.weight{font-size:16px;font-family:'Gothem_pro_normal';font-weight:normal;color:#BDBDBD;position:absolute;top:10px;left:15px;}
.card_body{display:flex;flex-direction:column;justify-content:space-between;}
.link_goods_card{font-size:21px;line-height:23px;color:#141212;font-family:'Gothem_pro_bold';}
.link_goods_card:hover{color:inherit;text-decoration:none;}
.description_goods{font-size:11px;line-height:15px;color:#000;font-family:'Gothem_pro_light';}
.block_price_btn{display:flex;justify-content:space-between;align-items:center;}
.price_num{display:inline-block;font-family:18px;line-height:21px;color:#141212;font-family:'Gothem_pro_bold';}
.counter_basket_block{display:inline-flex;align-items:center;}
.counter_btn{display:inline-flex;align-items:center;justify-content:space-between;background-color:#EBEBEB;border-radius:100px;min-width:61px;max-height:26px;margin-right:12px;}
.counter_btn button{border:none;background-color:transparent;}
.counter_btn button:focus{outline:none;}
.add_goods{border:none;background: linear-gradient(180deg, #FFBC01 0%, #FD9800 100%);border-radius: 100px;text-align:center;min-width:40px;max-height:26px;}
.btn_more{font-size:18px;line-height:21px;color:#141212;font-family:'Gothem_pro_normal';border-radius:25px;position:relative;text-transform: none;bottom:0;padding:15px 70px;}
.menu{position:relative;padding:100px 0 110px;}
.paper_bottom{position:absolute;z-index:-1;object-fit:cover;position: absolute;width:100%;left:0;bottom:-95px;}
.white_txt{color:#fff !important;}
.menus_item{position:relative;background-color:transparent;}
.body_menus_item{display:inline-block;width:100%;padding:65px 15px 15px 15px;border:1px solid #FD9800;border-radius:20px;margin-top:60px;position:relative;background:transparent;transition:all .3s;}
.img_menus{position:absolute;left:0;right:0;margin:auto;bottom:64px;}
.name_menu{text-align:center;color:#fff;font-size:28px;line-height:27px;letter-spacing:0.04em;text-transform:uppercase;font-family:'Gothem_pro_bold';transition:color .3s;}
.price_menus_item{display:inline-block;width:100%;text-align:center;color:#FFBC01;font-size:18px;line-height:17px;text-transform:uppercase;font-family:'Gothem_pro_bold';transition:color .3s;}
.body_menus_item:hover{text-decoration:none;background:linear-gradient(180deg, #FFBC01 0%, #FD9800 100%);}
.body_menus_item:hover .name_menu{color:#000;}
.body_menus_item:hover .price_menus_item{color:#000;}
.img_menus.item_2{bottom:90px;}
.img_menus.item_3{bottom:75px;}
.about_us{position:relative;padding:60px 0 70px;background-color:#fff;}
.image_border{width:100%;border-radius:20px;overflow:hidden;}
.img_width{width:100%;object-fit:cover;}
.text_content{font-size:15px;line-height:19px;color:#141212;font-family: 'Gothem_pro_light';}
.paper.bottom_position{top:-95px;z-index:0;}
.footer{padding:50px 0;z-index:100;position:relative;}
.block_logo_footer{display:flex;flex-direction:column;justify-content:space-between;align-items:flex-start;height:100%;}
.gray_color{color:#BDBDBD;font-family:'Gothem_pro_light';}
.footer_block{display:flex;flex-direction:column;justify-content:start;height:100%;}
.footer_block .menu_item{margin:0 0 15px 0;font-family: 'Gothem_pro_normal';}
.white_text_footer{color:#fff;font-size:15px;line-height:19px;font-family: 'Gothem_pro_normal';}
.phone_link_footer{font-size:15px;color:#fff;line-height:19px;font-family:'Gothem_pro_normal';}
.phone_link_footer:hover{text-decoration:none;color:#afaaaa;}
.social_block{display:flex;align-items:center;justify-content:flex-start;z-index:10;}
.social_link{display:inline-block;width:30px;height:30px;border-radius:50%;background-color:#fff;box-shadow:0px 4px 10px rgba(0, 0, 0, 0.15);display:flex;align-items:center;justify-content:center;}
.social_link:hover{box-shadow:0px 4px 10px rgba(0, 0, 0, 0.9);}
.social_link:not(:last-of-type){margin-right:15px;}
.img_slide_bg{transition:all .3s ease;position:absolute;}
.list_position{left:0;bottom:60px;}
.luk_position{left:150px;bottom:80px;}
.list_two_position{right:0;top:10px;}
.tomat_position{right:50px;bottom:20px;}
.tomat_two_position{top:-188px;right:0;}
.tomat_position_mobile{right:0;bottom:80px;z-index:1;max-width:82px;}
.list_two_position_mobile{max-width:60px;z-index:1;right:40px;top:130px;}
.img_text{position:absolute;left:-10px;top:0;bottom:0;margin:0 auto;max-width:100%;}
.padding_left_title{padding-left:113px;}
.bread_cramb{margin-top:150px;}
.breadcrumb{background-color:transparent;padding-left:0;padding-right:0;}
.breadcrumb-item{font-size:15px;line-height:19px;color:#ffff;font-family:'Gothem_pro_light';}
.breadcrumb-item a{font-size:15px;line-height:19px;color:#ffff;font-family:'Gothem_pro_light';}
.breadcrumb-item.active{color:#FD9800;}
.menu_page_2{padding-top:15px;}
.page_two_list_item{max-width:100%;position:absolute;top:0;right:0;}
.name_goods_bold_text{font-size:30px;line-height:29px;letter-spacing:0.04em;text-transform:uppercase;color:#fff;font-family:'Gothem_pro_black';}
.price_big_bold{font-size:50px;line-height:54px;text-transform:uppercase;font-family:'Gothem_pro_black';color:#000;background:linear-gradient(180deg, #FFBC01 0%, #FD9800 100%);-webkit-background-clip: text;-webkit-text-fill-color: transparent;}
.description_goods_tabs .btn_navs{border-color:#000;background-color:#000;color:#fff;}
.description_goods_tabs .btn_navs.active{border-color:#000;background-color:transparent;color:#fff;}
.structure_list{list-style:none;padding-left:0;}
.structure_list li{font-size:15px;line-height:19px;color:#fff;font-family:'Gothem_pro_light';padding-left:20px;position:relative;margin:0 0 20px 0;}
.structure_list li:before{content:'';position:absolute;left:0;top:0;bottom:0;margin:auto;width:8px;height:8px;background:linear-gradient(180deg, #FFBC01 0%, #FD9800 100%);border-radius:50%;}
.page_goods_item{padding:0 0 140px;}
.tastier .name_menu{color:#141212;font-size:15px;line-height:18px;letter-spacing:0.04em;}
.tastier .menus_item{display:flex;height:100%;}
.tastier .body_menus_item{height:100%;display:flex;flex-direction:column;justify-content:flex-end;align-items:center;margin-top:0;}
.tastier .img_menus{bottom:80px;}
.page_white_bg{background-color:#fff;}
.page_white_bg .breadcrumb{margin:0;}
.page_white_bg .breadcrumb-item a{color:#000;}
.padding_on_white_bg{padding-top:50px;}
.menu_content{background-color:#fff;padding:40px 0;}
.sidebar{position:relative;background-color:#fff;box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.13);border-radius: 8px;overflow:hidden;}
.left_menu_list{list-style:none;padding-left:0;margin:0;}
.left_menu_list_link{position:relative;display:flex;transition:all .3s;padding:15px 10px 15px 0px;background:#fff;font-size:19px;line-height:35px;font-family: 'Gothem_pro_normal';color:#4F4F4F;}
.left_menu_list_link:hover{background:linear-gradient(180deg, #FFBC01 0%, #FD9800 100%);color:#141212;text-decoration:none;}
.left_menu_list_link.active{background:linear-gradient(180deg, #FFBC01 0%, #FD9800 100%);color:#141212;}
.left_menu_list_link span{display:inline-block;width:80px;position:relative;left:0;}
.sidebar_img{position:absolute;left:0;right:0; top:0;bottom:0;margin:auto;max-width:100%;}
.position_page_menu{top:-100px;right:0;left:auto;}
.pagination_page{display:flex;align-items:center;justify-content:center;}
.pagination_page_link{padding:5px;height:100%;min-width:40px;min-height:45px;border-radius:5px;background:transparent;transition:all .3s;margin:0 3px;display:inline-flex;align-items:center;justify-content:center;color:rgba(20, 18, 18, 0.5);font-size:22px;line-height:22px;font-family:'Gothem_pro_bold';}
.pagination_page_link:hover{text-decoration:none;color:rgba(0, 0, 0, 1);background: linear-gradient(180deg, #FFBC01 0%, #FD9800 100%);}
.pagination_page_link.active{text-decoration:none;color:rgba(0, 0, 0, 1);background: linear-gradient(180deg, #FFBC01 0%, #FD9800 100%);}
.hidden_sideabar{display:flex;width:100%;align-items:center;justify-content:space-between;font-size:20px;line-height:22px;font-family:'Gothem_pro_normal';color:#FFBC01;padding:0 0 15px 0;}
.hidden_sideabar img{filter:drop-shadow(0 5px 2px rgba(0,0,0,.2));transition:all .3s;}
.hidden_sideabar[aria-expanded="false"] img{transform:rotateZ(180deg);filter:drop-shadow(0 -5px 2px rgba(0,0,0,.2));}
.hidden_sideabar:hover{color:#FFBC01;text-decoration:none;}
.hidden_sideabar:active{color:#FFBC01;}
.pepper_position{top:25px;z-index:-1;}
.list_position_advantages_page{position:absolute;top:-50px;right:-50px;}
.body_bulet{display:flex;align-items:flex-start;}
.name_bulit{font-size:20px;line-height:19px;color:#fff;font-family:'Gothem_pro_normal';}
.desc_bullit{font-size:15px;line-height:22px;color:#BDBDBD;font-family:'Gothem_pro_light';}
.our_advatages{padding:0 0 140px;}
.our_advatages .title_block{z-index:10;}


@media(min-width:992px){
  body.overflow-hidden{overflow:visible !important;}
  .sidebar.collapse:not(.show){display:block;}
}
@media(max-width:1400px){
  .bg_text{font-size:182px;}
  .tabs_menu{padding-top:30px;}
  .tomat_two_position{top:-130px;}
  .about_us{padding-top:0;}
}
@media(max-width:1199px){
  .name_menu{font-size:22px;}
  .img_slider_1{right:0;} 
  .bg_text{font-size:150px;}
  .comp_size{font-size:50px;}
}
@media(max-width:991px){
  .mobile_menu{position:absolute;bottom:0;left:-100%;justify-content:start;overflow:hidden;width:0;transition:all .3s;z-index:-1;}
  .mobile_menu.active{width:100%;left:0px;right:0;overflow:visible;transition:all .3s;}
  .menu_top_wrap{flex-direction:column;align-items:start;position:absolute;left:0;top:-150px;padding-top:150px;width:100%;margin-left:auto;margin-right:auto;}
  .mobile_container{display:flex;flex-direction:column;align-items:start;width:100%;margin:0 auto;max-width:720px;padding:0 15px;}
  .menu_item{font-size:22px;margin:0;font-family:'Gothem_pro_normal';z-index:1;}
  .title_menu{color:#BDBDBD;font-size:15px;font-family:'Gothem_pro_light';font-weight:normal;z-index:1;}
  .btn_menu{padding:0; position:relative;width:27px;height:27px;display:flex;align-items:center;border:none;background-color:transparent;display:inline-block;margin-left:15px;}
  .btn_menu:focus{outline:none;}
  .btn_menu span{position:absolute;width:100%;height:2px;background-color:#f7f7f7;display:inline-block;top:0;bottom:0;margin:auto;left:0;}
  .btn_menu span:before{content:'';position:absolute;width:100%;height:2px;background-color:#f7f7f7;left:0;top:-10px;}
  .btn_menu span:after{content:'';position:absolute;width:100%;height:2px;background-color:#f7f7f7;left:0;top:10px;}
  .bg_menu_mobile{display:block;position:absolute;left:0;top:0;object-fit:cover;width:100%;height:100%;}
  .name_menu{font-size:28px;}
  .footer_block{align-items:center;}
  .img_slider_1{top:-9px;}
  .list_position{bottom:0;max-width:55px;}
  .list_two_position{right:auto;top:128px;left:10px;max-width:60px;}
  .tomat_position{display:none;}
  .luk_position{left: auto;bottom:-38px;right: 0;}
  .bg_text{font-size:123px;}
  .title_block{font-size:39px;}
  .tabs_menu{padding-top:0;}
  .paper_bottom{bottom:-42px;} 
  .about_us {padding-top:10px;}
  .block_logo_footer{align-items:center;}
  .footer{padding:35px 0;}
  .bg_menu_mobile{height:123%;} 
  .menu_top_wrap.active{z-index:99999;overflow:scroll;}
  .navbar.active{padding:15px;}
  .link_brend.hid_add{opacity:0;visibility:hidden;}
  .page_two_list_item{display:none;}
  .wrapper{background-size:auto;}
  .bread_cramb{margin-top:130px;}
  .position_page_menu{display:none;}
  .menu_content{padding-top:0px;}
  .our_advatages{padding-bottom:100px;}
}
@media(max-width:767px){
  .title_slide{font-size:30px;line-height:29px;}
  .sub_title_slide{font-size:40px;line-height:38px;letter-spacing:0.02em;}
  .img_slider_1{max-width:100%;}
  .luk_position{right:-55px;}
  .bg_text{font-size:88px;}
  .tomat_two_position{display:none;}
  .intro_page {padding:0 0 50px;}
  .paper{top:-48px;}
  .btn_navs{font-size:12px;padding:7px 15px;}
  .tabs_menu{padding-bottom:0;}
  .menu{padding-bottom:95px;}
  .paper.bottom_position{top:-63px;}
  .about_us{padding:10px 0 30px;}
  .page_goods_item{padding-bottom:80px;}
  .padding_on_white_bg{padding-top:30px;}
  .navbar{padding:10px 0;}
  .list_position_advantages_page{display:none;}
  .our_advatages {padding-bottom:80px;}
}
@media(max-width:565px){
  .swiper-container{padding-top:135px;}
  .list_position{bottom:40px;}
  .luk_position{bottom:0;}
  .btn_order{width:100%;padding:15px 0;}
  .swiper-pagination{right:auto;left:0;width:50%;justify-content:flex-end;}
  .img_slider_1 {top:-72px;}
  .swiper-pagination{bottom:-5px;}
  .swiper-button-next, .swiper-button-prev{bottom:-5px;}
  .btn_order{bottom:-34px;}
  .paper{top:-30px;}
  .paper_bottom{bottom:-45px;} 
  .btn_more{bottom:0;}
  .img_text{max-width:132px;}
  .menu{padding-top:35px;}
  .about_us{padding:0 0 30px;}
  .our_advatages .title_block{padding-left:50px;font-size:34px;line-height:33px;}
  .our_advatages {padding-bottom:60px;}
}
@media(max-width:400px){
  .swiper-container{padding-top:117px;}
  .bg_text{font-size:62px;}
  .title_block{font-size:35px;}
  .paper.bottom_position{top:-43px;}
  .bread_cramb{margin-top:100px;}
  .our_advatages .title_block{padding-left:0;font-size:30px;}
  .pepper_position{max-width:120px;left:-20px;}
}






