
@font-face{font-family:'sfui_thin';src:url(../font/sf-ui-display-thin-58646e9b26e8b.otf);}
@font-face{font-family:'sfui_light';src:url(../font/sf-ui-display-light-58646b33e0551.otf);}
@font-face{font-family:'sfui_med';src:url(../font/sf-ui-display-medium-58646be638f96.otf);}
html{scroll-behavior:smooth;}  
body{font-size:16px;color:#444;font-family:'Open Sans';}
.header_nav{display:flex;align-items:center;justify-content:space-between;position:relative;}
.header_menu_block{display:block;flex:1 1 70%;}
.header_menu_item{display:flex;align-items:center;justify-content:flex-start;}
.header_menu_link{display:inline-block;position:relative;color:#444444;font-size:18px;line-height:25px;font-weight:normal;margin:0 25px;}
.header_menu_link:hover{text-decoration:none;color:#444;}
.header_menu_link:before{content:'';position:absolute;width:0;right:0;bottom:-10px;height:2px;background-color:#FFC325;border-radius:2px;transition:width .3s ease;}
.header_menu_link:hover::before{width:100%;left:0%;}
.header_menu_link.active::before{width:100%;left:0%;}
.header_menu_button{display:flex;align-items:center;}
.header_menu_btn{transition:all .3s;margin-left:15px;}
.header_menu_btn:hover{text-decoration:none;}
.header_menu_btn path{transition:all .3s;}
.header_menu_btn:hover path{fill:#FFC325;transition:color .3s;}
.header_menu_btn.yellow{display:inline-block;padding:10px 35px;color:#444;background-color:#FFC325;border-radius:5px;font-size:16px;line-height:22px;font-family:'Open Sans'; font-weight:600;}
.header_menu_btn.yellow:hover{color:#fff;box-shadow:inset 0 0 20px 20px rgba(0,0,0,.03);}
.item_cabinet{display:flex;align-items:center;}
.serach_input{width:100%;position:relative;padding:0;display:flex;border-radius:5px;border:1px solid #FFC325;justify-content:space-between;}
.serach_input input{width:100%;padding:10px 20px;font-size:16px;font-family:'Open Sans';border:none;border-radius:5px;font-size:16px;color:#444444;transition:all .3s;}
.serach_input input::-webkit-input-placeholder{font-size:16px;color:#444444;opacity:.4;}
.serach_input input:focus{outline:none;box-shadow:0 0 3px 2px #FFC325;}
.btn_sub{display:inline-flex;align-items:center;border:none;background-color:#FFC325;color:#444444;padding:0 25px 0 17px;border-radius:5px;font-family:'Open Sans'; font-weight:600;}
.wrapper_intro{padding:40px 50px 30px 50px;border-radius:8px;background-color:#fff;box-shadow: 0px 6px 20px rgba(68, 68, 68, 0.1);}
.intro{padding:30px 0 50px;}
.red_text{line-height:22px;color:#EB5757;font-family:'Open Sans';font-weight:normal;}
.title_main{font-size:45px;line-height:61px;color:#444;font-family:'Open Sans';font-weight:600;}
.main_link{font-size:20px;line-height:27px;color:#FFC325;font-family:'Open Sans';font-weight:600;display:block;}
.main_link:hover{color:inherit;}
.link_box{display:flex;flex-direction:column;}
.intro .header_menu_btn.yellow{display:inline-block;}
.wrapper_card{width:100%;height:100%;background-color:#fff;border-radius:8px;box-shadow: 0px 6px 20px rgba(68, 68, 68, 0.1);padding:15px 20px;display:flex;align-items:center;}
.upper_text{font-size:20px;line-height:24px;font-family:'Open Sans';font-weight:600;text-transform:uppercase;color:#444444;}
.link_box .header_menu_btn{display:inline-block;width:min-content;}
.steps{position:relative;width:100%;background-color:#F5F5F5;padding:50px 0;}
.wrapper_img{background-color:#fff;border-radius:8px;box-shadow: 0px 6px 20px rgba(68, 68, 68, 0.1);text-align:center;padding:5px;}
.block_step{padding-left:50px;display:flex;flex-direction:column;}
.step_item{position:relative;padding-left:15px;}
.step_item.num:before{position:absolute;left:-50px;top:0;z-index:1;width:54px;height:54px;border-radius:50%;background-color:#fff;box-shadow: 0px 6px 20px rgba(68, 68, 68, 0.1);font-size:27px;color:#FFC325;display:flex;align-items:center;justify-content:center;font=family:'Open Sans';font-weight:bold;}
.step_item.num.one:before{content:'1';}
.step_item.num.two:before{content:'2';}
.step_item.num.three:before{content:'3';}
.step_item.num.four:before{content:'4';}
.step_item:after{content:'';position:absolute;width:2px;height:100%;border-left:3px dashed #444;left:-25px;top:0;z-index:0;opacity:.2;}
.step_item:last-of-type:after{display:none;}
.middle_text{font-size:24px;line-height:33px;color:#444;font-family:'Open Sans';font-weight:600;}
.link_sait{font-weight:normal;display:flex;}
.link_sait .main_link{font-weight:normal;}
.link_sait span{font-size:20px;line-height:27px;color:#FFC325;}
.description_steps{font-size:15px;line-height:20px;color:#444;font-weight:300;}
.yellow_min_link{font-size:15px;color:#FFC325;line-height:20px;transition:all .3s;}
.yellow_min_link:hover{color:#444;}
.yellow_min_link.bold{font-weight:bold;}
.advantages{width:100%;padding:80px 0 40px;}
.advant_item{display:flex;flex-direction:column;justify-content:flex-start;align-items:center;}
.circle{display:inline-flex;width:120px;height:120px;border-radius:50%;background-color:#fff;box-shadow: 0px 6px 20px rgba(68, 68, 68, 0.1);align-items:center;justify-content:center;}
.midlle_min{font-size:20px;line-height:20px;color:#444;text-align:center;font-weight:bold;}
.micro_text{font-size:13px;line-height:18px;text-align:center;font-weight:300;}
.title_block{font-size:42px;line-height:46px;font-weight:500;font-family:'sfui_med';}
.middle_min.reg{font-weight:normal;}
.shev_left{position:relative;}
.shev_left:before{content:'';position:absolute;width:7px;height:12px;background-image:url(../img/shev_left.svg);background-size:cover;left:-20px;top:0;bottom:0;margin:auto;}
.middle_title{font-size:27px;line-height:46px;color:#444;font-weight:normal;font-weight:bold;}
.middle_title span{font-family:'sfui_thin';font-weight:200;}
.accordion>.card{border:none;padding-right:25px;}
.accordion>.card>.card-header{padding:0;border:none;background-color:#fff;}
.btn-block{padding:15px 0;font-size:20px;line-height:24px;color:#444;font-weight:600;position:relative;text-decoration:none;}
.btn-block:hover{text-decoration:none;color:#444;cursor:pointer;}
.btn-block:focus{box-shadow:none;text-decoration:none;}
.btn-block svg{position:absolute;right:-20px;top:25px;transition:all .3s;}
.btn-block[aria-expanded="true"] svg{transform:rotateX(180deg);transition:all .3s;}
.btn-block[aria-expanded="true"] svg path{stroke:#444444;transition:all .3s;}
.card-body{padding:20px 0;font-size:18px;line-height:22px;color:#444;font-weight:300;}
.input_form{width:100%;position:relative;margin-bottom:20px;}
.input_form input, .input_form textarea{width:100%;border:none;border-bottom:1px solid #444;padding:10px 0;font-size:18px;line-height:21px;font-family: 'sfui_thin';font-weight:300;}
.input_form input::-webkit-input-placeholder{font-size:18px;line-height:21px;font-family: 'sfui_thin';font-weight:200;}
.input_form input:focus{outline:none;}
.opacity_text{font-size:14px;line-height:19px;color:#444;opacity:.5;}
.checkbox{position:relative;width:100%;cursor:pointer;}
.checkbox input[type="checkbox"]{display:none;}
.checkbox span{color:#444;font-size:15px;display:inline-block;line-height:18px;font-family:'sfui_thin';padding-left:30px;position:relative;letter-spacing:0.07em;}
.checkbox .checkbox_link{color:#444;font-size:15px;display:inline-block;line-height:18px;font-family:'sfui_med';}
.checkbox span:before{content:'';position:absolute;width:17px;height:17px;left:0;top:0;border-radius:3px;border:1px solid #444;background-color:#fff;transition:all .3s;}
.checkbox span:after{content:'';position:absolute;width:17px;height:17px;left:0;top:0;border-radius:3px;border:1px solid #444;background-color:#fff;opacity:0;transition:all .3s;}
.checkbox input[type="checkbox"]:checked + span:after{background-color:#FFC325;box-shadow:inset 0 0 2px 2px rgba(0,0,0,.1);opacity:1;}
.questions{padding:0 0 80px;}
.form_btn.btn_sub{width:100%;padding:15px 0;justify-content:center;}
.footer{width:100%;padding:80px 0;background-color:#fff;}
.share_block{display:flex;align-items:center;}
.share_link{margin:0 7px;transition:all .3s;}
.share_link:hover{transform:translateY(-2px);}
.share_text{font-size:18px;line-height:23px;color:#444;font-weight:600;}
.share_text span{color:#FFC325;}
.subscribe{display:flex;width:100%;justify-content:space-between;}
.subscribe input{padding:15px 0;margin-right:15px;border:none;border-bottom:1px solid #444;background-color:transparent;width:100%;}
.subscribe input:focus{outline:none;}
.subscribe input::-webkit-input-placeholder{font-size:16px;color:#444;font-weight:300;font-family:'Open Sans';}
.btn_sub.subs{padding:0 14px 0 15px;}
.approval{font-size:7.5px;line-height:10px;color:#444;font-weight:normal;}
.footer_link{display:flex;flex-direction:column;}
.footer_link_item{font-size:16px;line-height:34px;display:inline-block;color:#444;font-weight:normal;font-family:'Open Sans';}
.footer_link_item:hover{color:#444;}
.clear{display:inline-block;position:absolute;width:20px;height:20px;background-color:transparent;top:0;bottom:0;margin:auto;right:120px;cursor:pointer;padding:3px;opacity:.5;transition:all .3s;}
.clear:before{content:'';position:absolute;left:0;top:0;bottom:0;margin:auto;width:15px;height:2px;transform:rotateZ(45deg);background-color:#444;}
.clear:after{content:'';position:absolute;left:0;top:0;bottom:0;margin:auto;width:15px;height:2px;transform:rotateZ(-45deg);background-color:#444;}
.clear:hover{opacity:1;}

/*new styles*/
.wrapper_intro_vendor{overflow:hidden;border-radius:10px;}
.banner_image{object-fit:cover;width:100%;object-position:center center;}
.intro_vendor{padding:30px 0;}
.breadcrumb{background-color:transparent;}
.breadcrumb-item{color:#444;font-size:15px;font-family:'Open Sans';font-weight:300;}
.breadcrumb-item a{color:#444;font-size:inherit;font-family:inherit;font-weight:600;}
.title_middle{font-size:20px;line-height:26px;color:#444;font-weight:600;display:flex;align-items:center;}
.goods_sort{padding:30px 0;}
.wrapper_select{z-index:999;position:relative;}
.wrapper_select.item_1{z-index:4;}
.wrapper_select.item_2{z-index:3;}
.wrapper_select.item_3{z-index:2;}
.wrapper_select.item_4{z-index:1;}
.btn_form{border:none;width:100%;outline:none;font-size:18px;line-height:20px;padding:15px 0;color:#444;font-family:'Open Sans';border-radius:5px;font-weight:600;transition:all .3s;}
.btn_form.yellow{background-color:#FFC325;}
.btn_form:focus{outline:none;}
.btn_form:hover{box-shadow:0 0 10px rgba(0,0,0,.2);color:#fff;}
.reset_btn{color:#444;opacity:.8;font-size:18px;line-height:20px;font-weight:600;font-family:'Open Sans';width:100%;text-align:center;padding:10px 0;border:none;background-color:transparent;transition:all .3s;}
.reset_btn:focus{outline:none;}
.reset_btn:hover{opacity:1;}
.link_promo_sidebar{display:block;width:100%;border-radius:5px;overflow:hidden;}
.link_promo_sidebar img{width:100%;pointer-events:none;}
.link_forum{display:block;font-size:17px;line-height:23px;font-family:'Open Sans';color:#444;font-weight:300;transition:all .3s;}
.link_forum:hover{opacity:.7;color:inherit;}
.list_news{list-style:none;padding-left:34px;position:relative;}
.list_news_item{margin-bottom:10px;}
.news_link{display:inline-block;font-size:14px;line-height:18px;font-weight:300;font-family:'Open Sans';color:#444;position:relative;transition:all .3s;}
.news_link:before{content:'';position:absolute;top:0;bottom:0;margin:auto;left:-35px;width:25px;height:1px;background-color:#C4C4C4;transition:all .3s;}
.news_link:hover{color:inherit;text-decoration:none;}
.news_link:hover:before{transform:rotateZ(90deg);transition-delay:.1s;}
.title_page{font-size:42px;line-height:46px;font-family:'sfui_med';font-weight:500;}
.filtr_goods{display:flex;align-items:center;justify-content:space-between;}
.filtr_goods_item{display:flex;align-items:flex-end;justify-content:flex-start;}
.filter_goods_link{position:relative;color:#444;font-size:16px;display:inline-block;padding-bottom:3px;margin-right:30px;line-height:18px;font-family:'Open Sans';font-weight:600;border-bottom:1px dashed #444;transition:all .3s;}
.filter_goods_link:hover{color:#FFC325;border-color:#FFC325;text-decoration:none;}
.icon_filtr{position:absolute;top:0;right:-15px;bottom:0;margin:auto;transition:all .3s;}
.filter_goods_link .icon_filtr svg path{transition:all .3s;}
.filter_goods_link:hover .icon_filtr svg path{stroke:#FFC325;}
.filter_goods_link:hover .icon_filtr{transition:all .3s;}
.filter_goods_link:hover .icon_filtr{transform:rotateZ(180deg);}
.filter_goods_link.active{color:#FFC325;border-color:#FFC325;text-decoration:none;}
.filter_goods_link.active .icon_filtr{transform:rotateZ(180deg);}
.filter_goods_link.active .icon_filtr svg path{stroke:#FFC325;}
.opacity_text{font-size:16px;line-height:20px;color:#BDBDBD;}
.card_goods{padding:15px 17px 0;height:100%;background-color:#fff;border-radius: 8px 8px 0 0;transition:all .3s;z-index:0;text-align:center;display:flex;flex-direction:column;justify-content:space-between;position:relative;}
.card_goods:hover{box-shadow: 0px 6px 20px rgba(68, 68, 68, 0.25);z-index:1;}
.header_card{display:flex;flex-direction:column;align-items:center;min-height:95px;justify-content:space-between;z-index:1;position:relative;}
.text_card{max-height:50px;overflow:hidden;transition:all .3s;}
.footer_card{visibility:hidden;opacity:0;min-height:0;transform:translateY(-50px);position:absolute;top:100%;left:0;width:100%;padding:0 17px 20px;background-color:#fff;}
.card_goods .footer_card{transition:all .3s;}
.card_goods:hover .footer_card{min-height:50px;opacity:1;visibility:visible;transform:translateY(0);box-shadow: 0px 15px 20px rgba(68, 68, 68, 0.25);border-radius:0 0 8px 8px;}
.name_brend{font-size:16px;line-height:18px;color:#444;font-weight:600;font-family:'Open Sans';display:inline-block;}
.star svg path{fill:#FFC325;}
.star:nth-child(5) svg path{fill:#E0E0E0;}
.text_card{font-size:12px;line-height:16px;color:#444;font-weight:300;}
.location_name{font-size:12px;font-weight:500;line-height:18px;}
.header_card, .body_card{pointer-events:none;}
.discount{position:absolute;left:0;top:10px;width:55px;height:30px;background-color:rgba(255, 0, 0,.5);display:flex;align-items:center;justify-content:center;color:#fff;font-size:16px;font-weight:600;border-radius:0 5px 5px 0;z-index:10;}










@media (min-width: 1460px) {
    .container {
        max-width: 1440px;
    }
}
@media(min-width:992px){
   content.d-none, .footer.d-none{display:block !important;}
}


@media(max-width:991px){
  .header_menu_link{margin:0 10px;}
  .link_box .header_menu_btn.yellow{display:none;}
  .mobile_reg .header_menu_btn.yellow{width:100%;padding:15px 0;}
  .wrapper_intro{padding:40px 30px;}
  .footer_link{align-items:center;}
  .footer_card{visibility:visible;opacity:1;transform:translateY(0);position:relative;top:auto;left:auto;padding-left:0;padding-right:0;}
  .card_goods{box-shadow: 0px 6px 20px rgba(68, 68, 68, 0.25);border-radius:8px;overflow:hidden;}
  .card_goods:hover .footer_card{box-shadow:none;}
}
@media(max-width:767px){
  .header_menu_block{display:none;}
  .header_menu_block.active{display:block;flex:1 1 100%;position:absolute;background-color:#fff;left:0;top:69px;}
  .header_menu_block.active .header_menu_item{flex-direction:column;align-items:start;padding-top:25px;}
  .header_menu_block.active .header_menu_item .header_menu_link{margin:0 0 15px 0;}
  .header_logo{flex:0 0 20%;}
  .header_menu_button{flex:0 0 70%;justify-content:space-between;}
  .header_menu_btn{margin:0 5px;}
  .header_menu_btn svg{width:24px;height:24px;}
  .item_cabinet{justify-content:center;width:100%;}
  .btn_menu{width:32px;height:32px;position:relative;padding:0;margin:0;display:flex;flex-direction:column;justify-content:space-around;background-color:transparent;border:none;}
  .btn_menu span{display:inline-block;width:100%;height:2px;background-color:#FFC325;border-radius:2px;}
  .header_menu_link:before{bottom:-5px;}
  .header_menu_btn.yellow{margin:0;}
  .title_main{font-size:30px;line-height:35px;}
  .upper_text{font-size:19px;}
  .wrapper_intro{padding:30px 15px;}
  .intro{padding-top:15px;}
  .advantages{padding:40px 0 20px;}
  .title_block{font-size:30px;line-height:35px;}
  .footer{padding:50px 0 30px;}
  .middle_title{font-size:22px;line-height:26px;}
  .questions{padding:0 0 50px;}
  .banner_image{width:auto;max-width:100%;min-height:200px;}
  .intro_vendor{padding:20px 0;}
  .goods_sort{padding:10px 0 30px;}
}
@media(max-width:575px){
  .header_menu_block.active .header_menu_item{padding-top:15px;}
  .btn_sub{padding:0 5px 0 15px;}
  .btn_sub span{display:none;}
  .middle_text{font-size:20px;line-height:24px;}
  .share_block{justify-content:space-between;}
  .clear{right:50px;}
}
@media(max-width:400px){
  .header_menu_block.active .header_menu_item{padding-top:0;}
  .wrapper_card{padding:15px 5px;}
}
@media(max-width:330px){
   
}
