html{scroll-behavior:smooth;}
body{margin:0;padding:0;}
.header{max-width:1680px;margin:auto;padding:0 15px;}
.nav{display:flex;flex-wrap:wrap;align-items:center;justify-content:space-between;padding:15px 0;}
.block_brand{display:flex;align-items:center;}
.name_brand{margin:0;font-size:13px;text-transform:uppercase;color:#18176B;}





