html{scroll-behavior:smooth;}
@font-face{font-family:'segoe_reg';src:url(../font/SegoeUI.ttf);}
@font-face{font-family:'segoe_semibold';src:url(../font/SegoeUI-SemiBold.ttf);}
@font-face{font-family:'segoe_light';src:url(../font/SegoeUI-Light.ttf);}
@font-face{font-family:'segoe_bold';src:url(../font/SegoeUI-Bold.ttf);}
body {font-family:'segoe_reg';background-color:#fff;}
.wrapper{overflow:hidden;}
.top_header{background-color:#f5f5f5;padding:15px 0;}
.block_logo-header{display:flex;align-items:center;padding:0 0 0 15px;}
.name_logo{text-transform:uppercase;font-size:15px;color:#70737E;padding-left:10px;border-left:1px solid #70737E;line-height:20px;font-family:segoe_light;}
.block_contaxt-header{display:inline-flex;flex-direction:column;}
.mail_header{font-size:16px;color:#1771E6;}
.phone_header{font-size:26px;color:#70737E;line-height:32px;display:flex;align-items:center;transition:all .3s;font-family:segoe_light;}
.phone_header:hover{color:#000;text-decoration:none;}
.block_adres-header{display:inline-flex;flex-direction:column;}
.adress_header{font-size:13px;line-height:16px;color:#000;line-height:16px;}
.time_work{color:#70737E;font-size:14px;line-height:16px;}
.time_work span{color:#000;font-size:15px;}
.block_cart-header{padding:0 15px 0 0;}
.btn_orange{font-size:16px;color:#fafafa;background-color:#E84C3D;border-radius:7px;padding: 10px 20px 12px 14px;transition:all .3s;font-family:segoe_semibold;}
.btn_orange:hover{box-shadow:0px 4px 18px rgba(232, 76, 61, 0.3);color:#fafafa;text-decoration:none;}
.btn_orange:active{box-shadow:inset 0px 4px 8px rgba(0, 0, 0, 0.1);}
.menu_header{position:relative;background-color:#fff;box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.08);}
.btn_menu{position:relative;padding:10px;display:flex;align-items:center;}
.burger{position:relative;width:25px;height:1px;background-color:#3D3E44;transition:all .3s ease-in-out;}
.burger:before{content:'';position:absolute;width:25px;height:1px;background-color:#3D3E44;left:0;top:-7px;transition:all .3s;}
.burger:after{content:'';position:absolute;width:25px;height:1px;background-color:#3D3E44;left:0;top:7px;transition:all .3s;}
.btn_menu.active .burger:before{width:5px;background-color:#E84C3D;top:-2px;transform:rotateZ(-45deg);}
.btn_menu.active .burger:after{width:5px;background-color:#E84C3D;top:2px;transform:rotateZ(45deg);}
.btn_menu.active .burger{background-color:#E84C3D;}
.menu_desctop{list-style:none;padding-left:0;display:flex;align-items:center;margin:0;justify-content:space-around;width:100%;}
.item_menu .link_menu{display:inline-block;padding:16px 0;font-size:18px;color:#3D3E44;line-height:18px;font-family:segoe_light;transition:all .3s;}
.item_menu .link_menu:hover{text-decoration:none;color:#000;}
.block_search{position:relative;}
.search{position:relative;width:50px;height:50px;display:flex;align-items:center;text-align:right;}
.search_btn{position:absolute;top:10px;right:15px;z-index:2;}
.input_search{border:none;border-bottom:1px solid #70737E;position:absolute;top:10px;bottom:10px;right:15px;margin:auto;opacity:0;z-index:-1;transition:all .3s;padding-left:10px;}
.input_search:focus{opacity:1;z-index:1;}
.search:hover .input_search{opacity:1;z-index:1;}
.search:hover .input_search:active{opacity:1;z-index:1;outline:none;}
.input_search::-webkit-input-placeholder{color:#70737E;font-size:15px;font-family:segoe_light;}
.menu_collapse{position:absolute;padding:0;background-color:#fff;box-shadow:0 10px 10px rgba(0, 0, 0, 0.2);left:0;top:45px;height:0px;transition:all .5s;overflow:hidden;z-index:1;}
.menu_collapse.active{height:550px;}
.body_menu{padding:20px;}
.title_menu{font-size:20px;text-transform:uppercase;color:#3D3E44;font-family:segoe_semibold;}
.menu_collapse-mobile{list-style:none;padding-left:0;}
.menu_collapse-mobile .link_menu{padding:10px 0;font-size:17px;color:#70737E;font-family:segoe_light;}
.phone_menu{font-size:24px;font-family:segoe_light;color:#70737E;display:block;transition:all .3s;}
.phone_menu:hover{text-decoration:none;color:#000;}
.social_block{display:flex;align-items:center;}
.social_link{display:inline-block;margin-right:20px;font-size:25px;color:#70737E;}
.intro{position:relative;background-image:url(../img/bg_intro.png);background-size:cover;background-position:center center;padding:100px 0 90px;}
.title_page{font-size:42px;color:#3D3E44;font-family:segoe_bold;line-height:46px;}
.title_mix span{color:#E84C3D;}
.sub_title{font-size:27px;color:#3D3E44;font-family:segoe_light;line-height:29px;}
.btn_white{font-size:16px;color:#000;background-color:#fff;border-radius:7px;padding: 10px 20px 12px 14px;transition:all .3s;font-family:segoe_semibold;box-shadow:0px 4px 8px rgba(0, 0, 0, 0.08);}
.btn_white:hover{color:#000;text-decoration:none;box-shadow:0px 4px 18px rgba(72, 72, 72, 0.2);}
.btn_white:active{color:#fff;background-color:#000;box-shadow:0px 4px 8px rgba(0, 0, 0, 0.08);}
.car{position:absolute;left:-170px;bottom:-150px;}
.bg_girl{background-image:url(../img/bg_girl.png);background-size:auto 100%;background-repeat:no-repeat;background-position:-110px bottom;}
.bold_title{font-size:41px;line-height:50px;font-family:segoe_bold;color:#3D3E44;}
.text_content{font-size:18px;line-height:25px;color:#70737E;font-family:segoe_light;}
.pad_quest{padding:90px 0 150px;}
.order_form-block{box-shadow: -5px 5px 23px rgba(0, 0, 0, 0.08);border-radius: 10px;padding:30px;position:relative;z-index:2;background-color:#fff;top:-20px;}
.order_form-block:before{content:'';position:absolute;left:15px;right:15px;top:-5px;height:5px;border-radius:10px 10px 0 0;background-color:#E84C3D;z-index:0;}
.name_form{font-size:34px;line-height:36px;color:#161616;}
.text_content span{font-family:segoe_bold;border-bottom:1px solid #70737E;}
.label_input{position:relative;width:100%;}
.input_form{border:1px solid #70737E;border-radius:6px;font-size:16px;color:#3D3E44;padding:7px 20px 7px 35px;display:inline-block;width: 100%;}
.label_input .icon{position:absolute;top:12px;font-size:15px;left:15px;color:#70737E;opacity:1;transition:all .3s;}
.input_form::-webkit-input-placeholder{font-size:14px;color:#70737E;font-family:segoe_light;padding-left:5px;}
.label_input .fa-phone-volume.icon{font-size:16px;transform:rotateZ(-35deg);}
.order_form-block .btn_orange{font-size:14px;padding:8px 0 11px 0;border:none;}
.order_form-block .btn_orange:active, .order_form-block .btn_orange:focus{outline:none;}
.block_catalog{box-shadow: -5px 5px 23px rgba(0, 0, 0, 0.08);border-radius: 10px;padding:30px 30px 50px;position:relative;z-index:2;background-color:#fff;top:-20px;}
.block_catalog:before{content:'';position:absolute;left:15px;right:15px;top:-5px;height:5px;border-radius:10px 10px 0 0;background-color:#E84C3D;z-index:0;}
.titl_catal{font-size:34px;line-height:44px;color:#3D3E44;}
.select{border:none;display:inline-block;border-radius:10px;background-color:#ECF1F7;padding:10px;font-size:15px;line-height:16px;color:#323030;font-family:segoe_light;width:100%;}
.block_catalog .btn_orange{border:none;padding:8px 0 11px 0;border-radius:10px;}
.block_catalog .btn_orange:active, .block_catalog .btn_orange:focus{outline:none;}
.middle_text{font-size:28px;line-height:32px;color:#3D3E44;}
.link_catal{display:block;font-size:17px;line-height:23px;color:#4C8CDF;}
.head_section{font-size:40px;line-height:46px;font-family:segoe_semibold;}
.entrances{position:relative;padding:50px 0;}
.card_goods{position:relative;background-color:#fff;box-shadow: -5px 5px 23px rgba(0, 0, 0, 0.08);border-radius: 10px;display:flex;flex-direction:column;overflow:hidden;align-items:center;}
.card_content{padding:30px 20px;font-family:segoe_light;}
.number_parts{font-size:15px;line-height:17px;color:#888;font-family:inherit;}
.name_parts{font-size:24px;line-height:26px;color:#3D3E44;}
.desc_parts{font-size:15px;line-height:20px;color:#70737E;font-family:inherit;}
.btn_gray{display:block;background-color:#ECF1F7;border-radius:10px;padding:13px;font-size:18px;line-height:18px;font-family:segoe_semibold;text-align:center;transition:all .3s;}
.card_goods:hover{text-decoration:none;}
.card_goods:hover .btn_gray{box-shadow:0px 4px 15px rgba(33, 33, 33, 0.12);text-decoration:none;}
.card_goods:active .btn_gray{background-color:#1771E6;color:#fff;}
.btn_gray:hover{box-shadow:0px 4px 15px rgba(33, 33, 33, 0.12);text-decoration:none;}
.btn_gray:active{background-color:#1771E6;color:#fff;}
.company{padding:30px 0;}
.ing_comp{position:absolute;bottom:0;left:0;}
.block_info{display:flex;align-items:center;}
.orange_num{font-size:65px;line-height:65px;color:#E84C3D;font-family:segoe_light;}
.why{padding:80px 0 50px;}
.min_txt{font-size:15px;color:#70737E;}
.footer{background-color:#F5F5F5;padding:50px;}
.mail_footer{display:inline-block;font-size:16px;color:#1771E6;}
.adress_footer{font-size:13px;color:#70737E;font-family:segoe_reg;line-height:16px;}
.adress_footer span{color:#3D3E44;}
.privacy{font-size:14px;color:#1771E6;text-decoration:none;display:block;}
.social_block-footer .social_link{margin-right:0;margin-left:15px;font-size:20px;}
.breadcrumb{background-color:transparent;}
.breadcrumb-item a{color:#3D3E44;font-size:18px;font-family:segoe_light;}
.breadcrumb-item+.breadcrumb-item::before{content:'-';}
.breadcrumb-item.active{color:#4C8CDF;font-size:18px;font-family:segoe_light;}
.catalog_page{padding:50px 0;}
.tab_catalog{padding:30px 0;}
.position_tab{display:inline-block;position: relative;}
.icon_tab{position:absolute;left:-40%;bottom:-20px;}
.nav-pills .nav-item .nav-link{background-color:#FAFAFA;border-radius:10px;color:#3D3E44;font-size:18px;line-height:18px;font-family:segoe_semibold;padding:18px 0;position:relative;transition:all .3s;}
.nav-pills .nav-item .nav-link.active{box-shadow:0px 4px 22px rgba(0, 0, 0, 0.2);}
.nav-pills .nav-item .nav-link:before{content:'';position:absolute;left:15px;right:15px;bottom:-5px;height:5px;border-radius:0 0 10px 10px;background-color:#E84C3D;z-index:0;box-shadow:0px 4px 22px rgba(0, 0, 0, 0.2);opacity:0;transition:all .3s;}
.nav-pills .nav-item .nav-link.active:before{opacity:1;}
.card_parts-item{display:inline-flex;padding:30px 0;box-shadow: -5px 5px 23px rgba(0, 0, 0, 0.08);border-radius: 10px;align-items:center;position:relative;transition:all .3s;height:100%;width:100%;}
.card_parts-item:hover{text-decoration:none;box-shadow: -5px 5px 23px rgba(0, 0, 0, 0.2);}
.name_card-parts{font-size:17px;color:#3D3E44;line-height:19px;font-family:segoe_semibold;text-align:left;}
.catalog_parts{padding:10px 0 40px;}
.table_parts{display:block;width:100%;padding-bottom:20px;}
.table_parts tbody{width:100%;display:block;}
.table_parts tbody tr{width:100%;display:inline-flex;}
.table_parts tbody tr th:nth-of-type(1){width:40%;display:inline-block;font-size:15px;color:#70737E;font-family:segoe_semibold;}
.table_parts tbody tr th:nth-of-type(2){width:60%;display:inline-block;font-size:15px;color:#70737E;font-family:segoe_light;}
.font_style .price_table{font-size:22px !important;line-height:25px !important;font-family:segoe_semibold !important;color:#E84C3D !important;}
.engines{padding:10px 0 50px;}
.delivery{padding:30px 0 60px;}
.description_goods{padding:20px 0 50px;}
.slider-item{padding:10px;}
.slider-item-card{background-color:#fff;border-radius:10px;box-shadow: -5px 5px 23px rgba(0, 0, 0, 0.08);padding:10px 0px 0;}
.slick-list{overflow:visible;}
.big_name-parts{font-size:30px;line-height:46px;font-family:segoe_semibold;color:#3D3E44;}
.table td, .table th{padding:5px 0;}
.table th{width:50%;}
.table{color:#70737E;}
.btn_orange-card{padding:10px 0 9px 0;display:inline-block;width:100%;}
.btn_orange-question{padding:10px 0 9px 0;display:inline-block;width:100%;border:1px solid #E84C3D;background-color:#fff;color:#E84C3D;}
.btn_orange-question:hover{background-color:#E84C3D;color:#fff;}
.contacty{background-color:#fff;padding:20px 0 50px;}
.bold_text{font-size:22px;line-height:20px;font-family:segoe_semibold;color:#3D3E44;}
.link_phone{font-size:18px;line-height:18px;color:#1771E6;}
.form_questions{padding:60px 0;background: linear-gradient(180deg, #F5F5F5 0%, rgba(255, 255, 255, 0) 75.7%);}
.label_input{position:relative;margin-bottom:15px;}
.custom_input{display:inline-block;width:100%;padding:25px 15px 10px 15px;background-color:#ECF1F7;border-radius:10px;border:none;color: #3D3E44;font-size:16px;font-family:segoe_reg;}
.custom_input::-webkit-input-placeholder{font-size:16px;color:#3D3E44;font-family:segoe_semibold;}
.custom_input:focus{outline:none;}
.placeholder{position:absolute;font-size:14px;color:#70737E;font-family:segoe_light;top:5px;left:15px;}
.text_area{min-height:121px;}
.privacy_check{position:relative;}
.privacy_check:hover{cursor:pointer;}
.inp_chek[type="checkbox"]{display:none;}
.checkbox{position:relative;font-size:14px;color:#3D3E44;font-family:segoe_light;line-height:14px;display:inline-block;padding-left:30px;}
.checkbox:before{content:'';position:absolute;width:22px;height:23px;left:0;top:0;bottom:0;margin:auto;border-radius:4px;box-shadow:inset 0 0 10px -1px rgba(0,0,0,.2);}
.checkbox:after{content:'';position:absolute;width:22px;height:23px;left:0;top:0;bottom:0;margin:auto;border-radius:4px;background-color:#E84C3D;background-image:url(../img/checked.png);background-size:60% 60%;background-position:center center;background-repeat:no-repeat;opacity:0;transition:all .3s;}
.inp_chek[type="checkbox"]:checked + .checkbox:after{opacity:1;}
.form_questions .btn_orange{border:none;}
.form_questions .btn_orange:focus{outline:none;}
.cart{padding:10px 0 50px;}
.cart_item{background-color:#fff;box-shadow: -5px 5px 23px rgba(0, 0, 0, 0.08);border-radius: 10px;padding:35px 30px;display:block;}
.bg_img{background-color:#fff;padding:5px 0;border-radius:10px;box-shadow: -5px 5px 23px rgba(0, 0, 0, 0.08);display:inline-block;}
.id_goods{font-size:18px;font-family:segoe_light;line-height:30px;color:#70737E;opacity:.5;}
.name_goods-cart{font-size:20px;font-family:segoe_semibold;color:#3D3E44;line-height:22px;}
.counter_block{display:inline-flex;position:relative;align-items:center;}
.input_counter{width:30px;background-color:#FAFAFA;border:none;outline:none;text-align:center;padding:5px;}
.plus{cursor:pointer;background: #ECF1F7;border-radius: 10px 0px 0px 10px;display:inline-block;padding:5px 7px;font-size:16px;color:#1771E6;font-family:segoe_senibold;position:absolute;left:-19px;width:20px;text-align:center;}
.minus{cursor:pointer;background: #ECF1F7;border-radius: 0px 10px 10px 0px;display:inline-block;padding:5px 7px;font-size:16px;color:#1771E6;font-family:segoe_senibold;position:absolute;right:-18px;width:20px;text-align:center;}
.btn_cart{background-color:transparent;border:none;margin-left:15px;transition:all .3s;}
.btn_cart:focus{outline:none;}
.btn_cart:hover{filter:drop-shadow(0 0 3px rgba(0,0,0,.3));}
.orange_text-cart{font-size:27px;line-height:28px;font-family:segoe_semibold;color:#E02421;}
.name_cart-category{font-size:18px;line-height:30px;font-family:segoe_semibold;color:#3D3E44;opacity:.5;}
.itog{font-size:22px;line-height:30px;color:#3D3E44;font-family:segoe_semibold;opacity:.5;}
.order_regisstration{padding:10px 0 50px;}


@media(max-width:991px){
  .block_adres-header{display:none;}
  .menu_desctop{display:none;}
  .menu_collapse{top:50px;background-color:#F5F5F5;}
  .input_search.active{opacity:1;z-index:1;}
  .car{position:relative;left:auto;bottom:auto;max-width:100%;}
  .question{padding:0 0 50px;}
  .ing_comp{position:relative;}
  .description_goods{padding-top:0;}
  .counter_block{margin-left:18px;}
}
@media(max-width:767px){
  .title_page{font-size:34px;text-align:center;line-height:35px;}
  .sub_title{font-size:20px;text-align:center;line-height:22px;}
  .intro{background-position:left top;padding:50px 0 40px;}
  .pad_quest{padding:45px 0 70px;}
  .bg_girl{background-position:-90px bottom;}
  .name_form{font-size:28px;line-height:28px;}
  .titl_catal{font-size:28px;line-height:30px;}
  .block_info{flex-direction:column;}
  .slider-item{padding:7px;}
  .big_name-parts{font-size:26px;line-height:28;}
  .contacty{padding:10px 0 30px;}
  .link_phone{display:block;}
  .form_questions{padding:40px 0;}
  .head_section{font-size:34px;line-height:36px;}
  .name_goods-cart{font-size:16px;}
  .id_goods{font-size:14px;}
  .name_cart-category{font-size:16px;line-height:18px;}
  .cart{padding:10px 0;}
}
@media(max-width:575px){
  .block_cart-header .btn_orange{padding:2px 6px 7px 6px;}
  .block_cart-header .btn_orange span{display:none;}
  .menu_collapse{width:100%;}
  .body_over-mobile{overflow:hidden;}
  .bold_title{font-size:25px;line-height:30px;}
  .text_content{font-size:15px;line-height:17px;}
  .pad_quest{padding:15px 0 110px;}
  .bg_girl{background-position:-65px bottom;}
  .order_form-block{padding:20px 10px;}
  .block_catalog{padding:20px 10px 30px;}
  .orange_num{font-size:55px;}
  .card_parts-item{flex-direction:column;justify-content:space-between;padding:20px 0;}
  .icon_tab{display:none;}
  .name_card-parts{text-align:center;}
  .name_card-parts{font-size:15px;}
  .tab_catalog{padding:0 0 30px;}
  .cart_item{padding:15px 10px;}
  .head_section{font-size:26px;line-height:28px;}
}
@media(max-width:400px){
  .question .bold_title{margin-bottom:7px;}
  .pad_quest{padding:0 0 80px;}
  .bg_girl{background-position:-55px bottom;}
}


