@font-face{font-family:'open-sans';src:url(../font/opensans.ttf);}
html{scroll-behavior:smooth;}
body{font-family:'Open Sans';font-size:12px;}
.header__top{padding:14px 0;position:relative;}
.block_contact-header{display:flex;flex-direction:column;justify-content:center;text-align:center;}
.link_phone-header,.link_mail-header{display:inline-block;line-height:16px;}
.link_phone-header{color:#000;}
.link_mail-header{color:#212F64;}
.label_search{position:relative;}
.input_search-header{border:none;outline:none;border-radius:20px;background-color:#EDEDED;padding:5px 15px;}
.btn_search{position:absolute;right:5px;top:0;bottom:0;margin:auto;background-color:transparent;border:none;}
.btn_search:hover,.btn_search:focus{outline:none;}
.input_search-header::-webkit-input-placeholder{font-family:12px;color:rgba(0,0,0,.2);}
.input_search-header::-webkit-input-placeholder       {text-indent: 0px;   transition: text-indent 0.3s ease;}
.input_search-header::-moz-placeholder                {text-indent: 0px;   transition: text-indent 0.3s ease;}
.input_search-header:-moz-placeholder                 {text-indent: 0px;   transition: text-indent 0.3s ease;}
.input_search-header:-ms-input-placeholder            {text-indent: 0px;   transition: text-indent 0.3s ease;}
.input_search-header:focus::-webkit-input-placeholder {text-indent: 500px; transition: text-indent 0.3s ease;}
.input_search-header:focus::-moz-placeholder          {text-indent: 500px; transition: text-indent 0.3s ease;}
.input_search-header:focus:-moz-placeholder           {text-indent: 500px; transition: text-indent 0.3s ease;}
.input_search-header:focus:-ms-input-placeholder      {text-indent: 500px; transition: text-indent 0.3s ease;}
.personal_account a, .language_block a{color:#212F64;line-height:16px;}
.personal_account-btn{display:inline-block;text-align:center;}
.language_block{display:inline-block;}
.language_block-ru{padding-right:10px;position:relative;}
.language_block-ru:after{content:'|';position:absolute;right:0;color:}
.header-bottom-bg{background:transparent;}
.header_menu-block{position:relative;min-height:60px;}
.nav-item .nav-link{color:#fff;font-size:18px;line-height:25px;font-weight:bold;}
.intro{min-height:447px;background-image:url(../img/bg_header.jpg);background-size:cover;background-position:center center;margin-top:-57px;}
.btn_menu{display:none;position:relative;transition:all .3s;}
.btn_menu span{position:relative;width:35px;height:3px;background-color:#212F64;display:inline-block;vertical-align:middle;transition:all .3s;}
.btn_menu span:before{content:'';position:absolute;width:35px;height:3px;background-color:#212F64;left:0;top:-8px;transition:all .3s;}
.btn_menu span:after{content:'';position:absolute;width:35px;height:3px;background-color:#212F64;left:0;top:8px;transition:all .3s;}
.btn_menu:hover,.btn_menu:focus{outline:none;}
.btn_menu[aria-expanded="true"] span{background:transparent;}
.btn_menu[aria-expanded = "true"] span:before{transform:rotateZ(45deg);top:0;}
.btn_menu[aria-expanded = "true"] span:after{transform:rotateZ(-45deg);top:0;}
.title_head{color:#fff;font-size:32px;line-height:37px;}
.call_order-btn{display:inline-block;background-color:transparent;border:1px solid #fff;border-radius:8px;font-size:18px;line-height:25px;text-align:center;padding:8px 30px 10px 30px;color:#fff;transition:all .3s;}
.call_order-btn:hover{text-decoration:none;color:#fff;background-color:rgba(255,255,255,.2);box-shadow:0 0 10px rgba(255,255,255,.5);}
.box_pos-btn{width:100%;text-align:center;margin-top:30px;}
.block_link-service{margin:-5px;padding:10px 5px;display:flex;}
.block_link-link{padding:15px;display:flex;align-items:center;text-align:center;justify-content:center;width:100%;flex-direction:column;transition:all .3s;}
.bg_1{background-color:#455285;}
.name_service{color:#fff;font-size:15px;line-height:20px;text-transform:uppercase;}
.link_horizont{flex-direction:row;}
.bg_2{background-color:#212F64;}
.bg_3{background-color:#7C8EAA;}
.bg_4{background-color:#5A7EC5;}
.bg_5{background-color:#7C8EAA;}
.block_link-link:hover{text-decoration:none;filter:grayscale(50%);}
.features{padding:70px 0 50px;}
.black_title{color:#181818;font-size:20px;line-height:27px;font-weight:bold;text-transform:uppercase;}
.block_icon-features{display:flex;align-items:flex-end;justify-content:space-between;width:100%;flex-wrap:wrap;padding:0 15px;}
.block_icon-item{justify-content:center;align-items:center;display:flex;flex-direction:column;position:relative;}
.text-contetn{color:#383838;line-height:16px;}
.logistic{padding:70px 0;background-image:url(../img/bg_section.jpg);background-size:cover;background-position:center center;}
.gray_bg{background-color:#EAEAEA;padding:70px 0;}
.sheme_work{padding:60px 0 70px;}
.time{padding:70px 0;background-image:url(../img/bg_section_2.jpg);background-size:cover;background-position:center center;}
.name_input{white-space: nowrap;}
.input_form{display:inline-block;width:100%;border:none;outline:none;border-radius:3px;padding:5px 15px;}
.txt_ar{min-height:110px;}
.box_privacy-chek{display:flex;align-items:center;}
.link_privacy{display:block;color:#04477B;}
.order_form-btn{border:1px solid transparent;background-color:#212F64;border-radius:8px;padding:8px 25px;color:#fff;font-size:14px;line-height:19px;transition:all .3s;}
.order_form-btn:hover{border-color:#212F64;background-color:#fff;color:#212F64;}
.footer{padding:70px 0;background-image:url(../img/footer_bg.jpg);background-size:cover;background-position:center center;}
.box_label-footer{display:flex;flex-wrap:wrap;}
.box_img{width:50%;}
.link_footer{color:rgba(255, 255, 255, 0.8);font-size:18px;line-height:25px;display:inline-block;margin-bottom:20px;transition:all .3s;}
.link_footer:hover{color:rgba(255,255,255,1);text-decoration:none;}
.footer_menu-item{color:rgba(255, 255, 255, 0.8);font-size:14px;line-height:19px;transition:all .3s;}
.footer_menu-item:hover{color:rgba(255,255,255,1);text-decoration:none;}
.foot_menu li{padding-bottom:10px;}
.adress{font-size:14px;color:rgba(255,255,255,.8);position:relative;}
.gps_img:before{content:'';position:absolute;width:10px;height:15px;background-image:url(../img/gps.png);background-size:cover;left:-15px;top:2px;}
.phon_img{position:relative;}
.phon_img:before{content:'';position:absolute;width:10px;height:17px;background-image:url(../img/phone.png);background-size:cover;left:-15px;top:2px;}
.mail_img{position:relative;}
.mail_img:before{content:'';position:absolute;width:15px;height:12px;background-image:url(../img/mail.png);background-size:cover;left:-18px;top:4px;}
.border_dached{position:absolute;border:1px dashed #869DCA;width:48%;height:1px;top:32px;right:-38px;}
.bg_menu-other-page{width:100%;background-image:url(../img/bg_header.jpg);background-size:cover;background-position:top center;margin-top:-62px;min-height:60px;}
.news_block{display:flex;align-items:flex-start;border-bottom: 1px solid #EBEBEB;padding:15px 0 25px;width:100%;flex-wrap: wrap;}
.title_news{color:#181818;font-size:15px;line-height:20px;font-weight:bold;text-transform:uppercase;}
.content_news{color:#383838;font-size:14px;line-height:19px;}
.data_news{position:absolute;color:#7C7C7C;font-size:12px;right:15px;top:5px;}
.link_fullnews{color:#212F64;font-size:14px;line-height:19px;}
.height_desc{height:100%;}
.pagination{background-color:#F5F5F5;}
.page-item.disabled .page-link{background-color:transparent;border-color:transparent;}
.page-item .page-link{background-color:transparent;border:none;color:#383838;font-size:15px;padding:7px 15px;transition:all .3s;border-bottom:3px solid transparent;}
.page-item.active .page-link{background-color:transparent;font-size:15px;font-weight:bold;color:#212F64;border-color:#212F64;}
.page-item:hover .page-link{font-weight:bold;color:#212F64;border-color:#212F64;}
.news_block-content{position:relative;max-height:115px;overflow:hidden;transition:max-height .5s;}
.news_block-content.height_all{max-height:999px;}
.breadcrumb{background-color:transparent;}
.breadcrumb .breadcrumb-item {font-size:10px;line-height:14px;}
.breadcrumb-item a{color:#212F64;}
.breadcrumb .breadcrumb-item.active{font-size:10px;line-height:14px;color:#191919;}
.name_brend{color:#5f5f5f;font-size:12px;}
.light_color{color:#767676;}
.bar_item{margin-left:-15px;padding-left:15px;}
.bar_item a{color:#191919;font-size:12px;display:inline-block;padding:7px 0;transition:all .3s;}
.bar_item:hover{background-color:#DFEBFF;}
.bar_item:hover a{text-decoration:none;}
.left_bar .bar_item.active{background-color:#DFEBFF;}
.tab_traffic .nav-item .active{background-color:#7C8EAA;}
.tab_traffic .nav-item .active.nav-link{color:#fff;}
.tab_traffic .nav-item .nav-link{color:#383838;line-height:19px;font-size:14px;text-transform:uppercase;transition:all .3s;font-weight:normal;display:flex;align-items:center;}
.tab_traffic .nav-item:hover{background-color:#7C8EAA;}
.tab_traffic .nav-item:hover .nav-link{text-decoration:none;color:#fff}
.tab_traffic .nav-link{border:none;}
.tab_traffic.nav-tabs{border-bottom:2px solid#7C8EAA;}
.tab_destination{border:none;}
.tab_destination .nav-link{border:none;}
.tab_destination .nav-item{padding:5px 15px;}
.tab_destination .nav-item .nav-link{display:inline-block;background-color:#fff;border:1px solid #DFEBFF;border-radius:20px;font-size:12px;line-height:16px;text-transform:uppercase;color:#383838;font-weight:normal;}
.tab_destination .nav-item .active.nav-link{background-color:#DFEBFF;}
.tab-time thead tr th{background-color:#F0F0F0;text-align:center;}
.tab-time tr th{padding:4px 20px;text-align:left;font-size:12px;font-weight:normal;color:#383838;}
.tab-time tbody tr:last-of-type{border-bottom:1px solid #EEEEEE;}
.tab-time tbody tr th{border-left:1px solid#eeeeee;border-right:1px solid #eee;}
.content_docs{font-size:14px;color:#383838;line-height:33px;}
.content_docs span{font-weight:bold;}
.download_file{display:inline-flex;align-items:center;color:#212F64;font-size:12px;}
.download_file span{font-size:11px;color:#B4B4B4;}
.download_file:hover{text-decoration:none;}
.block_file_btn{display:inline-flex;flex-direction:column;}


@media(max-width:991px){
  .navbar{padding:0;}
  .intro{margin-top:0;}
  .header_menu-block{position:absolute;width:100%;background-color:#fff;z-index:1;min-height:0;}
  .navbar-nav .nav-item .nav-link {color: #000;}
  .navbar-nav{padding:30px 0;}
  .btn_menu{display:block;}
  .pad_md{padding-top:5px;}
  .block_icon-features{justify-content:center;}
  .width_mobile{width:33%;}
  .bg_menu-other-page{display:none;}
}
@media(max-width:767px){
  .block_link-service{margin-left:0;margin-right:0;}
  .pad-sm{padding-top:5px;}
  .link_horizont{flex-direction:column;}
  .width_mobile{width:50%;}
  .data_news{bottom:0;top:auto;}
  .height_desc{height:auto;}
}
@media(max-width:565px){
  .width_mobile{width:100%;}
  .lbl_form{flex-wrap:wrap;}
}