@charset "UTF-8";
/* Обнуление */
*, *::before, *::after { padding: 0; margin: 0; border: 0; -webkit-box-sizing: border-box; box-sizing: border-box; }

a { text-decoration: none; }

ul, ol, li { list-style: none; }

img { vertical-align: top; }

h1, h2, h3, h4, h5, h6 { font-weight: inherit; font-size: inherit; }

html, body { height: 100%; line-height: 1; font-size: 14px; background-color: #333; color: #fff; font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; }

.wrapper { min-height: 100%; }

/* ------------------ */
.page { padding: 50px 0; }

.page__block { margin-bottom: calc(20px + (50 - 20) * ((100vw - 320px) / (1200 - 320))); }

/* ------------------ */
.block_one .block__body { background-color: #794f45; }

.block_two .block__body { background-color: #77608d; }

.block_three .block__body { background-color: #7a956b; }

.block__container { /* max-width: 1200px; */ padding: 0px 15px; margin: 0px auto; }

.block__body { padding: calc(20px + 30 * ((100vw - 320px) / 1600)); }

.block__title { font-size: calc(20px + (30 - 20) * ((100vw - 320px) / (1600 - 320))); line-height: 130%; margin-bottom: calc(10px + (20 - 10) * ((100vw - 320px) / (1600 - 320))); }

.block__text { font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1600 - 320))); line-height: 150%; }
