@font-face{font-family:'gil_bold';src:url(../font/Gilroy-Bold.ttf);}
@font-face{font-family:'gil_med';src:url(../font/Gilroy-Medium.ttf);}
@font-face{font-family:'gil_reg';src:url(../font/gilroy-regular.ttf);}
@font-face{font-family:'gil_light';src:url(../font/Gilroy-Light.ttf);}
@font-face{font-family:'acme';src:url(../font/Acme-Regular.ttf);}
@font-face{font-family:'Gidugu';src:url(../font/Gidugu-Regular.ttf);}
@font-face{font-family:'Actor';src:url(../font/Actor-Regular.ttf);}
@font-face{font-family:'Abel';src:url(../font/Abel-Regular.ttf);}
html{scroll-behavior:smooth;}
body{font-size:14px;color:#211F1F;font-family:'gil_med';min-height:100vh;background-color:#F7F7F7;}
.wrapper{overflow:hidden;min-height:100vh;}
.header{position:relative;background-color:#fff;}
.header_nav_top{width:100%;border-bottom:.5px solid rgba(130, 130, 130,.5);padding:15px 0;}
.header_nav_top_left{display:flex;align-items:center;justify-content:space-between;}
.dark_min_text{font-size:12px;line-height:14px;font-family:'gil_reg';pointer-events:none;color:#211F1F;}
.header_nav_top_menu{list-style:none;display:flex;align-items:center;margin:0;justify-content:flex-end;}
.top_nav_link{color:#000;font-size:16px;line-height:20px;display:inline-block;margin-left:25px;font-family:'gil_med';}
.top_nav_link:hover{text-decoration:none;}
.header_nav_main{padding:15px 0;position:relative;}
.header_main_left{display:flex;align-items:center;}
.home_link{display:inline-block;margin-right:20px;}
.searh_item{width:100%;position:relative;margin:0;}
.input_gray{width:100%;background-color:#F2F2F2;border-radius:100px;padding:15px;border:none;font-weight:250;font-family:'gil_reg';}
.input_gray:focus{outline:none;}
.input_gray::-webkit-input-placeholder{font-size:16px;color:#211F1F;font-family:'gil_light';font-weight:250;}
.btn_search{position:absolute;border:none;background-color:transparent;width:18px;height:20px;top:0;bottom:0;margin:auto;right:15px;display:inline-flex;align-items:center;justify-content:center;padding:1px;transition:all .3s;}
.btn_search svg{width:100%;height:100%;}
.btn_search svg path{transition:fill .3s ease;}
.btn_search:focus{outline:none;}
.btn_search:hover svg path{fill:#326FE1;}
.contact_block{display:flex;flex-direction:column;width:100%;}
.contact_block_bottom{display:flex;justify-content:space-between;align-items:center;}
.phone_link{font-size:54px;display:inline-block;line-height:35px;margin-bottom:2px;font-family:'Gidugu';letter-spacing:0.04em;color:#211f1f;transition:color .3s;}
.phone_link:hover{text-decoration:none;color:#326FE1;}
.mail_link{font-size:15px;line-height:18px;letter-spacing:0.02em;color:#211f1f;font-family:'Actor';transition:color .3s;}
.mail_link:hover{text-decoration:none;color:#326FE1;transform:translateY(3px);}
.call_back{font-size:15px;line-height:18px;font-family:'gil_med';color:#326FE1;border:none;background-color:transparent;transition:color .3s}
.call_back:hover{transform:translateY(3px);color:inherit;}
.header_item_button{display:flex;align-items:center;justify-content:flex-end;}
.blue_btn{display:inline-block;padding:15px 25px;color:#fff;font-size:16px;box-shadow:2px 4px 10px rgba(28, 84, 188, 0.35);line-height:19px;font-family:'gil_bold';background-color:#326FE1;border-radius:100px;border:none;transition:background-color .3s;transition:color .3s;border: 1px solid transparent;}
.blue_btn:focus{outline:none;}
.blue_btn:hover{box-shadow:0px 0px 10px rgba(28, 84, 188, 0.35);background-color:#fff;border-color:#326FE1;color:#326FE1;text-decoration:none;}
.circle_btn{display:inline-flex;width:54px;height:54px;border-radius:50%;position:relative;background-color:#F2F2F2;align-items:center;justify-content:center;margin-left:30px;}
.quantity{position:absolute;right:0;bottom:0;width:15px;height:15px;border-radius:50%;background-color:#326FE1;color:#fff;font-family:'gil_bold';font-size:9px;display:inline-flex;align-items:center;justify-content:center;box-shadow:2px 4px 10px rgba(28, 84, 188, 0.35);}
.cart_btn path{transition:fill .3s;}
.cart_btn:hover path{fill:#326FE1;}
.header_nav_menu{width:100%;background-color:#4F4F4F;}
.main_menu{list-style:none;display:flex;align-items:center;justify-content:space-between;padding-left:0;margin-bottom:0;}
.main_menu_link{display:inline-block;padding:15px 0;color:#fff;font-size:16px;line-height:20px;font-family:'gil_reg';transition:all .3s;}
.main_menu_link:hover{color:#ccc;text-decoration:none;}
.intro{padding:40px 0;}
.intro_banner{width:100%;background:linear-gradient(182.32deg, #c6daf3 1.11%, #b6d0ec 97.25%);border-radius: 15px;overflow:hidden;box-shadow:6px 6px 15px rgba(43, 41, 41, 0.05);display:flex;align-items:center;padding:0 15px 0 0;}
.text_intro{display:flex;flex-direction:column;align-items:flex-start;}
.title_heading{font-size:50px;line-height:53px;color:#211F1F;font-family:'gil_bold';}
.text_content_light{font-size:15px;line-height:20px;color:#211F1F;font-family:'gil_light';}
.stock_section{padding:20px 0 40px;}
.card{background-color:#fff;box-shadow: 6px 6px 15px rgba(43, 41, 41, 0.05);border-radius: 15px;border:none;}
.accordion>.card>.card-header{padding:0;}
.card-header{border-bottom:none;background-color:#fff;}
.btn_stock:focus{box-shadow:none;}
.btn-link.btn-block{padding:25px 15px 25px;}
.btn_stock{color:#E10E00;font-size:30px;line-height:32px;font-family:'gil_med';display:inline-flex;align-items:center;justify-content:space-between;}
.btn_stock:hover{color:#E10E00;text-decoration:none;}
.btn_stock:focus{text-decoration:none;}
.btn_stock span{display:flex;align-items:center;justify-content:center;transition:transform .3s;}
.btn_stock[aria-expanded="false"] span{transform:rotateZ(180deg);}
.card-body{padding:10px 15px 30px;}
.blue_heading{font-size:20px;line-height:22px;color:#326FE1;font-family:'gil_med';}
.text_content_light span{font-family:'gil_med';}
.categories{padding:40px 0;}
.title_block{font-size:38px;line-height:40px;color:#211F1F;font-family:'gil_med';}
.card_wrapper{display:flex;flex-wrap:wrap;justify-content:space-between;}
.card_categories{flex:0 0 19%;background-color:#fff;border-radius:15px;box-shadow: 6px 6px 15px rgba(43, 41, 41, 0.05);overflow:hidden;transition:all .3s;display:flex;flex-direction:column;justify-content:space-between;}
.wrap_img{display:inline-block;text-align:right;width:100%;}
.pad_cat{padding:25px 15px 0;}
.name_cat{font-size:22px;line-height:24px;color:#326FE1;font-family:'gil_med';}
.card_categories:hover{text-decoration:none;box-shadow: 6px 6px 15px rgba(43, 41, 41, 0.2);}
.wrap_img img{object-position:20px 15px;margin-top:-20px;}
.box_img_border{overflow:hidden;border-radius:15px;box-shadow:6px 6px 15px rgba(43, 41, 41, 0.05);background:linear-gradient(95.94deg, #EEEEEE 2.8%, #CCCCCC 100%);;}
.seals{padding:40px 0;}
.step_order{padding:40px 0;}
.middle_text{font-size:20px;line-height:24px;color:#211F1F;font-family:'gil_reg';}
.wrapper_step{display:flex;justify-content:space-between;flex-wrap:wrap;}
.step_block{flex:0 0 30%;display:flex;justify-content:flex-start;align-items:center;min-height:80px;height:100%;padding:0px 25px;background-color:#fff;border-radius:15px;box-shadow:6px 6px 15px rgba(43, 41, 41, 0.05);}
.name_step{font-size:18px;line-height:22px;color:#211F1F;}
.shevron_right{display:inline-flex;transform:rotateZ(90deg);align-items:center;justify-content:center;}
.important_block{padding:40px 0;}
.btn_important{font-size:30px;line-height:32px;padding:35px 20px; font-family:'gil_med';transition:all .3s;display:flex;align-items:center;justify-content:space-between;color:#211F1F;}
.btn_important:hover{color:#211F1F;text-decoration:none;}
.btn_important:focus{text-decoration:none;}
.btn_important[aria-expanded="false"] span{transform:rotateZ(180deg);}
.btn_important:focus{box-shadow:none;text-decoration:none;}
.btn_important span{display:flex;align-items:center;justify-content:center;transition:transform .3s;}
.slider_stock{padding:40px 0;}
.slider_stock_block{margin:0 -15px;}
.stock_item_slide{border-radius:15px;overflow:hidden;position:relative;margin:0 15px;height:100%;}
.slider_stock_item{position:relative;}
.slider_stock_item:nth-of-type(1n) .stock_item_slide{background-color:#71C2CB;}
.slider_stock_item:nth-of-type(2n) .stock_item_slide{background-color:#00C0CD;}
.wrapper_slider{padding:30px 0;position:relative;}
.black_title_slide{font-size:26px;line-height:27px;font-family:'gil_bold';color:#211F1F;}
.white_title_slide{font-size:26px;line-height:27px;font-family:'gil_bold';color:#fff;}
.slide_min_text{display:inline-block;font-size:14px;line-height:20px;color:#211F1F;}
.btn_slide{display:inline-block;padding:18px 35px;max-width:208px;text-align:center;font-size:16px;line-height:19px;color:#326FE1;font-family:'gil_bold';background-color:#fff;box-shadow:2px 4px 10px rgba(28, 84, 188, 0.35);transition:all .3s;border-radius:100px;}
.btn_slide:hover{text-decoration:none;color:#211F1F;box-shadow:0px 0px 10px rgba(28, 84, 188, 0.2);}
.wrapper_slider_content{z-index:1;height:100%;position: relative;padding:20px 0 20px 25px;display:flex;flex-direction:column;justify-content:space-between;}
.img_slider{position:absolute;right:0;bottom:0;z-index:0;pointer-events:none;}
.label{display:inline-block;text-align:center;padding:20px;background-color:#E10E00;box-shadow: 2px 4px 10px rgba(188, 28, 28, 0.64);border-radius: 15px;transform: rotate(12.89deg);transition:all .3s;color:#fff;font-size:29px;line-height:20px;font-family:'gil_med';position:absolute;right:2px;top:20px;}
.slider_stock_item:hover .label{transform:rotate(-12deg);}
.slick-slider .slick-track, .slick-slider .slick-list{display:flex;}
.arrows_slider .slick-arrow{bottom:auto;top:-20px;width:50px;display:flex;align-items:center;justify-content:center; box-shadow: 6px 6px 15px rgba(43, 41, 41, 0.05);border-radius:50%;height:50px;background-color:#fff;box-shadow: 6px 6px 15px rgba(43, 41, 41, 0.05);}
.arrows_slider .slick-next{right:0;left:auto;border}
.arrows_slider .slick-arrow:before{display:none;}
.arrows_slider .slick-arrow:not(.slick-disabled):hover{box-shadow: 6px 6px 15px rgba(43, 41, 41, 0.1);background-color:#fff;}
.arrows_slider .slick-prev img{transform:rotate(180deg);}
.arrows_slider .slick-prev{left:auto;right:70px;}
.arrows_slider .slick-disabled img{opacity:.3;}
.arrows_slider .slick-disabled:hover{cursor:default;}
.foto_slider{padding:40px 0;}
.slider_foto_block{margin:0 -15px;}
.foto_item_slide{border-radius:15px;transition:all .3s;overflow:hidden;position:relative;margin:0 15px;height:100%;background-image:url(../img/bg_foto_sl.png);background-size:cover;padding:20px;box-shadow: 6px 6px 15px rgba(43, 41, 41, 0.05);height:160px;}
.slider_foto_item{position:relative;display:block;}
.slider_foto_item:hover{text-decoration:none;}
.foto_title_slider{font-size:20px;line-height:24px;color:#211F1F;font-family:'gil_med';}
.foto_item_slide img{position:absolute;right:0;bottom:-10px;}
.slider_foto_block.slick-slider .slick-list{padding-bottom:15px;}
.foto_item_slide:hover{background-color:#326fe125;}
.arrows_foto .slick-arrow{bottom:auto;top:-20px;width:50px;display:flex;align-items:center;justify-content:center; box-shadow: 6px 6px 15px rgba(43, 41, 41, 0.05);border-radius:50%;height:50px;background-color:#fff;box-shadow: 6px 6px 15px rgba(43, 41, 41, 0.05);}
.arrows_foto .slick-next{right:0;left:auto;border}
.arrows_foto .slick-arrow:before{display:none;}
.arrows_foto .slick-arrow:not(.slick-disabled):hover{box-shadow: 6px 6px 15px rgba(43, 41, 41, 0.1);background-color:#fff;}
.arrows_foto .slick-prev img{transform:rotate(180deg);}
.arrows_foto .slick-prev{left:auto;right:70px;}
.arrows_foto .slick-disabled img{opacity:.3;}
.arrows_foto .slick-disabled:hover{cursor:default;}
.questions{padding:20px 0 60px;}
.wrap_block_white{background-color:#fff;box-shadow: 6px 6px 15px rgba(43, 41, 41, 0.05);border-radius: 15px;padding:35px 25px 10px;height:100%;}
.middle_head{font-size:26px;line-height:27px;font-family:'gil_bold';color:#211F1F;}
.text_min_content{font-size:14px;line-height:20px;font-family:'gil_light';color:#211F1F;}
.form_gray{width:100%;border:none;background-color:#F2F2F2;border-radius:100px;padding:18px 30px;font-size:14px;color:#211F1F;transition:all .3s;resize:none;}
.form_gray::-webkit-input-placeholder{font-size:12px;line-height:14px;color:#211F1F;font-family:'gil_light';}
.form_gray:focus{outline:none;box-shadow:0 0 5px rgba(0,0,0,.1);}
.form_questions .blue_btn{width:100%;text-align:center;padding:18px 0;}
.column_block{display:flex;flex-direction:column;align-items:flex-start;justify-content:space-between;}
.footer{padding:40px 0;background-color:#4F4F4F;}
.white_link{font-size:17px;line-height:20px;letter-spacing:0.02em;color:#fff;font-family:'gil_bold';display:block;margin-bottom:12px;transition:all .3s;}
.white_link.phone{font-size:20px;line-height:24px;}
.white_link:hover{color:#fff;text-decoration:underline;}
.blue_link{display:block;font-size:18px;line-height:21px;color: #326FE1;font-family:'gil_med';transition:all .3s;margin:13px 0;}
.blue_link:hover{color:#fff;text-decoration:none;}
.provacy_link{color:#fff;font-size:14px;line-height:17px;font-family:'gil_bold';display:block;margin-bottom:13px;}
.allright{font-size:12px;line-height:14px;color:#fff;font-family:'gil_light';font-weight:250;}
.title_footer_menu{font-size:15px;line-height:18px;color:#fff;font-family:'gil_bold';}
.list_footer{list-style:none;padding-left:0;}
.list_footer li{margin-bottom:10px;}
.link_footer{font-size:14px;line-height:19px;font-family:'gil_med';color:#fff;transition:all .3s;display:;}
.link_footer:hover{color:#fff;text-decoration:underline;}
.pay_icon{display:flex;align-items:center;justify-content:flex-start;width:100%;}
.wrap_right_block_footer{display:flex;flex-direction:column;height:100%;justify-content:space-between;}
.social_footer{display:flex;align-items:center;justify-content:space-between;}
.social_link_footer{transition:all .3s;padding-right:3px;}
.social_link_footer:hover{filter:drop-shadow(0 4px 10px rgba(0,0,0,.5))}


@media(max-width:1199px){
  .header_nav_top_left{text-align:center;}
  .header_nav_top{padding:5px 0;}
  .phone_link {font-size:45px;}
  .mail_link{font-size:12px;}
  .call_back{font-size:12px;}
  .blue_btn{font-size:13px;padding:15px 15px;}
  .btn_look{font-size:15px;padding:15px 30px;text-align:center;}
  .card_categories{flex:1 1 32%;margin:0 5px 15px;}
}
@media(max-width:991px){
  .header_nav_top{display:none;}
  .header_nav_main{padding:8px 0;}
  .mobile_off{display:none;}
  .header_nav_menu{height:0;visibility:hidden;opacity:0;position:absolute;top:100%;left:0;background-color:#fff;transition:height .3s;}
  .header_nav_menu.active{height:auto;visibility:visible;opacity:1;box-shadow:0 10px 10px rgba(0,0,0,.4);}
  .circle_btn{width:37px;height:37px;margin-left:15px;}
  .cart_btn svg{width:20px;height:20;}
  .home_link{margin-right:0;}
  .main_menu_link{color:#211F1F;font-size:20px;font-family:'gil_med';padding:10px 0;}
  .main_menu{flex-direction:column;align-items:flex-start;}
  .link_desctop{display:none;}
  .mail_link{font-size:17px;line-height:20px;letter-spacing:0.02em;font-family:'gil_bold';}
  .phone_link{display:block;font-size:20px;line-height:24px;letter-spacing:0.02em;font-family:'gil_bold';}
  .call_back{font-size:18px;line-height:21px;font-family:'gil_med';padding-left:0;}
  .dark_min_text{display:flex;align-items:center;}
  .blue_btn{font-size:16px;line-height:19px;padding:15px 20px;width:100%;}
  .head_bold_min{font-size:15px;line-height:18px;font-family:'gil_bold';}
  .social_block{list-style:none;padding-left:0;display:flex;align-items:center;justify-content:space-between;}
  .social_link{display:inline-flex;align-items:center;justify-content:center;width:46px;height:46px;border-radius:50%;background-color:#326FE1;}
  .intro_banner{flex-direction:column;padding:0;align-items:flex-start;background:linear-gradient(182.32deg, #c2dbf1 1.11%, #a3c4e0 97.25%);}
  .text_intro{padding:0 15px 25px;}
  .title_heading{font-size:45px;line-height:47px;}
  .shevron_right{display:none;}
  .step_block{flex:0 0 100%;margin-bottom:15px;}
  .wrapper_slider{padding:15px 0;}
  .arrows_slider .slick-arrow{top:auto;bottom:-80px;}
  .arrows_slider .slick-prev{right:auto;left:30%;}
  .arrows_slider .slick-next{right:30%;}
  .arrows_slider .arrows_slider{display:flex;justify-content:center;}
  .foto_slider{padding:60px 0 40px;}
  .arrows_foto .slick-arrow{top:auto;bottom:-70px;}
  .arrows_foto .slick-prev{right:auto;left:30%;}
  .arrows_foto .slick-next{right:30%;}
  .arrows_foto .arrows_slider{display:flex;justify-content:center;}
  .slider_foto_block.slick-slider .slick-list{padding-bottom:10px;}
  .footer_contact, .blue_link, .provacy_link{text-align:center;}
  .pay_icon{justify-content:center;}
}
@media(max-width:767px){
  .title_heading{font-size:35px;line-height:43px;}
  .intro{padding:25px 0;}
  .text_intro{margin-top:-30px;}
  .btn_stock{font-size:25px;}
  .title_block{font-size:28px;line-height:32px;}
  .categories{padding:20px 0;}
  .seals{padding:20px 0;}
  .step_order{padding:20px 0;}
  .important_block{padding:20px 0;}
  .slider_stock{padding:20px 0;}
  
}
@media(max-width:565px){
  .btn_look{width:100%;}
  .title_heading{font-size:29px;line-height:32px;}
  .intro_banner img{object-position:0 -120px;}
  .text_intro{margin-top:-140px;}
  .card_categories{flex:1 1 100%;flex-direction:row;align-items:center;min-height:150px;margin:0 0 15px;}
  .pad_cat{padding:15px 10px 15px 15px;flex:1 1 50%;}
  .wrap_img{flex:1 1 50%;}
  .wrap_img img{object-position:0 0;}
  
}
@media(max-width:400px){
  .intro_banner img{object-position:0 -60px;}
  .text_intro{margin-top:-80px;}
}