@font-face{font-family:'rob_bold';src:url(../font/RobotoCondensed-Bold.ttf);}
@font-face{font-family:'rob_bold_ital';src:url(../font/RobotoCondensed-BoldItalic.ttf);}
@font-face{font-family:'rob_light';src:url(../font/RobotoCondensed-Light.ttf);}
@font-face{font-family:'rob_light_ital';src:url(../font/RobotoCondensed-LightItalic.ttf);}
@font-face{font-family:'rob_regular';src:url(../font/RobotoCondensed-Regular.ttf);}
@font-face{font-family:'comppro';src:url(../font/pfdintextcomppro-bold.ttf);}
@font-face{font-family:'comppro_regular';src:url(../font/PFDinTextCompPro\ Regular.ttf);}
html{scroll-behavior:smooth;}
body{font-size:;color:#282828;min-height:9999px;background-color:#f7f7f9;}
.wrapper{overflow:hidden;}
.header_nav{background-color:#ffd702;position:fixed;left:0;top:0;width:100%;padding:15px 0;transition:all .6s;z-index:999;}
.header_nav.fixed_menu{padding:5px 0;background-color:#f7f7f9;}
.header_nav.fixed_menu .nav_menu_bottom_link:before{background-color:#ffd702;}
.header_nav_menu{display:flex;flex-direction:column;}
.left_block_nav{flex:1 1 33%;transition:all .3s;position:relative;display:flex;align-items:center;justify-content:space-between;}
.header_nav:not(.fixed_menu) .left_block_nav .scroll_phone{display:none;}
.link_home{display:inline-flex;align-items:center;font-size:50px;font-family:'rob_bold';color:#282828;letter-spacing:-0.05em;}
.link_home:hover{text-decoration:none;color:#282828;}
.hid_text a span{transition:all .3s;display:inline-block;top:0;position:relative;transform:translateY(0);}
.left_block_nav.hid_text a span{transform:translateY(-200%);opacity:0;transition:all .3s;position:absolute;left:90px;}
.right_block_nav{flex:1 1 45%}
.nav_menu_top{display:inherit;align-items:center;justify-content:space-between;}
.nav_menu_top_link{font-size:24px;color:#282828;transition:all .3s;}
.nav_menu_top_link:hover{color:#282828;}
.nav_menu_top_link.phone{font-family:'rob_bold';}
.nav_menu_top_link.mail{font-family:'rob_regular';}
.white_button{font-family:'rob_regular';color:#282828;display:inline-block;font-size:18px;line-height:36px;background-color:#fff;padding:0 7px;transition:all .3s;text-transform:uppercase;}
.white_button:hover{text-decoration:none;background-color:#eee;}
.nav_menu_bottom{display:flex;align-items:center;justify-content:space-between;padding-top:15px;}
.nav_menu_bottom_link{color:#282828;font-family:'rob_regular';display:inline-block;position:relative;font-size:18px;transition:all .3s;}
.nav_menu_bottom_link:before{content:'';position:absolute;left:0;top:50%;width:0;height:0;background-color:#fff;z-index:-1;transition:all .3s;}
.nav_menu_bottom_link:hover{font-weight:bold;text-decoration:none;color:#282828;}
.nav_menu_bottom_link:hover:before{width:100%;height:18px;}
.header_nav.fixed_menu .left_block_nav{flex:0 0 25%;}
.header_nav.fixed_menu .right_block_nav{flex:0 0 65%;}
.header_nav.fixed_menu .right_block_nav .nav_menu_top{display:none;}
.header_nav.fixed_menu .right_block_nav .nav_menu_bottom .yellow_bg{background-color:#ffd702;}
.header_nav.fixed_menu .right_block_nav .nav_menu_bottom{padding-top:0;}
.header_nav:not(.fixed_menu) .right_block_nav .nav_menu_bottom .yellow_bg{display:none;}
.btn_menu{position:relative;border:none;background-color:transparent;outline:none;width:50px;height:40px;padding:0;}
.btn_menu:focus{outline:none;}
.btn_menu span{position:absolute;top:0;left:0;bottom:0;margin:auto;width:100%;height:3px;background-color:#282828;}
.btn_menu span:before{content:'';position:absolute;top:-10px;left:0;width:100%;height:3px;background-color:#282828;}
.btn_menu span:after{content:'';position:absolute;top:10px;left:0;width:100%;height:3px;background-color:#282828;}
.wrapper_slider_intro{padding-top:160px;}
.swiper-slide{max-height:830px;overflow:hidden;position:relative;}
.slider_bg{object-fit:cover;max-width:1920px;object-position:left -270px;transition:all .3s;}
.body_slider{position:absolute;left:0;top:0;width:100%;height:100%;display:flex;align-items:center;}
.title_sl{font-size:98px;font-family:'comppro';color:#282828;display:inline-block;text-transform:uppercase;line-height:70px;text-shadow:-3px -4px 0px #fff,1px -4px 0px #fff;position:relative;z-index:1;}
.title_sl:after{content:'';position:absolute;left:-10px;right:-10px;height:60px;background-color:#fff;top:50%;z-index:-1;}
.sub_title{position:relative;font-size:72px;font-family:'comppro_regular';font-weight:normal;color:#282828;text-transform:uppercase;z-index:1;line-height:50px;display:inline-block;}
.sub_title:before{content:'';position:absolute;left:-10px;right:-10px;top:0;bottom:-20px;background-color:#fff;z-index:-1;}
.text_block_slider{display:inline-block;flex-direction:column;}
.text_slider{font-size:24px;line-height:35px;font-family:'rob_regular';z-index:1;position:relative;padding-top:15px;}
.text_slider span{background:#ffd702;background-position:-10px;display:inline;padding:10px 15px 10px 0;position:relative;z-index:1;}
.text_slider span:before{content:'';position:absolute;left:-10px;top:0;bottom:0;width:50px;background-color:#ffd702;z-index:-1;}
.text_slider span:after{content:'';position:absolute;left:-130px;top:-70px;width:120px;height:60%;background-color:#ffd702;z-index:-1;}
.title_sl:before{content:'';position:absolute;width:320px;height:99px;background-color:#ffd702;right:-50px;bottom:-64px;z-index:-1;}
.sub_title:after{content:'';position:absolute;width:61px;height:30px;background-color:#ffd702;right:-71px;bottom:-17px;z-index:-1;}
.about_us{padding:40px 0;}
.block_white_bg{background-color:#fff;padding:15px 30px;min-height:200px;height:100%;display:flex;align-items:center;}
.text_content{font-size:30px;line-height:36px;font-family:'rob_regular';color:#282828;}
.yellow_block{background-color:#ffd702;}
.yellow_block .text_content{font-family:'rob_bold';}
.security_object{padding:40px 0 250px;}
.title_content_black{font-size:72px;font-family:'comppro';line-height:68px;text-transform:uppercase;}
.title_content_black span{z-index:1;position:relative;}
.title_content_black span:before{content:'';position:absolute;left:-10px;right:-10px;top:45%;height:55px;background-color:#ffd702;z-index:-1;}
.text_content_min{font-size:24px;font-family:'rob_regular';line-height:36px;}
.img_block{position:relative;z-index:1;}
.img_block span{font-size:73px;line-height:70px;background-color:#282828;color:#ffd702;font-family:'rob_bold';right:-200px;top:120px;position:absolute;}
.marg_up{margin-top:-100px;}
.dark_bg{background-color:#282828;color:#ffd702;}
.security_home{position: relative;background-color:#ffd702;padding:100px 0 0;}
.security_home:before{content:'';position:absolute;bottom:0;left:7%;right:8%;height:100px;background-color:#f7f7f9;}
.security_home:after{content:'';position:absolute;bottom:0;left:0;right:0;height:50px;background-color:#f7f7f9;z-index:0;}
.security_home > img{position:absolute;left:0;top:-260px;object-fit:cover;object-position:left center;z-index:-1;}
.img_block.white_name span{background-color:#fff;color: #282828;left:-210px;top:-30px;right:auto;padding:10px;}
.security{padding:70px 0 0;}
.title_content_rob{font-size:73px;font-family:'rob_bold';}
.box_icon{display:flex;flex-direction:column;align-items:start;}
.box_icon .img_icon{width:130px;height:110px;background-image:url(../img/shield.png);background-repeat:no-repeat;background-size:auto;background-position:left center;display:flex;align-items:center;justify-content:flex-end;transition:all .3s;}
.box_icon:hover .img_icon{background-image:url(../img/shield_hover.png);}
.box_icon:hover .text_content_min{font-weight:bold;}
.img_icon.item_2{justify-content:flex-start;}
.img_icon.item_2 img{margin-left:-20px;}
.select{padding:80px 0 0;z-index:2;position: relative;z-index:12;}
.bg_select{max-width:1920px;object-fit:cover;object-position:0 0;transition:all .3s;z-index:1;}
.white_text_block{position:absolute;left:0;bottom:0;width:100%;height:100%;display:flex;align-items:center;padding-top:163px;}
.text_white{color:#fff;}
.ohr_img{max-width:1920px;object-fit:cover;object-position:0 0;z-index:2;}
.wrapper_text_block{width:100%;height:100%;position:absolute;left:0;top:0;}
.padding_y{padding:150px 0 200px;}
.be_shield{position:relative;background-color:#ffd702;padding:70px 0;margin-top:-137px;z-index:10;}
.be_shield .title_content_black span:before{background-color:#fff;}
.input_form{width:100%;border:none;border-bottom:1px solid #fff;background-color:transparent;text-align:center;padding:10px 5px;}
.input_form:focus{outline:none;}
.input_form::-webkit-input-placeholder{color:#282828;}
.micro_text{font-size:16px;font-family:'rob_regular';}
.we_work{padding:60px 0;}
.we_work .block_white_bg{position:relative;padding-left:110px;min-height:250px;overflow:hidden;transition:all .3s;}
.big_num{font-size:300px;color:#ffd702;font-family:'rob_bold';line-height:220px;position:absolute;left:-30px;top:20px;}
.we_work .block_white_bg:hover {background-color:#ffd702;}
.we_work .block_white_bg:hover .big_num{color:#fff;}
.we_work .block_white_bg:hover .text_content{font-weight:bold;}
.why_select{position:relative;}
.img_why_select{max-width:1920px;object-fit:cover;object-position: 0 0;}
.wrap_content{width:100%;height:100%;position:absolute;left:0;top:0;display:flex;align-items:center;}
.why_select .title_content_black span:before{background-color:#fff;}
.box_white_select{background-color:#fff;padding:25px 15px 15px 20px;display:inline-block;position: relative;left:-15px;top:-10px;z-index:1;}
.item_group .text_content_min{font-weight:bold;}
.item_group img{position:relative;z-index:2;}
.item_group.item_2 .box_white_select{top:-13px;}
.clients{padding:80px 0 90px;}
.swiper-container{overflow:visible;}
.body_slide_client{background-color:#fff;display:flex;align-items:flex-end;position:relative;background-repeat:no-repeat;background-size:cover;background-position:center center;min-height:350px;}
.footer_card_client{min-height:92px;height:100%;background-color:#fff;display:flex;align-items:center;padding:5px;justify-content:center;text-align:center;width:100%;transition:all .3s;}
.body_slide_client:hover{box-shadow:0 0 5px 5px #ffd702;}
.body_slide_client.item_1{background-image:url(../img/cl-1.jpg);}
.body_slide_client.item_2{background-image:url(../img/cl-2.jpg);}
.body_slide_client.item_3{background-image:url(../img/cl-3.jpg);}
.body_slide_client.item_4{background-image:url(../img/cl-4.jpg);}
.body_slide_client:hover.item_1{background-image:url(../img/cl-1_hover.jpg);}
.body_slide_client:hover.item_2{background-image:url(../img/cl-2_hover.jpg);}
.body_slide_client:hover.item_3{background-image:url(../img/cl-3_hover.jpg);}
.body_slide_client:hover.item_4{background-image:url(../img/cl-4_hover.jpg);}
.slider_2 .swiper-wrapper{padding:10px;}
.slider_2 .swiper-slide:hover{box-shadow:0 0 15px 0px #ffd702;}
.slider_2 .swiper-slide-active{box-shadow:0 0 15px 0px #ffd702;}
.slider_2 .swiper-slide-active .body_slide_client.item_1{background-image:url(../img/cl-1_hover.jpg);}
.slider_2 .swiper-slide-active .body_slide_client.item_2{background-image:url(../img/cl-2_hover.jpg);}
.slider_2 .swiper-slide-active .body_slide_client.item_3{background-image:url(../img/cl-3_hover.jpg);}
.slider_2 .swiper-slide-active .body_slide_client.item_4{background-image:url(../img/cl-4_hover.jpg);}
.slider_2 .swiper-button-next, .swiper-button-prev{z-index:11;opacity:1;}
.prev{width:26px;height:52px;background-image:url(../img/left_ar.png);background-size:cover;left:-30px;}
.next{width:26px;height:52px;background-image:url(../img/right_ar.png);background-size:cover;right:-40px;}
.prev:after, .next:after{content:'';}
.bg_price{position:relative;}
.bg_price{max-width:1920px;object-fit:cover;object-position:0 0;}
.wrapper_price_block{position:absolute;width:100%;height:100%;left:0;top:0;display:flex;align-items:center;}
.price .title_content_black{color:#fff;text-shadow:0 0 2px #000;z-index:10;}
.price{position:relative;}
.shield_yellow{max-width:100%;left:0;position:absolute;top:0;bottom:0;margin:auto;z-index:0;}
.text_shield{z-index:11;display:flex;align-items:center;z-index:0;white-space:nowrap;}
.text_shield span{z-index:0;position:relative;top:-20px;font-size:24px;}
.num_white_big{font-size:72px;font-family:'comppro';text-shadow:0 0 2px #000;color:#fff;z-index:0;line-height:70px;}
.min_white_text{font-size:24px;font-family:'rob_regular';text-shadow:0 0 2px #000;color:#fff;z-index:0;line-height:30px;}
.attention{display:flex;align-items:center;}
.price .white_button.yellow_bg{background-color:#ffd702;}
.contact_block{display:flex;flex-direction:column;justify-content:space-between;height:100%;padding:40px 0;min-height:300px;}
.contact{padding:80px 0 60px;}
.adress{display:flex;align-items:center;}
.map_wrap{overflow:visible;}
.footer{padding:50px 0;width:100%;background-color:#282828;}
.footer_content{display:flex;align-items:center;justify-content:space-between;}
.allright{color:#fff;font-size:16px;font-family:'rob_regular';text-transform:uppercase;}
.link_licence{font-size:16px;font-family:'rob_regular';color:#ffd702;transition:all .3s;text-transform:uppercase;}
.link_licence:hover{color:#fff;}
.tel_footer{font-size:16px;font-family:'rob_regular';color:#fff;transition:all .3s;}
.tel_footer:hover{font-size:16px;font-family:'rob_regular';color:#ffd702;}

@media(max-width:1500px){
  .bg_select{object-position:-350px 0;}
  .ohr_img{object-position:-350px 0;}
}
@media(max-width:1199px){
  .link_home{font-size:40px;}
  .left_block_nav{flex:1 1 25%;}
  .right_block_nav{flex:1 1 55%}
  .header_nav.fixed_menu .left_block_nav .scroll_phone{font-size:18px;}
  .title_sl{font-size:80px;}
  .sub_title{font-size:60px;}
  .slider_bg{object-position:-227px -270px;}
  .swiper-slide{max-height:650px;}
  .img_block span{top:40px;}
  .marg_up{margin-top:-50px;}
  .box_icon{align-items:center;}
  .bg_select{object-position:-400px 0;}
}
@media(max-width:991px){
  .right_block_nav{position:absolute;left:0;top:150px;width:0;overflow:hidden;transition:all .3s;background-color:#ffd702;opacity:0;}
  .left_block_nav{justify-content:space-between;min-width:100%;}
  .header_nav.fixed_menu .left_block_nav{flex:0 0 100%;}
  .left_block_nav.hid_text a span{transform:translateY(0);opacity:1;transition:all .3s;position:relative;left:auto;}
  .left_block_nav.hid_text{max-width:100%;}
  .right_block_nav.active{width:100%;top:140px;position:absolute;height:100vh;left:0;background-color:#ffd702;opacity:1;}
  .right_block_nav.active .nav_menu_top{display:flex !important;padding-top:30px;}
  .right_block_nav.active .nav_menu_top, .right_block_nav.active .nav_menu_bottom{flex-direction:column;}
  .right_block_nav.active .nav_menu_top_link.mail{padding-top:5px;}
  .right_block_nav.active .nav_menu_top .nav_menu_bottom .white_button.yellow_bg{display:none;}
  .right_block_nav.active .white_button{margin-top:10px;}
  .nav_menu_bottom_link{font-size:24px;line-height:35px;}
  .slider_bg{object-position:-297px -270px;}
  .img_block span{top:-10px;left:0;right:0;margin:auto;}
  .title_content_black{font-size:60px;}
  .marg_up{margin-top:0;}
  .security_home{padding-top:50px;}
  .img_block.white_name span{left:0;right:0;}
  .title_content_rob{font-size:60px;}
  .ohr_img{object-position:-690px 0;}
  .we_work .block_white_bg{min-height:230px;}
  .big_num{font-size:250px;}
  .we_work{padding-bottom:0;}
}
@media(max-width:767px){
  .swiper-slide{max-height:450px;}
  .text_content_min{font-size:18px;}
  .title_content_black{font-size:55px;}
  .img_icon.item_2 img{margin-left:auto;}
  .title_content_rob{font-size:50px;}
  .bg_select{object-position:-1030px 0;}
  .ohr_img{object-position:-750px 0;}
  .be_shield .title_content_black{font-size:45px;line-height:55px;}
  .be_shield .title_content_black span:before{height:40px;}
  .prev, .next{top:-30px;}
  .footer_content{flex-direction:column;}
}
@media(max-width:575px){
  .left_block_nav{padding:0 15px;}
  .link_home{font-size:28px;}
  .title_sl{font-size:66px;}
  .sub_title{font-size:50px;}
  .text_slider{font-size:18px;line-height:28px;}
  .block_white_bg {min-height:100px;}
  .text_content{font-size:22px;line-height:26px;}
  .left_block_nav.hid_text a span{transform:translateY(-200%);opacity:0;transition:all .3s;position:absolute;left:90px;}
  .title_content_black{font-size:45px;}
  .security_object{padding-top:0;}
  .title_content_black span:before{height:39px;}
  .img_block span{font-size:45px;}
  .img_block.white_name span{padding:0;}
  .security{padding-top:30px;}
  .bg_select{object-position:-1070px -20px;}
  .ohr_img{object-position:-440px 0;}
  .wrapper_text_block .text_content_min{text-shadow:0 0 10px #fff;color:#000;font-weight:bold;}
  .be_shield .title_content_black{font-size:42px;line-height:50px;}
  .text_shield span{top:-15px;}
  .num_white_big {font-size:55px;}
  .min_white_text{font-size:18px;line-height:25px;}
  .shield_yellow{left:10px;}
}
@media(max-width:450px){
  .title_sl{font-size:44px;line-height:45px;}
  .sub_title{font-size:40px;line-height:40px;}
  .sub_title:after{bottom:-28px;} 
  .title_content_black{font-size:35px;}
  .title_content_rob{font-size:40px;}
  .be_shield .title_content_black{font-size:38px;line-height:40px;}
  .be_shield .title_content_black span:before{height:30px;}
  .num_white_big {font-size:35px;}
  .min_white_text{font-size:16px;line-height:20px;}
}
@media(max-width:390px){
  .be_shield .title_content_black{font-size:30px;line-height:35px;}
}

