@font-face{font-family:'rob_bold';src:url(../font/RobotoCondensed-Bold.ttf);}
@font-face{font-family:'rob_bold_ital';src:url(../font/RobotoCondensed-BoldItalic.ttf);}
@font-face{font-family:'rob_light';src:url(../font/RobotoCondensed-Light.ttf);}
@font-face{font-family:'rob_light_ital';src:url(../font/RobotoCondensed-LightItalic.ttf);}
@font-face{font-family:'rob_regular';src:url(../font/RobotoCondensed-Regular.ttf);}
@font-face{font-family:'comppro';src:url(../font/pfdintextcomppro-bold.ttf);}
@font-face{font-family:'comppro_regular';src:url(../font/PFDinTextCompPro\ Regular.ttf);}
html{scroll-behavior:smooth;}
body{font-size:;color:#282828;min-height:9999px;background-color:#f7f7f9;}
.wrapper{overflow:hidden;}
.header_nav{background-color:#ffd702;position:fixed;left:0;top:0;width:100%;padding:15px 0;transition:all .6s;z-index:999;}
.header_nav.fixed_menu{padding:5px 0;background-color:#f7f7f9;}
.header_nav.fixed_menu .nav_menu_bottom_link:before{background-color:#ffd702;}
.header_nav_menu{display:flex;flex-direction:column;}
.left_block_nav{flex:1 1 33%;transition:all .3s;position:relative;display:flex;align-items:center;justify-content:space-between;}
.header_nav:not(.fixed_menu) .left_block_nav .scroll_phone{display:none;}
.link_home{display:inline-flex;align-items:center;font-size:50px;font-family:'rob_bold';color:#282828;letter-spacing:-0.05em;}
.link_home:hover{text-decoration:none;color:#282828;}
.hid_text a span{transition:all .3s;display:inline-block;top:0;position:relative;transform:translateY(0);}
.left_block_nav.hid_text a span{transform:translateY(-200%);opacity:0;transition:all .3s;position:absolute;left:90px;}
.right_block_nav{flex:1 1 45%}
.nav_menu_top{display:inherit;align-items:center;justify-content:space-between;}
.nav_menu_top_link{font-size:24px;color:#282828;transition:all .3s;}
.nav_menu_top_link:hover{color:#282828;}
.nav_menu_top_link.phone{font-family:'rob_bold';}
.nav_menu_top_link.mail{font-family:'rob_regular';}
.white_button{font-family:'rob_regular';color:#282828;display:inline-block;font-size:18px;line-height:36px;background-color:#fff;padding:0 7px;transition:all .3s;text-transform:uppercase;}
.white_button:hover{text-decoration:none;background-color:#eee;}
.nav_menu_bottom{display:flex;align-items:center;justify-content:space-between;padding-top:15px;}
.nav_menu_bottom_link{color:#282828;font-family:'rob_regular';display:inline-block;position:relative;font-size:18px;transition:all .3s;}
.nav_menu_bottom_link:before{content:'';position:absolute;left:0;top:50%;width:0;height:0;background-color:#fff;z-index:-1;transition:all .3s;}
.nav_menu_bottom_link:hover{font-weight:bold;text-decoration:none;color:#282828;}
.nav_menu_bottom_link:hover:before{width:100%;height:18px;}
.header_nav.fixed_menu .left_block_nav{flex:0 0 25%;}
.header_nav.fixed_menu .right_block_nav{flex:0 0 65%;}
.header_nav.fixed_menu .right_block_nav .nav_menu_top{display:none;}
.header_nav.fixed_menu .right_block_nav .nav_menu_bottom .yellow_bg{background-color:#ffd702;}
.header_nav.fixed_menu .right_block_nav .nav_menu_bottom{padding-top:0;}
.header_nav:not(.fixed_menu) .right_block_nav .nav_menu_bottom .yellow_bg{display:none;}
.btn_menu{position:relative;border:none;background-color:transparent;outline:none;width:50px;height:40px;padding:0;}
.btn_menu:focus{outline:none;}
.btn_menu span{position:absolute;top:0;left:0;bottom:0;margin:auto;width:100%;height:3px;background-color:#282828;}
.btn_menu span:before{content:'';position:absolute;top:-10px;left:0;width:100%;height:3px;background-color:#282828;}
.btn_menu span:after{content:'';position:absolute;top:10px;left:0;width:100%;height:3px;background-color:#282828;}
.wrapper_slider_intro{padding-top:160px;}
.swiper-slide{max-height:830px;overflow:hidden;position:relative;}
.slider_bg{object-fit:cover;max-width:1920px;object-position:left -270px;transition:all .3s;}
.body_slider{position:absolute;left:0;top:0;width:100%;height:100%;display:flex;align-items:center;}
.title_sl{font-size:98px;font-family:'comppro';color:#282828;display:inline-block;text-transform:uppercase;line-height:70px;text-shadow:-3px -4px 0px #fff,1px -4px 0px #fff;position:relative;z-index:1;}
.title_sl:after{content:'';position:absolute;left:-10px;right:-10px;height:60px;background-color:#fff;top:50%;z-index:-1;}
.sub_title{position:relative;font-size:72px;font-family:'comppro_regular';font-weight:normal;color:#282828;text-transform:uppercase;z-index:1;line-height:50px;display:inline-block;}
.sub_title:before{content:'';position:absolute;left:-10px;right:-10px;top:0;bottom:-20px;background-color:#fff;z-index:-1;}
.text_block_slider{display:inline-block;flex-direction:column;}
.text_slider{font-size:24px;line-height:35px;font-family:'rob_regular';z-index:1;position:relative;padding-top:15px;}
.text_slider span{background:#ffd702;background-position:-10px;display:inline;padding:10px 15px 10px 0;position:relative;z-index:1;}
.text_slider span:before{content:'';position:absolute;left:-10px;top:0;bottom:0;width:50px;background-color:#ffd702;z-index:-1;}
.text_slider span:after{content:'';position:absolute;left:-130px;top:-70px;width:120px;height:60%;background-color:#ffd702;z-index:-1;}
.title_sl:before{content:'';position:absolute;width:320px;height:99px;background-color:#ffd702;right:-50px;bottom:-64px;z-index:-1;}
.sub_title:after{content:'';position:absolute;width:61px;height:30px;background-color:#ffd702;right:-71px;bottom:-17px;z-index:-1;}
.about_us{padding:40px 0;position:relative;}
.block_white_bg{background-color:#fff;padding:15px 30px;min-height:200px;height:100%;display:flex;align-items:center;transition:all .3s;cursor:pointer;}
.text_content{font-size:30px;line-height:36px;font-family:'rob_regular';color:#282828;}
.yellow_block{background-color:#ffd702;}
.yellow_block .text_content{font-family:'rob_bold';}
.security_object{padding:40px 0 250px;position:relative;background-image:url(../img/bg_page_1.png);background-repeat:no-repeat;background-size:cover;}
.title_content_black{font-size:72px;font-family:'comppro';line-height:68px;text-transform:uppercase;}
.title_content_black span{z-index:1;position:relative;}
.title_content_black span:before{content:'';position:absolute;left:-10px;right:-10px;top:45%;height:55px;background-color:#ffd702;z-index:-1;}
.text_content_min{font-size:24px;font-family:'rob_regular';line-height:36px;}
.img_block{position:relative;z-index:1;}
.img_block span{font-size:73px;line-height:70px;background-color:#282828;color:#ffd702;font-family:'rob_bold';right:-200px;top:120px;position:absolute;}
.marg_up{margin-top:-100px;}
.dark_bg{background-color:#282828;color:#ffd702;}
.security_home{position: relative;background-color:#ffd702;padding:100px 0 0;background-image:url(../img/bg_page_2.png);background-size:cover;background-position:center center;}
.security_home:before{content:'';position:absolute;bottom:0;left:7%;right:8%;height:100px;background-color:#f7f7f9;}
.security_home:after{content:'';position:absolute;bottom:0;left:0;right:0;height:50px;background-color:#f7f7f9;z-index:0;}
.security_home > img{position:absolute;left:0;top:-260px;object-fit:cover;object-position:left center;z-index:0;}
.img_block.white_name span{background-color:#fff;color: #282828;left:-210px;top:-30px;right:auto;padding:10px;}
.security{padding:70px 0 0;}
.title_content_rob{font-size:73px;font-family:'rob_bold';}
.box_icon{display:flex;flex-direction:column;align-items:start;}
.box_icon .img_icon{width:130px;height:110px;background-image:url(../img/shield.png);background-repeat:no-repeat;background-size:auto;background-position:left center;display:flex;align-items:center;justify-content:flex-end;transition:all .3s;}
.box_icon:hover .img_icon{background-image:url(../img/shield_hover.png);}
.box_icon:hover .text_content_min{font-weight:bold;}
.img_icon.item_2{justify-content:flex-start;}
.img_icon.item_2 img{margin-left:-20px;}
.select{padding:80px 0 0;z-index:2;position: relative;z-index:12;}
.bg_select{max-width:1920px;object-fit:cover;object-position:0 0;transition:all .3s;z-index:1;}
.white_text_block{position:absolute;left:0;bottom:0;width:100%;height:100%;display:flex;align-items:center;padding-top:163px;}
.text_white{color:#fff;}
.ohr_img{max-width:1920px;object-fit:cover;object-position:0 0;z-index:2;}
.wrapper_text_block{width:100%;height:100%;position:absolute;left:0;top:0;}
.padding_y{padding:150px 0 200px;}
.be_shield{position:relative;background-color:#ffd702;padding:70px 0;z-index:10;}
.be_shield .title_content_black span:before{background-color:#fff;}
.input_form{width:100%;border:none;border-bottom:1px solid #fff;background-color:transparent;text-align:center;padding:10px 5px;}
.input_form:focus{outline:none;}
.input_form::-webkit-input-placeholder{color:#282828;}
.micro_text{font-size:16px;font-family:'rob_regular';}
.we_work{padding:60px 0;}
.we_work .block_white_bg{position:relative;padding-left:110px;min-height:250px;overflow:hidden;transition:all .3s;}
.big_num{font-size:300px;color:#ffd702;font-family:'rob_bold';line-height:220px;position:absolute;left:-30px;top:20px;}
.we_work .block_white_bg:hover {background-color:#ffd702;}
.we_work .block_white_bg:hover .big_num{color:#fff;}
.we_work .block_white_bg:hover .text_content{font-weight:bold;}
.why_select{position:relative;}
.img_why_select{max-width:1920px;object-fit:cover;object-position: 0 0;}
.wrap_content{width:100%;height:100%;position:absolute;left:0;top:0;display:flex;align-items:center;}
.why_select .title_content_black span:before{background-color:#fff;}
.box_white_select{background-color:#fff;padding:25px 15px 15px 20px;display:inline-block;position: relative;left:-15px;top:-10px;z-index:1;}
.item_group .text_content_min{font-weight:bold;}
.item_group img{position:relative;z-index:2;}
.item_group.item_2 .box_white_select{top:-13px;}
.clients{padding:80px 0 90px;}
.swiper-container{overflow:visible;}
.body_slide_client{background-color:#fff;display:flex;align-items:flex-end;position:relative;background-repeat:no-repeat;background-size:cover;background-position:center center;min-height:350px;}
.footer_card_client{min-height:92px;height:100%;background-color:#fff;display:flex;align-items:center;padding:5px;justify-content:center;text-align:center;width:100%;transition:all .3s;}
.body_slide_client:hover{box-shadow:0 0 5px 5px #ffd702;}
.body_slide_client.item_1{background-image:url(../img/cl-1.jpg);}
.body_slide_client.item_2{background-image:url(../img/cl-2.jpg);}
.body_slide_client.item_3{background-image:url(../img/cl-3.jpg);}
.body_slide_client.item_4{background-image:url(../img/cl-4.jpg);}
.body_slide_client:hover.item_1{background-image:url(../img/cl-1_hover.jpg);}
.body_slide_client:hover.item_2{background-image:url(../img/cl-2_hover.jpg);}
.body_slide_client:hover.item_3{background-image:url(../img/cl-3_hover.jpg);}
.body_slide_client:hover.item_4{background-image:url(../img/cl-4_hover.jpg);}
.slider_2 .swiper-slide{padding:10px;}
.slider_2 .swiper-slide:hover .body_slide_client{box-shadow:0 0 15px 0px rgba(255, 215, 2, .2);}
.slider_2 .swiper-slide-active .body_slide_client{box-shadow:0 0 15px 0px rgba(255, 215, 2, .2);}
.slider_2 .swiper-slide-active .body_slide_client.item_1{background-image:url(../img/cl-1_hover.jpg);}
.slider_2 .swiper-slide-active .body_slide_client.item_2{background-image:url(../img/cl-2_hover.jpg);}
.slider_2 .swiper-slide-active .body_slide_client.item_3{background-image:url(../img/cl-3_hover.jpg);}
.slider_2 .swiper-slide-active .body_slide_client.item_4{background-image:url(../img/cl-4_hover.jpg);}
.slider_2 .swiper-button-next, .swiper-button-prev{z-index:11;opacity:1;}
.prev{width:26px;height:52px;background-image:url(../img/left_ar.png);background-size:cover;left:-30px;}
.next{width:26px;height:52px;background-image:url(../img/right_ar.png);background-size:cover;right:-40px;}
.prev:after, .next:after{content:'';}
.bg_price{position:relative;}
.bg_price{max-width:1920px;object-fit:cover;object-position:0 0;}
.wrapper_price_block{position:absolute;width:100%;height:100%;left:0;top:0;display:flex;align-items:center;}
.price .title_content_black{color:#fff;text-shadow:0 0 2px #000;z-index:10;}
.price{position:relative;}
.shield_yellow{max-width:100%;left:0;position:absolute;top:0;bottom:0;margin:auto;z-index:0;}
.text_shield{z-index:11;display:flex;align-items:center;z-index:0;white-space:nowrap;}
.text_shield span{z-index:0;position:relative;top:-20px;font-size:24px;}
.num_white_big{font-size:72px;font-family:'comppro';text-shadow:0 0 2px #000;color:#fff;z-index:0;line-height:70px;}
.min_white_text{font-size:24px;font-family:'rob_regular';text-shadow:0 0 2px #000;color:#fff;z-index:0;line-height:30px;}
.attention{display:flex;align-items:center;}
.price .white_button.yellow_bg{background-color:#ffd702;}
.contact_block{display:flex;flex-direction:column;justify-content:space-between;height:100%;padding:40px 0;min-height:300px;}
.contact{padding:80px 0 60px;}
.adress{display:flex;align-items:center;}
.map_wrap{overflow:visible;}
.footer{padding:50px 0;width:100%;background-color:#282828;}
.footer_content{display:flex;align-items:center;justify-content:space-between;}
.allright{color:#fff;font-size:16px;font-family:'rob_regular';text-transform:uppercase;}
.link_licence{font-size:16px;font-family:'rob_regular';color:#ffd702;transition:all .3s;text-transform:uppercase;}
.link_licence:hover{color:#fff;}
.tel_footer{font-size:16px;font-family:'rob_regular';color:#fff;transition:all .3s;}
.tel_footer:hover{font-size:16px;font-family:'rob_regular';color:#ffd702;}
.swiper-pagination-bullet{width:19px;height:3px;background-color:#fff;border-radius:0;opacity:1;}
.swiper-pagination-bullet-active{background-color:#ffd702;}
.right_ar:after, .left_ar:after{content:'';}
.right_ar, .left_ar{width:26px;height:52px;background-repeat:no-repeat;background-size:cover;opacity:1;}
.right_ar{background-image:url(../img/right_intro.png);} 
.left_ar{background-image:url(../img/left_intro.png);}
.wrapper_arrow{position:absolute;width:100%;height:100%;left:0;top:0;}
.decor_box{position:absolute;width: 100%;height:100%;left:0;top:0;}
.decor{position:absolute;display:inline-block;animation:translate 2s infinite alternate 1s ease-in-out;z-index:1;} 
.decor.yelow_middle{width:99px;height:24px;background-color:#ffd702;left:150px;top:60px;}
.decor.dark_min{width:99px;height:12px;background-color:#282828;left:170px;top:90px;animation:translate_long 7s infinite alternate 1s ease-in-out;}
.decor.white_min{width:130px;height:20px;background-color:#fff;left:170px;top:50%;animation:translate_long_white 5s infinite alternate 3s ease-in-out;}
.decor.yellow_middle_2{width:130px;height:30px;background-color:#ffd702;left:0;top:70%;animation:translate_right 15s infinite alternate 2s ease-in-out;}
.decor.big_dark{width:150px;height:60px;background-color:#282828;left:0;top:73%;animation:translate_right 15s infinite alternate 5s ease-in-out;}
.decor.dark_min_2{width:90px;height:35px;background-color:#282828;left:7%;top:83%;animation:translate_all 40s infinite alternate 5s ease-in-out;}
.decor.yellow_middle_3{width:90px;height:15px;background-color:#ffd702;left:25%;top:80%;animation:translate_all 30s infinite alternate 5s ease-in-out;}
.decor.yellow_small{width:200px;height:4px;background-color:#ffd702;right:30%;top:85%;animation:translate_left 20s infinite alternate 1s ease-in-out;}
.decor.dark_min_3{width:120px;height:18px;background-color:#282828;right:10%;top:90%;animation:translate_left_small 15s infinite alternate 1s ease-in-out;}
.decor.yellow_small_2{width:60px;height:50px;background-color:#ffd702;right:0;top:85%;animation:translate_left_small_2 10s infinite alternate 1s ease-in-out;}
.decor.white_middle{width:100px;height:55px;background-color:#fff;right:0;top:55%;animation:translate_left_min 10s infinite alternate 1s ease-in-out;}
.decor.yellow_big{width:170px;height:75px;background-color:#ffd702;right:0;top:50%;animation:translate_left_min 15s infinite alternate 2s ease-in-out;}
.decor.yellow_micro{width:60px;height:6px;background-color:#ffd702;right:50px;top:20%;animation:translate_left_min 5s infinite alternate 1s cubic-bezier (.8,1.5,.2,-1);}
.decor.yellow_micro_2{width:90px;height:6px;background-color:#ffd702;left:35%;top:7%;animation:translate_long_white 40s infinite alternate 1s ease-in-out;}
.close{position:absolute;right:-30px;top:-30px;opacity:1;}
.close:focus{outline:none;}
.modal-content{background-color:#ffd702;}
.modal .title_content_black{font-size:36px;line-height:45px;}
.modal .title_content_black span:before{background-color:#fff;height:30px;}
.modal-header{border-bottom:none;flex-direction:column;padding-bottom:0;}
.modal .text_content_min{font-size:12px;line-height:17px;margin-bottom:0;}
.modal .micro_text{font-size:8px;}
button.white_button.dark_bg{border:none;}
button.white_button.dark_bg:focus{outline:none;}
button.white_button.dark_bg:hover{color:#000;}
.right_block_nav.active .open_hid{display:none;}
.decor_page{position:absolute;left:0;top:0;width:100%;height:100%;}
.decor_page span{display:inline-block;position:absolute;}
.page_yellow_item{width:150px;height:30px;background-color:#ffd702;top:25%;left:15%;z-index:2;}
.page_dark_item{width:150px;height:15px;background-color:#282828;top:30%;left:0;z-index:2;}
.page_white_item{width:120px;height:40px;background-color:#fff;top:70%;left:18%;z-index:2;}
.page_yellow_item_2{width:100px;height:60px;background-color:#ffd702;top:55%;right:0;z-index:2;}
.page_dark_item_2{width:120px;height:25px;background-color:#282828;top:60%;right:5%;z-index:2;}
.page_dark_item_3{width:250px;height:8px;background-color:#282828;top:10%;right:40%;z-index:2;}
.page_dark_item_4{width:150px;height:15px;background-color:#282828;top:40%;left:0;z-index:2;}
.page_white_item_2{width:170px;height:30px;background-color:#fff;top:45%;left:10%;z-index:3;}
.page_dark_item_5{width:70px;height:60px;background-color:#282828;top:55%;right:0;z-index:2;}
.about_us .block_white_bg:hover{background-color:#ffd702;font-weight:bold;}
.dark_small_rectangle{width:150px;height:8px;background-color:#282828;left:100px;top:10%;}
.yellow_small_rectangle{width:130px;height:20px;background-color:#ffd702;left:18%;top:18%;}
.yellow_big_rectangle{width:230px;height:50px;background-color:#ffd702;right:10%;top:-5%;}
.dark_small_rectangle_2{width:80px;height:25px;background-color:#282828;right:0;top:40%;}
.yellow_big_rectangle_2{width:160px;height:45px;background-color:#ffd702;right:0;top:47%;}
.yellow_big_rectangle_3{width:130px;height:65px;background-color:#ffd702;right:35%;top:52%;}
.micro_dark{width:15px;height:50px;background-color:#282828;left:0;top:20%;}
.micro_white{width:100px;height:30px;background-color:#fff;left:0;top:30%;}
.micro_white_2{width:100px;height:15px;background-color:#fff;left:7%;top:80%;}
.long_dark{width:250px;height:10px;background-color:#282828;left:10%;top:87%;}
.micro_dark_2{width:90px;height:20px;background-color:#282828;right:0;top:18%;}
.micro_white_3{width:110px;height:40px;background-color:#fff;right:0;top:75%;}
.long_dark_2{width:70px;height:55px;background-color:#282828;right:0;top:85%;}
.name_block{padding:20px 0;}
.name_slide{font-size:24px;font-family:'rob_bold';line-height:30px;}
.swiper-slide:not(.swiper-slide-active) .name_block{visibility:hidden;}
.swiper-slide:not(.swiper-slide-active) .footer_card_client{filter: grayscale(100%);}
.swiper-slide:hover .name_block{visibility:visible;}
.ohr_img{position:relative;left:15%;z-index:0;}
@keyframes translate{
  0%{transform:translateX(0px);}
  50%{transform:translateX(-50px);}
  100%{transform:translateX(0px);}
}
@keyframes translate_long{
  0%{transform:translateX(0px);}
  50%{transform:translateX(150px);}
  100%{transform:translateX(0px);}
}
@keyframes translate_long_white{
  0%{transform:translateX(0px);}
  50%{transform:translateX(-100px);}
  100%{transform:translateX(50px);}
}
@keyframes translate_right{
  0%{transform:translateX(0);}
  100%{transform:translateX(20px);}
}
@keyframes translate_all{
  0%{transform:translateX(0);}
  20%{transform:translateX(-100px);}
  100%{transform:translateX(1020px);}
}
@keyframes translate_left{
  0%{transform:translateX(0);}
  20%{transform:translateX(-500px);}
  100%{transform:translateX(500px);}
}
@keyframes translate_left_small{
  0%{transform:translateX(0);}
  20%{transform:translateX(-200px);}
  100%{transform:translateX(50px);}
}
@keyframes translate_left_small_2{
  0%{transform:translateX(0);}
  20%{transform:translateX(-100px);}
  100%{transform:translateX(0px);}
}
@keyframes translate_left_min{
  0%{transform:translateX(0);}
  20%{transform:translateX(-20px);}
  100%{transform:translateX(0px);}
}



@media(max-width:1500px){
  .bg_select{object-position:-350px 0;}
}
@media(max-width:1199px){
  .link_home{font-size:40px;}
  .left_block_nav{flex:1 1 25%;}
  .right_block_nav{flex:1 1 55%}
  .header_nav.fixed_menu .left_block_nav .scroll_phone{font-size:18px;}
  .title_sl{font-size:80px;}
  .sub_title{font-size:60px;}
  .slider_bg{object-position:-227px -270px;}
  .swiper-slide{max-height:650px;}
  .img_block span{top:40px;}
  .marg_up{margin-top:-50px;}
  .box_icon{align-items:center;}
  .bg_select{object-position:-400px 0;}
}
@media(max-width:991px){
  .right_block_nav{position:absolute;left:0;top:150px;width:0;overflow:hidden;transition:all .3s;background-color:#ffd702;opacity:0;}
  .left_block_nav{justify-content:space-between;min-width:100%;}
  .header_nav.fixed_menu .left_block_nav{flex:0 0 100%;}
  .left_block_nav.hid_text a span{transform:translateY(0);opacity:1;transition:all .3s;position:relative;left:auto;}
  .left_block_nav.hid_text{max-width:100%;}
  .right_block_nav.active{width:100%;top:140px;position:absolute;height:100vh;left:0;background-color:#ffd702;opacity:1;}
  .right_block_nav.active .nav_menu_top{display:flex !important;padding-top:30px;}
  .right_block_nav.active .nav_menu_top, .right_block_nav.active .nav_menu_bottom{flex-direction:column;}
  .right_block_nav.active .nav_menu_top_link.mail{padding-top:5px;}
  .right_block_nav.active .nav_menu_top .nav_menu_bottom .white_button.yellow_bg{display:none;}
  .right_block_nav.active .white_button{margin-top:10px;}
  .nav_menu_bottom_link{font-size:24px;line-height:35px;}
  .slider_bg{object-position:-297px -270px;}
  .img_block span{top:-10px;left:0;right:0;margin:auto;}
  .title_content_black{font-size:60px;}
  .marg_up{margin-top:0;}
  .security_home{padding-top:50px;}
  .img_block.white_name span{left:0;right:0;}
  .title_content_rob{font-size:60px;}
  .we_work .block_white_bg{min-height:230px;}
  .big_num{font-size:250px;}
  .we_work{padding-bottom:0;}
  .decor_box{display:none;}
  .right_ar{right:-20px;}
  .left_ar{left:-20px;}
  .decor_page{display:none;}
  .wrapper_text_block .text_content_min{text-shadow:0 0 10px #fff;color:#000;font-weight:bold;}
  .ohr_img{object-position:-100px 0;}
  .ohr_img{position:relative;left:0;}
}
@media(max-width:767px){
  .swiper-slide{max-height:450px;}
  .text_content_min{font-size:18px;}
  .title_content_black{font-size:55px;}
  .img_icon.item_2 img{margin-left:auto;}
  .title_content_rob{font-size:50px;}
  .bg_select{object-position:-1030px 0;}
  .be_shield .title_content_black{font-size:45px;line-height:55px;}
  .be_shield .title_content_black span:before{height:40px;}
  .prev, .next{top:-40px;}
  .prev{left:10px;}
  .next{right:10px;}
  .footer_content{flex-direction:column;}
  .right_ar{right:10px}
  .left_ar{left:10px;}
  .right_ar, .left_ar{top:90%;}
  .slider_bg{object-position:-486px -309px;}
  .clients{padding-bottom:20px;}
  .bg_price{object-position:-442px 0px;}
}
@media(max-width:575px){
  .left_block_nav{padding:0 15px;}
  .link_home{font-size:28px;}
  .title_sl{font-size:66px;}
  .sub_title{font-size:50px;}
  .text_slider{font-size:18px;line-height:28px;}
  .block_white_bg {min-height:100px;}
  .text_content{font-size:22px;line-height:26px;}
  .left_block_nav.hid_text a span{transform:translateY(-200%);opacity:0;transition:all .3s;position:absolute;left:90px;}
  .title_content_black{font-size:45px;}
  .security_object{padding-top:0;}
  .title_content_black span:before{height:39px;}
  .img_block span{font-size:45px;}
  .img_block.white_name span{padding:0;}
  .security{padding-top:30px;}
  .bg_select{object-position:-1070px -20px;}
  .be_shield .title_content_black{font-size:42px;line-height:50px;}
  .text_shield span{top:-15px;}
  .num_white_big {font-size:55px;}
  .min_white_text{font-size:18px;line-height:25px;}
  .shield_yellow{left:10px;}
  .modal-dialog{margin-top:20px;}
  .close{right:20px;top:20px;}
  .slider_bg{object-position:-756px -309px;}
  .contact{padding-top:0;}
  .bg_price{object-position:-242px 72px;}
  .ohr_img{object-position:-100px 0;}
}
@media(max-width:450px){
  .title_sl{font-size:44px;line-height:45px;}
  .sub_title{font-size:40px;line-height:40px;}
  .sub_title:after{bottom:-28px;} 
  .title_content_black{font-size:35px;}
  .title_content_rob{font-size:40px;}
  .be_shield .title_content_black{font-size:38px;line-height:40px;}
  .be_shield .title_content_black span:before{height:30px;}
  .num_white_big {font-size:35px;}
  .min_white_text{font-size:16px;line-height:20px;}
  .modal .title_content_black{font-size:25px;line-height:30px;}
  .modal .title_content_black span:before{height:20px;}
  .slider_bg{object-position:-856px -309px;}
  .slider_2 .swiper-wrapper{padding:0;}
  .ohr_img{object-position:-250px 0;}
}
@media(max-width:390px){
  .be_shield .title_content_black{font-size:30px;line-height:35px;}
}

