@font-face { font-family: 'GolosRegular'; src: url(../font/GolosText-Regular.ttf); }
@font-face { font-family: 'GolosMedium'; src: url(../font/GolosText-Medium.ttf); }
@font-face { font-family: 'GolosBold'; src: url(../font/GolosText-Bold.ttf); }
@font-face { font-family: 'GolosSemiBold'; src: url(../font/GolosText-SemiBold.ttf); }
@font-face { font-family: 'MerriRegular'; src: url(../font/Merriweather-Regular.ttf); }
html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  --color-content: #313131;
  --color-red:#f54932;
}
*:before,*:after {
  box-sizing: inherit;
}
body,h1,h2,h3 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
img {
  max-width: 100%;
  height: auto;
}
.wrapper{
  min-width:100%;
  min-height:100vh;
  overflow-x:hidden;
  position:relative;
}
.header{
  position:absolute;
  width:100%;
  top:0;
  left:0;
  z-index:1;
}
.container{
  width: min(1222px, 100% - 30px);
  display:flex;
  margin:auto;
  z-index: 2;
}
.container__link{
  display:flex;
  align-items:center;
  justify-content:start;
  padding:20px 0;
}
.logo_img{
  max-width:50%;
}
.img-fluid{
  max-width:100%;
}
.section_content{
  position: relative;
  width:100%;
  max-width:1366px;
  margin:auto;
}
.bg_image{
  min-height:700px;
  display:flex;
  align-items:center;
  justify-content:center;
}
.bg_image-item{
  position:absolute;
  top:0;
  left:0;
}
.content_intro{
  flex:0 0 50%;
}
.title{
  font-size:60px;
  line-height:110%;
  text-transform:uppercase;
  color:var(--color-content);
  font-family:'MerriRegular';
  font-weight:400;
}
.row_title{
  display:inline-block;
}
.row_one{
  padding-left:90px;
}
.row_two{
  padding-left:40px;
}
