@font-face{font-family:'montser_light';src: url(../font/Montserrat-Light.ttf);}
@font-face{font-family:'montser_reg';src: url(../font/Montserrat-Regular.ttf);}
@font-face{font-family:'montser_semi';src: url(../font/Montserrat-SemiBold.ttf);}
html{scroll-behavior:smooth;}  
body{font-size:16px;background-color:#fff;font-family:'montser_reg';font-size:14px;}
.wrapper{overflow:hidden;position:relative;}
.intro-block__wrapper{position:relative;background-image:url(../img/bg_intro.png);background-size:cover;background-position:center top;}
.header{width:100%;position:fixed;top:0;left:0;z-index:1000;transition:background .3s ease;}
.header.blur:not(.active){backdrop-filter:blur(10px);background:rgba(0,0,0,.7);}
.header:not(.active).blur .nav-top__menu .link_menu{color:#fff;}
.header.blur .nav-top__contact .link_phone{color:#fff;} 
.header-nav__top{width:100%;position:relative;}
.wrap_mobile{flex:1 1 auto;display:flex;}
.scrolling_top{padding:25px 0;transition:all .3s ease;}
.scrolling_top.scroll{padding:5px 0;}
.nav-top__logo{padding:0 15px;display:flex;flex:0 0 145px;}
.nav-top__contact{padding:0 15px;display:flex;flex:1 1 auto;align-items:center;justify-content:space-between;transition:all .3s;position: relative;}
.nav-top__menu{flex:1 1 40%;padding:0 15px;}
.nav-top__menu{display:flex;align-items:center;justify-content:space-between;}
.link_menu{font-size:16px;line-height:18px;color:#232525;font-family:'montser_reg';transition:all .2s;}
.link_menu:hover{transform:translateY(2px);font-weight:500;color:#000;text-decoration:none;}
.link_messenger{display:inline-flex;width:48px;height:48px;border-radius:10px;border: 2px solid #FFD601;align-items:center;justify-content:center;background-color:transparent;transition:all .3s;}
.link_messenger:hover{background-color:#FFD601;transform:scale(.9);}
.link_messenger img{max-width:25px;}
.btn_content{display:inline-flex;padding:13px 15px;border-radius:10px;color:#fff;font-family:'montser_semi';transition:color .3s;box-shadow: 0px 4px 30px rgba(35, 37, 37, 0.15);}
.btn_yellow{background: linear-gradient(180deg, #FBB603 0%, #FB9803 100%);}
.btn_content:hover{text-decoration:none;color:#000;}
.link_phone{font-size:20px;line-height:22px;color:#232525;font-family:'montser_semi';}
.link_phone:hover{color:inherit;}
.intro-block__body{position:relative;display:flex;align-items:center;padding-top:100px;}
.bg_intro{object-fit:cover;object-position:center top;width:1920px;max-height:750px;z-index:0;}
.wrapper_animate_img{position:relative;z-index:1;display:flex;align-items:center;justify-content:center;}
.left_anim, .right_anim{display:inline-block;position:absolute;z-index:-1;top:0;left:0;bottom:0;right:0;}
.left_anim img, .right_anim img{z-index:0;position:absolute;}
.left_anim .line{left:0;top:10px;transform:translate3d(0,0,0);animation:wave 5s ease-in-out infinite;}
.right_anim .line_2{right:-60px;bottom:110px;transform:translate3d(0,0,0);animation:wave_2 5s ease-in-out infinite;}
.btn_menu{margin-right:15px;position:relative;border:none;background-color:transparent;padding:0;width:40px;height:40px;display:flex;flex-direction: column;justify-content:space-between;}
.btn_menu span{position:absolute;width:100%;height:2px;left:0;top:0;bottom:0;margin:auto;background:#000;display:inline-block;transition:all .3s ease;}
.btn_menu span:before{content:'';position:absolute;width:100%;height:2px;left:0;top:-13px;background:#000;transition:all .3s ease;}
.btn_menu span:after{content:'';position:absolute;width:70%;height:2px;right:0;top:13px;background:#000;transition:all .3s ease;}
.line.item_1{left:5px;top:13px;animation-delay:1.2s;}
.line.item_2{left:-16px;top:2px;animation-delay:.8s;}
.line.item_3{left:-35px;top:-7px;animation-delay:.4s;}
.line_2.item_1{right:-60px;bottom:110px;animation-delay:1.2s;}
.line_2.item_2{right:-78px;bottom:93px;animation-delay:.8s;}
.line_2.item_3{right:-95px;bottom:76px;animation-delay:.4s;}
@keyframes wave{
  0%{
    transform:translate3d(0,0,0);
  }
  50%{
    transform:translate3d(-25px,-20px,-15px);
  }
  100%{
    transform:translate3d(0,0,0);
  }
}
@keyframes wave_2{
  0%{
    transform:translate3d(0,0,0);
  }
  50%{
    transform:translate3d(25px,20px,15px);
  }
  100%{
    transform:translate3d(0,0,0);
  }
}
.middle_text{font-size:25px;line-height:30px;color:#232525;font-family:'montser_semi';}
.btn_phone{max-width:300px;width:100%;text-align:center;justify-content:center;color:#fff;}
.btn_dark{background-color:#232525;}
.btn_mail{max-width:300px;width:100%;text-align:center;justify-content:center;color:#fff;}
.min_text{font-size:14px;line-height:18px;color:#000;font-family:'montser_reg';}
.min_bold_text{font-size:13px;line-height:18px;font-family:'montser_semi';color:#000;}
.social_block{display:flex;align-items:center;}
.social_block .social_item{display:flex;align-items:center;list-style:none;padding-left:0;}
.social_block .social_item .link_social{margin:0 10px;color:#000;font-size:18px;}
.sub_title{font-size:16px;line-height:30px;text-transform:uppercase;color:#FFC700;font-family:'montser_reg';font-weight:500;}
.main_title{font-size:51px;line-height:56px;font-family:'montser_semi';color:#232525;z-index:2;position:relative;}
.text_content{font-size:14px;line-height:18px;color:#000;font-family:'montser_light';}
.social_block.desctop{padding-top:100px;}
.deposit_auto{padding:0 15px;}
.middle_head{font-size:30px;line-height:34px;color:#232525;font-family:'montser_semi';}
.btn_content.btn_transsparent.black{background-color:transparent;border:1px solid #232525;color:#232525;padding:10px 25px;transition:all .3s;}
.btn_content.btn_transsparent.black:hover{border-color:#fff;color:#fff;}
.btn_content.btn_transsparent.white{background-color:transparent;border:1px solid #fff;color:#fff;padding:10px 25px;transition:all .3s;}
.text_white{color:#fff;}
.many{background:linear-gradient(90deg, #FBB603 0%, #FB9803 50%, #232525 50%, #232525 100%);margin-top:50px;position:relative;overflow:hidden;}
.many_2_img{position:relative;object-fit:cover;}
.min_desc{position:absolute;width:100%;left:60%;}
.title_content{font-size:35px;line-height:40px;color:#232525;font-family:'montser_semi';}
.why_we{padding:80px 0 40px;}
.text_content.bold_text{line-height:16px;font-family:'montser_semi';text-align:center;}
.block_icon{display:flex;align-items:center;min-height:142px;justify-content:center;padding:5px;border-radius:10px;background: #FFFFFF;box-shadow: 0px 4px 30px rgba(35, 37, 37, 0.15);}
.bullit_body{height:100%;}
.order{position:relative;padding:80px 0;background-color:#F7F7F7;}
.order_car{position:absolute;top:-50px;left:0;}
.wrapper_order_form{width:100%;position:relative;background-color:#fff;box-shadow: 0px 4px 30px rgba(35, 37, 37, 0.15);border-radius: 10px;padding:30px;}
.input_range{position:relative;width:100%;border:1px solid #9E9E9E;border-radius:8px;padding:25px 20px;}
.input_nums{position:absolute;left:20px;top:0;right:0;bottom:0;display:flex;align-items:center}
.input_nums span{display:inline-block;font-size:16px;color:#000;font-family:'montser_semi';}
.input_range input{position:absolute;left:5px;right:5px;bottom:-1px;width:95%; height:1px;-webkit-appearance:none;background:linear-gradient(90deg, rgb(158, 158, 158) 60%, rgb(158, 158, 158) 60%);outline:none;}
.input_range input::-webkit-slider-thumb{-webkit-appearance:none;width:12px;height:12px;border-radius:50%;background:linear-gradient(180deg, #FBB603 0%, #FB9803 100%);box-shadow:0 0 5px 3px rgba(251, 182, 3, .3);cursor:pointer;}
.title_input_form{font-size:14px;line-height:16px;color:#A3A3A3;font-family:'montser_semi';}
.input_form{width:100%;border:1px solid #9E9E9E;border-radius:8px;padding:14px 20px;color:#000;}
.input_form:focus{outline:none;}
.input_form::-webkit-input-placeholder{font-size:16px;color:#D5D5D5;font-family:'montser_reg';}
.input_text{width:100%;}
.btn_form{border:none;width:100%;justify-content:center;}
.btn_form:focus{outline:none;}
.micro_text{font-size:10px;line-height:13px;color:#000;font-family:'montser_reg';text-align:center;}
.micro_text a{color:#FB7A03;text-decoration:none;transition:all .3s;}
.micro_text a:hover{color:#FB7A03;text-decoration:underline;}
.instruction{padding-top:80px;}
.card_steps{width:100%;height:100%;display:flex;align-items:center;padding:20px 20px 50px 5px;position:relative;background-color:#fff;border: 1px solid #9E9E9E;box-shadow: 0px 4px 30px rgba(35, 37, 37, 0.15);border-radius: 10px;}
.image_item{flex:1 1 40%;}
.steps_text_block{flex:1 1 60%;}
.step_title{font-size:22px;line-height:24px;color:#232525;font-family:'montser_semi';}
.step_text{font-size:12px;color:#232525;font-family:'montser_light';}
.times_block{position:absolute;bottom:-1px;left:-1px;right:-1px;border-radius:0 0 10px 10px;background:linear-gradient(180deg, rgba(251, 182, 3, 0.2) 0%, rgba(251, 152, 3, 0.2) 100%);border:1px solid rgba(251, 182, 3, 1);height:40px;display:flex;align-items:center;justify-content:center;}
.times_text{font-size:16px;line-height:15px;color:#000;font-family:'montser_semi';}
.way_bg{position:absolute;top:0;bottom:0;margin:auto;left:20px;right:20px;width:90%;}
.imporatnt_document{width:100%;padding:80px 0;}
.comments{padding:0 0 40px;}
.frame_video{width:100%;height:100%;border-radius:10px;overflow:hidden;position:relative;cursor:pointer;display:block;}
.play{position:absolute;margin:auto;left:0;right:0;top:0;bottom:0;}
.faq{padding:20px 0 40px;}
.accordion{border:none;}
.accordion>.card>.card-header{padding:0;border-radius:0;background-color:#fff;border:none;}
.btn-block.btn-link{padding:20px 15px 20px 0;border:1px 0 1px 0 solid #9E9E9E;font-size:18px;line-height:22px;font-family:'montser_semi';color:#232525;text-decoration:none;position:relative;}
.btn-block.btn-link:hover{text-decoration:none;}
.btn-block.btn-link:focus{outline:none;box-shadow:none;}
.accordion>.card{border-left:none;border-right:none;}
.accordion>.card:focus{outline:none;}
.accordion .card-body{background-color:#F5F5F5;}
.shevron{position:absolute;right:0;top:0;bottom:0;margin:auto;transition:all .3s;}
.btn-block.btn-link[aria-expanded="false"] .shevron{transform:rotateX(180deg);}
.auto_img{position:relative;padding-top:500px;}
.auto_img_bg_content{width:1920px;position:absolute;left:0;top:-500px;z-index:-1;}
.about_us{background-color:#fff;width:100%;padding:80px 0 60px;}
.wrapper_about_img{border-radius:10px;text-align:center;overflow:hidden;}
.footer{width:100%;padding:0 0 60px;background-color:#F5F5F5;}
.call_width_us{padding:40px 0;}
.border_bot{border-bottom:1px solid #9E9E9E;}
.footer .min_text{font-size:12px;}
.foot_menu{display:flex;flex-direction:column;}
.foot_menu .link_menu{font-size:16px;line-height:29px;display:inline-block;font-family:'montser_reg';}
.footer .btn_mail:hover{color:#FBB603;}
.left_footer_block{display:flex;flex-direction:column;justify-content:space-between;height:100%;}
.privacy{color:#232525;text-decoration:none;font-size:14px;line-height:18px;font-family:'montser_reg';display:inline-block;}
.privacy:hover{color:232525;}
.foot_menu .title_menu_mobile{font-size:14px;line-height:16px;color:#232525;font-family:'montser_semi';}
.breadcrumb{background-color:transparent;padding-left:0;}
.breadcrumb-item.active{color:#FBB603;font-family:'montser_light';font-size:14px;line-height:18px;}
.breadcrumb-item a{color:#232525;font-family:'montser_light';font-size:14px;line-height:18px;}
.header.bg_white{background-color:#fff;}
.intro-block__wrapper.other_page{padding-bottom:70px;}
.instruction.bg_gray{background-color:#F6F6F6;padding:70px 0;}
.bullits{padding:80px 0 60px;}
.bullits .text_content{font-size:13px;}
.main_title.yellow{color:#FBB603;font-size:60px;line-height:70px;}
.main_title.yellow.min{font-size:51px;line-height:56px;}
.text_content span{font-weight:bold;color:#FB9803;}
.intro-block__wrapper.other_page{background-image:url(../img/bg_sintro_service.png);}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{border:none;}
.nav.nav-tabs{border-bottom:none;display:flex;flex-direction:column;}
.nav.nav-tabs .nav-item{background-color:#F6F6F6;border-radius: 5px;position:relative;padding:0;}
.nav.nav-tabs .nav-item:first-of-type{margin-bottom:15px;}
.nav.nav-tabs .nav-item .nav-link{background-color:#F6F6F6;border-radius: 5px;position:relative;transition: all .3s;border:none;padding:20px 15px 20px 30px;font-size:20px;line-height:22px;color:#232525;font-family:'montser_semi';font-weight:500;min-height:100px;display:flex;align-items:center;}
.nav.nav-tabs .nav-item .nav-link.active{background-color:#fff;border-radius: 5px;position:relative;box-shadow: 0px 4px 30px rgba(35, 37, 37, 0.15);}
.nav.nav-tabs .nav-item .nav-link:hover{background-color:#fff;border-radius: 5px;position:relative;box-shadow: 0px 4px 30px rgba(35, 37, 37, 0.15);}
.nav.nav-tabs .nav-item .nav-link.active:before{content:'';position:absolute;left:0;top:0;bottom:0;width:6px;height:100%;background:linear-gradient(180deg, #FBB603 0%, #FB9803 100%);border-radius:5px 0 0 5px;transition:all .3s;}
.tab-pane{height:100%;box-shadow: 0px 4px 30px rgba(35, 37, 37, 0.15);background-color:#fff;border-radius:10px;padding:35px 45px;}
.text_content.circle_item{position:relative;font-size:14px;font-weight:bold;}
.text_content.circle_item:before{content:'';position:absolute;width:8px;height:8px;background:linear-gradient(180deg, #FBB603 0%, #FB9803 100%);border-radius:50%;top:6px;left:-15px;}
.type_auto{padding:80px 0 20px;}
.wrapper_img{background-color:#fff;height:100%;min-height:250px;border-radius:10px;box-shadow: 0px 4px 30px rgba(35, 37, 37, 0.15);padding:0px 10px 25px 10px;display:flex;flex-direction:column;justify-content:flex-end;}
.type_auto .text_content{font-size:15px;}
.wrapper_img .box_img{position:absolute;max-width:90%;top:10px;left:0;right:0;margin:auto;min-height:160px;overflow:hidden;display:flex;align-items:center;justify-content:center;}
.order.other_page{background-color:#fff;}
.intro-block__wrapper.other_page.contact{background-position:0 85px;}
.wrapper_map{overflow:hidden;background-color:#C4C4C4;border-radius:10px;}
.box_contact{position:absolute;padding:60px 20px 20px; right:30px;top:15px;bottom:15px;width:35%;background: linear-gradient(180deg, #FBB603 0%, #FB9803 100%);box-shadow: 0px 4px 30px rgba(35, 37, 37, 0.15);border-radius: 8px;overflow:hidden;}
.map{padding:80px 0;}
.white_link{font-size:26px;line-height:28px;color:#fff;font-family:'montser_semi';display:block;margin-bottom:15px;transition:all .3s;}
.white_link:hover{color:#000;}

/*new style*/
.drop_menu{position:relative;}
.drop_menu_box{list-style:none;padding-left:0;border-radius:0 0 4px 4px; position:absolute;left:0;top:20px;min-width:300px;background-color:rgba(255,255,255,.8);transition:all .3s;margin-bottom:0;overflow:hidden;height:0;box-shadow: 0px 4px 30px rgba(35, 37, 37, 0.15);}
.drop_menu:hover .drop_menu_box{height:auto;}
.drop_menu_link{display:inline-block;width:100%; padding:7px 15px;font-size: 16px;line-height: 18px;color: #232525;font-family: 'montser_reg';transition:all .3s;}
.drop_menu_link:hover{text-decoration:none;background-color:rgba(255,255,255,1);color:inherit;}


@media(min-width:992px){
    .content.d-none{display:block !important;}
    .footer.d-none{display:block !important;}
    .btn_content.btn_transsparent.white:hover{border-color:#FBB603;color:#FBB603;}
}


@media(max-width:1199px){
  .car_img_intro{max-width:100%;}
  .bg_intro{max-height:650px;}
  .left_anim{left:58px;top:-10px;}
  .right_anim{right:75px;bottom:-60px;}
  .left_anim .line{max-width:58%;}
  .right_anim .line_2{max-width:43%;}
}
@media(max-width:991px){
  .wrap_mobile{width:0;overflow:hidden;flex:1 1 100%;flex-wrap:wrap;height:0;}
  .header-nav__top.active .wrap_mobile{height:100%;width:100%;padding-top:30px;overflow:visible;}
  .wrap_mobile .nav-top__menu{flex-direction:column;align-items:start;}
  .nav-top__contact{display:none;}
  .nav-top__menu{flex:0 0 100%;}
  .title_menu_mobile{font-size:20px;line-height:22px;color:#262626;font-family:'montser_semi';}
  .nav-top__menu .link_menu{margin-bottom:15px;}
  .mobile_link{display:flex;flex-direction:column;padding-bottom:15px;border-bottom:1px solid #9E9E9E;width:100%;}
  .header.active{background-color:#fff;position:relative;}
  .mobile_btn_block{width:100%;}
  .header.blur .btn_menu span{background-color:#fff;}
  .header.blur .btn_menu span:before{background-color:#fff;}
  .header.blur .btn_menu span:after{background-color:#fff;}
  .header.active .scrolling_top{padding:5px 0;}
  .intro-block__body{height:auto;}
  .bg_intro{max-height:none;}
  .social_block.desctop{padding-top:20px;}
  .min_desc{display:none;}
  .many_1_img{width:500px;max-width:none;object-position: 0px -184px;}
  .many_2_img{width:500px;max-width:none;object-position: 0px -90px;}
  .height_block{max-height:312px;}
  .deposit_auto{padding:50px 15px;}
  .instruction{padding-top:70px;}
  .way_bg{display:none;}
  .imporatnt_document{padding:40px 0;}
  .auto_img_bg_content {left:-410px;}
  .bullits{padding:50px 0 40px;}
  .intro-block__wrapper.other_page{padding-bottom:30px;}
  .about_us.other_page{padding-top:20px;}
  .scrolling_top{padding:10px 0;}
  .type_auto{padding:40px 0 20px;}
  .order.other_page{padding-top:30px 0 40px;}
  .box_contact{position:relative;left:auto;right:auto;width:100%;top:auto;bottom:auto;margin-top:20px;}
  .intro-block__wrapper.other_page.contact{background-position:0 45px;}
  .many{background:linear-gradient(90deg, #FBB603 0%, #FB9803 51%, #232525 50%, #232525 100%);
}
@media(max-width:767px){
  .main_title{font-size:40px;line-height:40px;}
  .many{background:linear-gradient(180deg, #FBB603 0%, #FB9803 50%, #232525 50%, #232525 100%);}
  .deposit_auto{padding:30px 15px;}
  .many_1_img{object-position: 0px -208px;}
  .many_2_img{object-position: 0px -100px;}
  .title_content{font-size:29px;line-height:32px;}
  .instruction{padding-top:40px;}
  .footer .btn_mail{max-width:100%;}
  .footer .btn_phone{max-width:100%;}
  .instruction.bg_gray{padding:40px 0;}
  .main_title.yellow{font-size:40px;line-height:50px;}
  .intro-block__wrapper.other_page .intro-block__body{padding-top:70px;}
  .main_title.yellow.min{font-size:40px;line-height:50px;}
  .bullits{padding:20px 0;}
  .map{padding:40px 0;}
}
@media(max-width:575px){
   .main_title{font-size:36px;line-height:44px;}
   .sub_title{font-size:12px;line-height:14px;}
   .left_anim{left:45px;}
  .right_anim{right:83px;}
  .intro-block__wrapper .btn_yellow{width:100%;justify-content:center;}
  .text_content.bold_text{font-size:12px;}
  .instruction{padding-top:30px;}
  .card_steps{flex-direction:column;align-items:center;text-align:center;padding:10px 15px 60px 15px;}
  .wrapper_order_form{padding:25px 10px;}
  .order.other_page{padding:0 0 30px;}
  .auto_img{padding-top:215px;}
  .auto_img_bg_content{left:-215px;top:-286px;width:900px;}
}
@media(max-width:400px){
   .left_anim{left:32px;}
  .right_anim{right:73px;bottom:-70px;}
  .intro-block__wrapper .btn_yellow{width:100%;justify-content:center;}
  .many_1_img{width:400px;object-position: 0px -90px;}
  .deposit_auto{padding-right:100px;}
  .auto_img{padding-top:182px;}
  .auto_img_bg_content{left:-222px;top:-210px;width:700px;}
}
@media(max-width:330px){
   .bg_intro{max-height:790px;}
}






















