html{scroll-behavior: smooth;}
@font-face{}
body{}
.intro{height:100vh;background-image:url(../img/intro_bg.jpg);background-size:cover;background-position:center center;position:relative;}
.navbar{box-shadow:none;}
.navbar.scrolling-navbar{padding-top:40px;}
.btn_search{background:transparent;border:none;}
.navbar.navbar-dark .navbar-nav .nav-item.active>.nav-link{background-color:transparent;}
.navbar.navbar-dark .navbar-nav .nav-item.active{position:relative;}
.nav-item.active:before{content:'';position:absolute;width:100%;height:7px;background-color:#CC9B55;bottom:10px;}








