html{scroll-behavior: smooth;}
@font-face{font-family:'sfui_reg';src: url(../font/SFUIDisplay-Regular.ttf);}
@font-face{font-family:'sfui_light';src: url(../font/SFUIDisplay-Light.ttf);}
@font-face{font-family:'sfui_ultra';src: url(../font/SFUIDisplay-Ultralight.ttf);}
@font-face{font-family:'sfui_bold';src: url(../font/SFUIDisplay-Bold.ttf);}
@font-face{font-family:'sfui_thin';src: url(../font/SFUIDisplay-Thin.ttf);}
@font-face{font-family:'sfui_semi';src: url(../font/SFUIDisplay-Semibold.ttf);}
body{font-family:'sfui_light';}
.wrapper{overflow-x:hidden;}
.intro{height:100vh;background-image:url(../img/intro_bg.jpg);background-size:cover;background-position:center center;position:relative;}
.navbar{box-shadow:none;}
.navbar.scrolling-navbar{padding-top:40px;}
.btn_search{background:transparent;border:none;}
.navbar.navbar-dark .navbar-nav .nav-item.active>.nav-link{background-color:transparent;}
.navbar.navbar-dark .navbar-nav .nav-item.active{position:relative;transition:all .5s;}
.nav-item:before{opacity:0;left:0;width:0;transition:all .5s;}
.nav-item.active:before{content:'';position:absolute;width:100%;height:7px;background-color:#CC9B55;bottom:10px;opacity:1;left:0;}
.navbar-nav .nav-item .nav-link{font-size:16px;font-family:'sfui_reg';color:#fff;}
.bg_mobile{background:#24262E !important;height:100%;overflow:scroll;display:block;}
.name_mobile-menu{font-size:17px;line-height:20px;letter-spacing:0.07em;text-transform:uppercase;color:#CC9B55;padding-left:5px;padding-top:40px;}
.phone_link-mobile{font-size:14px;font-family:'sfui_light';color:#fff;}
.phone_link-mobile:hover{color:#fff;opacity:.8;}
.button_block{position:absolute;height:100%;left:0;display:flex;flex-direction:column;justify-content:center;transition:all .5s}
.link_block{display:inline-flex;background:#0F0D0D;color:#CC9B55;font-size:10px;flex-direction:column;align-items:center;text-align:center;padding:5px 3px;border-radius: 0px 5px 5px 0px;min-width:61px;left:0;transition:all .3s;z-index:9999;}
.link_block:hover{color:#CC9B55;transform:translateX(20px);}
.title_page{font-size:49px;line-height:56px;letter-spacing:0.05em;color:#fff;font-family:'sfui_bold';}
.sub_title{font-size:17px;color:#fff;line-height:20px;font-family:'sfui_reg';}
.block_social-desctop{position:absolute;right:0;top:0;bottom:0;margin:auto;display:flex;flex-direction:column;justify-content:center;}
.block_social-desctop .social_link{transform:rotateZ(-90deg);display:inline-block;margin:40px 0;color:#fff;font-size:12px;font-family:'sfui_reg';}
.block_social-desctop .social_link:hover{opacity:.8;}
.pad_top{padding-top:170px;}
.burger{position:absolute;width:20px;height:2px;background:#fff;display:inline-block;top:14px;right:0;}
.btn_mob{display:inline-block;justify-content:center;position:relative;background:transparent;padding:13px 20px;}
.burger:before{content:'';position:absolute;width:26px;height:2px;background:#fff;bottom:-9px;left:-3px;}
.burger:after{content:'';position:absolute;width:26px;height:2px;background:#fff;bottom:9px;left:-3px;}
.second_view{padding:80px 0 40px;}
.gray_text{font-size:14px;line-height:20px;text-transform:uppercase;letter-spacing:0.11em;color:#0F0D0D;font-family:'sfui_thin';}
.line_left{border-left:2px solid #CC9B55;}
.title_content{font-size:30px;line-height:38px;color:#0F0D0D;font-family:'sfui_semi';}
.text_content{font-size:16px;line-height:20px;color:#0F0D0D;position:relative ;}
.navbar.scrolling-navbar.top-nav-collapse{background:rgba(0,0,0,.7);}
.title_content-big{font-size:36px;line-height:43px;text-align:center;color:#0F0D0D;font-family:'sfui_semi';}
.catalog{padding:40px 0;background:linear-gradient(180deg,#fff 60%, #F5F1F1 40%);}
.middle_text{font-size:20px;line-height:28px;text-align:center;color:#0F0D0D;font-family:'sfui_reg';}
.box_service{display:block;position:relative;margin:0 -7px;width:218px;height:270px;box-shadow:0px 4px 10px rgba(15, 13, 13, 0.2);}
.card_item{background-color:#000;transform:skew(-7deg);padding:0 20px;position:absolute;bottom:25px;left:-6px;transition:all .3s;height:60px;display:flex;align-items:center;min-width:163px;}
.card_item:before{content:'';position:absolute;left:0;top:-7px;width:70%;height:3px;background-color:#000}
.card_item:after{content:'';position:absolute;right:0;bottom:-7px;width:70%;height:3px;background-color:#000}
.name_service{font-size:16px;line-height:18px;color: #CC9B55;font-family:'sfui_reg';transform:skew(7deg);font-weight:500;}
.box_service:hover .card_item, .box_service:hover .card_item:before, .box_service:hover .card_item:after{background-color:#24262E;}
.box_service:hover{text-decoration:none;opacity:1;}
.box_service:hover .name_service{color:#CC9B55;text-decoration:none;opacity:1;}
.box_service:focus .card_item, .box_service:focus .card_item:before, .box_service:focus .card_item:after{background-color:#CC9B55;}
.box_service:focus .name_service{color:#000;}
.box_service.bg_1{background-image:url(../img/cat-1.png);background-size:auto 100%;background-repeat:no-repeat;background-position:0 0;}
.box_service.bg_2{background-image:url(../img/cat-2.png);background-size:auto 100%;background-repeat:no-repeat;background-position:0 0;}
.box_service.bg_3{background-image:url(../img/cat-3.png);background-size:auto 100%;background-repeat:no-repeat;background-position:0 0;}
.box_service.bg_4{background-image:url(../img/cat-4.png);background-size:auto 100%;background-repeat:no-repeat;background-position:0 0;}
.box_service.bg_5{background-image:url(../img/cat-5.png);background-size:auto 100%;background-repeat:no-repeat;background-position:0 0;}
.catalog_full{background-color:#F5F1F1;padding:40px 0;position:relative;background-image:url(../img/pr.png);background-size:cover;background-position:center center;}
.block_img-catalog{position:absolute;left:0;bottom:0;}
.title_block{position:absolute;left:0;top:0;width:100%;height:100%;}
.white_title{font-size:38px;line-height:53px;letter-spacing:0.05em;color:#fff;font-family:'sfui_bold';text-align:left;}
.one:before{content:'1';position:absolute;font-size:60px;line-height:20px;opacity:.3;color:#CC9B55;font-family:'sfui_semi';left:-13px;top:-15px;}
.two:before{content:'2';position:absolute;font-size:60px;line-height:20px;opacity:.3;color:#CC9B55;font-family:'sfui_semi';left:-13px;top:-15px;}
.three:before{content:'3';position:absolute;font-size:60px;line-height:20px;opacity:.3;color:#CC9B55;font-family:'sfui_semi';left:-13px;top:-15px;}
.for:before{content:'4';position:absolute;font-size:60px;line-height:20px;opacity:.3;color:#CC9B55;font-family:'sfui_semi';left:-13px;top:-15px;}
.five:before{content:'5';position:absolute;font-size:60px;line-height:20px;opacity:.3;color:#CC9B55;font-family:'sfui_semi';left:-13px;top:-15px;}
.about_us{padding:80px 0;}
.font_reg{font-family:'sfui_reg';}
.footer{background:#0F0D0D;padding:60px 0;}
.name_footer-item{font-size:17px;line-height:20px;color:#fff;letter-spacing:0.07em;text-transform:uppercase;font-family:'sfui_reg';}
.foot_menu-item .link_foot{font-size:14px;line-height:32px;color:#fff;transition:all .3s;}
.foot_menu-item .link_foot:hover{opacity:.8;}
.light_text{font-size:14px;line-height:16px;color:#fff;}
.block_input{position:relative;}
.inp_mail{width:100%;border:none;outline:none;padding:5px 15px;}
.inp_mail::-webkit-input-placeholder{font-size:14px;color:#000;opacity:.6;line-height:20px;}
.btn_form{position:absolute;top:0;right:0;height:100%;padding:0 20px;background-color:#CC9B55;color:#fff;font-size:14px;border:none;transition: all .3s;}
.btn_form:hover{background-color:#E7B66F;}
.btn_form:focus{background-color:#0F0D0D;color:#fff;outline:none;}
.checkbox{position:relative;padding-left:25px;}
.checkbox input[type="checkbox"]{display:none;}
.checkbox .name_chek{position:relative;color:#fff;font-size:14px;transition:all .3s;}
.checkbox .name_chek:before{content:'';position:absolute;width:14px;height:14px;border:1px solid #fff;background-color:transparent;left:-25px;top:12px;}
.checkbox .name_chek:after{content:'';position:absolute;width:10px;height:10px;background-color:#CC9B55;left:-23px;top:14px;opacity:0;transition:all .3s;}
.checkbox input[type="checkbox"]:checked + .name_chek:after{opacity:1;}
.link_provacy{font-size:14px;color:#CC9B55;text-decoration:underline;}
.link_provacy:hover{color:#CC9B55;text-decoration:none;}
.foot_menu-item .adres{color:#fff;font-size:14px;}
/* page 2 */
.company_intro{min-height:450px;background-image:url(../img/bg_about.jpg);background-size:cover;background-position:center center;position:relative;}
.content{padding:80px 0 100px;}
.deliv_info{border-bottom:1px solid #fff;background-color:#0F0D0D;padding: 0 0;position:relative;padding:50px 0;}
.foto_dev{position:absolute;right:0;bottom:0;max-width:100%;}
.pad_y-50{padding:60px 15px}
.font-2{font-size:20px;}
.block_phone-link a{color:#CC9B55;font-size:16px;text-decoration:none;}
.block_phone-link a:hover{opacity:.8;}
/*page 3*/
.catalog_intro{min-height:450px;background-image:url(../img/bg_catal.jpg);background-size:cover;background-position:center center;position:relative;}
.pad_top-2{padding-top:190px;}
.offers{background-color:#F5F1F1;padding:40px 0 0;background-image:url(../img/pr-2.png);background-position:center center;background-size:cover;}
.font-3{font-size:34px;}
.list_offer{list-style:none;position:relative;}
.list_offer li{position:relative;line-height:26px;}
.list_offer li:before{content:'';position:absolute;width:40px;height:1px;background-color:#CC9B55;left:-40px;top:13px;}
.pad_bot-page{padding-bottom:100px;}
/* page 4*/
.category_intro{min-height:450px;background-image:url(../img/bg_category.jpg);background-size:cover;background-position:center center;position:relative;}
.left_sidebar{list-style:none;padding-left:0;position:relative;background-color:#F9F9F9;}
.left_sidebar .bar_item{position: relative;transition:all .3s;width:100%;}
.left_sidebar .bar_item .bar_link{display:block;font-size:16px;line-height:20px;color:#000;padding:15px 5px 15px 15px;font-family:'sfui_reg';}
.left_sidebar .bar_item.active .bar_link{background-color:#CC9B55;}
.left_sidebar .bar_item:hover .bar_link{background-color:#E7B66F;}
.left_sidebar .bar_item.active .bar_link:focus{outline:none;}
.filtr{position:relative;display:flex;padding:15px 0 15px 40px;font-size:20px;line-height:20px;color:#000;font-family:'sfui_semi';justify-content:space-between;transition:all .3s;}
.filtr:hover, .filtr:focus{color:#000;}
.filtr span{position:absolute;left:0;width:20px;height:2px;background-color:#000;top:0;bottom:0;margin:auto;left:3px;}
.filtr span:before{content:'';position:absolute;width:26px;height:2px;background-color:#000;left:-3px;top:-7px;}
.filtr span:after{content:'';position:absolute;width:26px;height:2px;background-color:#000;left:-3px;top:7px;}
.filtr img{transition:all .3s;}
.filtr.collapsed img{transform:rotateZ(180deg);transition:all .3s;}
.card_goods{text-decoration:none;display:flex;height:100%;justify-content:center;}
.card_goods:hover .goods_body{text-decoration:none;box-shadow:0px 4px 10px rgba(15, 13, 13, 0.5);}
.goods_body{background-color:#fff;display:flex;flex-direction:column;align-items:center; box-shadow:0px 4px 10px rgba(15, 13, 13, 0.2);transition:all .3s;height:100%;}
.goods_info{width:100%;background-color:#F9F9F9;padding:30px 15px 15px 15px;position:relative;height:100%;display:flex;flex-direction:column;justify-content:space-between;}
.name_goods{font-size:18px;line-height:20px;color:#CC9B55;font-family:'sfui_reg';}
.name_goods-desc{font-size:13px;line-height:14px;color:#0F0D0D;font-family:'sfui_semi';font-weight:500;}
.name_goods-desc span{color:#9F8E8E;}
.cart_card{position:absolute;bottom:20px;right:15px;}
.pagination .pagination_list{list-style:none;padding:0;display:flex;justify-content:center;width:100%;}
.pagination_list .pagination_list-item .pag_link{font-size:20px;line-height:18px;font-family:'sfui_semi';color:#0F0D0D;text-decoration:underline;transition:all .3s;padding:0 5px;}
.pagination_list .pagination_list-item .pag_link.pag_link:hover{color:#CC9B55;}
.pagination_list .pagination_list-item.active .pag_link{color:#CC9B55;}
/* page 5 */
.black_intro{background-color:#0F0D0D;padding:70px 0;position:relative;}
.black_intro .button_block{bottom:-215px;}
.bold_txt span{font-weight:600;}
.ultra_light-txt{font-size:16px;color:#000;font-family:'sfui_ultra';}
.card_big-price{font-size:32px;color:#0F0D0D;line-height:36px;font-family:'sfui_semi';}
.medium_txt{font-size:16px;color:#0F0D0D;font-family:'sfui_semi';}
.btn_order{position:relative;height:auto;min-width:100%;display:inline-block;padding:10px 20px;bottom:auto;left:auto;color:#CC9B55;font-size:16px;text-align:center;box-shadow:0px 4px 10px rgba(15, 13, 13, 0.2);font-family:'sfui_reg';transform: skew(-20deg);}
.btn_order span{transform:skew(20deg);display:inline-block;}
.card_item.btn_order:hover{color: #CC9B55;background-color:#24262E;}
.card_item.btn_order:hover:before{background-color:#24262E;}
.card_item.btn_order:hover:after{background-color:#24262E;}
.card_item.btn_order:focus{color:#000;background-color:#CC9B55;box-shadow:0px 4px 10px rgba(15, 13, 13, 0.2)}
.card_item.btn_order:focus:before{background-color:#CC9B55}
.card_item.btn_order:focus:after{background-color:#CC9B55}

@media(min-width:992px){
  .filtr.collapsed + .collapse{display:block;}
}
@media(max-width:1199px){
  .box_service{width:180px;}
  .box_service.bg_3{background-position:-23px 0;}
}
@media(max-width:991px){
  .navbar.scrolling-navbar{padding-top:10px;}
  .nav-item.active:before{display:none;}
  .navbar-nav .nav-item .nav-link{font-size:14px;font-family:'sfui_light';}
  .navbar.fixed-top .navbar-collapse, .navbar.sticky-top .navbar-collapse{max-height:100% !important;}
  .button_block{right:0;left:auto;justify-content:start;padding-top:90px;}
  .link_block{border-radius: 5px 0px 0px 5px;}
  .link_block:hover{transform:translateX(-20px);}
  .title_page{font-size:52px;}
  .line_left{border:none;}
  .box_service{margin:0 15px;}
  .foto_dev{position:relative;}
  .catalog_full{background-image:none;}
  .offers{background-image:none;}
  .pos_mobile{position:absolute;top:40px;left:40px;}
  .pad_bot-page{padding-bottom:40px;}
  .black_intro{padding:40px 0;}
  .content{padding:40px 0;}
}
@media(max-width:767px){
  .pad_top{padding-top:150px;}
  .title_page{font-size:35px;line-height:45px;letter-spacing:0.04em;}
  .intro{background-position:-440px center;}
  .title_content{font-size:28px;}
  .title_content-big{font-size:30px;}
  .second_view{padding-top:40px;}
  .box_service{width:218px;}
  .white_title{font-size:30px;line-height:36px;}
  .footer{padding:30px 0;}
  .about_us{padding:40px 0;}
  .content{padding:40px 0;}
  .pad_y-50{padding:40px 15px;}
  .title_content.font-3{font-size:30px;line-height:36px;}
  .pos_mobile{left:20px;}
}
@media(max-width:495px){
  .box_service.bg_2{margin-top:26px;}
}
@media(max-width:330px){
  .box_service{width:100%;background-size:cover !important;height:350px;}
  .box_service.bg_3{background-position:0 0;}
}




