html{scroll-behavior: smooth;}
@font-face{font-family:'sfui_reg';src: url(../font/SFUIDisplay-Regular.ttf);}
@font-face{font-family:'sfui_light';src: url(../font/SFUIDisplay-Light.ttf);}
@font-face{font-family:'sfui_bold';src: url(../font/SFUIDisplay-Bold.ttf);}
@font-face{font-family:'sfui_thin';src: url(../font/SFUIDisplay-Thin.ttf);}
@font-face{font-family:'sfui_semi';src: url(../font/SFUIDisplay-Semibold.ttf);}
body{font-family:'sfui_light';}
.intro{height:100vh;background-image:url(../img/intro_bg.jpg);background-size:cover;background-position:center center;position:relative;}
.navbar{box-shadow:none;}
.navbar.scrolling-navbar{padding-top:40px;}
.btn_search{background:transparent;border:none;}
.navbar.navbar-dark .navbar-nav .nav-item.active>.nav-link{background-color:transparent;}
.navbar.navbar-dark .navbar-nav .nav-item.active{position:relative;transition:all .5s;}
.nav-item:before{opacity:0;left:0;width:0;transition:all .5s;}
.nav-item.active:before{content:'';position:absolute;width:100%;height:7px;background-color:#CC9B55;bottom:10px;opacity:1;left:0;}
.navbar-nav .nav-item .nav-link{font-size:16px;font-family:'sfui_reg';color:#fff;}
.bg_mobile{background:#24262E;height:100%;overflow:scroll;display:block;}
.name_mobile-menu{font-size:17px;line-height:20px;letter-spacing:0.07em;text-transform:uppercase;color:#CC9B55;padding-left:5px;padding-top:40px;}
.phone_link-mobile{font-size:14px;font-family:'sfui_light';color:#fff;}
.phone_link-mobile:hover{color:#fff;opacity:.8;}
.button_block{position:absolute;height:100%;left:0;display:flex;flex-direction:column;justify-content:center;transition:all .5s}
.link_block{display:inline-flex;background:#0F0D0D;color:#CC9B55;font-size:10px;flex-direction:column;align-items:center;text-align:center;padding:5px 3px;border-radius: 0px 5px 5px 0px;min-width:61px;left:0;transition:all .3s;z-index:9999;}
.link_block:hover{color:#CC9B55;transform:translateX(20px);}
.title_page{font-size:49px;line-height:56px;letter-spacing:0.05em;color:#fff;font-family:'sfui_bold';}
.sub_title{font-size:17px;color:#fff;line-height:20px;font-family:'sfui_reg';}
.block_social-desctop{position:absolute;right:0;top:0;bottom:0;margin:auto;display:flex;flex-direction:column;justify-content:center;}
.block_social-desctop .social_link{transform:rotateZ(-90deg);display:inline-block;margin:40px 0;color:#fff;font-size:12px;font-family:'sfui_reg';}
.block_social-desctop .social_link:hover{opacity:.8;}
.pad_top{padding-top:170px;}
.burger{position: relative;width:20px;height:2px;background:#fff;display:inline-block;top:7px;height:100%;}
.btn_mob{display:inline-block;justify-content:center;}
.burger:before{content:'';position:absolute;width:26px;height:2px;background:#fff;bottom:0;}
.burger:after{content:'';position:absolute;width:26px;height:2px;background:#fff;top:0;}
.second_view{padding:80px 0 40px;}
.gray_text{font-size:14px;line-height:20px;text-transform:uppercase;letter-spacing:0.11em;color:#0F0D0D;font-family:'sfui_thin';}
.line_left{border-left:2px solid #CC9B55;}
.title_content{font-size:30px;line-height:38px;color:#0F0D0D;font-family:'sfui_semi';}
.text_content{font-size:16px;line-height:20px;color:#0F0D0D;}
.navbar.scrolling-navbar.top-nav-collapse{background:rgba(0,0,0,.7);}
.title_content-big{font-size:36px;line-height:43px;text-align:center;color:#0F0D0D;font-family:'sfui_semi';}
.catalog{padding:40px 0;background:linear-gradient(180deg,#fff 50%, #F5F1F1 50%);}
.middle_text{font-size:20px;line-height:28px;text-align:center;color:#0F0D0D;font-family:'sfui_thin';}
.box_service{display:block;position:relative;margin:0 -7px;}








@media(max-width:991px){
  .navbar.scrolling-navbar{padding-top:10px;}
  .nav-item.active:before{display:none;}
  .navbar-nav .nav-item .nav-link{font-size:14px;font-family:'sfui_light';}
  .navbar.fixed-top .navbar-collapse, .navbar.sticky-top .navbar-collapse{max-height:100% !important;}
  .button_block{right:0;left:auto;justify-content:start;padding-top:90px;}
  .link_block{border-radius: 5px 0px 0px 5px;}
  .link_block:hover{transform:translateX(-20px);}
  .title_page{font-size:52px;}
  .line_left{border:none;}
}
@media(max-width:767px){
  .pad_top{padding-top:150px;}
  .title_page{font-size:35px;line-height:45px;letter-spacing:0.04em;}
  .intro{background-position:-440px center;}
  .title_content{font-size:28px;}
  .title_content-big{font-size:30px;}
}






