@font-face{font-family: 'open_sans-reg';src:url(../font/OpenSans-Regular.ttf);}
@font-face{font-family: 'open_sans-bold';src:url(../font/OpenSans-Bold.ttf);}
@font-face{font-family: 'open_sans-light';src:url(../font/OpenSans-Light.ttf);}
@font-face{font-family: 'open_sans-extra';src:url(../font/OpenSans-ExtraBold.ttf);}
html{scroll-behavior:smooth;}
body{font-family:'open_sans-reg';color:#303030;}
.wrapper{overflow:hidden;}
.navbar.scrolling-navbar{box-shadow:none; padding-top:30px;}
.navbar.top-nav-collapse{background-color:rgba(255,255,255,.91);}
.navbar.navbar-light .menu .nav-item{padding:5px 15px;}
.navbar.navbar-light .menu .nav-item .nav-link{color:#303030;padding:0;font-family:'open_sans-bold';font-size:14px;border-bottom:2px solid transparent;background:transparent;display:inline-block;}
.navbar.navbar-light .menu .nav-item.active .nav-link{border-bottom:2px solid #247b67;color:#247b67;transition:all .3s;background:transparent;}
.navbar.navbar-light .menu .nav-item .nav-link:hover{color:#247b67;border-bottom:2px solid #247b67;}
.navbar.navbar-light .menu .nav-item.active .nav-link:hover{color:#247b67;}
.bg_white{background-color:rgba(255,255,255,.91);}
.header_contact{display:flex;flex-direction:column;align-items:flex-end;}
.phone_link-header{font-size:20px;color:#303030;font-family:'open_sans-bold';}
.link_order{font-size:14px;font-family:'open_sans-bold';color:#247b24;border-bottom:2px solid rgba(36,123,103,.6);transition:all .3s;}
.link_order:hover{border-color:transparent;color:#247b24;}
.intro{position:relative;height:100vh;background-image:url(../img/intro_bg.jpg);background-size:cover;background-position:0 0;background-repeat:no-repeat;overflow:hidden;}
.cloud_intro{position:absolute;bottom:0;left:0;z-index:1;width:100%;}
.girl_intro{position:absolute;left:0;top:60px;}
.light_sans-midle{font-size:20px;font-family:'open_sans-light';}
.left_line{position:relative;}
.left_line:before{position:absolute;content:'';top:50%;left:0;width:30px;height:1px;background-color:#303030;opacity:.4;}
.title_intro{font-size:32px;font-family:'open_sans-bold';letter-spacing:-1px;}
.title_intro span{font-family:'open_sans-light';}
.block_btn-intro{position:relative;}
.btn_main{display:inline-block;font-size:14px;font-family:'open_sans-bold';color:#fff;text-transform:uppercase;padding:30px 40px;background-color:#40b699;box-shadow:inset 0 -30px 29px rgba(7,40,29,.7),0 36px 30px -10px rgba(19,87,72,.75);border-radius:10px;transition:all .3s;}
.btn_main:hover{color:#fff;box-shadow:inset 0 -15px 29px rgba(7,40,29,.8),0 36px 30px 5px rgba(19,87,72,.75);}
.transparent_txt{font-size:14px;color:rgba(48,48,48,.6);font-family:'open_sans-light';display:inline-block;width:250px;position:relative;float:right;}
.curve{position:absolute;left:-60%;top:-10px;}
.box_name{position:absolute;top:80%;right:0;transition:all .3s;}
.dir_name{position:absolute;z-index:1;background-color:#fff;padding:15px 25px;border-radius:8px;box-shadow:0 5px 20px rgba(0,0,0,.2);transform:skew(-17deg);bottom:30px;right:0;transition:all .3s;}
.dir_name span{font-size:20px;font-family:'open_sans-bold';transform:skew(17deg);display:inline-block;white-space:nowrap;}
.dir_desc{position:absolute;z-index:0;background-color:#fff;padding:20px 25px 15px 25px;border-radius:8px;box-shadow:0 5px 20px rgba(0,0,0,.2);transform:skew(-17deg);bottom:-20px;right:-25px;transition:all .3s;}
.dir_desc span{transform:skew(17deg);display:inline-block;font-size:14px;font-family:'open_sans-light';white-space:nowrap;}
.nav_link-page{position:absolute;top:0;bottom:0;left:6%;margin:auto;display:flex;align-items:center;justify-content:center;z-index:2;}
.num_page{position:relative;padding:15px 0;}
.num_page .num_page-link{font-size:14px;font-family:'open_sans-reg';color:rgba(48,48,48,.5);transition:all .3s;transform:scale(1.0);}
.num_page .num_page-link:hover{color:rgba(48,48,48,1);font-family:'open_sans-extra';transform:scale(1.2);transition:all .3s;display:inline-block;}
.num_page.active .num_page-link{font-family:'open_sans-extra';font-size:20px;}
.num_page.active{padding-bottom:120px;}
.num_page.active:before{content:'';position:absolute;width:1px;height:60px;background-color:#303030;bottom:20px;left:0;right:0;margin:auto;opacity:.5;}
.nav_link-social{position:absolute;top:0;bottom:0;right:5%;margin:auto;display:flex;align-items:center;justify-content:center;z-index:2;}
.social_icon{padding:10px 0;}
.nav_link-social .social_icon .social_link{color:rgba(48,48,48,.5);font-size:20px;transition:all .3s;}
.nav_link-social .social_icon .social_link:hover{color:rgba(48,48,48,1);font-size:20px;}
.wertical_line{display:inline-block;position:relative;width:1px;height:200px;background-color:#303030;opacity:.5;margin:auto;}
.situation{position:relative;padding:50px 0;}
.situation_card{position:relative;border-radius:4px;box-shadow:0 5px 20px rgba(3,3,48,.07);padding:35px 30px;overflow:hidden;height:100%;min-height:210px;display:flex;align-items:center;}
.situation_card .row{width:100%;margin:0}
.img_card{max-height:165px;position:absolute;top:0;bottom:0;margin:auto;}
.card-3{position:absolute;top:30px;right:0;}
.card-4{left:-30px;}
.card-5{right:0;bottom:-77px;}
.card-6{bottom:-50px;}
.line{position:absolute;width:100%;height:10px;top:-5px;background:#fff;}
.rezume{position:relative;padding:100px 0;background-image:url(../img/bg_page-3.png);background-size:cover;background-position: 0 -120px;background-repeat:no-repeat;overflow:hidden;}
.text_min-reg{font-size:14px;font-family:'open_sans-reg';line-height:30px;}
.cirl_page3{position:absolute;top:-60px;left:-120px;max-width:530px;}
.block_btn-page3{position:relative;display:flex;align-items:center;justify-content:start;}
.box_name.page3{bottom:0;left:180px;right:auto;}
.rezults{padding:70px 0;position:relative;}
.slider_body{position:relative;width:100%;}
.slider_item{width:100%;}
.slider_block{box-shadow:0 0 20px 7px rgba(48,48,48,.15);width:100%;padding:30px 15px 100px;}
.slider_item:focus{outline:none;}
.bold_text-slider{font-size:26px;font-family:'open_sans-bold';text-align:center;}
.text_min-light{font-size:14px;font-family:'open_sans-light';line-height:25px;}
.btn_slider{padding:20px 60px;border-radius:6px;}
.slick-slide{padding:30px;}




@media(max-width:1399px){
  .nav_link-page{left:3%;}
  .nav_link-social{right:2%;}
}
@media(max-width:1199px){
  .nav_link-page{left:1%;}
  .cloud_intro{width:auto;}
  .nav_link-social{right:1%;}
  .cirl_page3{max-width:520px;}
  .rezume{background-position:0 -70px;}
}
@media(max-width:991px){
  .intro{height:auto;padding-top:130px;}
  .navbar.scrolling-navbar{padding-top:10px;}
  .navbar.scrolling-navbar.bg_white{padding-bottom:30px;}
  .header_contact{align-items:center;}
  .girl_intro{top:0;max-width:100%;left:0;right:0;margin:auto;}
  .height_mobile{min-height:800px;}
  .box_name{top:35%;right:10%;}
  .nav_link-page{left:2%;}
  .nav_link-social{right:2%;}
  .rezume{padding:50px 0;}
  .mobile_height-mobile{min-height:500px;}
  .cirl_page3{top:0;left:0;right:0;margin:auto;}
  .box_name.page3{bottom:30%;right:50%;}
  .rezume{background-position:0 30px;}
}
@media(max-width:767px) {
  .title_intro{font-size:26px;}
  .height_mobile{min-height:600px;}
  .box_name{top:45%;}
  .card-4{left:0;right:0;}
  .card-5{bottom:0;top:0;}
}
@media(max-width:575px){
  .intro{height:auto;padding-top:80px;}
  .box_name{top:65%;z-index:2;}
  .btn_main{padding:25px 0;width:100%;text-align:center;}
  .title_intro{font-size:23px;text-align:center;}
  .height_mobile{min-height:490px;}
  .nav_link-page, .nav_link-social{display:none;}
  .img_card{max-width:100%;position:relative;}
  .card-5{right:-50px;}
  .card-3{top:0;}
  .situation_card{padding:10px 15px;min-height:175px;}
}