body,
p,
ul, li,
h1, h2, h3, h4, h5, h6,
input,
textarea,
a {
  margin: 0;
  padding: 0;
  list-style-type: none;
  border: none;
  text-decoration: none;
  outline: none;
  color: inherit;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
