@font-face{font-family:'Graphik_black';src:url(../font/GraphikLCG-Black.ttf);font-weight: 900;font-style: normal;}
@font-face{font-family:'Graphik_bold';src:url(../font/GraphikLCG-Bold.ttf);font-weight:bold;font-style:normal;}
@font-face{font-family:'Graphik_light';src:url(../font/GraphikLCG-Light.ttf);font-weight:300;font-style:normal;}
@font-face{font-family:'Graphik_medium';src:url(../font/GraphikLCG-Medium.ttf);font-weight:500;font-style:normal;}
@font-face{font-family:'Graphik_regular';src:url(../font/GraphikLCG-Regular.ttf);font-weight:normal;font-style:normal;}
@font-face{font-family:'Graphik_semibold';src:url(../font/GraphikLCG-Semibold.ttf);font-weight:600;font-style:normal;}
@font-face{font-family:'Graphik_super';src:url(../font/GraphikLCG-Super.ttf);font-weight:normal;font-style:normal;}
@font-face{font-family:'Graphik_thin';src:url(../font/GraphikLCG-Thin.ttf);font-weight:100;font-style:normal;}
@font-face{font-family:'Emily';src:url(../font/emilyaustin.ttf);}
@font-face{font-family:'FuturaPT_heavy';src:url(../font/FuturaPT-Heavy.ttf);}
html{scroll-behavior:smooth;}
body{font-family: 'Graphik_regular';}
*{margin:0;padding:0;box-sizing:border-box;}
.wrapper{overflow:hidden;min-height:9999px;}
.header{position:fixed;padding:10px 0;background-color:#000;width:100%;left:0;top:0;z-index:10;}
.container{max-width:1440px;padding:0 10px;margin:0 auto;position:relative;}
.header-content{width:100%;display:flex;align-items:center;justify-content:space-between;z-index:1;position: relative;}
.header-content__language{display:flex;align-items:center;justify-content:center;padding-top:25px;}
.link-language{color:#474747;text-decoration:none;border-bottom:2px solid transparent;font-size:16px;line-height:16px;font-family:'Graphik_semibold';text-transform:uppercase;margin:0 2px;}
.link-language.active{color:#fff;border-color:#fff;}
.header-content__menu{display:flex;align-items:center;justify-content:space-between;position: relative;padding:0 10px 0 10px;width:100%;}
.content-menu__body{list-style:none;display:flex;align-items:center;margin-bottom:0;height:100%;}
li.content-menu__item{cursor:pointer;}
.content-menu__item{color:#fff;text-decoration:none;margin:0 10px;font-size:18px;line-height:18px;font-family:'Graphik_semibold';display:inline-flex;align-items:center;}
.shevron_menu{padding-left:7px;}
.logo-link{font-size:50px;line-height:55px;color:#fff;text-decoration:none;text-transform:uppercase;font-family:'Graphik_bold';}
.sidebar{position:fixed;left:0;top:0;width:75px;height:100vh;z-index:10;}
.sidebar-body__body{position:relative;left:0;top:0;width:100%;height:100vh;background-color:#000;height:100%;display:flex;flex-direction:column;}
.intro{background-image:url(../img/intro_img.jpg);background-size:cover;background-position:center center;min-height:100vh;position: relative;}
.slider-intro__body{
  width:100%;
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:column;
  height:100vh;
  z-index:0;
}
.sidebar-nav__content{
  height:100%;
  display:flex;
  flex-direction:column;
  justify-content:flex-end;
  align-items:center;
}
.nav-link_sidebar{
  display:flex;
  width:100%;
  align-items:center;
  justify-content:center;
  color:#474747;
  text-decoration:none;
  border-top:0;
  border-bottom: 1px solid #474747;
  font-size:18px;
  line-height:18px;
  min-height:66px;
  font-family:'Graphik_semibold';
  transition:color .3s;
}
.nav-link_sidebar:last-child{
  border-bottom:0;
}
.nav-link_sidebar.online{
  background: -webkit-linear-gradient(360deg, rgba(0, 255, 56, 1), rgba(33, 253, 81, .37));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition:text-shadow .3s;
}
.nav-link_sidebar.online:hover{
  text-shadow: 0 0 1px rgba(0, 255, 56, 1);
}
.nav-link_sidebar:hover{
  color:#fff;
}
.nav-link_sidebar svg path{
  transition:fill .3s;
}
.nav-link_sidebar:hover svg path{
  fill: #fff;
}


@media(max-width:1600px){
  .header-content__menu{padding-left:80px;}
}






















