*{margin:0;padding:0;box-sizing:border-box;}
.wrapper{overflow:hidden;min-height:9999px;}
.header{position:fixed;padding:10px 0;background-color:#000;width:100%;left:0;top:0;z-index:10;}
.container{max-width:1440px;padding:0 10px;margin:0 auto;position:relative;}
.header-content{width:100%;display:flex;align-items:center;justify-content:space-between;z-index:1;position: relative;}
.header-content__language{display:flex;align-items:center;justify-content:center;padding-top:25px;}
.link-language{color:#fff;text-decoration:none;}
.header-content__menu{display:flex;align-items:center;justify-content:space-between;position: relative;padding:0 10px 0 100px;width:100%;}
.content-menu__body{list-style:none;display:flex;align-items:center;margin-bottom:0;height:100%;}
.content-menu__item{color:#fff;text-decoration:none;margin:0 10px;}
.logo-link{font-size:50px;line-height:50px;color:#fff;text-decoration:none;text-transform:uppercase;}
.sidebar{position:fixed;left:0;top:0;width:75px;height:100vh;z-index:10;}
.sidebar-body__body{position:relative;left:0;top:0;width:100%;height:100vh;background-color:#000;height:100%;display:flex;flex-direction:column;}
.intro{background-image:url(../img/intro_img.jpg);background-size:cover;background-position:center center;min-height:100vh;position: relative;}
.slider-intro__body{
  width:100%;
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:column;
  height:100vh;
  z-index:0;
}
.sidebar-nav__content{
  height:100%;
  display:flex;
  flex-direction:column;
  justify-content:flex-end;
  align-items:center;
}
.namv-link_sidebar{
  display:flex;
  width:100%;
  align-items:center;
  justify-content:center;
  color:#474747;
  text-decoration:none;
  border-top:1px solid #474747;
  border-bottom: 1px solid #474747;
  font-size:18px;
  line-height:18px;
  min-height:66px;
}
.namv-link_sidebar:nth-child(1){
  border-top:0;
}
.namv-link_sidebar:last-child{
  border-bottom:0;
}
























