@font-face{font-family:'mont_reg';src:url(../font/Mont-Regular.ttf);}
@font-face{font-family:'mont_bold';src:url(../font/Mont-Bold.ttf);}
@font-face{font-family:'mont_light';src:url(../font/Mont-Light.ttf);}
@font-face{font-family:'mont_semibold';src:url(../font/Mont-SemiBold.ttf);}
html{scroll-behavior:smooth;}  
body{font-size:16px;background-color:#fff;}
.wrapper{overflow:hidden;}
.header{width:100%;position:fixed;top:0;left:0;z-index:2;transition:background .3s ease;}
.header.blur{backdrop-filter:blur(10px);background:rgba(0,0,0,.7);}
.header-nav__top{width:100%;}
.scrolling_top{padding:25px 0;transition:all .3s ease;}
.scrolling_top.scroll{padding:5px 0;}
.nav-top__logo{padding:0 15px;display:flex;flex:1 1 20%;}
.nav-top__contact{padding:0 15px;display:flex;flex:1 1 35%;align-items:center;justify-content:space-between;transition:all .3s;}
.link_phone{font-size:21px;line-height:26px;font-weight:600;font-family:'mont_reg';color:#fff;transition:all .3s;}
.link_phone:hover{color:#fff;}
.btn_content{font-size:12px;line-height:14px;font-family:'mont_reg'; font-weight:600;letter-spacing:-0.02em;color:#fff;text-align:center;display:inline-block;padding:14px 20px 14px 20px;transition:all .3s;border-radius:8px;}
.btn_content.btn_blue{background-color:#0081BB;}
.btn_content.btn_green{background-color:#009C77;}
.btn_content:hover{color:#fff;text-decoration:none;}
.btn_content.btn_blue:hover{background-color:#009C77;}
.btn_content.btn_green:hover{background-color:#0081BB;}
.header-nav__bottom{width:100%;background-color:rgba(0, 10, 32, .4);}
.header-nav__menu{width:100%;display:flex;align-items:center;justify-content:space-between;list-style:none;padding-left:0;margin-bottom:0;}
.menu_item{color:#fff;font-size:17px;font-family:'mont_light';cursor:pointer;padding:13px 5px;position:relative;transition:all .3s;}
.menu_item_hidden{position:absolute;left:0;top:51px;opacity:0;transition:.4s ease;overflow:hidden;height:0;background-color:rgba(0, 10, 32, .85);width:100%;min-width:300px;display:flex;flex-direction:column;}
.menu_item:hover .menu_item_hidden{opacity:1;height:auto;}
.menu_item_hidden .link_menu{display:inline-block;padding:7px 15px 7px;color:#fff;transition:all .3s;}
.menu_item .link_menu{display:inline-block;color:#fff;}
.menu_item .link_menu:hover{text-decoration:none;}
.menu_item span{display:inline-flex;align-items:center;justify-content:space-between;}
.menu_item i{font-size:12px;transition:all .3s;margin-left:5px;}
.menu_item:hover i{transform:rotateZ(180deg);}
.bg_intro{object-fit:cover;object-position:center center;width:1920px;max-height:900px;}
.intro-block__wrapper{position:relative;max-height:100%;overflow:hidden;z-index:1;}
.intro-block__body{position:absolute;width:100%;height:100%;display:flex;align-items:center;left:0;top:0;}
.sub_title{font-size:20px;line-height:26px;font-family:'mont_light';color:#fff;text-transform:uppercase;}
.main_title{font-size:67px;line-height:86px;color:#fff;font-family:'mont_reg';font-weight: 600;}
.intro-block__social{position:absolute;width:100%;height:100%;left:0;top:0;display:flex;align-items:center;justify-content:flex-end;}
.social_item{display:flex;flex-direction:column;width:100%;align-items:flex-end;text-align:center;}
.social_item .link_social{display:inline-block;color:#fff;font-size:18px;min-width:25px;text-align:center;transition:all .3s;margin:3px;}
.social_item .link_social:hover{color:#009C77;}
.intro-block__bullit{position:absolute;width:100%;height:100px;left:0;bottom:0;}
.bullit_item{width:100%;background-color:#0081BB;box-shadow: 0px 4px 12px rgba(0, 10, 32, 0.1);border-radius:8px;position:relative;padding:15px;}
.bullit_text{font-size:12px;line-height:15px;color:#fff;font-family:'mont_reg';}
.bullit_item.left{padding-left:60px;}
.bullit_item.right{padding-right:60px;}
.bullit_item:before{content:'';position:absolute;height:60px;width:60px;border-radius:50%;background-color:#009C77;background-size:auto;background-position:center center;background-repeat:no-repeat;}
.bullit_item.left:before{background-image:url(../img/icon_1.svg);left:-28px;top:0;bottom:0;margin:auto;}
.bullit_item.right:before{background-image:url(../img/icon_2.svg);right:-28px;top:0;bottom:0;margin:auto;}
.header.blur .nav-top__contact{flex:1 1 80%}
.header.blur .nav-top__contact .btn_content{padding:9px 20px 9px 20px;}
.btn_menu{margin-right:15px;position:relative;border:none;background-color:transparent;padding:0;width:40px;height:40px;display:flex;flex-direction: column;justify-content:space-between;}
.btn_menu span{position:absolute;width:100%;height:2px;left:0;top:0;bottom:0;margin:auto;background:#fff;display:inline-block;transition:all .3s ease;}
.btn_menu span:before{content:'';position:absolute;width:100%;height:2px;left:0;top:-13px;background:#fff;transition:all .3s ease;}
.btn_menu span:after{content:'';position:absolute;width:100%;height:2px;left:0;top:13px;background:#fff;transition:all .3s ease;}
.header.blur .btn_menu:not(.active) span:before{top:-10px;}
.header.blur .btn_menu:not(.active) span:after{top:10px;}
.btn_menu.active span{background-color:transparent;}
.btn_menu.active span:before{transform:translateY(13px) rotateZ(-45deg);}
.btn_menu.active span:after{transform:translateY(-13px) rotateZ(45deg);}
.title_content{font-size:38px;line-height:40px;font-family:'mont_semibold';font-weight:600;color:#262626;text-align:center;}
.product{width:100%;padding:85px 0;}
.text_content{font-size:16px;line-height:20px;color:#262626;font-family:'mont_reg';font-weight:600;}
.slider_body{display:flex;flex-direction:column;justify-content:space-between;padding:20px 3px 5px;}
.slider_image{height:347px;position:relative;}
.bg_item_slider{object-fit:cover;}
.slider_footer{padding:15px 0 5px;}
.name_item_slider{font-size:18px;line-height:20px;font-family:'mont_reg';color:#262626;}
.light_text{font-size:14px;line-height:20px;color:#262626;font-family:'mont_light';}
.slider_image .front, .slider_image .back{border-radius: 5px;width:100%;height:100%;overflow:hidden;backface-visibility:hidden;position:absolute;transition:transform .6s linear;}
.slider_image .front{transform:perspective(1500px) rotateY(0);box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);}
.slider_image .back{transform:perspective(1500px) rotateY(180deg);box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);background: linear-gradient(180deg, #EAEAEA 0%, #CFCFCF 100%);padding:25px 20px;}
.slider_image:hover > .front{transform:perspective(1500px) rotateY(-180deg);}
.slider_image:hover > .back{transform:perspective(1500px) rotateY(0deg);}
.bg_item_slider_back{object-fit:cover;object-position:0px 0px;position:absolute;left:0;bottom:0;z-index:-1;}
.green_text{font-size:34px;line-height:32px;color:#009C77;font-family:'mont_semibold';font-weight:bold;}
.back .light_text{font-size:12px;line-height:14px;display:inline-block;z-index:2;}
.slider_nav{position:absolute;right:25px;top:-25px;display:flex;}
.slick-slide{padding:10px;}
.slick-slide:focus{outline:none;}
.slider_nav .button-next, .slider_nav .button-prev{width:30px;height:30px;border-radius:50%;background-color:transparent;border:1px solid #C4C4C4;display:flex;align-items:center;justify-content:center;margin:0 3px;}
.our_manufactureds{width:100%;padding:0 0 85px;}
.scrol_x_box{overflow-x:scroll;width:100%;}
.scrol_x_box .row{flex-wrap:nowrap;}
.scrol_x_box::-webkit-scrollbar { width:5px; height:5px;opacity:1;}
.scrol_x_box::-webkit-scrollbar-button {display:none;}
.scrol_x_box::-webkit-scrollbar-track {  background-color:transparent;}
.scrol_x_box::-webkit-scrollbar-track-piece { background-color: #EBEBEB;opacity:1;border-radius:6px;}
.scrol_x_box::-webkit-scrollbar-thumb { height:50px; background-color: #009C77; border-radius: 6px;}
.scrol_x_box::-webkit-scrollbar-corner { background-color:transparent}
.scrol_x_box::-webkit-resizer { background-color:#009C77}
.body_card{width:100%;height:100%;background-image:url(../img/border_card.png);background-repeat:no-repeat;background-size:100% 100%;padding:25px 20px;display:flex;flex-direction:column;justify-content:space-between;-moz-user-select: none;-khtml-user-select: none;-webkit-user-select: none;user-select: none;}
.name_card{font-size:27px;line-height:34px;font-family:'mont_reg';font-weight:600;color:#009C77;}
.card_text .light_text{font-size:12px;line-height:14px;display:inline-block;}
.body_card:hover{cursor:grab;}
.stage{width:100%;background-color:#F5F5F5;padding:70px 0;}
.stage_card{display:flex;flex-direction:column;justify-content:space-between;}
.bold_name{font-size:27px;line-height:30px;font-family:'mont_reg';font-weight:600;color:#262626;}
.construction{width:100%;padding:80px 0 40px;}
.category_image{border-radius:5px;box-shadow:0px 4px 12px rgba(0, 10, 32, 0.1);overflow:hidden;margin-bottom:15px;transition:all .3s ease;}
.category_image img{object-fit:cover;width:100%;}
.name_category{font-size:18px;line-height:20px;font-family:'mont_semibold';color:#262626;}
.categories_card{display:flex;flex-direction:column;justify-content:space-between;text-decoration:none;}
.categories_card:hover{text-decoration:none;}
.categories_card:hover .category_image{transform:translateY(-4px);}
.invite{width:100%;padding:40px 0;}
.green_head{font-size:27px;line-height:34px;color:#009C77;font-family:'mont_semibold';}
.list_invite_ad{list-style:none;padding-left:30px;display:flex;flex-direction:column;}
.list_invite_ad li{position:relative;font-size:14px;line-height:20px;display:inline-block;font-family:'mont_light';margin-bottom:12px;}
.list_invite_ad li:before{content:'';position:absolute;width:21px;height:8px;background-image:url(../img/green_arrow.png);top:5px;left:-30px;}
.work_object{width:100%;padding:40px 0;}
.object_card{width:100%;height:100%;display:flex;align-items:center;padding:20px 15px;background-image:url(../img/bg_object.png);background-size:100% 100%;background-repeat:no-repeat;}
.object_card span{font-size:18px;font-family:'mont_semibold';line-height:22px;color:#262626;}
.object_card img{max-width:60px;}
.slider_works{width:100%;}
.slider_works_item{padding:15px;}
.slider_works .slick-list{overflow:visible;}
.slick-arrow{z-index:1;width:40px;height:40px;border-radius:50%;border:1px solid #fff;top:42%;}
.slick-arrow:before{display:none;}
.wrapper_image_slider{border-radius:5px;box-shadow:0px 4px 12px rgba(0, 10, 32, 0.1);background-color:#C4C4C4;overflow:hidden;}
.our_works{padding:0 0 40px;}
.order{padding:80px 0;background-image:url(../img/bg_order.jpg);background-size:cover;background-repeat:no-repeat;}
.title_white{font-size:38px;line-height:40px;font-family:'mont_semibold';color:#fff;}
.white_text{font-size:14px;line-height:20px;color:#fff;font-family:'mont_light';}
.input_form{border:none;background-color:transparent;border-bottom:1px solid #fff;width:100%;padding:10px 0;transition:all .3s;color:#fff;font-family:'mont_light';}
.input_form::-webkit-input-placeholder{font-size:14px;color:#BDBDBD;}
.input_form:focus{border-color:#009C77;outline:none;color:#009C77;}
.input_form:focus::-webkit-input-placeholder{color:#009C77;}
.order .btn_green{border:none;margin-top:15px;font-size:16px;padding:18px 0;}
.order .btn_green:focus{outline:none;}
.checkbox{width:100%;cursor:pointer;margin-top:20px;}
.checkbox input[type="checkbox"]{display:none;}
.checkbox span{display:inline-block;padding-left:30px;position:relative;color:#fff;font-size:13px;line-height:18px;font-family:'mont_light';transition:all .3s;}
.checkbox span:before{content:'';position:absolute;background-color:#fff;width:18px;height:18px;border-radius:4px;left:0;top:0;transition:all .3s;background-image:url(../img/galka.svg);background-size:12px 12px;background-position:center center;background-repeat:no-repeat;}
.checkbox input[type="checkbox"]:checked + span:before{background-color:#009C77;}
.our_partner{width:100%;padding:80px 0;}
.partner_body{position:relative;min-height:117px;}
.partner_body .front, .partner_body .back{border-radius: 5px;width:100%;height:100%;overflow:hidden;backface-visibility:hidden;position:absolute;transition:transform .6s linear;text-align:center;padding:58px 10px;}
.partner_body .front{background-image:url(../img/border_not_hover.png);background-size:100% 100%;background-repeat:no-repeat;background-position:center center;transform:perspective(1500px) rotateX(0);}
.partner_body .back{background-image:url(../img/border_hover.png);background-size:100% 100%;background-repeat:no-repeat;background-position:center center;transform:perspective(1500px) rotateX(180deg);}
.partner_body:hover > .front{transform:perspective(1500px) rotateX(-180deg);}
.partner_body:hover > .back{transform:perspective(1500px) rotateX(0deg);}
.img_partners{position:absolute;left:0;right:0;top:0;bottom:0;margin:auto;max-width:100%;}
.why{width:100%;padding:80px 0;background-color:#F5F5F5;}
.select_item{flex: 1 1 20%;padding:0 10px;text-align:center;display:flex;flex-direction:column;align-items:center;justify-content:center;}
.why .name_item_slider{font-family:'mont_semibold';}
.wrap_img{display:flex;min-height:120px;align-items:center;}
.sertificate{padding:80px 0;}
.body_serifacate{background-image:url(../img/border_serificate.png);background-size:100% 100%;background-repeat:no-repeat;padding:3px;cursor:pointer;text-align:center;}
.questions{width:100%;padding:80px 0;background-image:url(../img/bg_quest.jpg);background-size:cover;background-repeat:no-repeat;background-position:top right;}
.text_min_light{font-size:14px;line-height: 20px;color:#262626;font-family:'mont_light';}
.questions .input_form{border-color:#262626;color:#262626;transition:all .3s;}
.questions .input_form::-webkit-input-placeholder{color:#262626;}
.questions .input_form:focus::-webkit-input-placeholder{color:#009C77;}
.questions .input_form:focus{color:#009C77;border-color:#009C77;}
.questions .btn_content{border:none;}
.questions .btn_content:focus{outline:none;}
.questions span{color:#262626;}
.footer{width:100%;background-color:#262626;padding:80px 0;}
.footer .left_block_footer img{max-width:203px;}
.footer .social_item.mobile{flex-direction: row;align-items: center;justify-content: flex-start;}
.left_block_footer{display:flex;flex-direction:column;justify-content:space-between;height:100%;}
.title_footer_menu{font-size:18px;color:#fff;line-height:20px;font-family:'mont_semibold';}
.menu_item_footer{display:flex;flex-direction:column;}
.menu_item_footer .link_menu{font-size:14px;line-height:20px;color:#fff;font-family:'mont_light';margin:10px 0;}
.gray_text{font-size:14px;font-family:'mont_light';line-height:20px;color:#828282;}
.footer_menu{padding-left:0;}
.chevron-down{display:inline-block;width:8px;height:8px;position:relative;}
.chevron-down:before{content:'';position:absolute;width:5px;height:1px;transform:rotateZ(45deg);background-color:#fff;top:0;bottom:0;margin:auto;left:0;}
.chevron-down:after{content:'';position:absolute;width:5px;height:1px;transform:rotateZ(-45deg);background-color:#fff;top:0;bottom:0;margin:auto;right:0;}
.sub_title.other_page{font-size:16px;line-height:20px;letter-spacing:0.04em;}
.second_view .intro-block__body{padding-top:100px;}
.second_view .bg_intro{max-height:700px;}
.second_view_block_2 .slider_body{padding:0;}
.three_view .bullit_item.left:before{background-image:url(../img/icon_3.svg);}
.three_view .bullit_item.right:before{background-image:url(../img/icon_4.svg);}
.three_view .bullit_item{padding-top:22px;padding-bottom:23px;}
.wrap_desc_img{overflow:hidden;border-radius:5px;box-shadow:0px 4px 12px rgba(0, 10, 32, 0.1);}
.descriptions{width:100%;padding:80px 0 40px;}
.text_content.min{font-size:14px;line-height:20px;font-family:'mont_light';font-weight:300;}
.bold_text_content{font-size:17px;line-height:26px;font-family:'mont_semibold';color:#262626;}
.line_left{position:relative;padding-left:15px;}
.line_left:before{content:'';position:absolute;left:0;top:0;bottom:0;width:5px;background-color:#009C77;border-radius:8px;}
.type_profile{padding:40px 0;}
.micro_text{font-size:12px;line-height:16px;font-family:'mont_light';color:#262626;}
.methods{width:100%;padding:40px 0;}
.method_cards{height:100%;width:100%;padding:30px;display:flex;align-items:center;cursor:pointer;background-image:url(../img/border_method.png);background-size:100% 100%;background-repeat:no-repeat;background-position:left top;transition:all .3s;}
.method_card_name{text-align:center;font-size:20px;font-family:'mont_semibold';line-height:24px;color:#009C77;transition:all .3s;}
.method_cards:hover{background-image:url(../img/method_hover.jpg);}
.method_cards:hover .method_card_name{color:#fff;}
.sizes_body{position:relative;overflow:hidden;cursor:pointer;}
.form_name{z-index:1;position:absolute;display:inline-block;width:284px;padding:10px 0;background-color:#009C77;color:#fff;font-size:20px;font-family:'mont_semibold';box-shadow: 0px 4px 8px rgba(0, 10, 32, 0.12);}
.bord_rad_1{border-radius:5px 0 0 0;}
.sizes_forms{width:100%;padding:40px 0 60px;}
.hover_text_block{background-color:rgba(0, 0, 0, .6);opacity:0;transition:all .3s;left:0;top:0;right:0;bottom:0;position:absolute;z-index:0;display:flex;align-items:center;justify-content:center;padding:40px 60px 20px;flex-direction:column;}
.sizes_body:hover .hover_text_block{opacity:1;}
.img_sizes{width:100%;object-fit:cover;object-position:center center;}
.bord_rad_2{border-radius:0 5px 0 0;}
.bord_rad_3{border-radius:0 0 0 5px;}
.bord_rad_4{border-radius:0 0 5px 0;}
.other_options{padding:40px 0;}
.ver_two{height:200px !important;overflow:hidden;border-radius:5px;box-shadow:0px 4px 12px rgba(0, 10, 32, 0.1);}
.ver_two img{width:400px !important;}
.ver_two .light_text{font-size:12px;line-height:17px;}
.ver_two .name_item_slider{font-size:18px;line-height:20px;text-transform:uppercase;font-family:'mont_semibold';}
.select_us{width:100%;padding:80px 0;background-image:url(../img/bg_select.jpg);background-size:cover;background-repeat:no-repeat;background-position:center center;}
.green_item{color:#009C77;}
.select_us .light_text{color:#fff;}
.select_right_block{display:flex;flex-direction:column;justify-content:space-between;height:100%;}
.years_item{background: rgba(28, 27, 27, 0.4);border: 1px solid #FFFFFF;border-radius: 8px;padding:25px 15px;align-items:center;display:flex;flex-direction:column;justify-content:space-between;}
.big_num{font-size:90px;color:#fff;line-height:70px;letter-spacing:0.04em;font-family:'mont_semibold';}
.select_right_block .text_content{font-size:18px;line-height:20px;color:#fff;}
.list_invite_ad.select{color:#fff;font-size:18px;line-height:38px;}
.price_list{width:100%;padding:40px 0;}
.price thead tr{background-color:rgba(0, 10, 32, .03);}
.price thead tr th{padding:10px 15px 10px 0;}
.price tbody tr th{padding:10px 15px 10px 0;}
.price thead th{font-size:18px;color:#262626;line-height:20px;font-family:'mont_semibold';}
.price tbody tr th:first-of-type{color:#009C77;font-family:'mont_semibold';}
.price tbody tr th{font-size:14px;line-height:20px;font-family:'mont_light';}
.price tbody tr{transition:background .3s ease;}
.price tbody tr:hover{background-color:rgba(0, 156, 119, .08);-moz-user-select: none;-khtml-user-select: none;-webkit-user-select: none;user-select: none;}
.cost_calculator{width:100%;padding:40px 0 80px;}
.wrap_calculator{background-image:url(../img/bg_calc.png);background-size:100% 100%;background-repeat:no-repeat;padding:40px;}
.calc_head{font-size:18px;line-height:20px;color:#262626;font-family:'mont_semibold';}
.radio_box{position:relative;width:100%;margin-bottom:0;cursor:pointer;}
.radio_box input[type="radio"]{display:none;}
.radio_box .radio_item{font-family:'mont_semibold';display:inline-block;width:100%;padding:10px 0;font-size:15px;line-height:20px;text-align:center;color:#262626;border: 1px solid #009C77;border-radius:8px;transition:all .3s;}
.radio_box .radio_item:hover{background: rgba(0, 156, 119, 0.2);}
.radio_box input[type="radio"]:checked + .radio_item{background: rgba(0, 156, 119, 0.2);}
.select_radio{position:relative;width:100%;margin-bottom:0;flex:0 0 19%;cursor:pointer;}
.select_radio input[type="radio"]{display:none;}
.select_radio .item_profile{display:flex;align-items:center;flex-direction:column;justify-content:space-between;background-image:url(../img/border_method.png);background-size:100% 100%;background-repeat:no-repeat;padding:15px 20px;}
.wrapper_select{width:100%;display:flex;justify-content:space-between;}
.green_text_mini{font-size:12px;line-height:17px;color:#009C77;font-family:'mont_semibold';transition:all .3s;}
.select_radio:hover .green_text_mini{color:#fff;}
.select_radio:hover .item_profile{background-image:url(../img/const_hover.jpg);transition:all .3s;}
.select_radio input[type="radio"]:checked + .item_profile{background-image:url(../img/const_hover.jpg);}
.select_radio input[type="radio"]:checked + .item_profile>.green_text_mini{color:#fff;}
.cost_calculator .input_form{border-color:#262626;color:#262626;}
.cost_calculator .input_form:focus{border-color:#009c77;color:#009c77;}
.cost_calculator .btn_green{border:none;font-size:16px;line-height:14px;letter-spacing:-0.02em;}
.cost_calculator .btn_green:focus{outline:none;}
.project_on_glass{padding:80px 0 40px;}
.glazing{padding:20px 0 20px;}
.desc_two{padding:20px 0 40px;}
.desc_two .title_content{font-size:37px;}
.desc_two .green_head{font-size:24px;}
.apprts_page .intro-block__body{padding-top:70px;}
.other_opt_appartments .name_item_slider{text-transform:uppercase;}
.other_opt_appartments .light_text{font-size:12px;line-height:17px;display:inline-block;}
.bold_text_content span{font-size:14px;font-family:'mont_light';}
.work_page .bold_text_content{font-size:14px;}
.works_page .slick-arrow{top:50%;}
.works_page .main_title{font-size:60px;line-height:64px;}
.our_works_page{width:100%;padding:80px 0;}
.contacts_block{width:100%;padding:80px 0;}
.wrapper_contact{position:relative;width:100%;}
.wrapper_map{overflow:hidden;border-radius:10px;box-shadow:0px 4px 12px rgba(0, 10, 32, 0.1);z-index:1;}
.wrapper_adress{position:absolute;left:40%;padding:20px 15px;top:15px;bottom:0;background-color:#fff;box-shadow: 0px 4px 12px rgba(0, 10, 32, 0.1);border-radius: 8px;display:flex;flex-direction:column;justify-content:space-between;}
.wrapper_adress .title_adress{font-size:18px;line-height:20px;color:#009C77;font-family:'mont_semibold';}
.wrapper_adress .text_content.bold{font-size:14px;font-family:'mont_semibold';}
.wrapper_contact .wrapper_phone{position:absolute;right:15px;padding:30px 15px;min-width:355px;top:15px;bottom:0;background-color:#d9dde8;border-radius:8px;box-shadow:0px 4px 12px rgba(0, 10, 32, 0.1);border-radius: 8px;overflow:hidden;}
.wrapper_phone .link_phone_contact{font-size:26px;line-height:28px;color:#009C77;font-family:'mont_semibold';z-index:1;position:relative;}
.man_img{position:absolute;bottom:0;right:0;max-width:100%;}
.about_item_card{display:flex;align-items:center;background-image:url(../img/border_card_about.png);background-size:100% 100%;background-repeat:no-repeat;background-position:center center;padding:20px 15px;}
.about_img{max-width:60px;}
.variant{width:100%;padding:40px 0;}
.body_card_variant{height:100%;display:flex;flex-direction:column;justify-content:space-between;background: #FFFFFF;box-shadow: 0px 4px 12px rgba(0, 10, 32, 0.1);border-radius: 8px;padding:20px 15px;}
.name_variant{font-size:22px;line-height:24px;color:#009C77;font-family:'mont_semibold';}
.man_img{z-index:0;}
.wrapper_phone .text_content{z-index:1;}
.wrapper_phone .link_mail_contact{z-index:1;position:relative;color:#262626;font-size:18px;line-height:20px;font-family:'mont_semibold';}




@media(min-width:1200px){
    .header.blur .menu_item_hidden{top:39px;}
}
@media(min-width:992px){
    .content.d-none{display:block !important;}
    .footer.d-none{display:block !important;}
    .header.blur .menu_item{padding:7px 5px;}
    .menu_item_hidden .link_menu:hover{color:#fff;background-color:rgba(0, 10, 32, .9);text-decoration:none;}
    .menu_item:hover{background-color:rgba(0, 10, 32, .75);}
}
@media(max-width:1440px){
    .bg_intro{object-fit:contain;max-width:100%;}
    .second_view .bg_intro{object-fit:cover;max-width:100%;}
}
@media(max-width:1199px){
    .nav-top__contact{flex:1 1 60%}
    .menu_item{font-size:14px;}
    .menu_item_hidden{top:47px;}
    .header.blur .menu_item_hidden{top:35px;}
    .bullit_item:before {width:75px;height:75px;}
    .bg_item_slider{width:100%;}
    .second_view_block_2 .slider_image{height:266px;}
    .method_card_name{font-size:15px;}
    .hover_text_block{padding:70px 15px 20px;}
    .header.blur .menu_item_hidden{top:35px;}
    .al_glazing .main_title{font-size:60px;line-height:60px;}
    .wrapper_adress{left:30%;}
}
@media(max-width:991px){
    .header.blur .menu_item_hidden{top:auto;}
    .scrolling_top{padding:10px 0;}
    .nav-top__contact{display:none;}
    .header-nav__bottom{height:0;overflow:hidden;}
    .header-nav__bottom .header-nav__menu{flex-direction:column;align-items:start;}
    .header-nav__bottom.active{height:auto;background-color:#262626;}
    .menu_item{padding:5px;cursor:inherit;}
    .menu_item i{display:none;}
    .menu_item_hidden{position:relative;height:auto;opacity:1;background-color:transparent;top:auto;}
    .header-nav__top.active{background-color:#262626;}
    .menu_item_hidden .link_menu{padding:7px 0 3px 0;font-size:14px;line-height:20px;margin-bottom:4px;}
    .header.active{position:relative;z-index:999999;}
    .menu_item .title_mobile{font-size:18px;font-weight:600;font-family:'mont_reg';}
    .menu_item span{font-size:18px;font-weight:600;font-family:'mont_reg';}
    .menu_item.desctop{display:none;}
    .social_item.mobile{flex-direction: row;align-items:center;justify-content:flex-start;}
    .social_item.mobile .link_social{font-size:25px;margin-right:10px;}
    .contact_block.mobile{display:flex;flex-direction:column;}
    .bg_intro{max-height:669px;}
    .sub_title{font-size:16px;line-height:20px;}
    .main_title{font-size:48px;line-height:61px;}
    .bullit_item:before {width:60px;height:60px;}
    .slider_image{height:270px;}
    .slider_nav{right:50%;transform:translateX(50%);bottom:-30px;top:auto;}
    .stage_card{padding:20px 0;}
    .slick-next{right:27px;}
    .slick-prev{left:27px;}
    .order{background-position:top left;}
    .our_partner{padding:40px 0;}
    .why{padding:50px 0;}
    .select_item{flex: 1 1 33%;}
    .sertificate{padding:40px 0;}
    .questions{padding:50px 0;}
    .footer{padding:40px 0;}
    .wrap_desc_img img{width:100%;object-fit:cover;max-height:377px;}
    .hover_text_block{padding:70px 50px 20px;}
    .bord_rad_1, .bord_rad_2, .bord_rad_3, .bord_rad_4{border-radius:5px;box-shadow:0px 4px 12px rgba(0, 10, 32, 0.1);}
    .sizes_body{max-height:455px;}
    .img_sizes{width:700px;}
    .select_us{padding:50px 0;}
    .price thead th{font-size:15px;}
    .select_radio{flex:0 0 49%;margin-bottom:15px;}
    .wrapper_select{flex-wrap:wrap;justify-content:space-between;}
    .wrap_calculator{padding:20px;background-image:url(../img/bg_calc_mobile.png);}
    .al_glazing .bg_intro{max-height:750px;max-width:1440px;object-position:center center;}
    .works_page .bg_intro{min-height:450px}
    .about_item_card{flex-direction:column;text-align:center;}
    .wrapper_adress{position:relative;left:auto;}
    .wrapper_contact .wrapper_phone{position:relative;right:auto;min-height:300px;}
    .man_img{right:0;bottom:0;}
}
@media(max-width:767px){
    .intro-block__body{display:block;padding-top:140px;}
    .intro-block__bullit{bottom:100px;}
    .bullit_item.right{padding-right:15px;padding-left:60px;}
    .bullit_item.right:before{left:-31px;right:auto;}
    .bullit_item.left:before{left:-31px;}
    .intro-block__social{display:block;bottom:15px;height:40px;top:auto;}
    .intro-block__social .social_item{flex-direction:row;align-items:center;justify-content:center;}
    .bg_intro{object-position: -316px 0;max-width:1440px;object-fit:none;}
    .bg_item_slider_back {max-width:100%;}
    .back .light_text{text-shadow:0 0 5px rgba(255,255,255,1);}
    .title_content{font-size:30px;}
    .product{padding:40px 0;}
    .slider_body{padding-top:5px;}
    .our_manufactureds{padding:40px 0;}
    .stage{padding:30px 0;}
    .construction{padding:40px 0 20px;}
    .invite{padding:0 0 40px;}
    .work_object{padding:0 0 40px;}
    .object_card img{max-width:30px;}
    .object_card span{font-size:10px;line-height:12px;}
    .object_card{padding:15px 10px;}
    .slider_works_item{padding:7px;}
    .slick-next{right:32px;}
    .slick-prev{left:32px;}
    .wrapper_image_slider{max-height:260px;}
    .slick-arrow{top:38%;}
    .title_white{font-size:30px;line-height:34px;}
    .order{padding:50px 0;}
    .partner_body .front, .partner_body .back{padding:40px 10px;}
    .partner_body{min-height:80px;}
    .select_item{flex: 1 1 50%;}
    .menu_item_footer{text-align:center;}
    .title_footer_menu{text-align:center;}
    .footer .social_item.mobile{justify-content:center;text-align:center;}
    .footer .contact_block.mobile{justify-content:center;text-align:center;}
    .gray_text{text-align:center;}
    .footer_menu{margin-bottom:0;}
    .second_view .intro-block__body{padding-top:150px;}
    .second_view .bg_intro{max-height:550px;object-fit:cover;object-position:0 0;max-width:1440px;}
    .product.second_view_block_2{padding-bottom:0;}
    .product.second_view_block_2 + .our_manufactureds{padding-top:20px;}
    .main_title.min_title{font-size:40px;line-height:51px;}
    .descriptions{width:100%;padding:40px 0 20px;}
    .type_profile{padding:20px 0;}
    .methods{padding:20px 0;}
    .method_card_name{font-size:20px;}
    .hover_text_block{padding:70px 20px 30px;opacity:1;}
    .form_name{width:100%;position: relative;}
    .price tbody tr th{font-size:12px;}
    .wrapper_price{overflow-x:scroll;}
    .price{white-space:nowrap;}
    .wrapper_price::-webkit-scrollbar { width:5px; height:5px;opacity:1;}
    .wrapper_price::-webkit-scrollbar-button {display:none;}
    .wrapper_price::-webkit-scrollbar-track {  background-color:transparent;}
    .wrapper_price::-webkit-scrollbar-track-piece { background-color: #EBEBEB;opacity:1;border-radius:6px;}
    .wrapper_price::-webkit-scrollbar-thumb { height:50px; background-color: #009C77; border-radius: 6px;}
    .wrapper_price::-webkit-scrollbar-corner { background-color:transparent}
    .wrapper_price::-webkit-resizer { background-color:#009C77}
    .wrap_calculator{padding:20px 10px;}
    .cost_calculator{padding:40px 0;}
    .sizes_forms{padding:40px 0 0;}
    .al_glazing .main_title{font-size:40px;line-height:42px;}
    .al_glazing .bg_intro{max-height:728px;object-position:-455px 0;}
    .project_on_glass{padding:40px 0 0;}
    .desc_two{padding:0 0 40px;}
    .desc_two .title_content{font-size:30px;}
    .desc_two .green_head{font-size:22px;line-height:26px;}
    .works_page .main_title{font-size:36px;line-height:46px;}
}

@media(max-width:575px){
    .bg_intro{max-height:100%;}
    .intro-block__wrapper{max-height:669px;}
    .intro-block__body{padding-top:166px;}
    .slider_image{height:195px;}
    .bg_item_slider{height:100%;}
    .category_image {max-height:300px;}
    .wrapper_image_slider{height:230px !important;height:100%;}
    .wrapper_image_slider img{width:500px;height:250px;object-fit:cover;object-position:0 0;}
    .slick-arrow{width:20px;height:20px;top:40%;}
    .slick-arrow img{max-width:6px;}
    .slick-next{right:5px;}
    .slick-prev{left:5px;}
    .order{background-image:url(../img/bg_form_mobile.jpg);}
    .checkbox span{font-size:10px;}
    .select_item{flex: 1 1 100%;}
    .second_view .bg_intro{object-position: -137px -53px;}
    .second_view_block_2 .slider_image{height:195px;}
    .hover_text_block{padding:80px 15px 20px;}
    .ver_two img{width:700px !important;}
    .select_radio{flex:0 0 47%;}
    .select_radio .item_profile{padding:15px 5px;}
    .al_glazing .bg_intro{object-position:-655px 0;}
    .al_glazing .intro-block__body{padding-top:120px;}
    .glazing .text_content.min{font-size:11px;line-height:14px;}
    .page_ap .sizes_body{max-height:555px;}
    .fire_page .main_title.min_title{font-size:30px;line-height:38px;}
    .works_page .intro-block__body{padding-top:100px;}
    .wrapper_contact .wrapper_phone{min-height:400px;}
}
@media(max-width:400px){
    .intro-block__body{padding-top:126px;}
    .bullit_item.right{padding-left:40px;padding-right:10px;}
    .bullit_item.left{padding-left:40px;padding-right:10px;}
    .bullit_text{font-size:10px;}
    .btn_menu{width:30px;height:30px;}
    .btn_menu span:before{top:-10px;}
    .btn_menu span:after{top:10px;}
    .btn_menu.active span:before{transform:translateY(10px) rotateZ(-45deg);}
    .btn_menu.active span:after{transform:translateY(-10px) rotateZ(45deg);}
    .bg_intro{object-position: -353px -43px;}
    .name_item_slider {font-size:16px;}
    .wrapper_text_slider{width:100%;}
    .wrapper_text_slider .light_text{font-size:11px;line-height:13px;display:inline-block;}
    .wrapper_text_slider .name_item_slider{font-size:15px;line-height:18px;}
    .method_cards img{max-width:111px;}
    .al_glazing .intro-block__body{padding-top:100px;}
    .page_ap .sizes_body{min-height:625px;}
    .fire_page .bg_intro {object-position: -517px 0px;}
    .works_page .bg_intro{min-height:640px}
}
@media (max-width:330px){
    .bg_intro {object-position: -407px -53px;}
}
