html{scroll-behavior:smooth;}
.wrapper{overflow-x:hidden;}
.section__content{
  max-width:1600px;
  width:100%;
  margin:auto;
  position:relative;
}
.content_box{
  padding:90px 0;
}
.header__content{
  position:relative;
  width:100%;
} 
.header{
  position:fixed;
  left:0;
  top:0;
  width:100%;
  z-index:50;
}
.header__menu-block{
  display:flex;
  align-items:center;
  justify-content:space-between;
}
.top__menu-list{
  list-style:none;
  display:flex;
  margin:0;
  gap:42px;
  transform:translateX(74px);
}
.sidebar{
  position:fixed;
  top:0;
  z-index:100;
  height:100vh;
}
.sidebar__body{
  height:100%;
  backdrop-filter: blur(0px);
  width:0;
  transition: .2s ease;
}
.sidebar__body.open{
  background: rgba(28, 84, 91, 0.80);
  backdrop-filter: blur(5px);
  z-index:120;
  width:370px;
}
.btn_menu{
  border:none;
  background-color:transparent;
  outline:none;
  width:25px;
  height:18px;
  position:relative;
}
.btn_menu span{
  width:100%;
  height:2px;
  border-radius:2px;
  background-color:#fff;
  position:absolute;
  right:0;
  top:53%;
  transform:translateY(-50%);
  transition:all .3s ease;
}
.btn_menu span:nth-child(1){
  top:4px;
  -webkit-animation: span1_close 0.6s forwards cubic-bezier(0.8, 0.5, 0.2, 1.4);
  animation: span1_close 0.6s forwards cubic-bezier(0.8, 0.5, 0.2, 1.4);
}
.btn_menu span:nth-child(2){
  -webkit-animation: span2_close 0.6s forwards cubic-bezier(0.8, 0.5, 0.2, 1.4);
  animation: span2_close 0.6s forwards cubic-bezier(0.8, 0.5, 0.2, 1.4);
  right:0;
}
.btn_menu span:nth-child(3) {
  top:15px;
  -webkit-animation: span3_close 0.6s forwards cubic-bezier(0.8, 0.5, 0.2, 1.4);
  animation: span3_close 0.6s forwards cubic-bezier(0.8, 0.5, 0.2, 1.4);
}
.btn_menu.active span:nth-child(2){
  -webkit-animation: span2 1.3s forwards cubic-bezier(0.8, 0.5, 0.2, 1.4);
  animation: span2 1.3s forwards cubic-bezier(0.8, 0.5, 0.2, 1.4);
}
.btn_menu.active span:nth-child(1) {
  -webkit-animation: span1 0.8s forwards cubic-bezier(0.8, 0.5, 0.2, 1.4);
  animation: span1 0.8s forwards cubic-bezier(0.8, 0.5, 0.2, 1.4);
  -webkit-animation-delay: .7s;
  animation-delay: .7s;
}
.btn_menu.active span:nth-child(3) {
  -webkit-animation: span3 0.8s forwards cubic-bezier(0.8, 0.5, 0.2, 1.4);
  animation: span3 0.8s forwards cubic-bezier(0.8, 0.5, 0.2, 1.4);
  -webkit-animation-delay: .4s;
  animation-delay: .4s;
}
@-webkit-keyframes span1 { 0% { -webkit-transform: translate(0, 0); transform: translate(0, 0); }
  60% { -webkit-transform: rotate(-110deg) translate(0px, 0px); transform: rotate(-110deg) translate(0px, 0px); }
  100% { -webkit-transform: rotate(-45deg) translate(-5px, 5px); transform: rotate(-45deg) translate(-5px, 5px); } }

@keyframes span1 { 0% { -webkit-transform: translate(0, 0); transform: translate(0, 0); }
  60% { -webkit-transform: rotate(-110deg) translate(0px, 0px); transform: rotate(-110deg) translate(0px, 0px); }
  100% { -webkit-transform: rotate(-45deg) translate(-5px, 5px); transform: rotate(-45deg) translate(-5px, 5px); } }

@-webkit-keyframes span2 { 0% { -webkit-transform: translate(0, 0) scale(1); transform: translate(0, 0) scale(1); }
  20% { width: 5px;
    border-radius: 50%;
    -webkit-transform: translate(0, 0) scale(1);
            transform: translate(0, 0) scale(1); }
  40% { width: 5px;
    border-radius: 50%;
    -webkit-transform: translate(0, 0) scale(1);
            transform: translate(0, 0) scale(1); }
  50% { width: 5px;
    border-radius: 50%;
    -webkit-transform: translate(0, 18px) scale(1);
            transform: translate(0, 18px) scale(1); }
  80% { width: 5px;
    border-radius: 50%;
    -webkit-transform: translate(0, -16px) scale(1);
            transform: translate(0, -16px) scale(1); }
  100% { width: 5px;
    border-radius: 50%;
    -webkit-transform: translate(0, 30px) scale(0);
            transform: translate(0, 30px) scale(0); } }

@keyframes span2 { 0% { -webkit-transform: translate(0, 0) scale(1); transform: translate(0, 0) scale(1); }
  20% { width: 5px;
    border-radius: 50%;
    -webkit-transform: translate(0, 0) scale(1);
            transform: translate(0, 0) scale(1); }
  40% { width: 5px;
    border-radius: 50%;
    -webkit-transform: translate(0, 0) scale(1);
            transform: translate(0, 0) scale(1); }
  50% { width: 5px;
    border-radius: 50%;
    -webkit-transform: translate(0, 18px) scale(1);
            transform: translate(0, 18px) scale(1); }
  80% { width: 5px;
    border-radius: 50%;
    -webkit-transform: translate(0, -16px) scale(1);
            transform: translate(0, -16px) scale(1); }
  100% { width: 5px;
    border-radius: 50%;
    -webkit-transform: translate(0, 30px) scale(0);
            transform: translate(0, 30px) scale(0); } }

@-webkit-keyframes span3 { 0% { -webkit-transform: translate(0, 0); transform: translate(0, 0); }
  60% { -webkit-transform: rotate(80deg) translate(-2px, -2px); transform: rotate(80deg) translate(-2px, -2px); }
  100% { -webkit-transform: rotate(45deg) translate(-3px, -3px); transform: rotate(45deg) translate(-3px, -3px); } }

@keyframes span3 { 0% { -webkit-transform: translate(0, 0); transform: translate(0, 0); }
  60% { -webkit-transform: rotate(80deg) translate(-2px, -2px); transform: rotate(80deg) translate(-2px, -2px); }
  100% { -webkit-transform: rotate(45deg) translate(-3px, -3px); transform: rotate(45deg) translate(-3px, -3px); } }

@-webkit-keyframes span1_close { 0% { -webkit-transform: rotate(-45deg) translate(-5px, 5px); transform: rotate(-45deg) translate(-5px, 5px); }
  100% { -webkit-transform: rotate(0deg) translate(0, 0); transform: rotate(0deg) translate(0, 0); } }

@keyframes span1_close { 0% { -webkit-transform: rotate(-45deg) translate(-5px, 5px); transform: rotate(-45deg) translate(-5px, 5px); }
  100% { -webkit-transform: rotate(0deg) translate(0, 0); transform: rotate(0deg) translate(0, 0); } }

@-webkit-keyframes span2_close { 0% { -webkit-transform: translate(0, 30px) scale(0); transform: translate(0, 30px) scale(0); }
  100% { -webkit-transform: translate(0, 0) scale(1); transform: translate(0, 0) scale(1); } }

@keyframes span2_close { 0% { -webkit-transform: translate(0, 30px) scale(0); transform: translate(0, 30px) scale(0); }
  100% { -webkit-transform: translate(0, 0) scale(1); transform: translate(0, 0) scale(1); } }

@-webkit-keyframes span3_close { 0% { -webkit-transform: rotate(45deg) translate(-7px, -7px); transform: rotate(45deg) translate(-7px, -7px); }
  100% { -webkit-transform: rotate(0deg) translate(0, 0); transform: rotate(0deg) translate(0, 0); } }

@keyframes span3_close { 0% { -webkit-transform: rotate(45deg) translate(-7px, -7px); transform: rotate(45deg) translate(-7px, -7px); }
  100% { -webkit-transform: rotate(0deg) translate(0, 0); transform: rotate(0deg) translate(0, 0); } }
.sidebar__body-list{
  padding:30px 15px 20px 39px;
}
.slider__intro{
  position:relative;
}
.slider__intro .container.nav_container{
  position:absolute;
  z-index:10;
  top:0;
  left:0;
  right:0;
  margin:auto;
}
.slider_item{
  position:relative;
}
.slider_bg-intro{
  position:relative;
}
.frame_bg{
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  z-index:1;
  background-color:rgba(0,0,0,.5);
  transition:.3s
}
.video_btn{
  position:absolute;
  left:50%;
  top:50%;
  transform:translate(-50%);
  z-index:101;
  width:50px;
  height:50px;
  background-image:url(../svg/play.svg);
  background-size:cover;
  background-position:center;
  cursor:pointer;
  border-radius:50%;
  animation: scale 3s ease infinite;
}
.video_btn.active{
  background-image:none;
  opacity: .5;
  background-color: #315861;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:15px;
}
.video_btn:not(.active) .pause{
  display:none;
}
.video_btn.active .pause{
  max-width:100%;
  display:block;
}
@keyframes scale{
  0%{
    transform:scale(1)
  }
  50%{
    transform: scale(1.3)
  }
  100%{
    transform:scale(1)
  }
}
.video_slider{
  z-index:0;
}
.slider_content{
  position:absolute;
  width:100%;
  height:100%;
  display:flex;
  align-items:center;
  justify-content:center;
  z-index:10;
  left:0;
  top:0;
}
.dots_custom{
  position:absolute;
  right:8px;
  top:376px;
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:column;
  transform:translate(0, -60%);
}
.dots_custom .slick-dots-custom button{
  background-color:#6C6C6C;
  border:none;
  outline:none;
  width:4px;
  height:16px;
  border-radius:2px;
  font-size:0;
  padding:0;
  transition:.3s;
}
.dots_custom .slick-dots-custom button:hover{
  background-color:#fff;
}
.slick-arrow{
  background-color:transparent;
  border:none;
  outline:none;
  color:#fff;
}
.dots_custom .slick-arrow span svg path {
  transition:.3s ease;
}
.dots_custom .slick-arrow:hover span svg path{
  stroke:#fff;
}
.dots_custom .slick-dots-custom .slick-active button{
  background-color:#fff;
}
.slick-prev{
  order:1;
  transform:rotateX(-180deg);
}
.slick-next{
  order:3;
}
.slick-dots-custom{
  order:2;
  list-style:none;
  padding:0;
  margin:0;
}
.menu_link{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  line-height:130%;
  text-decoration:none;
  font-family:'Neue Haas Unica';
  font-weight:300;
}
.btn_main{
  border:none;
  outline:none;
  text-decoration:none;
  display:inline-flex;
  align-items:center;
  justify-content:center;
  border-radius:6px;
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  line-height:130%;
  min-height:52px;
  letter-spacing:0.01em;
  padding:5px 25px 5px 25px;
}
.btn_main.btn_color-green{
  background-color:#1C545B;
}
.btn_main.btn_color-white{
  background-color:transparent;
  border:1px solid #ffd;
  padding: 5px 12px;
  gap:7px;
}
.right_block{
  display:flex;
  gap:10px;
}
.header__menu-block{
  padding:23px 15px;
}
.list__item{
  padding-left:0;
  list-style:none;
}
.name_link{
  transition:.3s ease;
}
.sidebar__body:not(.open) .name_link{
  opacity:0;
  display:none;
}
.sidebar__body:not(.open) .arrow_link {
  opacity: 0;
  display: none;
}
.link__item{
  padding-top:31px;
  padding-left:2px;
}
.link_menu{
  display:flex;
  align-items:center;
  white-space:nowrap;
  text-decoration:none;
  transition:all .3s ease;
}
.link_menu.align_start{
  align-items:start;
}
.link_menu .name_link{
  color: #FFF;
  font-size: 16px;
  font-family: Neue Haas Unica;
  line-height: 130%;
  padding:3px 0 0 20px;
}
.link_menu .arrow_link{
  transform:translate(10px, 1px);
  transition:transform .2s ease;
}
.link_menu .arrow_link svg path{
  stroke:#fff;
}
.link_menu:not(.collapsed) .arrow_link{
  transform:rotateX(180deg) translate(10px, -6px);
}
.link_menu:hover .arrow_link svg path {
  stroke: #C6C6C6;
}
.link_menu .icon_link svg path {
  transition:.2s ease;
} 
.sidebar__body:not(.open) .link_menu:hover .icon_link svg path{
  fill:#fff;
}
.sidebar__body.open .link_menu .icon_link:not(.mail_icon) svg path {
  fill: #fff;
}
.sidebar__body.open .link_menu:hover .icon_link svg path {
  fill: #C6C6C6;
}
.sidebar__body.open .link_menu:hover .icon_link.mail_icon svg path {
  stroke: #C6C6C6;
  fill:transparent;
}
.link_menu:hover .name_link{
  color: #C6C6C6;
}
.link__item.drop_menu-item{
  padding-top:0;
}
.drop_menu{
  flex-direction:column;
}
.nav-tabs{
  border:none;
}
.sidebar__body:not(.open) .collapse{
  display:none;
}



.wrapper__search-block{
  position:absolute;
  left:0;
  right:0;
  width:100%;
  bottom:57px;
}
.search_block-body{
  background-color:#fff;
  border-radius:6px;
  padding:28px 33px 33px 33px;
}
.select_body{
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  border-right:1px solid #A8BFC2;
  height:100%;
}
.select_name{
  font-size:16px;
  line-height:130%;
  font-family:'Neue Haas Unica';
  font-weight:400;
  color:#848A94;
  margin-bottom:6px;
}

.select_dropdown{
  position:relative;
  width:100%;
  height:100%;
}
.select_dropdown:before{
  content:'';
  position:absolute;
  width:8px;
  height:8px;
  z-index:11111;
  right:20px;
  top:10px;
  border:2px solid #1C1C1C;
  border-top:2px solid #fff;
  border-right:2px solid #fff;
  transform:rotate(-45deg);
  transition:.5s;
  pointer-events:none;
}
.select_dropdown.active:before{
  top:15px;
  transform:rotate(-225deg);
}
.select_view{
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  cursor:pointer;
  background-color:#fff;
  border:none;
  outline:none;
  font-weight: 500;
  line-height: 130%;
  font-size: 22px;
  font-family: 'Neue Haas Unica';
  color:#1C1C1C;
  transition:.3s ease;
  padding-right:40px;
  white-space:nowrap;
  text-overflow:ellipsis;
}
.select_view:hover{
  color:#1C545B;
}
.select_dropdown.active .option{
  display:block;
}
.option{
  position:absolute;
  left:-25px;
  top:55px;
  width:536px;
  max-height:300px;
  padding:20px;
  overflow-y: scroll;
  background-color:#fff;
  border-radius:6px;
  box-shadow: 0px 0px 24px 0px rgba(35, 32, 32, 0.10);
  z-index: 111111;
  display:none;
}
.option_item{
  margin:3px 0;
  padding-left:15px;
  cursor:pointer;
  transition:.3s ease;
  font-family: 'Neue Haas Unica';
  font-weight:400;
  color:#1C1C1C;
}
.option_item.main_city{
  padding-left:0;
  font-weight:500;
}
.option_item:hover{
  color:#1C545B;
}
.calendar_item{
  border:none;
  outline:none;
  font-size:22px;
  font-family: 'Neue Haas Unica';
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  color:#1C1C1C;
  cursor:pointer;
  width:100%;
}
.calendar_item:hover,
.calendar_item:focus{
  color:#1C545B;
}
.drp-buttons{
  display:none!important;
}  
.daterangepicker:before,
.daterangepicker:after{
  display:none;
}
.daterangepicker{
  font-family:'Neue Haas Unica';
  font-size:16px;
  font-weight:500;
  margin-top:25px;
}
.btn_form{
  width:100%;
  height:100%;
}



/* section two */
.name_block{
  color:#848A94;
  font-size: 16px;
  font-family: 'Neue Haas Unica';
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  text-transform: uppercase;
  padding-left:3px;
}
.title_block{
  color:#1C545B;
  font-size: 36px;
  font-family: Neue Haas Unica;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  text-transform: uppercase;
  padding-left: 3px;
}
.animation__number{
  width:100%;
  position:relative;
}
.phone_container{
  width:284px;
  height:570px;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  background-image:url(../img/phone_bg.png);
  background-size:250px 546px;
  background-position:16px 8px;
  background-repeat:no-repeat;
  border-radius:45px;
}
.phone_frame{
  pointer-events:none;
}
.phone_screen-block{
  width:246px;
  height:299px;
  background-color:#F4F4F4;
  position:absolute;
  padding:10px 7px;
  left:18px;
  bottom:17px;
  border-radius:10px 10px 25px 25px;
}
.top_line{
  display:inline-block;
  width:24px;
  height: 2px;
  background-color:#CACFD2;
  position:absolute;
  left:50%;
  top:10px;
  transform:translateX(-50%);
}
.name_screen{
  color:#1C1C1C;
  font-size: 16px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align:center;
}
.phone_screen-block .name_screen{
  margin-top:10px;
}
.box_settings{
  position:relative;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  width:100%;
  max-height:100%;
}
.settings{
  display:flex;
  align-items:center;
  justify-content:space-between;
  flex-direction:row-reverse;
}
.settings .settings_input[type="radio"]{
  display:none;
}
.settings .checked{
  width:35px;
  height:22px;
  border-radius:4px;
  background-color:#A8BFC2;
  transition:.3s ease;
}
.settings .checked:before{
  width:18px;
  height:18px;
  border-radius:2px;
}
