html{scroll-behavior: smooth;}
@font-face{font-family:'pr-serif';src:url(../font/pt-serif.ttf);}
html, body{height:100%;}
.intro{width:100%;min-height:100vh;position: relative;}
.intro_slider{min-height:100%;position: relative;}
.intro_slider-item{position:relative;background-image:url(../img/intro_img.jpg);background-size:cover;background-repeat:no-repeat;background-position:center center;}
.slick-slider .slick-list{height:100vh;}
.slick-track{height:100%;}
.slick-arrow{position:absolute;background-color:transparent;top:0;bottom:0;height:30px;width:30px;margin:auto;border:none;}
.slick-arrow:hover,.slick-arrow:focus{outline:none;}
.slick-next{right:30px;background-image:url(../svg/arrow.svg);background-size:auto;background-repeat:no-repeat;}
.slick-next:hover{background-image:url(../svg/arrow_hover.svg);transform:rotateY(180deg) translateX(8px);}
.slick-prev{left:30px;z-index:1;background-image:url(../svg/arrow.svg);background-size:auto;background-repeat:no-repeat;transform:rotateY(180deg) translateX(-8px);}
.slick-prev:hover{background-image:url(../svg/arrow_hover.svg);transform:rotateY(0deg) translateX(15px)}
.intro_slider-header{color:#FFF;font-size:80px;font-family:'pt-serif';margin:0;font-weight:normal;padding:0 15px;}
.intro_slider-subhead{color:#008EFF;font-size:80px;font-family:'pt-serif';font-weight:normal;padding:0 15px;}
.btn_box-intro{margin-top:40px;}
.btn_consult{display:block;background-color:#008EFF;color:#fff;text-transform:uppercase;padding:10px 40px;transition:all .3s;}
.btn_consult:hover{color:#fff;text-decoration:none;background-color:#0983ff;}
.white_min-desc{color:#fff;font-size:12px;font-family:'Open Sans';}
.bottom_link{position: absolute;left:0;right:0;bottom:30px;margin:auto;width:40px;animation: arrow 2s infinite ease-in-out;transition:all 2s;}
@keyframes arrow{
   0%{
     transform:translateY(5px);
   }
   50%{
     transform:translateY(15px);
   }
   100%{
     transform:translateY(5px);
   }
}





@media(max-width:1199px){
  .intro_slider-header,.intro_slider-subhead{font-size:70px;}
}
@media(max-width:991px){
  .intro_slider-header,.intro_slider-subhead{font-size:60px;}
}
@media(max-width:767px) {
  .intro_slider-header,.intro_slider-subhead {font-size: 50px;}
  .slick-next{right:15px;}
  .slick-prev{left:15px;}
}
@media(max-width:575px) {
  .intro_slider-header,.intro_slider-subhead {font-size: 35px;}
}
