html{scroll-behavior: smooth;}
@font-face{font-family:'pr-serif';src:url(../font/pt-serif.ttf);}
html, body{height:100%;}
.intro{width:100%;min-height:100vh;position: relative;}
.intro_slider{min-height:100%;position: relative;}
.intro_slider-item{position:relative;background-image:url(../img/intro_img.jpg);background-size:cover;background-repeat:no-repeat;background-position:center center;}
.slick-slider:not(.prof_slider) .slick-list{height:100vh;}
.slick-track{height:100%;display:flex;}
.slick-arrow{position:absolute;background-color:transparent;top:0;bottom:0;height:30px;width:30px;margin:auto;border:none;}
.slick-arrow:hover,.slick-arrow:focus{outline:none;}
.slick-next{right:30px;z-index:10;background-image:url(../svg/arrow.svg);background-size:auto;background-repeat:no-repeat;}
.slick-next:hover{background-image:url(../svg/arrow_hover.svg);transform:rotateY(180deg) translateX(8px);}
.slick-prev{left:30px;z-index:10;background-image:url(../svg/arrow.svg);background-size:auto;background-repeat:no-repeat;transform:rotateY(180deg) translateX(-8px);}
.slick-prev:hover{background-image:url(../svg/arrow_hover.svg);transform:rotateY(0deg) translateX(15px)}
.intro_slider-header{color:#FFF;font-size:80px;font-family:'pt-serif';margin:0;font-weight:normal;padding:0 15px;}
.intro_slider-subhead{color:#008EFF;font-size:80px;font-family:'pt-serif';font-weight:normal;padding:0 15px;}
.btn_box-intro{margin-top:40px;}
.btn_consult{display:block;background-color:#008EFF;color:#fff;text-transform:uppercase;padding:10px 40px;transition:all .3s;}
.btn_consult:hover{color:#fff;text-decoration:none;background-color:#0983ff;}
.white_min-desc{color:#fff;font-size:12px;font-family:'Open Sans';}
.bottom_link{position: absolute;left:0;right:0;bottom:30px;margin:auto;width:40px;animation: arrow 2s infinite ease-in-out;transition:all 2s;}
@keyframes arrow{
   0%{
     transform:translateY(5px);
   }
   50%{
     transform:translateY(15px);
   }
   100%{
     transform:translateY(5px);
   }
}
.breadcrumb{background-color:transparent;margin:0;padding:30px 15px;}
.breadcrumb-item {text-decoration:underline;font-size:12px;}
.breadcrumb-item a{color:#666;}
.breadcrumb-item.active{color:#666666;font-size:12px;text-decoration:none;}
.greeting__block{position:relative;}
.greeting__block:after{content:'';position:absolute;border:2px solid #008EFF;width:calc(100% - 27px);height:calc(100% - 62px);top:0;bottom:0;left:0;right:0;margin:auto;}
.greeting__text{padding:10px 0 10px 0;}
.greeting__text-body{background-color:#373D44;padding:85px 30px;}
.greeting__title{color:#fff;font-size:24px;font-weight:bold;font-family:'pt-serif';line-height:36px;}
.greeting__desc{color:#fff;font-size:16px;line-height:21px;}
.our__service-block{padding:50px 0;}
.content__title{font-size:32px;font-family:'pt-serif';font-weight:bold;line-height:36px;color:#333;padding:0 15px;}
.two_line{position:relative;}
.two_line:before{content:'';position:absolute;left:15px;bottom:-10px;height:1px;width:238px;background-color:#373D44;}
.two_line:after{content:'';position:absolute;left:15px;bottom:-17px;height:1px;width:171px;background-color:#373D44;}
.link__service-block{position:relative;display:block;}
.service__link-body{position:relative;display:inline-block;}
.blue_frame{border:2px solid #008EFF;position:absolute;width:100%;height:100%;left:13px;top:13px;}
.service__link-content{display:flex;align-items:center;text-align:center;justify-content: center;}
.service__link-name{color:#fff;font-size:16px;position:relative;font-weight: bold;text-transform: uppercase;}
.service__link-name:before{content:'';position:absolute;height:1px;width:114px;left:0;right:0;margin:auto;bottom:-7px;background-color:#fff;}
.nothover_mask{position:absolute;top:0;left:0;opacity:1;transition:all .3s;}
.hover_mask{position:absolute;left:0;top:0;opacity:0;transition:all .3s;}
.link__service-block:hover .hover_mask{opacity:1;}
.features{padding:0 0 50px;}
.content_text{font-size:16px;color:#333333;padding:0 15px;}
.list_features{list-style:none;padding-left:35px;}
.list_features li{position:relative;}
.list_features li:before{content:'';position:absolute;width:4px;height:4px;border-radius:50%;background-color:#008EFF;top:4px;bottom:0;margin:auto;left:-15px;}
.gray_block{padding:0 15px;position: relative;}
.gray_block-body{background-color:#373D44;padding:60px 45px 50px;position:relative;display:flex;align-items:center;}
.white-middle-text{color:#fff;font-family:'pt-serif';font-size:21px;line-height:21px;}
.our_specialist{padding:0 0 50px;}
.prof_slider{min-width:0;}
.block_specialist-slider{position: relative;max-width:100%;}
.prof_slider-item{padding:0 15px;height:auto;min-width:0;}
.name_prof-block{background-color:#008EFF;padding:15px 10px 20px;width:100%;text-align:center;display: flex;flex-direction:column;min-height:125px;height:100%;}
.name_prof{color:#fff;font-size:18px;font-family:'pt-serif';font-weight:bold;line-height:36px;position:relative;}
.name_prof:before{content:'';position:absolute;height:1px;width:114px;background-color:#fff;left:0;right:0;margin:auto;bottom:-3px;}
.block_shadow{box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);}
.position_prof{font-size:14px;line-height:19px;color:#fff;}
.bg_gr{background-color:#373D44;}
.adventages_cooperation{padding:0 0 50px;}
.block_icon-adv{position: relative;background-color:#008EFF;width:94px;height:94px;}
.block_black-frame{position:absolute;width:100%;height:100%;border: 1px solid #373D44;left:8px;top:8px;display: flex;align-items:center;justify-content:center;}
.price_service_family{padding:0 0 50px;}
.table_block{padding:0 15px;}



@media(max-width:1199px){
  .intro_slider-header,.intro_slider-subhead{font-size:70px;}
  .service__link-name{font-size:14px;}
}
@media(max-width:991px){
  .intro_slider-header,.intro_slider-subhead{font-size:60px;}
  .greeting__text{padding-top:0;}
  .greeting__block:after{height:calc(100% - 45px);}
  .greeting__text-body{padding:35px 30px;}
  .mobile-align-center{justify-content:center;text-align:center;}
  .service__link-name{font-size:16px;}
}
@media(max-width:767px) {
  .intro_slider-header,.intro_slider-subhead {font-size: 50px;}
  .slick-next{right:15px;}
  .slick-prev{left:15px;}
  .content_text{font-size:14px;}
  .gray_block-body{padding: 50px 10px 40px 30px;}
  .white-middle-text{font-size:16px;}
  .content__title{font-size:24px;}
}
@media(max-width:575px) {
  .intro_slider-header,.intro_slider-subhead {font-size: 35px;}
  .greeting__title{font-size:16px;line-height:24px;}
  .greeting__desc{font-size:12px;}
  .greeting__body{padding:0 15px;}
  .greeting__foto{padding:0;}
  .greeting__block:after{width:calc(100% - 56px);}
}
