@font-face{font-family:montserrat;src: url(../font/montserrat.ttf);}
@font-face{font-family:noto_tc;src: url(../font/NotoSerifTC-Bold-Alphabetic.ttf);}
@font-face{font-family:roboto_cond;src: url(../font/RobotoCondensed-Bold.ttf);}
html{scroll-behavior: smooth;}
body{background-color:#F8FCFF;}
.wrapper{width:100%;overflow:hidden;}
.header{position:relative;width:100%;top:0;left:0;background-color:transparent;}
.navbar{background-color:transparent;box-shadow:none;position:absolute;top:0;left:0;width:100%;z-index: 1;transition:all .3s;}
.navbar.scrolling-navbar{padding:20px 0;}
.header_logo{display:flex;align-items:center;justify-content:space-between;}
.header_menu{display:flex;}
.header_menu__nav{display:flex;justify-content: space-between;width:100%;flex-wrap:wrap;}
.header_menu__link{display:inline-block;font-size:13px;text-transform:uppercase;color:#fff;font-family:roboto;transition:all .3s;letter-spacing:0.08em;font-weight:bold;}
.header_menu__link:hover{text-decoration:none;color:#ccc;}
.header_contact{display:flex;flex-direction:column;align-items:flex-end;}
.phone_link{font-size:26px;line-height:18px;letter-spacing:0.08em;color:#fff;font-family:roboto;font-weight:bold;margin-bottom:15px;transition:all .3s;}
.phone_link:hover{text-decoration:none;color:#ccc;}
.btn_order{font-size:20px;color:#fff;letter-spacing:0.04em;line-height:25px;display:inline-block;border:2px solid #fff;border-radius:39px;padding:5px 15px;font-family:roboto;font-weight:900;text-align:center;}
.btn_order:hover{border-color:#ccc;text-decoration:none;color:#ccc;}
.btn_menu{display:none;}
.menu_block:not(.active){display:block;}
.intro_block_slider{position:relative;z-index:0;}
.slider_item{overflow:hidden;}
.slider_item:focus{outline:none;}
.slider_intro{position:relative;}
.content_slider{position:absolute;display:flex;align-items:center;top:0;bottom:0;left:0;right:0;}
.img_slider{object-fit:cover;max-height:765px;width:100%;}
.sub_title_gradient{font-size:20px;line-height:32px;text-transform:uppercase;font-family:roboto_cond;font-weight:bold;letter-spacing:0.22em;background: linear-gradient(45deg, rgba(255,142,106,1)33%, rgba(233,180,44,1)66%);-webkit-background-clip: text;-webkit-text-fill-color: transparent;color: #242A3a;text-shadow: 0px 4px 17px rgba(0, 0, 0, 0.25);}
.main_title{font-size:44px;color:#fff;font-family:noto_tc;font-weight:900;line-height:50px;text-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);}
.white_text_slider{font-size:20px;line-height:25px;font-family:montserrat;letter-spacing:0.04em;font-weight:600;color:#fff;text-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);padding-top:15px;}
.orange_btn{padding:15px 30px;display:inline-block;font-size:18px;line-height:25px;font-family:montserrat;font-weight:bold;color:#fff;background:linear-gradient(59.6deg, #FF4F17 -13.43%, #FF8159 40.79%, #E9B42C 86.67%);box-shadow: 0px 4px 18px rgba(40, 119, 176, 0.24);border-radius: 28px;transition:all .3s;}
.orange_btn:hover{background: linear-gradient(59.6deg, #286FB0 -13.43%, #00ADE3 86.67%);color:#fff;text-decoration:none;}
.orange_btn:focus{outline:none;}
.catalog{position:relative;padding:70px 0;}
.title_block{font-size:34px;line-height:41px;font-family:noto_tc;color:#242A3a;font-weight:900;}
.card_catalog{height:100%;transform:translateY(0);transition:all .3s;text-decoration:none;width:100%;background: #FFFFFF;box-shadow: 0px 0px 14px rgba(19, 49, 77, 0.08);border-radius: 15px;overflow:hidden;display:flex;flex-direction:column;justify-content:space-between;}
.card_header{text-align:center;}
.name_card{font-size:30px;line-height:38px;font-family:noto_tc;font-weight:bold;text-align:center;color:#242A3a;}
.name_card span{display:inline-block;line-height:38px;background: linear-gradient(59.6deg, #FF4F17 -13.43%, #FF8159 40.79%, rgba(233,180,44,1)86.67%);-webkit-background-clip: text;-webkit-text-fill-color: transparent;color: #242A3a;text-shadow: 0px 4px 17px rgba(0, 0, 0, 0.25);}
.card_catalog:hover{text-decoration:none;transform:translateY(-5px);}
.description_card{font-size:18px;line-height:24px;font-family:montserrat;font-weight:500;color:#242A3A;padding:0 25px;text-align:center;}
.consultation_order__img{min-height:487px;width:100%;object-fit:cover;object-position:center center;}
.img_bg{position:relative;}
.consultationn_wrapper{position:absolute;width:100%;height:100%;left:0;top:0;display:flex;align-items:center;}
.text_block{height:100%;}
.sub_title_form{font-size:34px;line-height:41px;font-family:noto_tc;font-weight:900;text-transform:none;letter-spacing:0;}
.white_text_form{font-size:18px;line-height:24px;color:#fff;font-family:montserrat;font-weight:bold;}
.form_wrapper{background-color:#fff;border-radius:15px;box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);padding:40px 30px 40px 30px;}
.name_form{font-size:20px;line-height:29px;font-family:noto_tc;font-weight:bold;color:#18191D;text-align:center;}
.form_input{display:inline-block;width:100%;background-color:#F3F8FB;border-radius: 5px;padding:15px 20px;border:none;}
.form_input:focus{outline-color: rgba(75, 111, 230, 0.6);outline-width:2px;}
.form_input::-webkit-input-placeholder{font-size:13px;line-height:15px;color:rgba(24, 25, 29, 0.446);font-family:roboto;}
.checkbox{position:relative;cursor:pointer;display:flex;align-items:center;}
.checkbox input[type="checkbox"]{display:none;}
.checked{position:relative;}
.checked:before{content:'';position:absolute;left:0;top:-11px;width:23px;height:23px;border:2px solid #e5e5e5;border-radius:6px;}
.checked:after{content:'';position:absolute;left:5px;top:-6px;width:13px;height:13px;background:linear-gradient(59.6deg, #286FB0 -13.43%, #00ADE3 86.67%);border-radius:2px;transition:all .3s;opacity:0;}
.text_chek{font-size:11px;padding-left:35px;}
.checkbox input[type="checkbox"]:checked + .checked:after{opacity:1;}
.privacy{color:rgba(0, 173, 227, 1);text-decoration:underline;}
.catamaran_position_right{position:absolute;bottom:50px;right:0;z-index:1;transition:all .3s;}
.rental{padding:70px 0;}
.text_content{font-size:18px;line-height:26px;color:#2E3841;font-family:montserrat;font-weight:500;}
.more_btn, .less_btn{display:none;}





@media(max-width:1400px){
  .catamaran_position_right{z-index:0;}
}
@media(max-width:1199px){
  .menu_block{position:absolute;left:0;top:0;overflow:hidden;height:0;transition:all .3s;}
  .header_menu__nav{flex-direction:column;}
  .btn_menu{display:flex;align-items:center;position:relative;padding:25px 10px;border:none;background-color:transparent;}
  .btn_menu span{position:relative;display:inline-block;width:25px;height:2px;background-color:#fff;transition:all .3s;}
  .btn_menu span:before{content:'';position:absolute;left:0;top:-10px;width:100%;height:2px;background-color:#fff;transition:all .3s;}
  .btn_menu span:after{content:'';position:absolute;left:0;top:10px;width:100%;height:2px;background-color:#fff;transition:all .3s;}
  .btn_menu:focus{outline:none;}
  .header_menu__link{flex:0 0 auto;font-size:15px;}
  .menu_block.active{overflow:visible;height:400px;background-color:rgba(0,0,0,.9);}
  .header_contact{align-items:center;padding-top:20px;}
  .navbar.active{backdrop-filter: blur(9px);}
  .mobile_width{width:100%;max-width:800px;margin:0 auto;}
  .header_menu{padding-top:70px;}
  .btn_menu.active{z-index:999;}
}
@media(max-width:991px){
  .sub_title_gradient{font-size:16px;text-align:center;line-height:16px;margin-bottom:0;}
  .main_title{font-size:35px;text-align:center;line-height:33px;}
  .content_slider{top:auto;bottom:50px;}
  .white_text_slider{font-size:15px;padding-top:0;text-align:center;line-height:20px;}
  .catalog{padding:40px 0;}
  .title_block{text-align:center;}
  .consultationn_wrapper{top:130px;}
  .sub_title_form{font-size:21px;line-height:25px;}
  .name_form{font-size:25px;}
  .more_btn, .less_btn{display:inline-block;cursor:pointer;font-size:14px;color:#005F9F;text-decoration:underline;}
  .turn_box{max-height:0;overflow:hidden;height:100%;transition:all .3s;}
  .turn_box.active{max-height:999px;overflow:hidden;height:100%;transition:all .3s;}
  .text_content{font-size:14px;}
  .rental{padding:250px 0 40px;}
  .title_block{font-size:25px;line-height:30px;}
}
@media(max-width:767px){
  .main_title{font-size:25px;line-height:28px;}
  .white_text_slider{font-size:12px;line-height:13px;}
  .content_slider{bottom:30px;}
  .white_text_form{font-size:14px;}
  .catamaran_position_right{display:none;}
}
@media(max-width:575px){
  .img_slider{width:auto;max-height:363px;object-fit:none;}
  .orange_btn{width:100%;padding:15px 0;font-size:22px;text-align:center;}
  .content_slider{bottom:10px;}
  .text_content{font-size:12px;}
  .text_chek{font-size:9px;}
  .form_wrapper{padding:35px 20px;}
}
@media(max-width:400px){
  .consultationn_wrapper{top:160px;}
  .rental{padding:300px 0 40px;}
}
@media(max-width:380px){
  .consultationn_wrapper{top:160px;}
  .rental{padding:330px 0 40px;}
}
@media(max-width:350px){
  .consultationn_wrapper{top:160px;}
  .rental{padding:350px 0 40px;}
}











