.bg_cabinet{background-color:#21223B;min-height:100vh;}
.container_main{max-width:1920px;margin:0 auto;height:95vh;display:flex;position:relative;}
.sidebar{display:inline-flex;width:300px;position:relative;flex-direction:column;justify-content:space-between;background-color:#21223B;padding:30px 30px;height:96vh;transition:width .3s ease;}
.brand_link{color:#fff;font-family:tt_norms;font-size:22px;line-height:26px;}
.brand_link:hover{text-decoration:none;color:#fff;}
.menu_item-link{display:flex;align-items:center;padding:3px 5px;color:#505492;font-size:18px;line-height:21px;font-family:tt_norms;border-radius:6px;transition:all .3s;}
.menu_item-link .icon_item{width:40px;height:40px;position:relative;border-radius:6px;background-color:rgba(41, 43, 77, 0.4);background-size:20px 20px;background-repeat:no-repeat;background-position:center center;transition:all .3s;}
.menu_item-link .icon_item-1{background-image:url(../img/invest_static.png);}
.menu_item-link:hover{text-decoration:none;color:#fff;background-color:#292B4D;}
.menu_item-link:hover .icon_item{background-color:transparent;}
.menu_item-link:hover .icon_item-1{background-image:url(../img/invest_active.png);}
.Left_menu-item.active .menu_item-link{color:#fff;background-color:#292B4D;}
.Left_menu-item.active .menu_item-link .icon_item {background-color:transparent;}
.Left_menu-item.active .menu_item-link .icon_item-1 {background-image:url(../img/invest_active.png);}
.Left_menu-item{margin-bottom:15px;}
.menu_item-link .icon_item-2{background-image:url(../img/my_statick.png);}
.menu_item-link:hover .icon_item-2{background-image:url(../img/my_active.png);}
.Left_menu-item.active .menu_item-link .icon_item-2 {background-image:url(../img/my_active.png);}
.menu_item-link .icon_item-3{background-image:url(../img/fin_static.png);}
.menu_item-link:hover .icon_item-3{background-image:url(../img/fin_active.png);}
.Left_menu-item.active .menu_item-link .icon_item-3{background-image:url(../img/fin_active.png);}
.menu_item-link .icon_item-4{background-image:url(../img/fx_statick.png);}
.menu_item-link:hover .icon_item-4{background-image:url(../img/fx_active.png);}
.Left_menu-item.active .menu_item-link .icon_item-4{background-image:url(../img/fx_active.png);}
.menu_item-link .icon_item-5{background-image:url(../img/prof_statick.png);}
.menu_item-link:hover .icon_item-5{background-image:url(../img/prof_active.png);}
.Left_menu-item.active .menu_item-link .icon_item-5{background-image:url(../img/prof_active.png);}
.exit_btn{display:flex;align-items:center;color:rgba(228, 124, 124, 0.65);font-size:18px;font-family:tt_norms;line-height:21px;padding:3px 5px;border-radius:6px;transition:all .3s;}
.icon_exit{width:40px;height:40px;position:relative;border-radius:6px;background-color:rgba(84, 46, 46, 0.4);background-image:url(../img/exit_icon.png);background-repeat:no-repeat;background-size:20px 20px;background-position:center center;transition:all .3s;}
.exit_btn:hover{background-color:rgba(84, 46, 46, 0.4);color:rgba(228, 124, 124, 0.65);text-decoration:none;}
.exit_btn:hover .icon_exit{background-color:rgba(228, 124, 124, 0);}
.footer_cabinet{background-color:#21223B;text-align:center;padding:7px 15px;width:100%;}
.content_cabinet{padding:20px 40px;background-color:#282946;width:100%;}
.side_menu{width:50px;height:40px;border-radius:6px;background-color:rgba(41, 43, 77, 0.4);position:absolute;top:10px;left:25px;display:none;align-items: center;justify-content:center;border:none;z-index:999;}
.side_menu:focus{outline:none;}
.side_menu span{position:relative;height:3px;width:100%;background-color:#fff;transition:all .5s ease .3s;}
.side_menu span:before{content:'';position:absolute;width:100%;height:3px;left:0;top:-9px;background-color:#fff;transition:all .5s ease .2s;}
.side_menu span:after{content:'';position:absolute;width:100%;height:3px;left:0;top:9px;background-color:#fff;transition:all .5s ease .2s;}
.side_menu.active span{background-color:transparent;}
.side_menu.active span:after{transform:rotateZ(135deg);top:0;}
.side_menu.active span:before{transform:rotateZ(-135deg);top:0;}

@media(max-width:991px){
  .container_main{flex-direction:column;}
  .sidebar{width:0;padding:0;overflow:hidden;position:absolute;top:50px;left:0;height:100%;}
  .side_menu{display:flex;}
  .sidebar.active{width:300px;z-index:2;}
  .left_menu{padding:10px 15px;}
  .content_cabinet{height:100%;}
  .bottom_bar{padding:0 0 30px 15px;}
}



