@font-face{font-family:manrope_bold;src:url(../font/Manrope-Bold.ttf);}
@font-face{font-family:manrope_semi;src:url(../font/Manrope-SemiBold.ttf);}
@font-face{font-family:manrope_extra;src:url(../font/Manrope-ExtraBold.ttf);}
@font-face{font-family:manrope_medium;src:url(../font/Manrope-Medium.ttf);}
html{scroll-behavior: smooth;}
body{background-color:#262742;}
.wrapper{overflow:hidden;}
.top_nav{background-color:#292A46;padding:7px 0;}
.btn_dark{background-color:#2C2D4B;display:inline-block;box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.04);border-radius: 3.75px;padding:8px 19px;font-size:10px;text-transform:uppercase;color:#8C8EC0;letter-spacing:0.06em;line-height:14px;transition:all .3s;font-family:manrope_bold;}
.btn_dark:hover{background-color:#38395f;color:#fff;text-decoration:none;}
.navbar{background-color:#2C2D4B;box-shadow: 0px 4px 55px rgba(0, 0, 0, 0.02);padding:0;}
.nav-item{padding-right:20px;display:inline-block;}
.nav-item .nav-link{color:rgba(140, 142, 192, 0.6);font-size:12px;font-family:manrope_semi;letter-spacing:0.015em;padding:15px 25px;transition:all .3s;position:relative;border-bottom:1px solid transparent;display:inline-block;}
.nav-item .nav-link:hover{color:#8C8EC0;}
.nav-item.active .nav-link{color:#8C8EC0;border-color:#008AD8;}
.navbar-collapse{}
.btn_mob:focus{outline:none;}
.navbar-toggler-icon span{position:relative;width:30px;height:3px;width:100%;left:0;background-color:rgba(140, 142, 192, 0.6);display:inline-block;transition:all .3s ease-in 0s;}
.navbar-toggler-icon span:before{content:'';position:absolute;width:30px;height:3px;background-color:rgba(140, 142, 192, 0.6);top:-8px;left:0;transform:rotateZ(0deg);transition:all .3s ease-in  .1s;}
.navbar-toggler-icon span:after{content:'';position:absolute;width:30px;height:3px;background-color:rgba(140, 142, 192, 0.6);bottom:-8px;left:0;transform:rotateZ(0deg);transition:all .3s ease-in  .1s;}
.intro{padding:100px 0;}
.title_page{font-size:36px;line-height:49px;letter-spacing:0.015em;color:#fff;font-family:manrope_semi;}
.title_page span{color:#008AD8;}
.sub_title{font-size:16px;line-height:22px;letter-spacing:0.015em;color:#8C8EC0;font-family:manrope_semi;}
.btn_content{padding:14px 25px;text-transform:none;font-size:16px;line-height:22px;letter-spacing:0.015em;color:#fff;border-radius:5px;}
.blue_btn{background: #008AD8;box-shadow: 0px 22px 44px -12px rgba(0, 138, 216, 0.25);}
.how{padding:50px 0 60px;background-color:#2C2D4B;}
.title_section{font-size:16px;line-height:22px;letter-spacing:0.1em;color:#fff;font-family:manrope_semi;text-transform:uppercase;}
.money_item{display:block;border-radius:5px;background-color:#008AD8;background-size:cover;background-position:center center;height:100%;padding:25px;transition:all .3s;}
.how_bg1{background-image:url(../img/bg1.jpg);}
.how_bg2{background-image:url(../img/bg2.jpg);}
.how_bg3{background-image:url(../img/bg3.jpg);}
.how_bg4{background-image:url(../img/bg4.jpg);}
.money_item span{font-size:22px;line-height:30px;letter-spacing:0.015em;font-family:manrope_semi;color:#fff;}
.money_item:hover{transform:translateY(-2%);text-decoration:none;box-shadow:0 3px 5px rgba(0, 0, 0, 0.2);}
.news{padding:50px 0;}
.link_block{display:inline-flex;flex-direction:column;justify-content:space-between;background-color:#343556;border-radius:5px;overflow:hidden;}
.content_block-card{padding:25px;display:flex;flex-direction:column;justify-content:space-between;height:100%;}




@media(max-width:991px){
  .nav-item{padding-right:0;text-align:center;}
  .btn_mob.active .navbar-toggler-icon span{background-color:transparent;}
  .btn_mob.active .navbar-toggler-icon span:before{top:0;transform:rotateZ(45deg);}
  .btn_mob.active .navbar-toggler-icon span:after{bottom:0;transform:rotateZ(-45deg);}
  .intro{padding:50px 0;}
  .title_page, .sub_title{text-align:center;}
  .btn_block-intro{text-align:center;}
  .money_item{min-height:110px;}
}
@media(max-width:767px){
  .title_page{font-size:30px;line-height:36px;}
  .intro{padding:30px 0 50px;}
}
@media(max-width:575px){
  .btn_content{width:100%;margin-top:15px;}
}


