@font-face{font-family:manrope_bold;src:url(../font/Manrope-Bold.ttf);}
@font-face{font-family:manrope_semi;src:url(../font/Manrope-SemiBold.ttf);}
@font-face{font-family:manrope_extra;src:url(../font/Manrope-ExtraBold.ttf);}
@font-face{font-family:manrope_medium;src:url(../font/Manrope-Medium.ttf);}
html{scroll-behavior: smooth;}
body{background-color:#262742;height:100%;}
.wrapper{overflow:hidden;}
.top_nav{background-color:#292A46;padding:7px 0;}
.btn_dark{background-color:#2C2D4B;display:inline-block;box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.04);border-radius: 3.75px;padding:8px 19px;font-size:10px;text-transform:uppercase;color:#8C8EC0;letter-spacing:0.06em;line-height:14px;transition:all .3s;font-family:manrope_bold;}
.btn_dark:hover{background-color:#38395f;color:#fff;text-decoration:none;}
.navbar{background-color:#2C2D4B;box-shadow: 0px 4px 55px rgba(0, 0, 0, 0.02);padding:0;}
.nav-item{padding-right:20px;display:inline-block;}
.nav-item .nav-link{color:rgba(140, 142, 192, 0.6);font-size:12px;font-family:manrope_semi;letter-spacing:0.015em;padding:15px 25px;transition:all .3s;position:relative;border-bottom:1px solid transparent;display:inline-block;}
.nav-item .nav-link:hover{color:#8C8EC0;}
.nav-item.active .nav-link{color:#8C8EC0;border-color:#008AD8;}
.btn_mob:focus{outline:none;}
.navbar-toggler-icon span{position:relative;width:30px;height:3px;width:100%;left:0;background-color:rgba(140, 142, 192, 0.6);display:inline-block;transition:all .3s ease-in 0s;}
.navbar-toggler-icon span:before{content:'';position:absolute;width:30px;height:3px;background-color:rgba(140, 142, 192, 0.6);top:-8px;left:0;transform:rotateZ(0deg);transition:all .3s ease-in  .1s;}
.navbar-toggler-icon span:after{content:'';position:absolute;width:30px;height:3px;background-color:rgba(140, 142, 192, 0.6);bottom:-8px;left:0;transform:rotateZ(0deg);transition:all .3s ease-in  .1s;}
.intro{padding:100px 0;}
.title_page{font-size:36px;line-height:49px;letter-spacing:0.015em;color:#fff;font-family:manrope_semi;}
.title_page span{color:#008AD8;}
.sub_title{font-size:16px;line-height:22px;letter-spacing:0.015em;color:#8C8EC0;font-family:manrope_semi;}
.btn_content{padding:14px 25px;text-transform:none;font-size:16px;line-height:22px;letter-spacing:0.015em;color:#fff;border-radius:5px;}
.blue_btn{background: #008AD8;box-shadow: 0px 22px 44px -12px rgba(0, 138, 216, 0.25);}
.how{padding:50px 0 60px;background-color:#2C2D4B;}
.title_section{font-size:16px;line-height:22px;letter-spacing:0.1em;color:#fff;font-family:manrope_semi;text-transform:uppercase;}
.money_item{display:block;border-radius:5px;background-color:#008AD8;background-size:cover;background-position:center center;height:100%;padding:25px;transition:all .3s;}
.how_bg1{background-image:url(../img/bg1.jpg);}
.how_bg2{background-image:url(../img/bg2.jpg);}
.how_bg3{background-image:url(../img/bg3.jpg);}
.how_bg4{background-image:url(../img/bg4.jpg);}
.money_item span{font-size:22px;line-height:30px;letter-spacing:0.015em;font-family:manrope_semi;color:#fff;}
.money_item:hover{transform:translateY(-2%);text-decoration:none;box-shadow:0 3px 5px rgba(0, 0, 0, 0.2);}
.news{padding:50px 0;}
.link_block{display:inline-flex;flex-direction:column;justify-content:space-between;background-color:#343556;border-radius:5px;overflow:hidden;height:100%;transition:all .3s;}
.link_block:hover{text-decoration:none;}
.content_block-card{padding:15px 25px 20px;display:flex;flex-direction:column;justify-content:space-between;height:100%;}
.min_head{display:flex;align-items:center;justify-content:space-between;font-size:10px;line-height:14px;letter-spacing:0.015em;color:rgba(140, 142, 192, 0.55);;}
.title_card{font-family:manrope_bold;font-size:18px;line-height:25px;letter-spacing:0.015em;color:#fff;}
.body_text{font-size:12px;font-family:manrope_bold;line-height:16px;letter-spacing:0.015em;color:#8C8EC0;}
.link_more{display:inline-block;font-size:12px;color:#008AD8;font-family:manrope_bold;line-height:16px;letter-spacing:0.015em;}
.link_block:hover .link_more{text-decoration:underline;}
.link_block:hover{box-shadow:0 0 10px 3px rgba(0, 0, 0, 0.1);}
.vlog{padding:0 0 80px;}
.footer{background-color:#2C2D4B;padding:35px 0 20px;}
.logo_footer{display:flex;align-items:center;}
.logo_footer span{color:#fff;font-size:20px;font-family:manrope_medium;}
.logo_footer:hover{text-decoration:none;}
.adres_footer{font-size:14px;line-height:19px;color:rgba(140, 142, 192, 0.65);font-family:manrope_bold;}
.menu_footer{color:#fff;font-size:14px;font-family:manrope_bold;}
.footer_link{display:block;font-size:14px;line-height:19px;letter-spacing:0.015px;color:#8C8EC0;font-family:manrope_bold;transition:all .3s;;}
.footer_link:hover{color:#fff;text-decoration:none;}
.work_time{font-size:14px;color:#8C8EC0;font-family:manrope_bold;line-height:19px;letter-spacing:0.015em;}
.work_time span{opacity:.4;}
.work_time a{opacity:.7;color:#8C8EC0;}
.line_bottom{width:100%;height:1px;background-color:#3D3E5F;}
.allright{font-size:12px;line-height:16px;letter-spacing:0.015em;color:#8C8EC0;}
.privacy_link{font-size:12px;line-height:16px;color:rgba(140, 142, 192, 0.55);transition:all .3s;}
.privacy_link:hover{color:rgba(140, 142, 192, 0.8);}
.link_social{color:#8C8EC0;font-size:16px;}
.link_social:hover{color:#fff;}
.block_logo{display:flex;align-items:center;justify-content:center;padding:40px 0}
.big_label{font-size:56px;color:#fff;line-height:72px;font-family:manrope_medium;}
.block_img-bg{background-image:url(../img/bg_about.png);background-size:cover;background-position:center center;}
.intro_about{padding:35px 0;}
.middle_title{font-size:24px;line-height:33px;letter-spacing:0.015em;color:#fff;font-family:manrope_bold;}
.news{padding:40px 0 80px;}
.about, .video, .present, .events, .info_event{padding:0 0 80px;}
.page-link{display:inline-flex;background-color:#343556;border-radius:5px;border:none;position:relative;width:40px;height:40px;min-width:40px;align-items:center;justify-content:center;color:#fff;font-family:manrope_extra;transition:all .3s;margin:0 2px;}
.page-link.dots{background-color:transparent;}
.midle_title-section{font-size:28px;color:#fff;line-height:38px;letter-spacing:0.015em;font-family:manrope_bold;}
.block_img-ivent{border-radius:5px;overflow:hidden;}
<<<<<<< HEAD

/*grid css*/


=======
.input_search{width:100%;display:inline-block;padding:19px 30px;border-radius:5px;background-color:#222238;border:none;outline:none;color:#fff;font-family:manrope_bold;}
.input_search::-webkit-input-placeholder{font-size:16px;letter-spacing:0.015em;color:#666791;font-family:manrope_bold;}
.dark_block{background-color:#212238;border-radius: 5px;padding:15px 25px 20px;flex:0 0 18.99%;}
.letter{font-size:30px;line-height:41px;letter-spacing:0.015em;color:#fff;font-family:manrope_bold;text-transform:uppercase;display:block;}
.link_city{font-size:18px;color:#666791;letter-spacing:0.015em;line-height:25px;font-family:manrope_bold;transition:all .3s;display:block;}
.link_city:hover{color:#fff;text-decoration:none;}
.label_search{position:relative;}
.btn_search{position:absolute;top:3px;right:10px;border:none;background-color:transparent;transition:all .3s;}
.btn_search:hover{filter: drop-shadow(0 0 5px rgba(255,255,255,.3));}
.btn_search:focus{outline:none;}
.link_map{position:relative;text-decoration:none;border-radius:8px;overflow:hidden;display:inline-block;}
.link_map span{color:#fff;font-size:14px;line-height:19px;font-family:manrope_medium;position:absolute;bottom:10px;right:20px;transition:all .3s;}
.link_map:hover span{opacity:.4;}
.office_card{min-height:400px;}
.office_adress{color:#fff;font-size:18px;letter-spacing:0.015em;line-height:25px;font-family:manrope_medium;}
.office_adress span{color:#8C8EC0;}
.office_adress a{color:#8C8EC0;transition:all .3s;}
.office_adress a:hover{color:#fff;}
.news_page{padding:0 0 80px;}
.text-js{opacity: 0;}
.cursor{display: block;position: absolute;height: 100%;top: 0;right: -5px;width: 2px;background-color: #8C8EC0;z-index: 1;animation: flash 0.5s none infinite alternate;}
@keyframes flash{
  0%{opacity: 1;}
  100%{opacity: 0;}
}
.anim_text{opacity:0;animation: hid 1s 2.5s ease; animation-fill-mode: forwards;}
@keyframes hid{
  0%{opacity: 0;}
  100%{opacity: 1;}
}
>>>>>>> b833855892196eae595c5981bf00b69a78331541


@media(max-width:991px){
  .nav-item{padding-right:0;text-align:center;}
  .btn_mob.active .navbar-toggler-icon span{background-color:transparent;}
  .btn_mob.active .navbar-toggler-icon span:before{top:0;transform:rotateZ(45deg);}
  .btn_mob.active .navbar-toggler-icon span:after{bottom:0;transform:rotateZ(-45deg);}
  .intro{padding:50px 0;}
  .intro .title_page, .intro .sub_title{text-align:center;}
  .btn_block-intro{text-align:center;}
  .money_item{min-height:110px;}
  .block_footer-link{width:100%;text-align:center;}
  .social_footer-link{width:100%;text-align:center;}
  .dark_block{flex:0 0 32%;}
}
@media(max-width:767px){
  .title_page{font-size:30px;line-height:36px;}
  .intro{padding:30px 0 50px;}
  .how{padding:30px 0;}
  .vlog, .about, .video, .present, .events, .info_event{padding:0 0 40px;}
  .intro_about{padding:25px 0 10px;}
  .dark_block{flex:0 0 49%;}
  .news{padding:20px 0 40px;}
  .input_search::-webkit-input-placeholder{font-size:12px;}
  .news_page{padding:10px 0 40px;}
  .title_block-card>img{width:100%;}
}
@media(max-width:575px){
  .btn_content{width:100%;margin-top:15px;}
  .content_block-card{padding:15px 15px 10px;}
  .big_label{font-size:45px;}
  .page-link{font-size:16px;}
  .middle_title{font-size:22px;line-height:30px;}
  .midle_title-section{font-size:25px;line-height:35px;}
  .dark_block{flex:0 0 100%;}
}


