.bg_cabinet{background-color:#21223B;min-height:100vh;}
.container_main{max-width:1920px;margin:0 auto;height:95vh;display:flex;position:relative;}
.sidebar{display:inline-flex;width:300px;position:relative;flex-direction:column;justify-content:space-between;background-color:#21223B;padding:30px 25px;height:96vh;transition:width .3s ease;}
.brand_link{color:#fff;font-family:tt_norms;font-size:22px;line-height:26px;}
.brand_link:hover{text-decoration:none;color:#fff;}
.menu_item-link{display:flex;align-items:center;padding:3px 5px;color:#505492;font-size:18px;line-height:21px;font-family:tt_norms;border-radius:6px;transition:all .3s;}
.menu_item-link .icon_item{width:40px;height:40px;position:relative;border-radius:6px;background-color:rgba(41, 43, 77, 0.4);background-size:20px 20px;background-repeat:no-repeat;background-position:center center;transition:all .3s;}
.menu_item-link .icon_item-1{background-image:url(../img/invest_static.png);}
.menu_item-link:hover{text-decoration:none;color:#fff;background-color:#292B4D;}
.menu_item-link:hover .icon_item{background-color:transparent;}
.menu_item-link:hover .icon_item-1{background-image:url(../img/invest_active.png);}
.Left_menu-item.active .menu_item-link{color:#fff;background-color:#292B4D;}
.Left_menu-item.active .menu_item-link .icon_item {background-color:transparent;}
.Left_menu-item.active .menu_item-link .icon_item-1 {background-image:url(../img/invest_active.png);}
.Left_menu-item{margin-bottom:15px;}
.menu_item-link .icon_item-2{background-image:url(../img/my_statick.png);}
.menu_item-link:hover .icon_item-2{background-image:url(../img/my_active.png);}
.Left_menu-item.active .menu_item-link .icon_item-2 {background-image:url(../img/my_active.png);}
.menu_item-link .icon_item-3{background-image:url(../img/fin_static.png);}
.menu_item-link:hover .icon_item-3{background-image:url(../img/fin_active.png);}
.Left_menu-item.active .menu_item-link .icon_item-3{background-image:url(../img/fin_active.png);}
.menu_item-link .icon_item-4{background-image:url(../img/fx_statick.png);}
.menu_item-link:hover .icon_item-4{background-image:url(../img/fx_active.png);}
.Left_menu-item.active .menu_item-link .icon_item-4{background-image:url(../img/fx_active.png);}
.menu_item-link .icon_item-5{background-image:url(../img/prof_statick.png);}
.menu_item-link:hover .icon_item-5{background-image:url(../img/prof_active.png);}
.Left_menu-item.active .menu_item-link .icon_item-5{background-image:url(../img/prof_active.png);}
.exit_btn{display:flex;align-items:center;color:rgba(228, 124, 124, 0.65);font-size:18px;font-family:tt_norms;line-height:21px;padding:3px 5px;border-radius:6px;transition:all .3s;}
.icon_exit{width:40px;height:40px;position:relative;border-radius:6px;background-color:rgba(84, 46, 46, 0.4);background-image:url(../img/exit_icon.png);background-repeat:no-repeat;background-size:20px 20px;background-position:center center;transition:all .3s;}
.exit_btn:hover{background-color:rgba(84, 46, 46, 0.4);color:rgba(228, 124, 124, 0.65);text-decoration:none;}
.exit_btn:hover .icon_exit{background-color:rgba(228, 124, 124, 0);}
.footer_cabinet{background-color:#21223B;text-align:center;padding:7px 15px;width:100%;position:relative;}
.content_cabinet{padding:40px 50px;background-color:#282946;width:100%;overflow-y:scroll;}
.side_menu{width:50px;height:40px;border-radius:6px;background-color:rgba(41, 43, 77, 0.4);position:absolute;top:10px;left:15px;display:none;align-items: center;justify-content:center;border:none;z-index:999;}
.side_menu:focus{outline:none;}
.side_menu span{position:relative;height:3px;width:100%;background-color:#fff;transition:all .5s ease .3s;}
.side_menu span:before{content:'';position:absolute;width:100%;height:3px;left:0;top:-9px;background-color:#fff;transition:all .5s ease .2s;}
.side_menu span:after{content:'';position:absolute;width:100%;height:3px;left:0;top:9px;background-color:#fff;transition:all .5s ease .2s;}
.side_menu.active span{background-color:transparent;}
.side_menu.active span:after{transform:rotateZ(135deg);top:0;}
.side_menu.active span:before{transform:rotateZ(-135deg);top:0;}
.container_cab{width:100%;padding:30px 50px;z-index:10;}
.bg_section-cab{background-image:url(../img/bg_section_1.png);background-position:center center;background-size:100%;border-radius:5px;}
.title_cabinet{font-size:30px;line-height:35px;font-family:tt_norms;color:#fff;}
.title_cabinet span{color:#74A8FF;}
.text_cabinet{font-size:18px;line-height:27px;color:#4B71AC;}
.dark_cab-text{font-size:18px;line-height:27px;color:#505492;font-family:tt_norms;}
.link_field{display:flex;font-size:26px;flex-direction:column;padding:20px;background-size:cover;background-position:100%;color:#fff;height:100%;border-radius:6px;transition:all .3s;min-height:185px;}
.link_field:hover{text-decoration:none;transform:translateY(-3px);box-shadow:0 5px 3px rgba(0,0,0,.2);}
.bg_link-1{background-image:url(../img/bg_link-1.jpg);}
.min_text-link{font-size:18px;line-height:21px;color:#8CB1FF;font-family:tt_norms;}
.title_link{color:#fff;line-height:31px;font-family:tt_norms;}
.bg_link-2{background-image:url(../img/bg_link-2.jpg);}
.bg_link-3{background-image:url(../img/bg_link-3.jpg);}
.bg_link-4{background-image:url(../img/bg_link-4.jpg);}
.dark_blue{color:#3B73EE !important;}
.irs--big .irs-bar {height: 4px;background-color: #1C48A9;top:14px;}
.irs--big .irs-line{height:2px;background-color:#505492;border:none;top:15px;}
.irs--big .irs-handle{border-color:#1C48A9;border-width:5px;top:6px;background-color:rgba(33, 34, 59, 1);}
.range_1{padding:20px 25px;background: rgba(33, 34, 59, 0.34);position:relative;width:100%;height:100%;}
.irs-min,.irs--big .irs-from, .irs--big .irs-to, .irs--big .irs-single{display:none;}
.irs--big .irs-min, .irs--big .irs-max{display:none;}
.input_cab-rang{border:none;background-color:#21223B;border-radius:5px;padding:5px;text-align:center;width:150px;font-size:22px;color:#fff;}
.currency_range{font-size:22px;color:#3B73EE;position:absolute;left:29px;top:6px;font-family:tt_norms;}
.place{display:flex;justify-content:space-between;align-items:center;}
.deg_bg{position:fixed;bottom:45px;right:0;z-index:0;}
/*style finansy-page*/
.fin_page .group_btn{border:none;}
.fin_page .group_btn .nav-item{margin-bottom:10px;padding-right:10px;}
.fin_page .group_btn .nav-item .nav-link{background: #252742;border: 1px solid #303255;border-radius:5px;font-size:18px;font-weight:bold;line-height:21px;letter-spacing:0.02em;text-align:center;color:#fff;padding:10px 20px 11px 20px;font-family:tt_norms;transition:all .3s;}
.fin_page .group_btn .nav-item .active.nav-link{background:#252742;border-color:rgba(59, 115, 238, 0.6);}
.fin_page .group_btn .nav-item .nav-link:hover{background:#252742;border-color:rgba(59, 115, 238, 0.6);}
.header_finansy{display:flex;align-items:center;justify-content:space-between;flex-wrap:wrap;position:relative;}
.profile_item{display:flex;align-items:center;}
.profile_item-user{display:flex;align-items:center;border-left:1px solid #303255;padding:0 10px;}
.walet_user{display:flex;}
.profile_item-link{color:#fff;font-size:14px;font-family:tt_norms;margin:0 5px;padding:5px 15px;border:1px solid #303255;border-radius:5px;transition:all .3s;}
.profile_item-link:last-of-type{margin-right:10px;}
.profile_item-link:hover{border-color:#3B73EE;color:#fff;text-decoration:none;}
.profile_item-link.bord_none{border:none;}
.profile_item-link.bord_none:hover{opacity:.6;}
.walet_user{display:flex;align-items:center;padding-right:5px;transition:all .3s;}
.walet_user:hover{text-decoration:none;opacity:.7;}
.walet_user span{font-size:18px;padding-right:5px;display:inline-block;}
.walet_user span:nth-of-type(1){color:#fff;}
.walet_user span:nth-of-type(2){color:#3B73EE;}
.user_logo{width:40px;height:40px;display:flex;align-items:center;justify-content:center;}
.user_logo img{filter:drop-shadow(0 0 0 rgba(255,255,255,0));transition:all .3s;}
.user_logo:hover img{filter:drop-shadow(0 0 5px rgba(255,255,255,.2));}
.btn_hidden-section{display:none;}
.l_cab{display:none;}
.table_block-info{width:100%;text-align:center;}
.table_block-info thead tr th{font-size:18px;text-transform:uppercase;line-height:21px;color:#505492;}
.table_block-info thead tr th:last-of-type{text-align:left;padding:10px 30px;}
.table_block-info tbody tr{background-color:#252742;border-radius:5px;border-bottom:10px solid #282946;}
.table_block-info tbody tr th{padding:15px 0;color:#fff;font-size:20px;font-family:tt_norms;}
.table_block-info tbody tr th span{color:#3B73EE;}
.table_block-info tbody tr th:first-of-type{padding:10px 0 10px 10px;border-radius:5px 0 0 5px;}
.table_block-info tbody tr th:last-of-type{text-align:left;padding:10px 40px 10px 30px;border-radius:0 5px 5px 0;position:relative;}
.btn_mor-info{position:absolute;top:0;bottom:0;margin:auto;right:20px;width:24px;height:24px;cursor:pointer;transition:all .3s;}
.btn_mor-info:hover{opacity:.5;}
.table_min-text{font-size:16px !important;line-height:19px !important;}
/*________________*/
/*style profil-page*/
.settings_profile{border-bottom:none;}
.settings_profile .nav-item{width:100%;margin-bottom:10px;padding-right:0;}
.settings_profile .nav-item .nav-link{font-size:18px;line-height:21px;color:#505492;font-family:tt_norms;padding:10px 15px;width:100%;border-radius:6px;border:none;transition:all .3s;}
.settings_profile .nav-item .nav-link.active{background-color:#2F3052;color:#fff;}
.settings_profile .nav-item .nav-link:hover{background-color:#2F3052;color:#fff;}
.wrapper_cabinet{background-color:#2F3052;border-radius:5px;padding:30px 50px;}
.text_content-cabinet{font-size:18px;color:#fff;line-height:21px;font-family:tt_norms;}
.user_foto-block{display:flex;align-items:center;}
.user_img{width:75px;height:75px;position:relative;border-radius:50%;}
.user_img .circl_status{position:absolute;width:15px;height:15px;border-radius:50%;background-color:#3C73EE;bottom:3px;right:3px;}
.user_btn-block{display:flex;align-items:center;width:auto;}
.profile_light-btn{background-color:#333458;color:#7072AF;border-color:#4A4B7D;padding:8px 25px;}
.delete_btn{background-color:rgba(255, 129, 129, 0.03);color:#FF6B6B;border-color:rgba(255, 97, 97, 0.15);}
.delete_btn:hover{background-color:rgba(255, 129, 129, 0.2);color:#FF6B6B;border-color:rgba(255, 97, 97, 0.2);}
.line_cabinet{background-color:#4A4B7D;margin:25px 0;}
.user_name-form{font-family:tt_norms;position:relative;width:100%;}
.user_name-form .input_name-form{display:inline-block;width:100%;border:1px solid #4A4B7D;color:#fff;background-color:rgba(51, 52, 88, 0.24);outline:none;border-radius:5px;padding:10px 25px;font-size:14px;transition:all .3s;}
.user_name-form .input_name-form:hover{background-color:#333458;border-color:#6668A6;}
.user_name-form .input_name-form:focus{background-color:#333458;border-color:#6668A6;}
.user_name-form .input_name-form::-webkit-input-placeholder{font-size:14px;font-family:tt_norms;color:#7072AF;}
.user_name-form span{width:14px;height:14px;position:absolute;top:8px;right:10px;transition:.5s;}
.title_label_user-form{color:#fff;font-size:18px;line-height:21px;}
.user_name-form .input_name-form:focus + span{opacity:0;}
.btn_save{font-size:14px;border:none;padding:9px 0;}
.btn_save:focus{outline:none;}
.title_cabinet{font-size:24px;}
.wrapper_cabinet .score_input{background-color:rgba(51, 52, 88, 0.24);border:1px solid #4A4B7D;}
.wrapper_cabinet .score_input span{color:#7072AF;}
/*________________*/



@media(min-width:1600px){
  .col-xxl-3{-ms-flex: 0 0 25%;flex: 0 0 25%;max-width: 25%;}
  .col-xxl-6{-ms-flex: 0 0 50%;flex: 0 0 50%;max-width: 50%;padding:0 15px;}
}
@media(min-width:1300px){
  .link_field{padding-bottom:50px;}
}
@media(min-width:1200px){
  .fin_page .collapse{display:flex;}
  #settings_mobile.collapse{display:flex;align-items:flex-start;}
  .content_cabinet::-webkit-scrollbar {opacity:0;}
  .settings_profile{padding-top:30px;}
}
@media(max-width:1199px){
  .title_link{font-size:26px;}
  .profile_item{justify-content:space-between;width:100%;}
  .profile_item-link.bord_none{padding-left:0;margin-left:0;}
  .btn_hidden-section{display:block;width:40px;height:40px;border-radius:5px;background-color:#292742;border:1px solid #303255;color:#fff;}
  .btn_hidden-section:focus{outline:transparent;}
  .block_hid_btn{display:flex;align-items:center;}
  .container_cab{padding:30px 0;}
}
@media(max-width:991px){
  .container_main{flex-direction:column;height:95vh;}
  .sidebar{width:0;padding:0;overflow:hidden;position:absolute;top:0;left:0;height:100%;}
  .side_menu{display:flex;}
  .sidebar.active{width:300px;z-index:2;}
  .left_menu{padding:55px 15px 15px 15px;}
  .content_cabinet{height:100%;}
  .bottom_bar{padding:0 15px 30px 15px;}
  .container_cab{padding:30px 30px;}
  .content_cabinet{padding:30px 20px}
  .table_block{overflow-x:scroll;}
  
}
@media(max-width:767px){
  .container_cab{padding:30px 15px;}
  .content_cabinet{padding:30px 15px}
  .profile_item{width:auto;display:none;overflow: hidden;position:absolute;top:40px;right:0;flex-direction:column-reverse;z-index:99;padding:15px;border:1px solid #303255;border-radius:5px;flex-direction:column-reverse;background-color:#252742;}
  .profile_item.active{display:flex;}
  .profile_item-link{width:100%;text-align:center;margin:5px 0 !important;padding-left:0;padding-right:0;}
  .block_hid_btn{width:100%;position:relative;}
  .l_cab{display:block;position:absolute;top:0;bottom:0;margin:auto;right:0;width:40px;height:40px;border-radius:5px;background-color:#292742;border:1px solid #303255;color:#fff;}
  .l_cab:focus{outline:none;}
  .fin_page .group_btn .nav-item{width:100%;padding-right:0;}
  .fin_page .group_btn .nav-item .nav-link{font-size:16px;width:100%;}
  .table_block-info tbody tr th{font-size:16px;}
  .user_btn-block{flex-direction:column;}
  .wrapper_cabinet{padding:20px 10px;}
  .user_btn-block .profile_light-btn{min-width:150px;}
}
@media(max-width:565px){
  .place{flex-direction:column;}
  .sidebar.active{width:100%;top:0;}
  .left_menu{padding-top:55px;}
  .content_cabinet{height:90%;}
  .container_main{height:92vh;}
  .container_cab{padding:30px 15px;}
  .content_cabinet{padding:30px 10px}
  
}



