@font-face{font-family:'bebas_pro_italic';src:url(../font/BebasNeuePro-BoldItalic.ttf);}
* { padding: 0px; margin: 0px; border: 0px; }
*, *:before, *:after { -webkit-box-sizing: border-box; box-sizing: border-box; }
:focus, :active { outline: none; }
a:focus, a:active { outline: none; }
aside, nav, footer, header, section { display: block; }
html{scroll-behavior:smooth;}
html, body { height: 100%; min-width: 320px; }
body { line-height: 1; font-family: "bebas_pro_italic"; -ms-text-size-adjust: 100%; -moz-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;min-height:100vh; }
input, button, textarea { font-family: ""; }
input::-ms-clear { display: none; }
button { cursor: pointer; }
button::-moz-focus-inner { padding: 0; border: 0; }
a, a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
ul li { list-style: none; }
img { vertical-align: top; }
h1, h2, h3, h4, h5, h6 { font-weight: inherit; font-size: inherit; }
img{pointer-events:none;}
.wrapper{
  overflow-x:hidden;
  overflow-y:auto;
  width:100%;
  height:100%;
  position:relative;
}
.bg_images{
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  z-index:0;
  overflow:hidden;
  .bgimage{
    position:absolute;
    &.item_1{
      top:0;
      left:50%;
    }
    &.item_2{
      top:100px;
      left:0;
      opacity: .1;
    }
    &.item_3{
      top:38%;
      left:51%;
    }
    &.item_4{
      top:35%;
      right:0;
    }
    &.item_5{
      top:70px;
      left:150px;
      opacity:.5;
    }
    &.item_6{
      top:20px;
      right:0;
      opacity:.5;
    }
    &.item_7{
      top:55%;
      left:0;
      opacity:.5;
    }
    &.item_8{
      top:0;
      left:22%;
    }
    &.item_9{
      bottom:0;
      left:0;
      opacity:.5;
    }
    &.item_10{
      bottom:10px;
      left:30%;
    }
    &.item_11{
      bottom:0;
      right:200px;
    }
  }
}
.header{
  width:100%;
  z-index:10;
  .wrapper_items_header{
    display:flex;
    align-items:flex-start;
    justify-content:space-between;
    @media(max-width:991px){
      flex-wrap:wrap;
    }
    .countdown_timer{
      display:flex;
      flex-direction:column;
      align-items:center;
      padding-right:95px;
      @media(max-width:1440px){
        padding-right:212px
      }
      @media(max-width:991px){
        width:100%;
        padding-top:5px;
        padding-right:0;
      }
      .timer_block{
        display:flex;
        align-items:center;
        font-size:25px;
        color:rgba(255,255,255,.5);
        transform:skew(-10deg);
        .wrap_times{
          background-color:rgba(57, 29, 78,.8);
          width:40px;
          height:40px;
          border-radius:4px;
          display:inline-flex;
          align-items:center;
          padding:3px 10px;
          color:#fff;
          opacity:.7;
          font-size:25px;
          span{
            transform:skew(10deg);
          }
        }
        .devided{
          display:inline-block;
          padding:0 5px;
          opacity:.6;
        }
      }
      .text_block_timer span{
        color:#fff;
        font-size:25px;
      }
    }
  }
}
.content{
  min-height:100%;
  z-index:10;
}
.intro{
  width:100%;
  min-height:100%;
  background-color:#24093f;
  background-image:url(../img/intro_bg.jpg);
  background-position:center center;
  background-size:cover;
  padding-top:30px;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  position:relative;
  @media(max-width:991px){
    background-position:59% 0;
    padding-top:5px;
  }
  .bg_automat{
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    top:0;
    z-index:0;
    display:flex;
    align-items:center;
    .automat{
      position:absolute;
      right:0;
      top:0;
      pointer-events:none;
      @media(max-width:991px){
        display:none;
      }
    }
    .light{
      position:absolute;
      animation:lights .5s ease infinite;
      animation-delay: calc(var(--i)*.1s);
      opacity:0;
      @media(max-width:991px){
        display:none;
      }
      @keyframes lights {
        0%{opacity:0;}
        50%{opacity:1;}
        100%{opacity:0;}
      }
      &.light_1{
        top:336px;
        right:475px;
      }
      &.light_2{
        top:289px;
        right:481px;
      }
      &.light_3{
        top:236px;
        right:474px;
      }
      &.light_4{
        top:190px;
        right:452px;
      }
      &.light_5{
        top:154px;
        right:418px;
      }
      &.light_6{
        top:128px;
        right:370px;
      }
      &.light_7{
        top:120px;
        right:319px;
      }
      &.light_8{
        top:129px;
        right:267px;
      }
      &.light_9{
        top:154px;
        right:222px;
      }
      &.light_10{
        top:191px;
        right:188px;
      }
      &.light_11{
        top:238px;
        right:165px;
      }
      &.light_12{
        top:289px;
        right:159px;
      }
    }
  }
}
.text-center{
  text-align:center;
}
.container {
  max-width:1350px;
  margin:auto;
  padding:0 15px;
  .col-left{
    padding-top:10px;
    width:740/1350*100%;
    max-width:740px;
    @media(max-width:991px){
      width:100%;
      max-width:100%;
      padding-top:10px;
    }
    .nums_block{
      display:flex;
      align-items:center;
      justify-content:space-between;
      margin-top:-35px;
      @media(max-width:991px){
        justify-content:center;
        margin-top:0;
      }
      @media(max-width:565px){
        margin-top:-20px;
      }
      .ml_img{
        margin-left:-50px;
        opacity:.8;
        @media(max-width:991px){
          margin-left:0;
          max-width:200px;
        }
        @media(max-width:565px){
          max-width:140px;
        }
      }
      .ml_text{
        margin-left:-50px;
        @media(max-width:991px){
          margin-left:-10px;
          margin-top:0;
          font-size:35px;
          line-height:20px;
        }
        @media(max-width:565px){
          font-size:16px;
          line-height:20px;
        }
      }
      .ml_img_2{
        margin-left:-25px;
        @media(max-width:991px){
          margin-left:0;
          max-width:160px;
        }
        @media(max-width:565px){
          max-width:110px;
        }
      }
      .ml_text_2{
        margin-left:-20px;
        @media(max-width:991px){
          margin-left:0;
          font-size:35px;
          line-height:20px;
        }
        @media(max-width:565px){
          font-size:16px;
          line-height:20px;
        }
      }
    }
    .text_block{
      margin-top:-130px;
      @media(max-width:991px){
          margin-top:-30px;
          display:flex;
          flex-direction:column;
          align-items:center;
        }
      .btn_gradient{
        font-size:30px;
        line-height:25px;
        font-family:inherit;
        color:#fff;
        text-decoration:none;
        text-transform:uppercase;
        display:inline-flex;
        align-items:center;
        justify-content:center;
        padding: 30px 70px 30px 70px;
        background:linear-gradient(90deg,rgb(124, 60, 202) 30%, #4d4ee4);
        border-radius:200px;
        box-shadow:inset 3px 3px 5px rgba(124, 60, 202,1),
                  inset 1px 1px 4px rgba(255, 255, 255,.5),
                  0px 4px 0px rgba(124, 60, 202,.7),
                  0 0 100px rgba(255,255,255,.3);
        margin-top:-20px;
        transition:box-shadow .3s;
        will-change:box-shadow;
        &:hover{
          box-shadow:inset 3px 3px 5px rgba(124, 60, 202,1),
                  inset 1px 1px 4px rgba(255, 255, 255,.1),
                  0px 1px 0px rgba(124, 60, 202,.7),
                  0 0 150px rgba(255,255,255,.3),
        }
        @media(max-width:991px){
          margin-top:-20px;
          padding: 15px 30px 15px 30px;
          font-size:20px;
          line-height:20px;
        }
      }
    }
  }
  .col-full{
    width:100%;
    position:relative;
    display:flex;  
    justify-content:flex-end;
    padding-top:10px;
    @media(max-width:767.9px){
          padding-top:20px;
        }
    .step_block{
      width:700/1350*100%;
      display:flex;
      align-items:center;
      justify-content:space-between;
      @media(max-width:1280px){
        width:900/1350*100%;
      }
      @media(max-width:991px){
        width:100%;
        justify-content:space-around;
      }
      @media(max-width:767.9px){
          flex-wrap:wrap;
        }
      .step_item{
        display:flex;
        align-items:center;
        @media(max-width:991px){
          margin-left:-30px
        }
        @media(max-width:767.9px){
          width:100%;
          padding-top:0;
          justify-content:center;
        }
        @media(max-width:565px){
          padding-left:0;
          transform:translateX(0);
        }
        img{
          @media(max-width:991px){
            max-width:50px;
          }
          @media(max-width:565px){
            max-width:40px;
          }
        }
      }
      .step_text{
        font-size:25px;
        line-height:25px;
        color:#fff;
        font-family:inherit;
        @media(max-width:991px){
          font-size:22px;
          line-height:22px;
        }
        @media(max-width:565px){
          font-size:17px;
          line-height:17px;
        }
      }
    }
  }
}
.img-fluid{
  max-width:100%;
}
.text_content{
  font-size:45px;
  line-height:25px;
  color:#fff;
  font-family:inherit;
  @media(max-width:991px){
    display:inline-flex;
    width:100%;
    justify-content:center;
  }
}
.title{
  font-size:45px;
  line-height:25px;
  color:#fff;
  @media(max-width:991px){
    font-size:30px;
    line-height:30px;
  }
}
.footer{
  width:100%;
  background-color:rgba(52, 33, 58,.4);
  padding:25px 0;
  z-index:10;
  @media(max-width:991px){
    padding:10px 0;
  }
  .flex_item{
    display:flex;
    align-items:center;
    justify-content:space-between;
    @media(max-width:991px){
      flex-wrap:wrap;
    }
    .block_partners{
      display:flex;
      align-items:center;
      @media(max-width:1280px){
        flex-wrap:wrap;
        justify-content:flex-start;
      }
      @media(max-width:991px){
        display:none;
      }
    }
    .block_partners img{
      padding-right:12px;
    }
    .social_block{
      display:flex;
      align-items:center;
      @media(max-width:991px){
        order:1;
        width:100%;
        justify-content:center;
      }
      .padright{
        padding-right:10px;
      }
      .social_link{
        display:inline-block;
        padding:0 5px;
      }
      .social_link:last-of-type{
        padding-right:0;
      }
    }
  }
}
.mobile_automat{
  display:flex;
  justify-content:center;
  width:100%;
  margin-top:-50px;
  @media(min-width:992px){
    display:none;
  }
}










