$duration: 2s;

#process-marketing {
  @include transition-ease;

  &,
  &-earth,
  &-cloud,
  .process-marketing-earth-circle,
  .process-marketing-earth-icon {
    animation-duration: $duration;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    opacity: 0;
  }

  &.animate {
    animation-name: processMarketingOpacity;
    animation-direction: alternate;

    #process-marketing-earth {
      animation-name: processMarketingEarthOpacity;
    }

    #process-marketing-cloud {
      animation-name: processMarketingCloudOpacity;
    }

    .process-marketing-earth-circle {
      transform-origin: center;
      animation-name: processMarketingCirclesOpacity;
    }

    .process-marketing-earth-icon {
      animation-name: processMarketingIconsOpacity;
    }
  }

  &.hide {
    opacity: 0!important;
  }

  &.unanimate {
    animation-name: processMarketingOpacityReverse;
    animation-direction: alternate;

    #process-marketing-earth {
      animation-name: processMarketingEarthOpacityReverse;
    }

    #process-marketing-cloud {
      animation-name: processMarketingCloudOpacityReverse;
    }

    .process-marketing-earth-circle {
      transform-origin: center;
      animation-name: processMarketingCirclesOpacityReverse;
    }

    .process-marketing-earth-icon {
      animation-name: processMarketingIconsOpacityReverse;
    }
  }
}

@keyframes processMarketingOpacity {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes processMarketingEarthOpacity {
  0% {
    opacity: 0;
  }

  34% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes processMarketingCloudOpacity {
  0% {
    opacity: 0;
  }

  14% {
    opacity: 0;
  }

  36% {
    opacity: 1;
  }


  100% {
    opacity: 1;
  }
}

@keyframes processMarketingCirclesOpacity {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  50% {
    opacity: 0;
    transform: scale(0);
  }

  75% {
    opacity: .2;
    transform: scale(1);
  }

  100% {
    opacity: .2;
    transform: scale(1);
  }
}

@keyframes processMarketingIconsOpacity {
  0% {
    opacity: 0;
  }

  70% {
    opacity: 0;
  }

  85% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}


@keyframes processMarketingOpacityReverse {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes processMarketingEarthOpacityReverse {
  0% {
    opacity: 1;
  }

  66% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes processMarketingCloudOpacityReverse {
  0% {
    opacity: 1;
  }

  64% {
    opacity: 1;
  }

  86% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }

}

@keyframes processMarketingCirclesOpacityReverse {
  0% {
    opacity: .2;
    transform: scale(1);
  }

  25% {
    opacity: .2;
    transform: scale(1);
  }

  50% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 0;
    transform: scale(0);
  }
}

@keyframes processMarketingIconsOpacityReverse {
  0% {
    opacity: 1;
  }

  15% {
    opacity: 1;
  }

  30% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}