// style five "brizers"
.contact_block{
  &.white_style{
    .phone_header{
      color:#fff;
    }
    .btn_city{
      color:#fff;
      margin-top:5px;
      padding-right:6px;
      .shevrron_down{
        transform:rotateZ(0deg);
        line{
          stroke:#fff;
        }
      }
    }
    .link_mail{
      color:#fff;
    }
  }
} 
.intro_brizers{
  position:relative;
  padding: 293px  0px  38px  0px;
  background-image:url(../img/bg_brizers.jpg);
  background-size:cover;
  background-position:center center;
  background-repeat:no-repeat;
  max-height:579px;
  height:100%;
  @media(max-width:991px){
    max-height:236px;
    padding: 15px  0px  30px  0px;
    display:flex;
    align-items:flex-end;
    background-position:0;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
  }
}
.white_big_title{
  font-size:53px;
  line-height:65px;
  color:#fff;
  font-family:"Montserrat_medium";
  @media(max-width:991px){
    font-size:39px;
    line-height:48px;
  }
}
.white_sub_title{
  font-size:33px;
  line-height:40px;
  color:#fff;
  font-family:"Montserrat_reg";
  padding-top:6px;
  @media(max-width:991px){
    font-size:20px;
    line-height:24px;
  }
}
.mobile_search_page{
  padding-top:68px;
  .search_banner{
    margin-bottom:18px;
    .search_input{
      width:100%;
      height:46px;
      margin-bottom:0;
      input{
        height:100%;
        font-size:15px;
        line-height:18px;
        color: rgba(0, 0, 0, 0.45);
        padding: 7px  15px  9px  15px;
        background: #FFFFFF;
        box-shadow: 1px -1px 4px rgba(0, 0, 0, 0.25);
      }
      .search_btn{
        right:10px;
      }
    }
  }
  @media(min-width:992px){
    display:none;
  }
}
.search_item_banner{
  display:flex;
  justify-content:flex-end;
  padding-right:5px;
  @media(max-width:991px){
    display:none;
  }
  .search_banner{
    margin-top:-5px;
    .search_input{
      width:337px;
      height:46px;
      input{
        height:100%;
        font-size:15px;
        line-height:18px;
        color: rgba(0, 0, 0, 0.45);
        padding: 7px  15px  9px  15px;
        background: #FFFFFF;
        box-shadow: 1px -1px 4px rgba(0, 0, 0, 0.25);
        font-family:'Montserrat_reg';
      }
      .search_btn{
        right:10px;
      }
    }
  }
}
.staff_banner{
  width:100%;
  height:65px;
  background-color:#fff;
  box-shadow: 0px -0.5px 10px rgba(0, 0, 0, 0.05), 0px 6px 10px rgba(0, 0, 0, 0.16);
  border-radius: 10px;
  overflow:hidden;
  display:flex;
  @media(max-width:991px){
      display:none;
    }
  .pure_clean{
    background: linear-gradient(105.36deg, #F71212 2.87%, #F8A120 98.65%);
    padding: 5px  5px  5px  18px;
    max-width:116px;
    width:100%;
    display:inline-flex;
    align-items:center;
    span{
      font-size:16px;
      line-height:100.9%;
      color:#fff;
      font-family:"Montserrat_semibold";
    }
    @media(max-width:1439px){
      max-width:105px;
      padding: 5px  5px  5px  10px;
    }
  }
  .text_block_staf{
    display:flex;
    flex-direction:column;
    justify-content:center;
    padding: 5px  5px  5px  22px;
    @media(max-width:1439px){
      flex:1 1 180px;
      padding: 5px  5px  5px  10px;
    }
    .min_text{
      display:inline-block;
      font-size:13px;
      line-height:100.9%;
      color:#000;
      font-family:"Montserrat_reg";
    }
  }
  .min_bold_text{
      display:inline-block;
      font-size:15px;
      line-height:100.9%;
      color: rgba(0, 0, 0, 0.7);
      font-family:"Montserrat_semibold";
    }
  .avatar_staffs{
    display:flex;
    align-items:center;
    padding: 0px  0px  0px  25px;
    a{
      display:inline-block;
      margin: 0px  2px  0px  2px;
      img{
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      }
    }
    @media(max-width:1439px){
      padding: 0px  0px  0px  10px;
    }
    .blue_link_all{
      color:#31ACE4;
      font-size:15px;
      line-height:100.9%;
      font-family:"Montserrat_semibold";
      display:inline-flex;
      align-items:center;
      margin: 0px  0px  0px  15px;
      img{
        margin: 2px  0px  0px  3px;
      }
      @media(max-width:1439px){
      margin: 0px  0px  0px  7px;
      font-size:13px;
      white-space:nowrap;
      }
    }
  }
  .banner_contacts{
    height:100%;
    display:flex;
    align-items:center;
    padding: 0px  5px  0px  37px;
    @media(max-width:1439px){
      padding: 0px  5px  0px  15px;
    }
    .min_bold_text{
      @media(max-width:1439px){
      flex:0 0 118px;
      display:inline-flex;
      }
    }
    .green_text_link{
      font-size:15px;
      line-height:100.9%;
      font-family:"Montserrat_medium";
      color:#43DC5E;
      display:inline-flex;
      padding: 0px  0px  0px  10px;
      @media(max-width:1199px){
        font-size:13px;
      }
    }
    .blue_phone{
      font-size:15px;
      color:#31ACE4;
      line-height:100.9%;
      font-family:"Montserrat_medium";
      display:inline-flex;
      border-left:1px solid rgba(0,0,0,.5);
      border-right:1px solid rgba(0,0,0,.5);
      margin-left:10px;
      padding: 0px  10px  0px  10px;
    }
  }
}
.bread_crumb_desc{
  @media(max-width:991px){
    display:none;
    }
  }
.breadcrumb{
  margin-bottom:0;
  background-color:transparent;
  padding: 33px  0px  33px  0px;
  .breadcrumb-item{
    color:#5D5D5D;
    font-size:14px;
    line-height:100.9%;
    font-family:"Montserrat_medium";
    a{
      color:inherit;
      font-family:inherit;
    }
  }
  .breadcrumb-item+.breadcrumb-item{
    position:relative;
    padding-left:50px;
  }
  .breadcrumb-item+.breadcrumb-item::before{
    content: '';
    position:absolute;
    background-image:url(../svg/bread_shevron.svg);
    background-size:cover;
    width:7px;
    height:12px;
    top:0;
    bottom:0;
    margin:auto;
    display:inline-block;
    float:none;
    left:21px;
  }
}
.bread_crumb_mobile{
  @media(min-width:992px){
    display:none;
  }
  .breadcrumb{
    padding: 15px  0px  10px  0px;
  }
  .breadcrumb-item{
    color:#fff;
    font-size:14px;
    line-height:100.9%;
    font-family:"Montserrat_medium";
    a{
      color:inherit;
      font-family:inherit;
    }
  }
}
.wrapper_gray{
  background-color:#F8F9FE;
  box-shadow: 5px 4px 6px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  .top_block{
    background-color:transparent;
    padding: 27px 23px 20px;
    border-bottom:1px solid #C8C8C8;
    display:flex;
    width:100%;
    align-items:center;
    justify-content:space-between;
    .list_type{
      display:inline-flex;
      
      .type_item{
        display:inline-flex;
        align-items:center;
        background-color:#fff;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        transition:box-shadow .2s;
        padding:7px  12px;
        font-size:13px;
        line-height:16px;
        letter-spacing:0.01em;
        color:#5E5E5E;
        font-family:"Montserrat_semibold";
        margin-right:15px;
        text-align:center;
        min-height:100%;
        &:hover{
          text-decoration:none;
          box-shadow:0px 2px 2px rgba(0, 0, 0, 0.1);
        }
        &:last-child{
          margin-right:5px;
        }
      }
    }
    .look_more{
      display:inline-flex;
      align-items:baseline;
      font-size:15px;
      line-height:100.9%;
      color:#31ACE4;
    }
  }
  .bottom_block{
    background-color:transparent;
    padding: 15px 23px 20px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    .sort{
      display:inline-flex;
      align-items:center;
      font-size:15px;
      line-height:100.9%;
      color:#565656;
      font-family:"Montserrat_semibold";
      .my_select{
        position:relative;
        border:none;
        outline:none;
        background-color:transparent;
        color:#31ACE4;
        font-size:15px;
        line-height:100.9%;
        font-family:"Montserrat_medium";
        cursor:pointer;
      }
    }
    .btn_view{
      border:none;
      background-color:transparent;
      outline:none;
      padding:0;
      svg g{
        transition:opacity .2s;
      }
      &:hover svg g{
        opacity:1;
      }
      &.active svg g{
        opacity:1;
      }
    }

  }
}
.content_page{
  padding-top:30px;
  .left_col_filter{
    
    .content_filter{
      display:flex;
      flex-direction:column;justify-content:flex-start;
      padding:23px 13px 15px;
      .filtr_search{
        display:flex;
        align-items:center;
        width:100%;
        position:relative;
        margin-bottom:16px;
        .form-control{
          border:none;
          background-color:#fff;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          border-radius: 10px;
          padding:8px 20px 8px 10px;
          min-height:43px;
          font-size:16px;
          line-height:20px;
          letter-spacing:0.01em;
          &::-webkit-input-placeholder{
            font-size:16px;
            line-height:20px;
            letter-spacing:0.01em;
            color:#AFAFAF;
            font-family:"Montserrat_semibold";
          }
        }
        .btn_search{
          position:absolute;
          top:0;
          bottom:0;
          right:0;
          border:none;
          padding:0px;
          background-color:transparent;
          height:100%;
          width:40px;
          img{
            opacity:.7;
            transition:opacity .2s;
          }
          &:hover img{
            opacity:1;
          }
        }
      }
      .block__item{
        background-color:#fff;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        padding: 2px 14px 2px 14px;
        margin-bottom:13px;
      }
      .block__title{
        border:none;
        background:transparent;
        padding:8px 5px 8px 0px;
        font-size:16px;
        line-height:20px;
        letter-spacing:0.01em;
        color:#444;
        width:100%;
        text-align:left;
        font-family:"Montserrat_semibold";
        img{
          transition:transform .3s;
        }
        &:not(._active) img{
          transform:rotateZ(-180deg);
        }
      }
      .block__item-filtr{
        padding:5px 0 10px 3px;
        .filtr_check{
          position:relative;
          cursor: pointer;
          width:100%;
          padding:5px 0;
          input[type=checkbox]{
            display:none;
          }
          .checked{
            position:absolute;
            left:0;
            top:4px;
            width:18px;
            height:18.4px;
            border:1px solid #666;
            border-radius:5px;
            img{
              opacity:0;
              transition:opacity .3s;
            }
          }
          input[type=checkbox]:checked + .checked img{
            opacity:1;
          }
          .name_item_filtr{
            display:inline-flex;
            align-items:center;
            text-align:left;
            padding-left:25px;
            font-size:15px;
            line-height:100.9%;
            color:rgba(0,0,0,.7);
            img{
              padding-right:2px;
            }
            img:last-of-type{
              padding-right:10px;
            }
            .count_stars{
              font-size:10px;
              line-height:100.9%;
              color:rgba(0,0,0,.7);
              font-family:"Montserrat_reg";
            }
          }
        }
        .btn_other_brend{
          font-family:"Montserrat_semibold";
          font-size:14px;
          line-height:17px;
          letter-spacing:0.01em;
          color:#4AB6E8;
          border:none;
          background-color:transparent;
          width:100%;
          text-align:center;
          display:inline-flex;
          align-items:center;
          justify-content:center;
          &:focus{
            outline:none;
          }
          &:hover{
            text-decoration:underline;
          }
        }
      }
      .wrapper_price_filter{
        display:flex;
        align-items:center;
        justify-content:space-between;
        padding-top:20px;
        .price_filter{
          display:flex;
          position: relative;
          align-items:center;
          width:112px;
          height:30px;
          border:1px solid #989898;
          border-radius:5px;
          padding:0 15px;
          .price_text{
            font-size:13px;
            line-height:100.9%;
            color:rgba(92, 92, 92,.7);
            font-family:"Montserrat_medium";
            display:inline-block;
            padding-right:5px;
          }
          input{
            border:none;
            font-size:13px;
            line-height:100.9%;
            color:rgba(0, 0, 0,.7);
            font-family:"Montserrat_medium";
            background-color:transparent;
            width:100%;
            &::-webkit-outer-spin-button{
              -webkit-appearance:none;
              margin:0;
            }
            &::-webkit-inner-spin-button{
              -webkit-appearance:none;
              margin:0;
            }
            &::-webkit-input-placeholder{
              color:rgba(0, 0, 0,.7);
            }
            &:focus{
              outline:none;
            }
          }
        }
      }
      .noUi-target{
        border:none;
      }
      .noUi-horizontal{
        height:4px;
      }
      .noUi-connect{
        background: linear-gradient(269.87deg, #F71212 -19.63%, #FDB41E 57.96%), #C4C4C4;
      }
    }
  }
}
.noUi-handle:after, .noUi-handle:before{
  display:none;
}
#filtr_price.noUi-horizontal .noUi-handle{
  width:20px;
  height:20px;
  background-color:#fff;
  border-radius:50%;
  border:3px solid #767676;
  box-shadow:none;
}
.noUi-horizontal .noUi-handle{
    cursor: pointer;
    width:20px;
    height:20px;
    border-radius:50%;
    border:none;
    background-color:#fff;
    box-shadow: 5px -1px 5px rgba(0, 0, 0, 0.25);
  }
.noUi-horizontal .noUi-handle-upper{
  right:0;
}
.filter_price_slider{
  margin-top:10px;
}
.right_col_content{
  
  
}
//style card category card
.card_category_page{
  width:100%;
  padding:15px;
  background-color:#fff;
  box-shadow: -5px 4px 6px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display:flex;
  position: relative;
  overflow:hidden;
  justify-content:space-between;
  .col_slider_card{
    flex:0 0 22%;
    max-width:22%;
    .slider_good_category{
      position:relative;
      max-width:100%;
      .slider_cat_item{
        text-align:center;
        display:inline-flex;
        align-items:center;
        justify-content:center;
      }
    }
  }
  .col_center_card{
    overflow:hidden;
    position:relative;
    flex:1 1 auto;
    .rows_table{
      margin-bottom:10px;
    }
    .pay_part{
      margin-top:20px;
      margin-bottom:10px;
      max-width:313px;
    }
  }
  .col_right_card{
    flex:1 1 20%;
    padding-right:30px;
    .new_price{
      span{
        font-family:'Montserrat_medium';
      }
    }
    .old_price{
      flex-direction:row;
    }
    .blk_btn_category_card{
      display:flex;
      align-items:center;
      .heart_favorite{
        border:none;
        background-color:transparent;
        padding:0 10px;
      }
    }
  }
}











