.page_card{
  .menu_link{
    color:#323232;
    svg{
      line{stroke:#323232;}
    }
    .dropdown_menu_wrapper{
      opacity:0;
      pointer-events:none;
    }
    &:hover .dropdown_menu_wrapper{
      opacity:1;
      pointer-events:visible;
    }
  }
  .menu_main{
    @media(min-width:992px){
      border-bottom:1px solid #888888;
    }
  }
  &.active .menu_main{
    border-bottom:none;
    width:100%;
  }
  &.active .menu_block{
    width:100%;
  }
  &.active .bread_crumb_desc{
      display:none !important;
    }
  .menu_top_block{
    @media(min-width:992px){
      display:flex;
      flex-direction:column;
    }
    .bread_crumb_desc{
      width:100%;
      padding-left:27px;
      .breadcrumb{
        padding:15px 0;
      }
    }
  }
  .wrapper_page_card{
    width:100%;
    @media(min-width:992px){
      display:flex;
      flex-wrap:wrap;
      flex-direction:column;
      justify-content:space-between;
    }
  }
  .wrapper_banner_card{
    width:100%;
    padding-left:27px;
    .staff_banner{
      margin-top:27px;
      height:60px;
    }
  }
  &.active .wrapper_banner_card{
    display:none;
    .staff_banner{
      margin-top:5px;
    }
  }
  .wrap_wrap_item{
    width:100%;
    flex:0 0 100%;
    display:flex;
  }
}
.goods_description{
  padding-top:230px;
}
.wrapper_content_card{
  display:flex;
  flex:1 1 100%;
  justify-content:space-between;
  align-items:baseline;
  border-bottom:1px solid #888888;
  @media(max-width:1199px){
    flex-wrap:wrap;
  }
  .left_content_card{
    display:flex;
    flex:0 1 calc((702/1290)*100%);
    width:100%;
    max-width: calc((702/1290)*100%);
    flex-direction:column;
  }
  .right_content_card{
    display:flex;
    flex:0 1 calc((535/1290)*100%);
    width:100%;
    max-width:calc((535/1290)*100%);
    flex-direction:column;
    .wrapper_shadow_content{
      width:100%;
      background-color:#fff;
      box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
      padding:20px 25px 32px;
    }
  }
}
.wrapper_slider_card{
  display:flex;
  flex:0 1 100%;
  position:relative;
  max-width:100%;
  justify-content:space-between;
  padding-bottom:10px;
  border-bottom:1px solid #888888;
  padding-top:32px;
  .left_slider_card{
    max-width:50px;
    flex:0 0 50px;
    height:100%;
    .slick-track{
      transform: none !important;
    }
    .slider_left_item{
      width:50px;
      max-width:50px;
      overflow:hidden;
      height:50px;
      border:1px solid #DADADA;
      border-radius:10px;
      display:flex;
      align-items:center;
      justify-content:center;
      cursor: pointer;
      margin-bottom:4px;
      &.slick-current{
        border-color:#31ACE4;
      }
    }
  }
  .right_slider_card{
    height:100%;
    width:100%;
    position:relative;
    padding:85px 0 30px;
    overflow:hidden;
    .right_slider_card_block{
      height:100%;
      display:flex;
      align-items:center;
      justify-content:center;
      .slick-prev{
        left:20px;
        width:20px;
        height:39px;
        opacity:1;
        z-index:1;
        &:before{
          content: '';
          opacity:1;
          position:absolute;
          left:0;
          top:0;
          width:100%;
          height:100%;
          background-image:url(../svg/left_card_arrow.svg);
          background-size:100%;
          background-repeat:no-repeat;
          background-position:center center;
          z-index:1;
        }
      }
      .slick-next{
        right:0px;
        width:20px;
        height:39px;
        opacity:1;
        &:before{
          content: '';
          opacity:1;
          position:absolute;
          left:0;
          top:0;
          width:100%;
          height:100%;
          background-image:url(../svg/right_card_arrow.svg);
          background-size:100%;
          background-repeat:no-repeat;
          background-position:center center;
          z-index:1;
        }
      }
    }
    .slider_right_item{
      display:flex;
      align-items:center;
      justify-content:center;
    }
  }
}
.top_items_slider{
  display:flex;
  justify-content:space-between;
  align-items:center;
  position:absolute;
  left:20px;
  top:0px;
  width:100%;
}
.looks_block{
  display:flex;
  align-items:center;
  .gray_min_bold_text{
    font-size:13px;
    line-height:16px;
    letter-spacing:0.04em;
    color:rgba(0,0,0,.43);
    font-family:'Montserrat_semibold';
  }
  .green_items_looks{
    padding-left:20px;
    .green_min_bold_text{
      font-size:13px;
      line-height:16px;
      letter-spacing:0.04em;
      color:rgba(15, 193, 33, .93);
      font-family:'Montserrat_semibold';
      text-decoration:underline;
    }
  }
}
.buttons_favorite_block{
  .stat_goods{
    right:60px;
    left:auto;
    top:0;
    bottom:0;
    margin:auto;
  }
  .favorite_goods{
    right:20px;
    left:auto;
    top:0;
    bottom:0;
    margin:auto;
  }
}
.about_goods{
  margin:20px 0;
  width:100%;
  display:flex;
  align-items:center;
  justify-content:space-between;
  .item_about{
    display:flex;
    align-items:center;
    position:relative;
    span{
      font-size:13px;
      line-height:100.9%;
      color:#000;
      font-family:'Montserrat_medium';
    }
    .icon_quest{
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
  }
}
.answer_questions{
      position:absolute;
      right:0;
      top:-25px;
      padding:5px 10px;
      border-radius:10px;
      background-color:#eee;
      opacity:0;
      visibility:hidden;
      transition:opacity .2s;
      pointer-events:none;
    }
    .icon_quest:hover + .answer_questions{
      opacity:1;
      visibility:visible;
    }
.top_block_brand{
  display:flex;
  align-items:center;
  justify-content:space-between;
  width:100%;
  padding:10px 0 20px;
  position:relative;
  border-bottom:1px solid #888888;
  .name_brand_card{
    display:flex;
    align-items:center;
    .blue_name_brand{
      font-size:13px;
      line-height:16px;
      font-family:'Montserrat_semibold';
      color:rgba(49, 172, 228, 1);
      span{
        color:#000;
      }
    }
  }
  .rating_block_card{
    position:relative;
    display:flex;
    align-items:center;
    .raiting_goods{
      position:relative;
      top:auto;
      left:auto;
      right:auto;
      padding-right:17px;
    }
    .link_comments_goods{
      font-size:13px;
      line-height:16px;
      color:#919191;
      letter-spacing:0.04em;
      font-family:'Montserrat_semibold';
    }
  }
}
.content_card_main{
  display:flex;
  flex-direction:column;
  align-items:start;
  .select_item_block .left_block_select{
    padding-right:0;
    flex:0 1 45%;
  }
  .select_item_block .right_block_select{
    flex:0 1 55%;
    .wrapper_shadow{
      box-shadow: 0px -0.5px 10px rgba(0, 0, 0, 0.04);
    }
  }
  .select_item_block .left_block_select .other_color{
    font-size:15px;
    line-height:18px;
    letter-spacing:0.04em;
    padding-left:10px;
  }
  .check_filter .checked{
    top:0;
    bottom:0;
    margin:auto;
    border-color:#666666;
    width:24px;
    height:24px;
    border-radius:5px;
  }
  .check_filter{
    &:last-of-type{
      margin-bottom:15px;
    }
    .name_filtr{
      font-size:15px;
      line-height:100.9%;
      color:rgba(0,0,0,.9);
      position:relative;
      .price_dop{
        font-size:20px;
        line-height:100.9%;
        color: rgba(3, 3, 3, 0.63);
        font-family:'Montserrat_semibold';
        display:inline-block;
        padding-left:10px;
      }
    }
    .info_filtr{
      position:relative;
      .icon_quest{
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      }
      .answer_questions{
        min-width:150px;
        position:absolute;
        right:0;
        top:-35px;
        padding:5px 10px;
        border-radius:10px;
        background-color:#eee;
        opacity:0;
        visibility:hidden;
        transition:opacity .2s;
        pointer-events:none;
      }
      .icon_quest:hover + .answer_questions{
        opacity:1;
        visibility:visible;
      }
    }
  }
  .total_order_block{
    justify-content:space-between;
    padding-top:10px;
    .wrapper_block_price{
      display:flex;
      align-items:center;
      justify-content:flex-start;
    }
    .big_font_gray{
      font-size:44px;
      line-height:100.9%;
      color:#343434;
      font-family: 'Montserrat_reg';
    }
    .total_order_proce{
      padding-left:20px;
      font-size:44px;
      line-height:100.9%;
      font-family: 'Montserrat_light';
    }
    .old_price_stock{
      display:inline-flex;
      align-items:center;
      font-size:20px;
      line-height:100.9%;
      color:rgba(0, 0, 0, 0.6);
      text-decoration-line: line-through;
      font-family: 'Montserrat_semibold';
    }
  }
  .min_text{
    font-size:13px;
    line-height:140.9%;
    color:rgba(0,0,0,.7);
    font-family: 'Montserrat_medium';
    padding-left:3px;
  }
  .blk_btn_category_card{
    display:flex;
    margin-top:32px;
    .gradient_btn_other{
      margin-right:20px;
      height:100%;
    }
    .heart_favorite{
      width:44px;
      height:44px;
      background-color:#F8F9FE;
      border-radius: 10px;
      box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
      border:none;
      padding:0;
      &:hover{
        svg{
          path{
            fill:rgba(0,0,0,.7);
          }
        }
      }
    }
  }
}
.name_good_bold{
  font-size:35px;
  line-height:43px;
  color:#0A0A0A;
  font-family:'Montserrat_semibold';
  padding-top:5px;
}
.complectation_block_card{
  display:flex;
  justify-content:space-between;
  width:100%;
  padding-top:40px;
  .inp_col{
    flex:0 0 auto;
    border-radius: 10px;
    padding:0;
    .body_input{
      padding:15px 10px;
    }
    .content_input_top{
      .name_select{
        font-size:13px;
        line-height:100.9%;
        color:rgba(0,0,0,.8);
        font-family:'Montserrat_bold';
      }
      .blue_bold_name{
        font-size:13px;
        line-height:100.9%;
        color:rgba(49, 172, 228, .8);
        font-family:'Montserrat_bold';
      }
    }
    .content_input_bottom{
      padding-left:0;
      display:flex;
      flex-direction:column;
      .price_input{
        font-size:27px;
        line-height:100.9%;
        color:rgba(0,0,0,.6);
      }
    }
    .more_gray{
      font-size:13px;
      line-height:100.9%;
      color: #848282;
      text-decoration:none;
      &:hover{
        text-decoration:underline;
      }
    }
  }
}
.cashback_bonus{
  display:flex;
  align-items:center;
  justify-content:space-between;
  background: #F8F9FE;
  box-shadow: 0px -0.5px 10px rgba(0, 0, 0, 0.04), 0px 6px 10px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  padding:10px 20px 25px;
  .cash_back{
    display:flex;
    align-items:flex-end;
    .cash{
      padding-left:5px;
      padding-bottom:3px;
      font-size:13px;
      line-height:100.9%;
      color:rgba(0,0,0,.9);
      font-family:'Montserrat_semibold';
      .cash_num{
        font-size:16px;
      }
    }
  }
  .bonus_aeros_item{
    display:flex;
    align-items:center;
    padding-top:10px;
    .text_bonus{
      font-size:16px;
      line-height:100.9%;
      color:rgba(0,0,0,.9);
      font-family:'Montserrat_semibold';
    }
  }
  .wrap_bonus_gradient{
          height:26px;
          background: linear-gradient(99.2deg, #F71212 10.83%, #F8A120 92.04%);
          padding:1px;
          border-radius:1000px;
          margin-left:7px;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          .white_bg_bonus{
            border-radius:1000px;
            background-color:#fff;
            padding:2px;
            width:100%;
            height:100%;
            display:inline-flex;
            align-items:center;
            .summ_bonus{
              font-size:16px;
              line-height:100.9%;
              color:#000;
              font-family:"Montserrat_semibold";
              padding:0 6px 0 3px;
              display:inline-block;
            }
          }
        }
  .benefit{
    .bold_gray_text{
      font-size:24px;
      line-height:100.9%;
      color: #343434;
      font-family:"Montserrat_reg";
    }
    .gradient_total_price{
      font-size:24px;
      line-height:100.9%;
      font-family:"Montserrat_semibold";
      background: linear-gradient(180deg, #FF1010 0%, #F8A120 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
.available_goods_test_block{
  background: #F8F9FE;
  box-shadow: 0px -0.5px 10px rgba(0, 0, 0, 0.04), 0px 6px 10px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  padding:30px 40px 38px;
  margin-top:37px;
  overflow:hidden;
  .block_goods{
    display:flex;
    align-items:center;
    .icon_quest{
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    .image_goods{
      position:relative;
      text-align:center;
      min-width:125px;
      .shadow_back_image{
        background: linear-gradient(92.58deg, rgba(247, 18, 18, 0.7) -14.51%, rgba(228, 158, 15, 0.7) 82.83%, rgba(255, 233, 34, 0.7) 139.94%);
        filter: blur(40px);
        border-radius: 10px;
        position:absolute;
        width:104px;
        height:112px;
        left:0;
        right:0;
        top:20px;
        z-index:0;
        margin:auto;
      }
      .goods_img{
        position:relative;
        z-index:1;
      }
    }
    .description_text{
      padding-left:40px;
      .text{
        position:relative;
        display:inline-block;
        font-size:25px;
        line-height:30px;
        color:#000;
        font-family:'Montserrat_medium';
      }
      .info_filtr{
        position:relative;
      }
      .answer_questions{
        min-width:150px;
        text-align:left;
        padding:10px 15px;
      }
      .answer_text{
        font-size:13px;
        line-height:13px;
        display:inline-block;
      }
    }
  }
  .green_button_item{
    width:100%;
    margin-top:20px;
    .green_link_modal{
      background: #4AD057;
      border-radius: 10px;
      display:inline-flex;
      align-items:center;
      color:#fff;
      font-size:15px;
      line-height:18px;
      font-family:'Montserrat_bold';
      width:100%;
      justify-content:center;
      padding:13px 0;
      img{
        padding-top:2px;
      }
    }
  }
}
.montage_block{
  padding-bottom:15px;
}
.title_block_mini{
  font-size:30px;
  line-height:37px;
  color:#000;
  font-family:'Montserrat_reg';
}
.wrap_mini_shadow{
  padding:15px 30px;
  background: #FFFFFF;
  box-shadow: 0px -0.5px 10px rgba(0, 0, 0, 0.04), 0px 6px 10px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  width:auto;
  display:inline-flex;
  align-items:center;
  margin:15px 0;
}
.text_price_gradient{
  font-size:18px;
  line-height:100.9%;
  font-family:'Montserrat_semibold';
  background: linear-gradient(180deg, #FF1010 0%, #F8A120 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.price_montage_item{
  padding:5px 10px 0;
  span{
    font-size:20px;
    line-height:100.9%;
    color:#000;
    font-family:'Montserrat_semibold';
  }
}
.mini_gray_link{
  font-size:13px;
  line-height:100.9%;
  color:#000;
  text-decoration:underline;
  font-family:'Montserrat_light';
}
.current_promo{
  padding-bottom:15px;
  .promo{
    display:inline-block;
    width:100%;
    margin:15px 0;
    img{
      pointer-events:none;
    }
  }
}
.delivery_card{
  .wrap_mini_shadow{
    min-width:100%;
    justify-content:space-between;
    .icon_partners{
      display:flex;
      align-items:center;
      img{
        filter: drop-shadow(5px 4px 6px rgba(0, 0, 0, 0.25));
      }
    }
  }
  .text_delivery_item{
    font-size:17px;
    line-height:100.9%;
    color:#2C2C2C;
    font-family:'Montserrat_semibold';
  }
}
.comments_this_goods{
  padding:30px 0 40px;
}
.wrapper_block_comments{
  width:100%;
  border-top:1px solid #888888;
  padding:0 27px;
  .name_client{
    display:flex;
    align-items:center;
    justify-content:flex-start;
    padding:20px 0 10px;
    .name_client_text{
      font-size:18px;
      line-height:22px;
      color:#000;
      font-family:'Montserrat_medium';
    }
  }
}
.service_assessment{
  display:flex;
  justify-content:space-between;
  .col_assess{
    display:flex;
    position:relative;
    &.assessment_goods{
      flex:0 1 40%;
    }
    &.assessment_serviceman{
      flex:0 1 60%;
      justify-content:flex-end;
    }
    .item_assess{
      text-align:right;
      display:flex;
      flex-direction:column;
      align-items:flex-end;
      span{
        display:inline-block;
        font-size:13px;
        line-height:16px;
        color:#F95311;
        font-family:'Montserrat_medium';
      }
      &.green{
        span{
          color:#43DC5E;
        }
      }
    }
    .score_assess{
      padding-top:1px;
      padding-left:10px;
      line-height: 0.87em;
      flex-direction:column;
      display:flex;
      height:100%;
      justify-content:space-between;
      span{
        display:inline-flex;
        line-height:16px;
        align-items:center;
        justify-content:flex-start;
        img:not(:last-of-type){
          padding-right:2px;
        }
      }
    }
  }
}
.general_asses{
  display:flex;
  flex-wrap:wrap;
  align-items:center;
  justify-content:space-between;
  margin-top:25px;
  .star_general{
    display:flex;
    align-items:center;
  }
  .gray_text_genera{
    display:inline-block;
    font-size:13px;
    line-height:16px;
    color: #929292;
    font-family:'Montserrat_medium';
  }
}
.content_comments{
  .title_comments{
    margin-top:20px;
    margin-bottom:8px;
    font-size:13px;
    line-height:16px;
    color:#000;
    font-family: 'Montserrat_semibold';
  }
  .text_comments{
    font-size:13px;
    line-height:16px;
    color:rgba(0,0,0,.8);
    font-family: 'Montserrat_reg';
    margin-bottom:10px;
  }
  .hiden_comments{
    font-size:13px;
    line-height:16px;
    color: #31ACE4;
    border:none;
    padding:0 0 10px;
    background-color:transparent;
    &:focus{
      outline:none;
    }
  }
}
.green_text_recom{
  font-size:13px;
  line-height:16px;
  color:#4AD057;
  font-family: 'Montserrat_medium';
  margin-bottom:10px;
}
.gray_text_general{
  font-size:13px;
  line-height:16px;
  color:#929292;
  font-family: 'Montserrat_reg';
}
.block_links_comments_page{
  .link_blue{
    font-size:15px;
    line-height:18px;
    color:#31ACE4;
    font-family: 'Montserrat_medium';
    &:not(:last-of-type){
      padding-right:10px;
      @media(min-width:992px){
        padding-right:100px;
      }
    }
  }
}
.tabs_content{
  padding:39px 0;
  .block_tabs_desctop{
    .nav-tabs{
      border:none;
      padding:0 35px;
      .nav-item{
        &:not(:last-of-type){
          margin-right:10px;
        }
      }
      .nav-link{
        border:2px solid #89B5DC;
        border-radius: 10px;
        font-size:15px;
        line-height:18px;
        text-align:center;
        color:#000;
        font-family: 'Montserrat_medium';
        padding:13px 17px;
        transition:background .3s;
        &:hover{
          background-color:#89B5DC;
        }
        &.active{
          background-color:#89B5DC;
        }
      }
    }
  }
  .wrapper_content_tab{
    padding:30px 0 0;
    position:relative;
    &.images_ban{
      max-height:650px;
      overflow:hidden;
    }
    .wrapper_image_descript{
      position:absolute;
      width:100%;
      height:100%;
      z-index:1;
      box-shadow: inset 0px -197px 106px 30px rgba(255,255,255,.99);
      left:0;
      top:0;
      display:flex;
      align-items:flex-end;
      justify-content:center;
    }
    .link_blue{
      z-index:2;
      position:relative;
      font-size:20px;
      line-height:24px;
      color:#31ACE4;
      font-family: 'Montserrat_medium';
    }
  }
}
.card_pages{
  .test_drive{
    background-color:transparent !important;
  }
  .container.min{
    padding:0 25px;
  }
  .banner{
    padding:0 20px;
  }
  .sub_title_block{
    font-family:'Montserrat_reg';
    font-size:46px;
  }
  .body_card_goods{
    height:100%;
  }
  .slider_cards_goods{
    padding:0 20px;
    .filtr_type{
      font-size:13px;
      line-height:164.8%;
      letter-spacing:0.04em;
      color:#000;
      font-family: 'Montserrat_light';
    }
  }
}
.wrapper_block_center{
  display:flex;
  justify-content:center;
  @media(min-width:992px){
    padding:40px 0;
  }
}
.wrapper_show_room_map{
  display:flex;
  justify-content:center;
  padding:40px 20px;
  background: #F8F9FE;
  box-shadow: 0px -0.5px 10px rgba(0, 0, 0, 0.05), 0px 6px 10px rgba(0, 0, 0, 0.16);
  border-radius: 10px;
  @media(min-width:992px){
    flex:0 1 80%;
  }
  .wrapper_map{
    flex:0 1 50%;
    .name_station{
      right:60px;
    }
    .metro_icon{
      left:90px;
    }
  }
  .wrapper_adress_show_room{
    flex:0 1 50%;
  }
}

