.page_card{
  .menu_link{
    color:#323232;
    svg{
      line{stroke:#323232;}
    }
    .dropdown_menu_wrapper{
      opacity:0;
      pointer-events:none;
    }
    &:hover .dropdown_menu_wrapper{
      opacity:1;
      pointer-events:visible;
    }
  }
  .menu_main{
    @media(min-width:992px){
      border-bottom:1px solid #888888;
    }
  }
  &.active .menu_main{
    border-bottom:none;
    width:100%;
  }
  &.active .menu_block{
    width:100%;
  }
  &.active .bread_crumb_desc{
      display:none !important;
    }
  .menu_top_block{
    @media(min-width:992px){
      display:flex;
      flex-direction:column;
    }
    .bread_crumb_desc{
      width:100%;
      padding-left:27px;
      .breadcrumb{
        padding:15px 0;
      }
    }
  }
  .wrapper_page_card{
    width:100%;
    @media(min-width:992px){
      display:flex;
      flex-wrap:wrap;
      flex-direction:column;
      justify-content:space-between;
    }
  }
  .wrapper_banner_card{
    width:100%;
    padding-left:27px;
    .staff_banner{
      margin-top:27px;
      height:60px;
    }
  }
  &.active .wrapper_banner_card{
    display:none;
    .staff_banner{
      margin-top:5px;
    }
  }
  .wrap_wrap_item{
    width:100%;
    flex:0 0 100%;
    display:flex;
  }
}
.goods_description{
  padding-top:230px;
}
.wrapper_content_card{
  display:flex;
  flex:1 1 100%;
  justify-content:space-between;
  align-items:baseline;
  @media(max-width:1199px){
    flex-wrap:wrap;
  }
  .left_content_card{
    display:flex;
    flex:0 1 calc((702/1290)*100%);
    width:100%;
    max-width: calc((702/1290)*100%);
    flex-direction:column;
  }
  .right_content_card{
    display:flex;
    flex:0 1 calc((535/1290)*100%);
    width:100%;
    max-width:calc((535/1290)*100%);
    .wrapper_shadow_content{
      width:100%;
      background-color:#fff;
      box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
      padding:20px 25px;
    }
  }
}
.wrapper_slider_card{
  display:flex;
  flex:0 1 100%;
  position:relative;
  max-width:100%;
  justify-content:space-between;
  padding-bottom:10px;
  border-bottom:1px solid #888888;
  padding-top:32px;
  .left_slider_card{
    max-width:50px;
    flex:0 0 50px;
    height:100%;
    .slick-track{
      transform: none !important;
    }
    .slider_left_item{
      width:50px;
      max-width:50px;
      overflow:hidden;
      height:50px;
      border:1px solid #DADADA;
      border-radius:10px;
      display:flex;
      align-items:center;
      justify-content:center;
      cursor: pointer;
      margin-bottom:4px;
      &.slick-current{
        border-color:#31ACE4;
      }
    }
  }
  .right_slider_card{
    height:100%;
    width:100%;
    position:relative;
    padding:85px 0 30px;
    overflow:hidden;
    .right_slider_card_block{
      height:100%;
      display:flex;
      align-items:center;
      justify-content:center;
      .slick-prev{
        left:20px;
        width:20px;
        height:39px;
        opacity:1;
        z-index:1;
        &:before{
          content: '';
          opacity:1;
          position:absolute;
          left:0;
          top:0;
          width:100%;
          height:100%;
          background-image:url(../svg/left_card_arrow.svg);
          background-size:100%;
          background-repeat:no-repeat;
          background-position:center center;
          z-index:1;
        }
      }
      .slick-next{
        right:0px;
        width:20px;
        height:39px;
        opacity:1;
        &:before{
          content: '';
          opacity:1;
          position:absolute;
          left:0;
          top:0;
          width:100%;
          height:100%;
          background-image:url(../svg/right_card_arrow.svg);
          background-size:100%;
          background-repeat:no-repeat;
          background-position:center center;
          z-index:1;
        }
      }
    }
    .slider_right_item{
      display:flex;
      align-items:center;
      justify-content:center;
    }
  }
}
.top_items_slider{
  display:flex;
  justify-content:space-between;
  align-items:center;
  position:absolute;
  left:20px;
  top:0px;
  width:100%;
}
.looks_block{
  display:flex;
  align-items:center;
  .gray_min_bold_text{
    font-size:13px;
    line-height:16px;
    letter-spacing:0.04em;
    color:rgba(0,0,0,.43);
    font-family:'Montserrat_semibold';
  }
  .green_items_looks{
    padding-left:20px;
    .green_min_bold_text{
      font-size:13px;
      line-height:16px;
      letter-spacing:0.04em;
      color:rgba(15, 193, 33, .93);
      font-family:'Montserrat_semibold';
      text-decoration:underline;
    }
  }
}
.buttons_favorite_block{
  .stat_goods{
    right:60px;
    left:auto;
    top:0;
    bottom:0;
    margin:auto;
  }
  .favorite_goods{
    right:20px;
    left:auto;
    top:0;
    bottom:0;
    margin:auto;
  }
}
.about_goods{
  margin:20px 0;
  width:100%;
  display:flex;
  align-items:center;
  justify-content:space-between;
  .item_about{
    display:flex;
    align-items:center;
    position:relative;
    span{
      font-size:13px;
      line-height:100.9%;
      color:#000;
      font-family:'Montserrat_medium';
    }
    .icon_quest{
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
  }
}
.answer_questions{
      position:absolute;
      right:0;
      top:-25px;
      padding:5px 10px;
      border-radius:10px;
      background-color:#eee;
      opacity:0;
      visibility:hidden;
      transition:opacity .2s;
      pointer-events:none;
    }
    .icon_quest:hover + .answer_questions{
      opacity:1;
      visibility:visible;
    }
.top_block_brand{
  display:flex;
  align-items:center;
  justify-content:space-between;
  width:100%;
  padding:10px 0 20px;
  position:relative;
  border-bottom:1px solid #888888;
  .name_brand_card{
    display:flex;
    align-items:center;
    .blue_name_brand{
      font-size:13px;
      line-height:16px;
      font-family:'Montserrat_semibold';
      color:rgba(49, 172, 228, 1);
      span{
        color:#000;
      }
    }
  }
  .rating_block_card{
    position:relative;
    display:flex;
    align-items:center;
    .raiting_goods{
      position:relative;
      top:auto;
      left:auto;
      right:auto;
      padding-right:17px;
    }
    .link_comments_goods{
      font-size:13px;
      line-height:16px;
      color:#919191;
      letter-spacing:0.04em;
      font-family:'Montserrat_semibold';
    }
  }
}
.content_card_main{
  display:flex;
  flex-direction:column;
  align-items:start;
  .check_filter .checked{
    top:0;
    bottom:0;
    margin:auto;
    border-color:#666666;
    width:24px;
    height:24px;
    border-radius:5px;
  }
  .check_filter{
    .name_filtr{
      font-size:15px;
      line-height:100.9%;
      color:rgba(0,0,0,.9);
      position:relative;
      .price_dop{
        font-size:20px;
        line-height:100.9%;
        color: rgba(3, 3, 3, 0.63);
        font-family:'Montserrat_semibold';
        display:inline-block;
        padding-left:10px;
      }
    }
    .info_filtr{
      position:relative;
      .icon_quest{
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      }
      .answer_questions{
        min-width:150px;
        position:absolute;
        right:0;
        top:-35px;
        padding:5px 10px;
        border-radius:10px;
        background-color:#eee;
        opacity:0;
        visibility:hidden;
        transition:opacity .2s;
        pointer-events:none;
      }
      .icon_quest:hover + .answer_questions{
        opacity:1;
        visibility:visible;
      }
    }
  }
}
.name_good_bold{
  font-size:35px;
  line-height:43px;
  color:#0A0A0A;
  font-family:'Montserrat_semibold';
  padding-top:5px;
}
.complectation_block_card{
  display:flex;
  justify-content:space-between;
  width:100%;
  padding-top:40px;
  .inp_col{
    flex:0 0 auto;
    border-radius: 10px;
    padding:0;
    .body_input{
      padding:15px 10px;
    }
    .content_input_top{
      .name_select{
        font-size:13px;
        line-height:100.9%;
        color:rgba(0,0,0,.8);
        font-family:'Montserrat_bold';
      }
      .blue_bold_name{
        font-size:13px;
        line-height:100.9%;
        color:rgba(49, 172, 228, .8);
        font-family:'Montserrat_bold';
      }
    }
    .content_input_bottom{
      padding-left:0;
      .price_input{
        font-size:27px;
        line-height:100.9%;
        color:rgba(0,0,0,.6);
      }
    }
    .more_gray{
      font-size:13px;
      line-height:100.9%;
      color: #848282;
      text-decoration:none;
      &:hover{
        text-decoration:underline;
      }
    }
  }
}



