 /* style three page */
 /* ************** */
.container.first_intro.cart_conteiner{
  padding:0 15px;
  @media(min-width:992px){
    padding:0 55px;
  }
}
.cart_select{
  padding: 80px  0px  30px  0px;
  @media(min-width:992px){
    padding:250px 0 50px;
  }
  .total_order_block{
    @media(max-width:567px){
      padding-top:10px;
    }
  }
  .end_block_btns{
    padding: 40px  0px  10px  0px;
  }
}
.checking_cart input[type="checkbox"]{display:none;}
.checking_cart input[type="checkbox"]:checked + .checked img{opacity:1;}
.checking_cart .checked{
  top:0;
  bottom:0;
  left:-52px;
  margin:auto;
  @media(max-width:991px){
    left:-10px;
  }
  @media(max-width:374px){
    width:20px;
    height:20px;
  }
}
.checking_cart{
  position:relative;
  width:100%;cursor:
  pointer;
  margin-bottom:18px;
  height:100%;
  @media(min-width:992px){
    margin: 0px  0px  37px  0px;
  }
  @media(max-width:991px){
    padding-left:35px;
  }
  @media(max-width:767px){
    padding-left:30px;
  }
  @media(max-width:374px){
    padding-left:17px;
  }
  .checking_cart_item{
    min-height:184px;
    height:100%;
    position:relative;
    display:flex;
  }
  .your_select_wrapper {
    width:100%;
    .row{
      height:100% !important;
    }
  }
  .bottom_item_card{
    margin-top:8px;
  }
  .description_selected{
    .specifications_item{
    padding-left:0;
    span {
      svg{
        display:block;
        @media(min-width:992px){
          margin: 2px  7px  0px  0px;
        }
      }
    }
  } 
  }
}
.delivery_step{
  display: flex;
  align-items:center;
  margin:15px 0;
  @media(max-width:991px){
    flex-wrap:wrap;
  }
  .logo_delivery_box{
    display:flex;
    align-items:center;
    img {
      margin: 0px  15px  0px  5px;
      filter:drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      @media(max-width:991px){
      margin: 0px  15px  0px  0px;
    }
    }
    @media(max-width:991px){
      width:100%;
    }
  }
  .delivery_text{
    font-size:25px;
    line-height:30px;
    color:#000;
    font-family: 'Montserrat_medium';
    margin-bottom:0;
    @media(max-width:991px){
      font-size:15px;
      line-height:18px;
      margin-top:10px;
    }
  }
}

