html{scroll-behavior:smooth}
@font-face{font-family:open sans light;src:url(../font/OpenSans-Light.ttf)}
@font-face{font-family:open sans semibold;src:url(../font/OpenSans-Semibold.ttf)}
@font-face{font-family:open sans extra;src:url(../font/OpenSans-ExtraBold.ttf)}
@font-face{font-family:open sans;src:url(../font/OpenSans-Regular.ttf)}
@font-face{font-family:open sans bold;src:url(../font/OpenSans-Bold.ttf)}
@font-face{font-family:gil_medium;src:url(../font/Gilroy-Medium.ttf)}
@font-face{font-family:gil_black;src:url(../font/Gilroy-Black.ttf)}
body{color:#1A1919;font-family:open sans}
h2{font-size:25px;line-height:30px;font-family:open sans bold;position:relative;display:inline-block}
h2:before{position:absolute;content:'';bottom:-7px;left:0;width:100%;height:4px;background:#44A9E1}
.wrapper{overflow:hidden}
.navbar{box-shadow:none;background-color:transparent;transition:all .3s}
.content{padding:0 0 50px}
.navbar{border-bottom:1px solid rgba(130,130,130,.4);}
.navbar.scrolling-navbar{padding:0;}
.navbar.scrolling-navbar.top-nav-collapse {background:linear-gradient(180deg, rgba(255, 255, 255, .7)60%, rgba(255,255,255,.5));backdrop-filter:blur(6px);padding:0;}
.navbar.navbar-light .navbar-nav .nav-item.active .nav-link{background-color:transparent}
.navbar.navbar-light .navbar-nav .nav-item .nav-link{color:#1A1919;font-size:15px;padding:5px 0;position:relative;overflow:visible}
.navbar.navbar-light .navbar-nav .nav-item{overflow:visible}
.menu_item{height:100%;}
.menu_item a{color:#33303F;font-size:15px;display:inline-block;height:100%;padding:25px 0;position:relative;}
.menu_item a:before{content:'';position:absolute;right:0;width:100%;height:4px;border-radius:3px 3px 0 0;background-color:#44A9E1;bottom:-1px;opacity:0;transition:all .3s;}
.menu_item a:hover:before{content:'';position:absolute;left:0;height:4px;border-radius:3px 3px 0 0;background-color:#44A9E1;bottom:-1px;opacity:1;}
.menu_item.active a:before{content:'';position:absolute;left:0;right:0;height:4px;border-radius:3px 3px 0 0;background-color:#44A9E1;bottom:-1px;opacity:1;}
.menu_desctop ul{display:flex;justify-content:space-between;margin-bottom:0;font-family:open sans;}
.phone_work{display:flex;align-items:center;flex-wrap:nowrap;}
.link_header-phone{font-size:20px;font-family:open sans;color:#33303F;font-weight:600;}
.min_txt{color:#828282;font-size:13px;line-height:18px;margin:0;}
.border_desctop-right{border-right:1px solid rgba(130,130,130,.4);}
.block_basket{display:flex;align-items:center;justify-content:flex-end;}
.basket_btn{display:inline-flex;align-items:center;justify-content:center;z-index:11;}
.basket_btn span{display:inline-block;width:32px;height:32px;background-color:#44A9E1;border-radius:5px;text-align:center;font-size:15px;color:#000;font-family:open sans;font-weight:normal;padding-top:4px;}
.btn_mob{border:none;width:32px;height:32px;position:relative;z-index:1;transition:all .3s;padding:0;background-color:transparent;}
.btn_mob span{position:absolute;width:100%;height:2px;background-color:#44A9E1;display:inline-block;top:0;bottom:0;margin:auto;left:0;}
.btn_mob span:before{content:'';position:absolute;width:100%;height:2px;background-color:#44A9E1;top:-10px;left:0;}
.btn_mob span:after{content:'';position:absolute;width:100%;height:2px;background-color:#44A9E1;top:10px;left:0;}
.btn_mob:focus{outline:none !important;}
.item_itro-slider{display:flex;align-items:center;justify-content:center;width:100%;height:100%;background-image:url(../img/bg_slider.jpg);background-size:cover;background-position:center center;background-repeat:no-repeat;padding:60px 10px;}
.slider_rezults{display:block;height:100%;border-radius:15px;overflow:hidden;}
.slick-slider .slick-track, .slick-slider .slick-list{height:100%;}
.sub_title-slider{font-size:19px;line-height:26px;letter-spacing:0.06em;text-transform:uppercase;font-family:open sans;font-weight:300;}
.title_slider{font-size:35px;line-height:40px;text-transform:uppercase;font-family:open sans;font-weight:800;color:#33303F;}
.link_more-slider{display:inline-block;background-color:#44A9E1;border-radius:15px;padding:15px 25px;font-size:19px;line-height:26px;letter-spacing:0.03em;color:#33303F !important;font-family:open sans;font-weight:600;}
.old_price{font-size:14px;color:#828282;font-family:open sans;font-weight:600;text-decoration:line-through}
.img_category{padding-top:10px;}
.img_bottom{bottom:0;position:absolute;right:0;}
.breadcrumb_block{padding-top:80px;}
.breadcrumb{background-color:transparent;}
.breadcrumb-item{font-size:14px;line-height:20px;font-family:open sans;}
.breadcrumb-item a{color:#33303F;}
.breadcrumb-item a:hover{color:#33303F;text-decoration:underline;}
.breadcrumb-item.active{color:#44A9E1;}
.why_us{padding:50px 0;}
.block_full-img{width:100%;height:100%;border-radius:15px;overflow:hidden;box-shadow:0px 2px 12px rgba(0, 0, 0, 0.15);background-image:url(../img/about_us.jpg);background-size:cover;background-position:center center;background-repeat:no-repeat;}
.sidebar{border-radius:15px;width:100%;background-color:#fff;box-shadow:0px 2px 12px rgba(0, 0, 0, 0.15);overflow:hidden;}
.min_img-block{width:35px;height:35px;display:flex;align-items:center;justify-content:center;}
.link_category{display:flex;align-items:center;color:#33303F;font-size:14px;line-height:17px;font-family:open sans;font-weight:600;padding:7px 5px;border-bottom:1px solid #44A9E1;transition:background-color .3s;}
.link_category:hover{background-color:#44A9E1;color:#fff;}
.category_content{padding:0 0 50px;}
.sidebar_link-box li:last-of-type a{border:none;}
.mobile_filter{display:flex;align-items:center;font-size:18px;line-height:18px;color:#44A9E1;font-family:open sans;font-weight:600;border-bottom:1px solid #44A9E1;text-transform:uppercase;padding:13px 15px;}
.mobile_filter[aria-expanded="false"]{border-color:transparent;}
.mobile_filter img{transition:transform .3s;}
.mobile_filter[aria-expanded="false"] img{transform:rotateX(180deg);}
.img_category-page{min-height:175px !important;}
.pagination .page-item{margin:0 5px;}
.pagination .page-item .page-link{background-color:#fff;box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.15);border-radius: 10px;width:40px;height:40px;padding:0;display:flex;align-items:center;justify-content:center;font-size:20px;color:#33303F;font-weight:600;font-family:open sans;}
.pagination .page-item.active .page-link{background-color:#fff;color:#44A9E1;border-radius: 10px;box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.15);}
.pagination .page-item .page-link:hover{background-color:#fff;color:#44A9E1;border-radius: 10px;}
.pagination .page-item .page-link.more{background-color:transparent;box-shadow:none;}
.product.catal{display:flex;flex-direction:column;justify-content:space-between;}
.product.catal .pr-desc{height:100%;display:flex;flex-direction:column;justify-content:space-between;}
.company{padding:0 0 50px;}
.header_content{font-size:20px;line-height:22px;font-family:open sans;font-weight:600;color:#33303F;}
.text_content-light{font-size:14px;line-height:20px;font-family:open sans;font-weight:normal;color:#828282;}
.slider_nav_mini-img{height:100%;padding:0 15px;}
.slider_nav_mini-img .slick-track{height:100% !important;display:flex;flex-direction:column;justify-content:space-between;}
.slider_nav_mini-img .slick-slider .slick-track, .slider_nav_mini-img .slick-slider .slick-list{height:100% !important;overflow: visible !important;}
.slider_nav-item{width:100%; background-color:#fff;border-radius:15px;box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.15);padding:0;overflow:hidden;margin-bottom:15px; border:1px solid transparent;display:flex !important;align-items:center;justify-content:center;}
.slider_nav_big-img{display:flex;align-items:center;justify-content:center;box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.15);padding:0;overflow:hidden;border-radius:15px;}
.slider_big-item{display:flex !important;align-items:center;justify-content:center;}
.slider_nav-item.slick-current{border-color:#44A9E1;}
.name_goods-card{font-size:28px;text-transform:uppercase;line-height:34px;font-family:open sans;font-weight:600;color:#33303F;}
.bold_info{font-size:14px;font-family:open sans;font-weight:bold;color:#33303F;line-height:15px;}
.light_info{font-size:14px;font-family:open sans;font-weight:300;color:#33303F;line-height:15px;}
.big_blue-price{font-size:28px;line-height:30px;font-weight:bold;color:#44A9E1;}
.counter_block{width:102px;border:1px solid rgba(130,130,130,.4);position:relative;height:30px;border-radius:8px;overflow:hidden;}
.input_counter{width:100%;border:none;height:100%;text-align:center;}
.input_counter:focus{outline:none;}
.counter_block .up, .counter_block .down{display:inline-block;font-size:14px;position:absolute;top:0;color:#33303F;font-weight:bold;}
.counter_block .up{right:5px;padding:3px 5px;cursor:pointer;}
.counter_block .down{left:5px;padding:3px 5px;cursor:pointer;}
.blue_btn{border:1px solid transparent;display:inline-block;width:100%;border-radius:15px;background-color:#44A9E1;color:#fff;font-size:16px;line-height:22px;letter-spacing:0.03em;font-weight:bold;text-align:center;padding:13px 0;transition:all .3s;}
.blue_btn.invers{border-color:#44A9E1;background-color:#fff;color:#44A9E1;}
.blue_btn:hover{border-color:#44A9E1;background-color:#fff;color:#44A9E1;}
.blue_btn.invers:hover{background-color:#44A9E1;color:#fff;}
.nav_decription-goods{display:flex;justify-content:space-between;}
.nav_description-item{font-size:23px;line-height:34px;font-weight:bold;color:#33303F;display:inline-flex;align-items:center;position:relative;}
.nav_description-item:before{content:'';position:absolute;width:0;right:0;bottom:-5px;height:4px;background-color:#44A9E1;transition:all .3s;}
.nav_description-item.active:before{width:100%;left:0;}
.nav_description-item:hover{color:#33303F;}
.nav_description-item:hover:before{width:100%;left:0;}
.description_content-card{background-color:#fff;box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.08);border-radius: 15px;width:100%;}
.content_title{font-size:28px;line-height:34px;font-weight:bold;}
.more_info-link{font-size:17px;line-height:20px;font-weight:bold;color:#44A9E1;}
.blue_title{font-size:26px;line-height:30px;font-weight:600;color:#44A9E1;}
.img_service-page{text-align:center;}
.img_service-page img{border-radius:15px;box-shadow:0px 2px 12px rgba(0, 0, 0, 0.15);}
.text_content-light span{font-weight:600;color:#33303F;}
.shodow_wrapper{box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.15);border-radius: 15px;background-color:#fff;padding:30px 0;}
.block_contact-page{display:flex;flex-direction:column;justify-content:center;align-items:center;}
.min_txt-2{font-size:13px;color:#828282;line-height:18px;}
.link_phone-conatact-page{display:inline-block;font-size:15px;font-weight:bold;color:#33303F;line-height:20px;height:100%;}
.adress-page_contact{font-size:15px;font-weight:600;font-family:open sans;color:#33303F;}
.block_height{min-height:75px;display:flex;align-items:center;justify-content:center;flex-direction:column;}





.block-hed{background:#44A9E1;border-radius:15px;height:100%;color:#33303F;padding:5px 20px;box-shadow:0px 2px 12px rgba(0,0,0,0.15);display:flex;flex-direction:column;justify-content:space-between;}
.block-hed2{background:#33303F;color:#44A9E1}
.block-hed h3{font-size:20px;font-family:open sans extra;text-transform:uppercase}
.block-hed p{font-size:13px;font-family:open sans light;line-height:13px}
.block-hed2 h3{font-size:19px}
.category{position:relative;border-radius:15px;min-height:145px;width:100%;height:100%;padding:0px;background:url(../img/Mask.png);background-size:100% 100%;box-shadow:0 2px 12px rgba(0,0,0,0.15);overflow:hidden;display:inline-flex;justify-content:space-between;transition:background .3s;}
.category:hover{text-decoration:none;background:url(../img/mask_hover.png);background-size:100% 100%;}
.category h3{position:absolute;left:20px;top:20px;font-size:16px;color:#fff;font-family:open sans semibold;}
.category img{max-height:170px}
.product{width:100%;border-radius:15px;box-shadow:0 2px 12px rgba(0,0,0,0.15);height:100%;}
.product .img{background:#E6E6E5;padding:10px 5px;text-align:center;border-top-left-radius:15px;border-top-right-radius:15px}
.product .img img{height:120px}
.product .pr-desc{padding:20px}
.product .pr-desc .name{font-family:open sans semibold;font-size:13px;color:#33303f}
.product .pr-desc .made{font-size:13px;color:#828282}
.product .pr-desc .price{font-family:open sans semibold;font-size:21px;color:#33303f;margin-bottom:5px}
.product .pr-desc .add{width:30px;height:30px;background:#44A9E1;padding:0px;border:0;border-radius:5px;box-shadow:none;text-align:center}
.about{padding-top:50px;}
.about h2{margin-bottom:20px}
.about p{font-size:14px;line-height:20px;color:#828282;text-align:justify}
.about img{border-radius:15px;box-shadow:0 2px 12px rgba(0,0,0,0.15)}
.pre{text-align:center;flex:0 0 20%;}
.pre p{text-align:center;font-family:open sans semibold;font-size:14px;color:#33303f;padding:10px}
.pro{min-height:170px;height:100%;padding:20px;box-shadow:0 2px 12px rgba(0,0,0,0.15);border-radius:15px;}
.pro .img{height:60px;}
.pro .img img{max-height:100%}
.pro p{font-family:open sans light;font-size:12px;color:#33303f}
.text_mobile-header{font-size:11px;line-height:12px;width:100%;text-align:center;letter-spacing:0.04em;text-transform:uppercase;color:#00A190;font-family:roboto;font-weight:bold}
.block_menu-contact{display:flex;flex-direction:column;align-items:flex-end;justify-content:center}
.link_masadge{display:inline-block;transition:all .3s}
.link_masadge:hover{filter:drop-shadow(0 0 3px rgba(0,0,0,.4))}
.social_phone-contact{display:flex;flex-wrap:nowrap;align-items:center}
.cart{position:relative}
.cart span{padding:4px 12px;background:#44A9E1;border-radius:5px;font-size:15px;color:#000}
.social_phone-contact .link_phone{line-height:15px;display:inline-block;font-family:'open sans semibold';font-size:20px;color:#33303f}
.order_call-block span{font-size:13px;color:#828282}
.social_phone-contact .link_phone span{font-weight:500}
.social_phone-contact .link_phone:hover{color:inherit;opacity:.7}
.order_call-link{font-size:17px;line-height:20px;font-family:gil_light;color:#00A19D;font-weight:normal}
.order_call-link span{border-bottom:1px dashed #00A19D;transition:all .3s}
.order_call-link:hover{color:#00A19D}
.order_call-link:hover span{border-color:transparent}
.footer{position:relative;padding:60px 0;background-color:#E6E6E5;font-size:12px;color:#33303f;line-height:14px}
.footer h3{font-family:open sans semibold;font-size:16px;line-height:18px;text-transform:uppercase}
.footer li{list-style-type:none;margin-top:15px}
.footer ul{margin-left:0;padding-left:0}
.footer ul a{color:#33303f}
.footer a.catalog-all{font-family:open sans semibold;color:#44A9E1;font-size:14px}
.footer .social_phone-contact{margin-bottom:6px}
.footer .email{font-size:14px;font-family:open sans semibold;line-height:18px;color:#33303f;margin:0}
.footer .address{font-size:14px;font-family:open sans semibold;line-height:18px;color:#33303f;margin:10px 0 0 0 }
h4{font-size:16px;font-family:open sans semibold;text-transform:uppercase;line-height:18px;color:#33303f;margin:30px 0 7px 0 }
.br-mob{display:none}







.navbar.navbar-light .navbar-toggler-icon{background-image:none;position:relative;width:28px;height:28px;background-color:transparent}
.navbar.navbar-light .navbar-toggler-icon span{position:absolute;top:0;bottom:0;left:0;right:0;height:2px;width:100%;margin:auto;background-color:#00A19D;transition:all .3s}
.navbar.navbar-light .navbar-toggler-icon span:before{content:'';position:absolute;top:-10px;left:0;right:0;height:2px;width:100%;background-color:#00A19D;transition:all .3s}
.navbar.navbar-light .navbar-toggler-icon span:after{content:'';position:absolute;bottom:-10px;left:0;right:0;height:2px;width:100%;background-color:#00A19D;transition:all .3s}
.min_head{font-size:17px;line-height:20px;font-family:gil_semi}
.intro{position:relative}
.intro_main{padding:130px 0 80px}
.block_img-intro{position:relative;min-height:500px}
.block_img-intro .img_intro{position:absolute;max-width:115%;right:0}
.title_page{font-size:95px;font-family:gil_heavy;letter-spacing:0.24em;line-height:121px}
.sub_title{font-size:30px;line-height:36px;letter-spacing:0.02em;font-family:gil_bold}
.text_content{font-size:17px;line-height:20px;font-family:gil_reg}
.btn_box{position:relative;width:100%;padding-top:40px}
.btn_box .btn_main{display:inline-block;padding:15px 40px 12px;font-size:17px;line-height:21px;text-transform:uppercase;color:#f7f7f7;font-family:gil_bold;background:linear-gradient(180deg, #71EBE8 0%, #00A19D 100%);border-radius:100px;box-shadow:0px 4px 5px rgba(0, 161, 157, 0.2);transition:all .5s;text-align:center}
.btn_box .btn_main:hover{background:linear-gradient(180deg, #71EBE8 0%, #71EBE8 100%)}
.btn_box .btn_main:active{background:linear-gradient(180deg, #00A19D 0%, #00A19D 100%)}
.ultra_txt{font-family:gil_light;font-size:20px;line-height:23px;color:#787878}
.min_bold{font-family:gil_bold;font-size:16px;line-height:19px}
.txt_medium{font-size:16px;line-height:19px;font-family:gil_medium}
.pea_bg{position:relative}
.pea_bg:before{content:'';position:absolute;width:91px;height:182px;background-image:url(../img/pea.png);background-size:cover;background-repeat:no-repeat;left:5px;top:0;z-index:-1}
.free_cons{display:inline-flex;position:absolute;top:0;right:0;width:291px;height:95px;border-radius:15px;background:#E40000;box-shadow:0px 4px 30px rgba(228, 0, 0, 0.36);align-items:center;justify-content:center;color:#f7f7f7;font-size:22px;line-height:26px;text-align:center;font-family:gil_semi;z-index:2;transition:all .3s}
.free_cons:hover{color:#f8f8f8}
.red_price{display:none}
.which{padding:80px 0;position:relative;background-color:#F7F7F7}
.which .pea_bg-main{position:absolute;max-width:100%;top:-20px;right:15px}
.title_block{font-size:42px;line-height:52px;font-family:gil_black}
.left_circl{position:relative;z-index:1}
.left_circl:before{content:'';position:absolute;left:-30px;top:-20px;width:70px;height:70px;background-image:url(../img/circle.png);background-size:cover;background-repeat:no-repeat;z-index:-1}
.sub_title-block{font-size:30px;line-height:35px;font-family:gil_medium}
.card_equip{background-color:#fff;border-radius:20px;box-shadow:0px 4px 50px rgba(63, 39, 39, 0.15);padding:15px 25px;height:100%;display:flex;flex-direction:column;justify-content:space-between}
.yelow_txt{font-size:30px;line-height:36px;color:#FFD644;width:100%;font-family:gil_semi}
.equip_link{font-size:18px;line-height:24px;font-family:gil_semi;color:#1A1919;transition:all .3s;display:block}
.equip_link:hover{color:#00A19D}
.iz_txt{font-size:30px;line-height:36px;width:100%;font-family:gil_semi;color:#00A19D}
.remont{position:relative;padding:80px 0}
.card_remont{display:flex;flex-direction:column;justify-content:space-between;background-color:#fff;box-shadow:0px 4px 50px rgba(0, 0, 0, 0.15);border-radius:10px;padding:25px 15px;height:100%;transition:all .3s}
.title_card-name{font-size:21px;line-height:27px;font-family:gil_bold}
.remont_list{list-style:none;padding-left:15px}
.remont_list li{position:relative;font-size:17px;line-height:20px;padding-bottom:20px}
.remont_list li:before{content:'';position:absolute;width:6px;height:6px;background-color:#00A19D;left:-13px;top:7px;border-radius:50%}
.price_card{font-size:24px;line-height:28px;color:#00A19D;font-family:gil_medium}
.card_remont-order .ultra_txt{font-size:17px;line-height:19px;font-family:gil_light;color:#000}
.card_remont-order{background-color:#FFD644}
.phone_card-remont{display:block;font-size:25px;color:#1A1919;line-height:29px;font-family:gil_bold;text-align:center}
.phone_card-remont:hover{opacity:.7;color:#1A1919}
.black_btn{display:block;color:#fff;font-size:17px;line-height:20px;text-align:center;width:100%;background-color:#1A1919;border-radius:10px;padding:10px 0;font-family:gil_semi;transition:all .3s}
.black_btn:hover{background-color:#515058;color:#fff}
.black_btn:active{background:linear-gradient(180deg, #515058 0%, #000000 100%);color:#fff}
.rezults{position:relative;padding:120px 0 80px}
.slick-next{right:0}
.slick-prev{left:0}
.nav_sl{width:100%;position:relative}
.slick_arrow-2{position:absolute;border:none;background-color:transparent;left:0;right:0;margin:auto;top:-15px}
.slick_arrow-2:focus{outline:none}
.slick_arrow-2.slick-prev-2 {left:-80px}
.slick_arrow-2.slick-next-2 {right:-80px}
.we_have{position:relative;padding:80px 0 130px;background-image:url(../img/bg_we-2.jpg);background-repeat:no-repeat;background-size:auto;background-position:center top;background-color:#f7f7f7}
.color_yelow-sub{font-size:40px;line-height:48px;color:#000;font-family:gil_semi}
.title_block-big{font-size:75px;letter-spacing:0.15em;line-height:76px}
.have_item{width:518px !important}
.card_have-content{padding:30px 25px}
.block_content-sl{display:flex;flex-direction:column;overflow:hidden;justify-content:space-between;align-items:start;border-radius:10px;background-color:#fff}
.have_item.pad-top{padding-top:240px}
.slider_have .slick-slide{display:flex}
.have_item.it-2{margin-left:70px}
.slick-slide:focus{outline:none}
.have_item:focus{outline:none}
.have_item-2{padding:0 20px}
.name_have{font-size:30px;line-height:36px;color:#000;font-family:gil_semi}
.text_content_2{font-size:20px;line-height:23px;color:#000}
.head_block-title{position:absolute;left:0;top:0;z-index:2}
.pea_we{position:absolute;right:15px;bottom:50px}
.pea_we-2{position:absolute;top:50px;left:200px}
.nav_sl-mobile .slick-arrow {left:0;right:0;margin:auto;top:30px}
.nav_sl-mobile .slick-prev{left:-100px}
.nav_sl-mobile .slick-next{right:-100px}
.nav_sl-mobile .slick-next:before{display:none}
.nav_sl-mobile .slick-prev:before{display:none}
.slick-dots-current{color:#fff;font-size:15px}
.slick-dots-total{color:#fff;font-size:15px}
.nav_sl-mobile .slick-dots li {display:inline-block;position:relative;pointer-events:none}
.nav_sl-mobile .slick-dots li:not(.slick-active) {display:none}
.nav_sl-mobile .slick-dots li .slick-dots-current {-webkit-animation:slick-dot-opening 0.5s;animation:slick-dot-opening 0.5s;position:absolute;left:18px;font-size:20px;font-family:gil_bold;top:6px}
@-webkit-keyframes slick-dot-opening {
  from {
    opacity:0;
    -webkit-transform:translateY(100%);
    transform:translateY(100%);
  }

  to {
    opacity:1;
    -webkit-transform:translateY(0);
    transform:translateY(0);
  }
}

@keyframes slick-dot-opening {
  from {
    opacity:0;
    -webkit-transform:translateY(100%);
    transform:translateY(100%);
  }

  to {
    opacity:1;
    -webkit-transform:translateY(0);
    transform:translateY(0);
  }
}
.nav_sl-mobile .slick-dots-button {padding:0;background:none;border:none;color:inherit;cursor:pointer;outline:none;font-size:11px;letter-spacing:0.2em}
.nav_sl-mobile .slick-dots-current, .slick-dots-total {display:inline-block;left:63px;top:8px;position:absolute}
.nav_sl-mobile .slick-dots-separator {position:absolute;left:35px;top:3px}
.nav_sl-mobile .slick-dots-separator::after {content:"из";position:absolute;color:#fff;font-size:15px;background:currentColor;top:5px;left:0}
.nav_sl-mobile .slick-dots-total{left:63px;top:8px}
.nav_sl-mobile .slick-dots{bottom:-10px}
.num_slider{position:absolute;font-size:20px;color:#fff;left:38%;font-family:gil_bold;top:-20px}
.slick-dots li.slick-active button:before{display:none}
.comments{padding:80px 0}
.slider_coments{background-image:url(../img/bg_slider-rezults.png);background-size:auto 100%;background-repeat:no-repeat;background-position:top center;padding:20px 0;display:flex;justify-content:center;overflow:visible}
.sl-comments{padding:40px 0px;width:370px}
.card_comments{background-color:#fff;border-radius:10px;box-shadow:0px 4px 50px rgba(0, 0, 0, 0.15);display:flex;flex-direction:column;justify-content:space-between;padding:35px 30px}
.name_client{font-size:20px;line-height:22px;color:#000;font-family:gil_semi}
.com_item.slick-slide{transition:all .3s}
.com_item.slick-slide:not(.slick-current){transform:scale(.7);opacity:.5}
.slider_coments .slick-arrow{z-index:2;width:36px;height:36px}
.slider_coments .slick-next:before{display:none}
.slider_coments .slick-prev:before{display:none}
.slider_coments .slick-prev{left:-60px;z-index:10}
.slider_coments .slick-next{right:-60px;z-index:10}
.nav_sl .slick-prev-com{left:-80px}
.nav_sl .slick-next-com{right:-80px}
.head_block-title_2{position:absolute;left:15px;top:-25%}
.order_block{position:relative;padding:80px 0 50px;background-color:#00A19D}
.pea_order{position:absolute;z-index:0;left:0;bottom:-80px}
.mix_text{font-size:24px;color:#f7f7f7;line-height:28px;font-family:gil_light}
.mix_text span{font-family:gil_reg}
.radiobox{position:relative}
.radiobox:hover{cursor:pointer}
.radiobox input[type="radio"]{display:none}
.radiobox .radio_name{color:#f7f7f7;font-size:17px;line-height:20px;position:relative;font-family:gil_reg;padding-left:30px}
.radiobox .radio_name:before{content:'';position:absolute;width:20px;height:20px;border:.5px solid #f7f7f7;left:0;top:1px}
.radiobox .radio_name:after{content:'';position:absolute;width:18px;height:18px;background-color:#FFD644;left:1px;top:2px;opacity:0;transition:all .3s}
.radiobox input[type="radio"]:checked + .radio_name:after{opacity:1}
.bg_pea-form{position:relative}
.bg_pea-form:before{content:'';position:absolute;width:222px;height:75px;background-image:url(../img/pea_rows.png);background-size:auto 100%;left:-30px;bottom:-0}
.input_form{display:inline-block;padding:15px;border:1px solid #f7f7f7;border-radius:100px;background-color:transparent;color:#FFD644;font-size:18px;line-height:22px;width:100%}
.input_form::-webkit-input-placeholder{color:#FFD644;font-size:18px;line-height:22px}
.input_form:focus{outline:none}
.btn_form{display:inline-block;border:none;outline:none;text-transform:uppercase;color:#f7f7f7;background-color:#FFD644;padding:15px 0;border-radius:100px;width:100%}
.btn_form:focus{outline:none}
.how_us{position:relative;padding:80px 0 0}
.how_us .color_yelow-sub{color:#FFD644}
.block_adress{position:absolute;background-color:#fff;box-shadow:0px 4px 50px rgba(0, 0, 0, 0.15);height:250px;width:480px;padding:30px 20px;top:0;bottom:0;margin:auto;left:15px;display:flex;align-items:center;flex-wrap:wrap;z-index:10}
.mix_text.adres_mix{font-size:17px;color:#1A1919}
.circl_map-bg{position:absolute;right:0;top:-100px;z-index:-1;right:25px}
.title_foot-menu{font-size:19px;color:#f7f7f7;line-height:18px;font-family:gil_semi}
.link_menu-footer{display:block;color:#f7f7f7;font-size:17px;line-height:17px;font-family:gil_reg;padding:10px 0}
.allright{font-size:16px;color:#f7f7f7;line-height:17px}

@media(min-width:1200px){
}
@media(min-width:992px){
  .navbar.navbar-light .navbar-nav .nav-item .nav-link:hover:before{width:110%;left:0}
  .navbar.navbar-light .navbar-nav .nav-item .nav-link:before{content:'';position:absolute;right:-12px;width:0;bottom:-30px;height:4px;overflow-x:visible;background-color:#44A9E1;transition:all .5s}
  .pad-right{padding-right:30px}
  .pad-left{padding-left:30px}
  .btn_mob{display:none;}
  .mobile_menu{display:none;}
  .mobile_menu.active{display:none;}
  .sidebar_link-box:not(.show){display:block;}
}
@media(max-width:1199px){
  .social_phone-contact .link_phone{font-size:19px}
  .block_img-intro .img_intro{max-width:110%}
  .intro_main .title_page{font-size:90px;line-height:115px;letter-spacing:0.18em}
  .block_img-intro{min-height:455px}
  .intro_main .btn_box{padding-top:25px}
  .title_card-name{font-size:19px}
  .have_item{width:418px !important}
  .have_item.it-2{margin-left:93px}
  .have_item.pad-top{padding-top:210px}
  .how_us .title_block-big{font-size:65px}
  .blur_block-name{font-size:35px}
  .problem .radio_name{font-size:15px}
  .problem .radio_name:before{top:-1px}
  .problem .radio_name:after{top:0}
  .intro_ustroystva{margin-top:95px}
  .how_us.page_contact .color_yelow-sub{font-size:35px}
  .link_header-phone{font-size:16px;}
  .min_txt{font-size:12px;}
  .slider_nav_mini-img .slick-track{flex-direction:row;}
  .slider_nav-item{max-height:132px;overflow:hidden;}
  .slider_nav-item img{width:100% !important}
  .nav_description-item{font-size:20px;}
}
@media(max-width:991px){
  .cart span{position:absolute;width:25px;height:25px;border-radius:50%;padding:0;text-align:center;right:-7px;bottom:-7px}
  .block-hed{background:#44A9E1;border-radius:15px;height:220px;color:#33303F;padding:0px 10px;box-shadow:0px 2px 12px rgba(0,0,0,0.15)}
  .block-hed h3{font-size:14px}
  .br-mob{display:block}
  .block-hed2{background:#33303F;color:#44A9E1}
  .category h3{left:30px}
  .pre{height:160px;flex:0 0 50%;padding:10px 20px;}
  h2{margin-bottom:30px}
  .product{margin-bottom:15px}
  .border_desctop-right{border:none;}
  .navbar{border:none;}
  .link_mail, .basket_btn span{display:none;}
  .navbar.scrolling-navbar{padding:10px 0;}
  .block_basket.mobile_view .link_mail{display:block;z-index:11;}
  .block_basket.mobile_view .basket_btn span{display:block;z-index:11;}
  .mobile_menu{background-color:#F8FBFD;position:absolute;left:0;top:0;width:0;z-index:10;height:100vh;transition:width .5s;}
  .mobile_menu.active{width:100%;}
  .mobile_menu-content{width:100%;}
  .wrapper_menu{padding:25px 0;overflow-x: hidden;}
  .escape_menu{background-color:transparent;border:none;}
  .escape_menu:focus{outline:none;}
  .header_link-mobile{display:flex;font-size:16px;color:#33303F;text-transform:uppercase;line-height:18px;font-weight:600;font-family:open sans;align-items:center;}
  .header_link-mobile:hover,.header_link-mobile:focus{color:#33303F;}
  .header_link-mobile img{transition:all .3s;}
  .header_link-mobile[aria-expanded="false"] img{transform:rotateX(180deg);}
  .mobile_menu-content ul li a{font-size:12px;line-height:14px;color:#33303F;font-family:open sans;}
  .mail_link-mobile{display:inline-block;margin-top:15px;font-weight: 600;font-size: 15px;line-height:18px;font-family:open sans;color:#33303F;}
  .adress_contact{font-size:15px;font-weight:600;font-family:open sans;color:#33303F;}
  .about{padding-top:30px;}
  .scrolling_mobile-device{overflow-x:scroll;flex-wrap:nowrap;}
  .scrolling_mobile-device::-webkit-scrollbar {height: 10px;}
  .scrolling_mobile-device::-webkit-scrollbar-button {  background-color:transparent; }
  .scrolling_mobile-device::-webkit-scrollbar-track {  background-color:transparent;}
  .scrolling_mobile-device::-webkit-scrollbar-track-piece { background-color: rgba(68,169,225,.2);}
  .scrolling_mobile-device::-webkit-scrollbar-thumb { height: 50px; background-color: #44A9E1; border-radius: 15px;}
  .scrolling_mobile-device::-webkit-scrollbar-corner { background-color: #999;}
  .scrolling_mobile-device::-webkit-resizer { background-color: transparent;}
  .scroll_why{overflow-x:scroll;flex-wrap:nowrap;}
  .scroll_why::-webkit-scrollbar {height: 10px;}
  .scroll_why::-webkit-scrollbar-button {  background-color:transparent; }
  .scroll_why::-webkit-scrollbar-track {  background-color:transparent;}
  .scroll_why::-webkit-scrollbar-track-piece { background-color: rgba(68,169,225,.2);}
  .scroll_why::-webkit-scrollbar-thumb { height: 50px; background-color: #44A9E1; border-radius: 15px;}
  .scroll_why::-webkit-scrollbar-corner { background-color: #999;}
  .scroll_why::-webkit-resizer { background-color: transparent;}
  .block_full-img{min-height:250px;height:auto; margin-bottom:15px;}
  .company{padding:0;}
  .why_us{padding:30px 0;}
  .name_goods-card{font-size:25px;line-height:30px;}
  .nav_description-item{font-size:23px;}
  .nav_description-item:before{display:none;}
  .nav_decription-goods{flex-direction:column;}
  .nav_description-item{display:flex;align-items:center;justify-content:space-between;}
  .nav_description-item img{transition:transform .3s;}
  .nav_description-item[aria-expanded="false"] img{transform:rotateX(180deg);}
  .blue_title{font-size:18px;line-height:26px;}
}
@media(max-width:767px){
  .intro_main .title_page{font-size:75px;letter-spacing:0.29em;text-align:center;line-height:96px}
  .intro_main .sub_title{font-size:24px;line-height:25px;text-align:center}
  .block_img-intro .img_intro{max-width:90%}
  .mobile_padding-top{padding-top:105px}
  .title_block{font-size:32px;line-height:40px}
  .sub_title-block{font-size:20px;line-height:24px;padding-left:10px}
  .left_circl:before{width:44px;height:44px;left:-10px;top:-8px}
  .left_circl{padding-left:10px}
  .remont{padding:40px 0}
  .card_remont{padding:0}
  .card_remont-order{padding:25px 15px}
  .rezults{padding:95px 0 40px}
  .title_block-big{font-size:50px;letter-spacing:0.12em;line-height:76px}
  .color_yelow-sub{font-size:31px;line-height:37px}
  .we_have{padding:40px 0 100px}
  .num_slider{left:35%}
  .comments{padding:40px 0}
  .bg_pea-form:before{background-image:none}
  .order_block{padding:60px 0 30px}
  .how_us{padding:40px 0 10px}
  .how_us .title_block-big{font-size:55px}
  .mix_text.adres_mix{font-size:15px}
  .problem{padding-bottom:20px}
  .intro_ustroystva{margin-top:100px}
  .acquaint{padding:0 0 20px}
  .how_us.page_contact .title_block{font-size:39px}
  .how_us.page_contact .color_yelow-sub{font-size:25px}
  .width_modal{max-width:100%}
  .title_modal{font-size:30px}
  .syb_title-yelow{font-size:20px}
  .block_full-img{min-height:200px;}
  .header_content{font-size:18px;}
}
@media(max-width:575px){
  .block_img-intro{min-height:270px}
  .intro_main .title_page{letter-spacing:0.19em}
  .name_have{font-size:23px;line-height:27px}
  .text_content_2{font-size:15px}
  .we_have{background-size:auto 123%;background-position:center top}
  .how_us .title_block-big{font-size:39px;letter-spacing:0.05em;line-height:44px}
  .how_us .color_yelow-sub{font-size:24px;line-height:30px}
  .problem .sub_title{font-size:26px}
  .intro_ustroystva{margin-top:140px}
  .img_category{max-width:100%;padding-top:20px;padding-left:30px;}
  .category h3{font-size:13px;}
}
@media(max-width:500px){
  .rezults_item .block_img{width:284px;height:191px}
  .num_slider{left:32%}
  .have_item-2{padding:0}
  .nav_sl-mobile .slick-dots{bottom:0}
  .num_slider{top:-29px}
  .title_block-big{letter-spacing:0.09em}
  .color_yelow-sub{font-size:29px}
  .block_adress{height:272px}
  .sub_title-slider{font-size:15px;}
  .title_slider{font-size:27px;line-height:32px;}
}
@media(max-width:420px){
  .block_img-intro{min-height:240px}
  .red_price{bottom:-100px}
  .mobile_padding-top{padding-top:115px}
  .block_img-intro .img_intro{max-width:105%;right:auto}
  .intro_main{padding-top:115px}
  .intro_main .title_page{letter-spacing:0.09em;line-height:80px}
  .num_slider{left:28%}
  .sl-comments{width:315px}
  .sl-comments .text_content{font-size:15px}
  .intro_ustroystva{margin-top:120px}
  .we_have{padding-top:20px}
}
@media(max-width:350px){
  .block_img-intro .img_intro{max-width:115%}
  .red_price{bottom:-50px}
  .mobile_padding-top{padding-top:80px}
  .intro_main .sub_title{font-size:19px}
  .intro_main .btn_main{width:100%}
  .num_slider{left:25%}
  .sl-comments{width:270px}
  .intro_ustroystva{margin-top:110px}
  .pad_top_mobile-order-2{padding-top:170px;min-height:720px}
  .block-hed p{font-size:12px;}
}

























