@font-face{font-family:'Aeroport_bold';src:url(../font/Aeroport-Bold.ttf);}
@font-face{font-family:'Aeroport_light';src:url(../font/Aeroport-Light.ttf);}
@font-face{font-family:'Aeroport_medium';src:url(../font/Aeroport-Medium.ttf);}
@font-face{font-family:'raleway_black';src:url(../font/ralewayblack.ttf);}
@font-face{font-family:'raleway_bold';src:url(../font/ralewaybold.ttf);}
@font-face{font-family:'raleway_extra_bold';src:url(../font/ralewayextrabold.ttf);}
@font-face{font-family:'raleway_light';src:url(../font/ralewayextralight.ttf);}
@font-face{font-family:'raleway_medium';src:url(../font/ralewaymedium.ttf);}
html{scroll-behavior: smooth;}
.wrapper{overflow:hidden;}
.top_nav_menu{width:100%;background-color:#E31B23;}
.top_nav_menu_block{display:flex;align-items:center;justify-content:space-between;padding:12px 0;}
.top_nav_link{font-size:16px;color:#f7f7f7;line-height:19px;display:inline-block;font-family:'Aeroport_light';font-weight:normal;transition:all .3s;font-style:normal;}
.top_nav_link:hover{color:#c0b9b9;text-decoration:none;}
.main_menu{padding:35px 0 0;position:relative;}
.left_block{display:flex;justify-content:space-between;align-items:center;}
.red_btn{background-color:#E31B23;border:none;border-radius:15px;box-shadow:5px 0px 25px rgba(227, 27, 35, 0.32);color:#F7F7F7;font-size:15px;font-family: 'Aeroport_medium';padding:13px 0;width:100%;display:inline-block;text-align:center;}
.red_btn:hover{color:inherit;text-decoration:none;}
.red_btn:focus{outline:none;}
.shop_geo{display:flex;position:relative;flex-direction:column;align-items:center;padding-bottom:5px;}
.name_geo{font-size:18px;line-height:19px;font-family:'Aeroport_bold';font-weight:900;position:relative;width:100%;text-align:center;}
.arrow_geo{position:absolute;right:0;top:0;bottom:0;margin:auto;transition:all .3s;transform:rotateZ(180deg);}
.link_phone{display:inline-flex;width:100%;align-items:center; font-size:16px;line-height:19px;font-family:'Aeroport_medium';font-weight:normal;color:#111016;transition:all .3s;}
.link_phone:hover{color:#b7b6b9;text-decoration:none;}
.hidden_block{position:absolute;opacity:0;z-index:-1;width:100%;top:100%;left:0;background-color:#FFFFFF;box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);border-radius: 15px;padding:15px 10px;overflow:hidden;transition:all .3s;}
.shop_geo:hover .hidden_block{z-index:3;opacity:1;}
.shop_geo:hover .hidden_block:hover{z-index:3;opacity:1;}
.shop_geo:hover .arrow_geo{transform:rotate(0deg);}
.letter_space{letter-spacing:-0.05em;}
.min_text_menu{font-size:15px;line-height:19px;letter-spacing:-0.05em;color:#111016;font-family:'Aeroport_light';font-weight:300;}
.min_btn{padding:8px 0;width:100%;border-radius:12px;}
.down_menu{width:100%;padding:11px 0;background-color:#EEEEEE;margin-top:35px;}
.down_menu_item{display:flex;align-items:center;justify-content:space-between;}
.down_menu_link{color:#111016;font-size:17px;line-height:19px;font-family:'Aeroport_medium';font-weight:500;transition:all .3s;}
.down_menu_link:hover{text-decoration:none;opacity:.7;color:inherit;}
.btn_menu{width:28px;height:28px;position:absolute;right:15px;top:0;bottom:0;margin:auto;border:none;background-color:transparent;padding:0;}
.btn_menu .line_1, .btn_menu .line_2{width:100%;height:2px;background-color:#E31B23;display:inline-block;position:absolute;top:0;bottom:0;margin:auto;border-radius:2px;left:0;transition:all .3s;}
.btn_menu .line_1{top:-5px;}
.btn_menu .line_2{top:5px;}
.btn_menu .line_1:before{content:'';position:absolute;width:100%;height:2px;border-radius:2px;background-color:#E31B23;top:-5px;left:0;transition:all .3s;}
.btn_menu .line_2:before{content:'';position:absolute;width:100%;height:2px;border-radius:2px;background-color:#E31B23;top:5px;left:0;transition:all .3s;}
.btn_menu.active .line_1:before, .btn_menu.active .line_2:before{top:0;transition:all .3s;}
.btn_menu.active .line_1{transform:rotateZ(45deg);width:70%;top:-14px;}
.btn_menu.active .line_2{transform:rotateZ(-45deg);width:70%;top:14px;}
.btn_menu:focus{outline:none;}
.min_header{font-size:13px;color:#eee;line-height:17px;font-family:'Aeroport_light';font-weight:300;margin-top:15px;}
.white_text{color:#fff !important;}
.menu_input{display:flex;}
.btn_black{border:none;background-color:#111016;color:#F7F7F7;font-size:13px;line-height:16px;font-family:'Aeroport_medium';font-weight:500;min-height:100%;display:inline-block;}
.menu_input .form_input{flex: 0 0 65%;background-color:#ECECEC;border:none;padding:5px 10px;}
.menu_input .form_input::-webkit-input-placeholder{font-size:12px;line-height:16px;font-family:'Aeroport_light';font-weight:300;color:#111016;}
.menu_input .form_input:focus, .menu_input .btn_black:focus{outline:none;}
.menu_input .btn_black{flex: 0 0 35%;}
.intro_slider{background:url(../img/bg_intro.jpg) no-repeat bottom left;background-size:cover;width:100%;position:relative;overflow:hidden;background-color:#ff0e18;transition:background .3s;}
.content{background-color:#fff;width:100%;}
.sub_title span{color:#E31B23;}
.sub_title{font-size:15px;color:#fff;letter-spacing:0.1em;text-transform:uppercase;font-family:'Aeroport_light';}
.title_page{font-size:45px;line-height:49px;letter-spacing:0.05em;color:#f7f7f7;font-family:'Aeroport_bold';}
.text_content{font-size:15px;line-height:24px;letter-spacing:-0.04em;color:#f8f8f8;}
.red_rectangle{object-fit:none;position:absolute;right:0;top:0;z-index:0;}
.swiper-container{z-index:1;position:relative;padding:40px 0 150px;}
.price_btn{position:relative;padding-left:0;border:none;display:inline-block;background-color:transparent;color:#f8f8f8;font-size:16px;line-height:25px;text-transform:uppercase;font-family:'Aeroport_medium'}
.price_btn:focus{outline:none;}
.img_btn{position:absolute;left:-137px;top:0;bottom:0;margin:auto;}
.price_btn:hover:before{width:90px;height:90px;transition:all .3s;left:-99px;}
.circle_back{position:absolute;width:700px;height:700px;border-radius:50%;background-color:#C8060D;right:-250px;bottom:-350px;z-index:0;}
.circle_back:before{content:'';position:absolute;width:351px;height:351px;border-radius:50%;background-color:#B80007;top:0;bottom:0;margin:auto;left:0;right:0;}
.swiper-pagination{text-align:right;font-size:25px;color:#f8f8f8;font-family:'Montserrat';font-weight:100;display:inline-flex;align-items:flex-start;justify-content:flex-end;bottom:60px;right:0;width:auto;}
.swiper-pagination .swiper-pagination-current{font-size:75px !important;color:#f8f8f8;font-family:'Montserrat';opacity:1 !important;line-height:70px;}
.swiper-pagination .swiper-pagination-total{font-size:25px;color:#f8f8f8;letter-spacing:0.05em;font-family:'Montserrat';font-weight:100;opacity:.5;}
.swiper-container .social_block .devided{font-size:20px;font-weight:100;}
.swiper-container .social_block{position:absolute;bottom:40px;left:0;right:0;margin:auto;color:#fff;align-items: center;justify-content: center;display:flex;}
.swiper-container .social_block .social_link{color:#fff;font-family:'Montserrat';font-weight:normal;font-size:15px;display:inline-block;}
.navigation_slider{bottom:0;right:0;width:70px;height:30px;left:auto;position:absolute;}
.navigation_slider .swiper-button-next, .navigation_slider .swiper-button-prev{right:40px;bottom:40px;top:auto;}
.navigation_slider .swiper-button-next:after, .navigation_slider .swiper-button-prev:after{display:none;}
.navigation_slider .swiper-button-next:focus, .navigation_slider .swiper-button-prev:focus{outline:none;}
.navigation_slider .swiper-button-next{background-image:url(../img/ar_next.png);background-repeat:no-repeat;width:25px;height:10px;}
.navigation_slider .swiper-button-prev{background-image:url(../img/Arrow\ 1.png);background-repeat:no-repeat;width:25px;height:10px;right:90px;left:auto;}
.swiper-pagination-current:before{content:'0';}
.swiper-pagination-total:before{content:'0';}
.select_device{padding:70px 0;}
.text_contetn_black{font-size:15px;line-height:19px;color:#111016;letter-spacing:-0.05em;font-family:'Aeroport_light';font-weight:300;z-index:1;}
.title_block{font-size:32px;line-height:36px;letter-spacing:0.02em;color:#000;font-family:'raleway_extra_bold';}
.nav{border-bottom:none;display:flex;justify-content:space-between;margin:0 -7px;}
.nav-item{flex:1 1 23%;width:100%;text-align:center;padding:0 7px;min-height:100%;}
.btn_navs{min-height:146px;height:100%;display:inline-flex;flex-direction:column;align-items:center;justify-content:flex-end;width:100%;color:#111016;position:relative;background: linear-gradient(89.63deg, #F8F8F8 -1.63%, #F0F0F0 102.35%);border-radius: 15px;box-shadow: 0px 4px 22px 2px rgba(0, 0, 0, 0.12);transition:background .3s;font-family:'Aeroport_medium';}
.btn_navs:hover{text-decoration:none;color:#F7F7F7;background:url(../img/bg_category.png);background-size:cover;background-position:center center;}
.btn_navs.active{text-decoration:none;color:#F7F7F7;background:url(../img/bg_category.png);background-size:cover;background-position:center center;}
.img_category{max-width:215px;object-fit:scale-down;position:relative;top:-30px;position: absolute;}
.btn_navs_item{min-height:126px;height:100%;display:inline-flex;align-items:center;width:100%;color:#111016;position:relative;background: linear-gradient(89.63deg, #F8F8F8 -1.63%, #F0F0F0 102.35%);border-radius: 15px;box-shadow: 0px 4px 22px 2px rgba(0, 0, 0, 0.12);transition:background .3s;font-family:'Aeroport_medium';padding:0 15px;}
.img_sub_category{max-width:100%;position:absolute;right:5px;bottom:10px;}
.btn_navs_item:hover{text-decoration:none;color:#F7F7F7;background:url(../img/bg_category.png);background-size:cover;background-position:center center;}
.btn_navs_item.active{text-decoration:none;color:#F7F7F7;background:url(../img/bg_category.png);background-size:cover;background-position:center center;}
#mac-tab .img_sub_category{bottom:30px;}
.category_link_goods{margin:0 4px 15px;min-height:60px;height:100%;display:inline-flex;align-items:center;flex:1 1 13%;text-align:center;background:#F7F7F7;border-radius: 10px;box-shadow: 0px 4px 22px 2px rgba(0, 0, 0, 0.12);font-size:15px;line-height:16px;color:#111016;transition:background .3s;font-family:'Aeroport_medium';justify-content:center;padding:5px;}
.category_link_goods:hover{text-decoration:none;color:#F7F7F7;background:url(../img/bg_category.png);background-size:cover;background-position:center center;}
.block_link_goods{display:flex;justify-content:space-between;flex-wrap:wrap;margin:0 -4px;}
.form_order{padding:50px 0;background-image:url(../img/bg_form.png);background-size:50% 100%;background-repeat:no-repeat;background-position:100% 100%;}
.title_block span{color:#E31B23;}
.input_order_form{border:none;background-color:transparent;border-bottom:1px solid rgba(17, 16, 22, 0.295);width:100%;}
.micro_text span{color:#E31B23;}
.micro_text{font-size:12px;line-height:19px;letter-spacing:-0.05em;color:#111016;font-family:'Aeroport_light';font-weight:300;}
.block_info{display:flex;width:100%;height:100%;align-items:start;padding:50px 0 50px 50px;justify-content:space-between;flex-direction:column;}
.info_item{display:flex;align-items:center;}
.bullit_item{position:relative;background-color:#f8f8f8;;width:45px;height:45px;border-radius:50%;display:flex;align-items:center;justify-content:center;}
.bullit_item:before{content:'';position:absolute;width:76px;height:76px;border-radius:50%;background:rgba(248, 248, 248, 0.16);top:0;bottom:0;margin:auto;left:-16px;transition:all .3s;}
.info_content_item{display:flex;flex-direction:column;padding-left:30px;}
.phone_info_item{font-size:20px;line-height:25px;color:#f8f8f8;font-family:'Aeroport_medium';font-weight:500;transition:all .3s;}
.phone_info_item:hover{color:#b9aeae;text-decoration:none;}
.middle_text_white{font-size:20px;line-height:28px;color:#f8f8f8;font-family:'Aeroport_medium';font-weight:500;}
.about_us{padding:30px 0 20px;}
.comments{padding:20px 0 70px;}
.body_comment{background:#fff;border-radius:15px;box-shadow: 0px 4px 22px 2px rgba(0, 0, 0, 0.12);padding:35px 20px;}
.comments.otzyvy .body_comment{background-image:url(../img/curv.png);background-repeat:no-repeat;background-size:auto;background-position:95% 5%;transition:background .3s;}
.comments.otzyvy .body_comment:hover{background-image:url(../img/curv_red.png);background-size:cover;background-position:center right;color:#fff;}
.comments.otzyvy .body_comment:hover .text_comment{color:#fff;}
.comments.otzyvy .body_comment:hover .signature_comment{color:#fff;}
.comments.otzyvy .body_comment:hover .signature_comment:before{background-color:#fff;}
.swiper_2{padding:20px 0;overflow:visible;}
.title_comment{font-size:22px;line-height:19px;font-family:'Aeroport_medium';font-weight:500;transition:all .3s;}
.text_comment{font-size:15px;line-height:19px;color:#111016;letter-spacing:-0.05em;transition:all .3s;font-family:'Aeroport_light';}
.signature_comment{position:relative;padding-left:50px;color:#111016;}
.signature_comment:before{content:'';position:absolute;width:40px;height:1px;background-color:#000;top:0;bottom:0;margin:auto;left:0;}
.comments .swiper-slide-active .body_comment{background-image:url(../img/bg_category.png);overflow:hidden;background-size:cover;background-position:center center;background-color:transparent;}
.comments .swiper-slide{border-radius:15px;}
.comments .swiper-slide .body_comment{background-color:transparent;}
.comments .swiper-slide-active .title_comment, .comments .swiper-slide-active .text_comment, .comments .swiper-slide-active .signature_comment{color:#fff;}
.comments .swiper-slide-active .signature_comment:before{background-color:#fff;}
.pagination_two{bottom:-10px !important;display:flex;align-items:center;justify-content:center;}
.swiper-pagination-bullet{width:40px;height:5px;background-color:#111016;opacity:.2;border-radius:5px;transition:all .3s;}
.swiper-pagination-bullet-active{width:60px;background-color:#C8060D;opacity:1;}
.news_block{padding:50px 0;}
.news_item_block{display:flex;height:100%;min-height:195px;background:#F7F7F7;border-radius:15px;overflow:hidden;padding:0 15px;transition:all .3s;color:#111016;font-family:'Aeroport_medium';}
.news_item_block:hover{text-decoration:none;color:#fff;background-image:url(../img/bg_category.png);background-size:cover;}
.name_news{font-size:20px;line-height:22px;font-weight:500;z-index:1;}
.img_news{bottom:0;right:0;position:absolute;z-index:0;}
.wrapper_news_block{box-shadow: 0px 4px 22px 2px rgba(0, 0, 0, 0.12);border-radius:15px;}
.news_item_block:hover .text_contetn_black{color:#f7f7f7;}
.news_item_block .text_contetn_black{font-size:13px;}
.why_we{position:relative;padding:70px 0;background-image:url(../img/bg_why.jpg);background-size:cover;background-position:center left;}
.why_we .sub_title, .why_we .title_page{color:#252326;}
.numb_box{display:flex;align-items:center;}
.circle_red{min-width:50px;min-height:50px;display:flex;align-items:center;position:relative;justify-content:center;border-radius:50%;background-color:#E31B23;margin-right:20px;}
.circle_red span{color:#F7F7F7;font-size:20px;line-height:19px;font-family:'Montserrat';position:absolute;margin:auto;}
.footer{background-color:#111016;padding:50px 0;}
.left_block_footer{display:flex;flex-direction:column;justify-content:space-between;height:100%;}
.link_privacy{font-family:'Aeroport_bold';font-size:13px;line-height:15px;color:#eee;transition:all .3s;}
.link_privacy:hover{color:#fff}
.all_info_min{font-size:13px;line-height:16px;color:#eee;}
.title_menu_footer{font-size:14px;color:#eeee;font-family:'Aeroport_light';transition:all .3s;}
.whie_link_footer{color:#eeee;font-size:13px;line-height:17px;font-family:'Aeroport_bold';display:inline-block;}
.whie_link_footer:hover{color:#fff;}
.item_menu_footer{display:flex;justify-content:space-between;flex-direction:column;}
.right_block_footer a{color:#eee;}
.right_block_footer .mobile_menu_phone_block .link_phone{justify-content:flex-end;}
.right_block_footer .form_input{background-color:#292830;color:#fff;}
.right_block_footer .form_input::-webkit-input-placeholder{color:#eee;}
.right_block_footer .bg_red{background-color:#E31B23;}
.right_block_footer .menu_input .form_input{flex: 1 1 auto;min-width:50%;}
.all_right{font-size:13px;color:#eee;font-family:'Aeroport_light';font-weight:300;}
.slider_1 .swiper-slide{overflow:hidden !important;padding-bottom:45px;}
.devided{width:2px;height:30px;display:inline-block;background-color:#F8F8F8;transform:rotateZ(15deg);}
.breadcrumb{background-color:transparent;padding:30px 0 0;}
.breadcrumb-item{font-size:15px;line-height:19px;font-family:"Aeroport_light";font-weight:300;}
.breadcrumb-item a{color:#868686;}
.breadcrumb-item.active{color:#E31B23;}
.advantages{padding:50px 0;}
.box_advantages{background-color:#FFFFFF;border-radius:15px;box-shadow: 0px 4px 22px 2px rgba(0, 0, 0, 0.12);padding:20px 15px;display:flex;align-items:start;flex-direction:column;justify-content:center;min-height:100%;}
.bg_img{background-image:url(../img/bg_category.png);background-size:cover;}
.signature_comment.white_text:before{background-color:#fff;}
.right_img{z-index:0;right:30px;top:15px;position:absolute;}
.body_comment .title_comment{z-index:1;position:relative;}
.prev_btn, .page_btn, .next_prev{font-size:18px;color:#828282;line-height:22px;font-family:'Aeroport_bold';display:inline-flex;align-items:center;justify-content:center;min-width:40px;min-height:45px;border-radius:5px;height:100%;margin:0 3px;transition:all .3s;}
.pagination_page{display:flex;align-items:center;justify-content:center;}
.page_btn{text-align:center;}
.page_btn:hover{color:#fff;background-color:#C8060D;text-decoration:none;}
.prev_btn:hover, .next_prev:hover{text-decoration:none;color:#616060;}
.contact_ours{padding:30px 0 70px;}
.middle_text_black{font-size:20px;line-height:28px;color:#111016;font-family:'Aeroport_medium';font-weight:500;}
.white_icon{position:relative;width:38px;height:38px;background:rgba(248, 248, 248, 0.16);border-radius:50%;display:inline-block;}
.white_icon:before{content:'';position:absolute;left:0;right:0;top:0;bottom:0;margin:auto;width:22px;height:22px;background-color:#f8f8f8;border-radius:50%;background-repeat:no-repeat;background-position:center center;}
.white_icon.marker:before{background-image:url(../img/bl_marker.png);background-size:11px;}
.white_icon.phone:before{background-image:url(../img/bl_phone.png);background-size:10px;}
.link_phone_white{font-size:20px;line-height:28px;color:#f8f8f8;font-family:'Aeroport_medium';font-weight:500;text-decoration:none;display:flex;align-items:center;}
.link_phone_white:hover{color:rgb(189, 181, 181);text-decoration:none;}
.red_icon{position:relative;width:38px;height:38px;background:rgba(205, 10, 17, 0.2);border-radius:50%;display:inline-block;}
.red_icon:before{content:'';position:absolute;left:0;right:0;top:0;bottom:0;margin:auto;width:22px;height:22px;background-color:#E31B23;border-radius:50%;background-repeat:no-repeat;background-position:center center;}
.link_phone_black{font-size:20px;line-height:28px;color:#111016;font-family:'Aeroport_medium';font-weight:500;text-decoration:none;display:flex;align-items:center;transition:all .3s;}
.red_icon.marker:before{background-image:url(../img/wh_marker.png);background-size:11px;}
.red_icon.phone:before{background-image:url(../img/wh_phone.png);background-size:10px;}
.link_phone_black:hover{text-decoration:none;color:#1110168c;}
.map_wrapper{text-align:center;box-shadow: 0px 4px 22px 2px rgba(0, 0, 0, 0.12);overflow:hidden;border-radius:20px;}
.questions{padding:20px 0 70px;}
.card{background-image:url(../img/bg_quest.jpg);background-size:cover;background-position:top right;transition:all .3s;border-radius: 15px 15px 15px 15px !important;margin-bottom:15px;border:none;text-decoration:none;box-shadow: 0px 4px 22px 2px rgba(0, 0, 0, 0.12);}
.card:hover{background-image:url(../img/bg_quest_hover.jpg);background-size:cover;background-position:top right;text-decoration:none;}
.card-header{border-bottom:none;padding:0;text-decoration:none;background-color:transparent;}
.btn.btn-link{display:flex;flex-direction:column;padding:30px 25px 0;text-decoration:none;}
.icon_questions{display:inline-block;width:50px;height:50px;background-image:url(../img/icon_questions_2.png);background-size:cover;transition:all .3s;}
.card:hover .icon_questions{background-image:url(../img/icon_questions.png);}
.card.active{background-image:url(../img/bg_quest_hover.jpg);}
.card:hover .btn .item_questions{color:#F7F7F7;text-decoration:none;}
.item_questions{font-size:20px;line-height:19px;font-family:'Aeroport_medium';color:#111016;text-decoration:none;text-decoration:none;}
.card-body{color:#111016;padding:0px 25px 30px}
.card:hover .card-body{color:#f7f7f7;}
.arrow_quest{position:absolute;bottom:0;right:10px;transition:all .3s;}
.btn[aria-expanded="true"] .arrow_quest{transform:rotateZ(180deg);}
.wrapper_intro_catalog{width:100%;background-image:url(../img/bg_catalog.jpg);background-size:cover;background-position:center top;padding:0 0 70px;}
.wrapper_form_first_order{background-color:#fff;box-shadow: 0px 4px 22px 2px rgba(0, 0, 0, 0.12);border-radius:20px;padding:35px 25px;}
.doble_color_text{font-size:25px;line-height:36px;color:#111016;font-family:'raleway_black';}
.doble_color_text span{color:rgba(227, 27, 35, 1);}
.categories_goods{position:relative;padding:70px 0;}
.categories_goods .nav-item{flex:1 1 48%;min-height:200px;}
.categories_goods .nav-item a p{font-size:30px;}
.intro_remont .sub_title, .intro_remont .title_page{color:#111016;}
.intro_remont{padding:0 0 70px;background: linear-gradient(89.63deg, #F8F8F8 -1.63%, #F0F0F0 102.35%);box-shadow: 0px 4px 22px 2px rgba(0, 0, 0, 0.12);background-image:url(../img/bg_mc.png);background-size:auto;background-position:bottom left;background-repeat:no-repeat;}
.box_bullit{display:flex;align-items:center;}
.text_block{display:flex;flex-direction:column;align-items:start;padding-left:10px;}
.title_bul{font-size:18px;line-height:19px;font-family:"Aeroport_bold";font-weight:bold;letter-spacing:-0.05em;color:#111016;}
.choice_phone{padding:70px 0 0;}
.item_catalog{display:flex;align-items:center;padding:45px 25px;position:relative;transition:all .3s;height:100%;background: #F7F7F7;box-shadow: 0px 4px 22px 2px rgba(0, 0, 0, 0.12);border-radius: 10px;}
.brend_text{font-size:20px;line-height:24px;font-family:'Aeroport_medium';color:#000;}
.item_catalog:hover{background-image:url(../img/bg_category.png);background-size:cover;text-decoration:none;}
.item_catalog:hover .brend_text{color:#fff;}
.phone_card{position:absolute;right:5px;bottom:10px;}
.iphone_page .item_catalog{overflow:hidden;}
.iphone_page .phone_card{bottom:-30%;right:-20px;}
.item_remont_box{height:100%;background: #F7F7F7;box-shadow: 0px 4px 22px 2px rgba(0, 0, 0, 0.12);border-radius: 15px;padding:20px 15px;overflow:hidden;position:relative;cursor:pointer;transition:all .3s;display:flex;align-items:center;}
.item_remont_box:hover{background-image:url(../img/bg_category.png);background-size:cover;}
.name_item_remont{font-size:17px;color:#000;font-family:"Aeroport_bold";font-weight:bold;z-index:1;}
.item_remont_box:hover .name_item_remont{color:#fff;}
.item_rem_img{position:absolute;top:0;bottom:0;margin:auto;right:0;}
.wrapper_phone{display:flex;justify-content:flex-end;}
.block_phone_screen{width:220px;height:442px;background-image:url(../img/iPhone\ 12\ Pro\ Max.png);background-size:100% 100%;position:relative;}
.contact_ours .body_comment.active{background-image:url(../img/bg_category.png);background-size:cover;color:#fff;}
.contact_ours .body_comment:hover{background-image:url(../img/bg_category.png);background-size:cover;color:#fff;}
.contact_ours .body_comment:hover .link_phone_black{color:#fff;}
.contact_ours .body_comment:hover .middle_text_black{color:#fff;}
.contact_ours .body_comment{cursor:pointer;}
.contact_ours .body_comment:hover .red_icon.phone:before{background-image:url(../img/bl_phone.png);background-size:10px;background-color:#f8f8f8;}
.contact_ours .body_comment:hover .red_icon.marker:before{background-image:url(../img/bl_marker.png);background-size:11px;background-color:#f8f8f8;}
.contact_ours .body_comment:hover .red_icon{background: rgba(248, 248, 248, 0.16);}
.contact_ours .body_comment.active .red_icon.phone:before{background-image:url(../img/bl_phone.png);background-size:10px;background-color:#f8f8f8;}
.contact_ours .body_comment.active .red_icon.marker:before{background-image:url(../img/bl_marker.png);background-size:11px;background-color:#f8f8f8;}
.contact_ours .body_comment.active .red_icon{background: rgba(248, 248, 248, 0.16);}




@media(max-width:1300px){
  .intro_slider{background-position:0 0;}
}
@media(max-width:1199px){
  .link_phone{font-size:13px;}
  .img_sub_category{right:-10px;}
  .intro_slider{background-position:-144px 0;}
}
@media(max-width:991px){
  .down_menu{width:0%;overflow:hidden;transition:all .2s;margin-top:25px;position:absolute;left:0;top:77px;}
  .down_menu.active{width:100%;opacity:1;background-color:#E31B23;z-index: 999;}
  .main_menu{padding:25px 0;}
  .down_menu_item{flex-direction:column;align-items:flex-start;}
  .down_menu_link{color:#f7f7f7;font-size:18px;line-height:35px;}
  .mobile_menu_phone_block{display:flex;flex-direction:column;}
  .mobile_menu_phone_block .link_phone{font-size:20px;line-height:19px;color:#f7f7f7;}
  .social_block{display:flex;justify-content:space-between;align-items:center;}
  .social_link{color:#fff;font-family:'Montserrat';font-weight:normal;font-size:15px;}
  .nav-item{flex:1 1 48%;}
  .category_link_goods{flex:1 1 23%;}
  .form_order{background-size:100% 45%;padding:40px 0 0;}
  .swiper-container .social_block{right:auto;}
  .select_device{padding:40px 0;}
  .comments{padding:20px 0 40px;}
  .contact_ours{padding:0 0 40px;}
  .breadcrumb{padding:15px 0 0;}
  .categories_goods .nav-item a p{font-size:20px;}
  .choice_phone{padding:40px 0 0;}
  .wrapper_phone{justify-content:center;}
  .img_news {right:-25px;}
  .intro_slider{background-position:-414px 0;}
  
}
@media(max-width:767px){
  .nav-item{flex:1 1 100%;}
  .category_link_goods{flex:1 1 47%;}
  .right_block_footer .mobile_menu_phone_block .link_phone{justify-content:center;}
  .form_order{background-size:100% 35%;}
  .sub_title{font-size:10px;}
  .title_page{font-size:31px;line-height:36px;}
  .text_content{font-size:12px;line-height:16px;}
  .circle_back{width:350px;height:350px;right:-60px;bottom:-80px;}
  .circle_back:before{width:150px;height:150px;}
  .swiper-pagination .swiper-pagination-current{font-size:41px !important;line-height:35px;}
  .swiper-pagination .swiper-pagination-total{font-size:13px !important;line-height:14px;}
  .swiper-pagination{font-size:13px;}
  .slider_1{padding:40px 0 30px}
  .devided{height:20px;}
  .title_block{font-size:25px;line-height:28px;}
  .phone_info_item{font-size:15px;}
  .middle_text_white{font-size:15px;line-height:16px;}
  .bullit_item{width:36px;height:36px;}
  .bullit_item:before{width:61px;height:61px;left:-13px;}
  .block_info{padding:20px 15px 20px 15px;min-height:240px;}
  .categories_goods .nav-item{flex:1 1 100%;}
  .categories_goods{position:relative;padding:40px 0 30px;}
  .text_block{align-items:center;text-align:center;}
  .box_bullit{flex-direction:column;}
  .title_bul{font-size:15px;}
  .text_block .text_contetn_black{font-size:13px;}
  .img_news {right:0;}
  .intro_slider{background-position:-250px 0;}
  .img_btn{left:-75px;}
  .price_btn{margin-bottom:30px;}
}
@media(max-width:565px){
  .top_nav_link{font-size:12px;}
  .main_menu{padding:15px 0;}
  .down_menu{margin-top:15px;}
  .link_phone{letter-spacing:-0.05em;font-size:15px;}
  .swiper-container .social_block{max-width:60%;}
  .price_btn{font-size:9px;}
  .slider_1 .navigation_slider {right:-30px;}
  .devided{width:1px;}
  .advantages{padding:0 0 30px;}
  .prev_btn, .page_btn, .next_prev{margin:0 1px;}
  .block_info{padding-left:5px;padding-right:0;}
  .item_rem_img{right:-10px;}
  .item_remont_box{padding:20px 0 20px 5px;}
  .img_news {right:-25px;}
  .intro_slider{background-position:-400px 0;}
}
@media (max-width:350px){
  .down_menu {margin-top:-10px;}
  .intro_slider{background-position:-426px 0;}
}
