@font-face{font-family:'',sans-serif;}
body{color:#000;font-size:18px;font-family:'Roboto',sans-serif;}
.bg_red{background-color:#DE052A;}
.navbar-light .navbar-nav .nav-link{color:rgba(0,0,0,1);font-weight:300;font-style:normal;}
.lbl_srch{position:relative;}
.input_search{border:none;border-bottom:1px solid rgba(0,0,0,.5);}
.input_search[placeholder]{font-size:18px;font-weight:300;text-align:right;padding-right:30px;padding-bottom:8px;}
.input_search:focus{outline:none;}
.search_btn{position:absolute;border:none;outline:none;background-color:transparent;right:0;}
.search_btn i{font-size:30px;color:#000;opacity:.5;transition:all .3s;}
.search_btn i:hover{opacity:1;}
.search_btn:focus{outline:none;}
.second_menu .nav-item .nav-link{color:#fff;font-weight:bold;}
.sub_menu{position:absolute;background-color:#DE052A;padding:0 15px 10px;top:55px;transition:all.3s;}
#conv i{position:absolute;transition:all .3s;top:13px;margin:auto;right:-7px;transform:rotateZ(90deg);}
#conv[aria-expanded="true"] i{transform:rotateZ(0deg);}
.intro{background-image:url(../img/bg_intro.jpg);background-size:cover;background-position:center bottom;background-repeat:no-repeat;}
.box_fl{padding-top:250px;}
.text_intro{font-size:22px;font-weight:300;text-transform:uppercase;color:#fff;text-align:center;letter-spacing:0.03em;line-height:16px;}
.text_intro_2{font-size:32px;font-weight:300;text-transform:uppercase;color:#fff;text-align:center;}
.year{font-size:80px;font-weight:300;letter-spacing:0.01em;color:#fff;line-height:90px;position:absolute;border-bottom:2px solid #fff;transform:rotateZ(-90deg);display:inline-block;left:-118px;bottom:55px;}
.btn_menu{border:none;background-color:transparent;outline:none;position:relative;width:35px;height:21px;padding:0;}
.btn_menu:focus{outline:none;}
.btn_menu span{position:absolute;width:35px;height:2px;background-color:#DE052A;left:0;transition:all .3s;}
.btn_menu span:nth-of-type(1){top:0;}
.btn_menu span:nth-of-type(3){bottom:0;}
.btn_menu[aria-expanded="true"] span:nth-of-type(1){top:10px;transform:rotateZ(-45deg);}
.btn_menu[aria-expanded="true"] span:nth-of-type(2){opacity:0;margin-right:100%;}
.btn_menu[aria-expanded="true"] span:nth-of-type(3){bottom:9px;transform:rotateZ(45deg);}
.desc_adv{font-size:17px;color:#2C60A7;font-weight:normal;}
.desc_adv span{white-space:nowrap;}
.about_us{background-image:url(../img/bg_about.jpg);background-size:cover;background-position:center left;min-height:300px;padding-top:40px;}
.red_line{background-color:#DE052A;}
.title_head{color:#fff;font-size:40px;font-weight:bold;margin:0;}
.text_content{line-height:20px;}
.head_red{font-size:40px;color:#DE052A;font-weight:300;}
.box_goods{background-color:#FBFBFB;box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.16);position:relative;padding-top:100px;}
.img_goods{position:absolute;left:0;right:0;margin:auto;top:-55px;}
.name_goods{font-size:20px;color:#fff;background-color:#DE052A;}
.link_all_goods{font-size:16px;color:#1E1D1D;display:inline-block;}
.link_all_goods:hover{color:#DE052A;text-decoration:none;}
.link_all_goods i{color:#DE052A;font-size:22px;vertical-align:middle;}
.form{background-image:url(../img/bg_form.jpg);background-size:cover;background-position:center center;padding:50px 0;margin-top:50px;}
.head_form{font-size:22px;color:#fff;font-weight:bold;}
.input_form{border:none;background-color:transparent;border-bottom:1px solid #fff;color:#fff;}
.input_form[placeholder]{color:rgba(255, 255, 255, 0.7);font-size:18px;font-weight:300;}
.input_form:focus{outline:none;}
.btn_subs{border:none;border-radius:5px;background-color:#DE052A;padding:3px 0;color:#fff;font-size:20px;font-weight:bold;}
.footer {background: rgba(222, 5, 42, 0.1);padding:30px 0 50px;}
.head_foot_menu{font-size:16px;color:#000;}
.link_foot{font-size:16px;color:#DE052A;font-weight:300;}
.link_foot:hover{text-decoration:none;color:#000;}
.light{font-weight:300;}
.font_norm{font-weight:normal;}
.privacy{font-size:16px;color:rgba(0, 0, 0, 0.5);}
.privacy a{color:rgba(0, 0, 0, 0.5);}
.intro_category{background-image:url(../img/bg_category.jpg);background-size:cover;background-position:center top;padding:80px 0 350px;}
.intro_head{color:#DE052A;font-size:22px;font-weight:500;}
.intro_head span{font-size:50px;font-weight:bold;vertical-align:middle;}
.breadcrumb{background-color:transparent;}
.breadcrumb-item a{color:rgba(0, 0, 0, 0.5);}
.breadcrumb-item.active{color:#DE052A;}
.head_page{font-size:40px;color:#DE052A;font-weight:bold;position:relative;padding-left:70px;padding-right:15px;}
.circle_red{position:absolute;width:44px;height:44px;border-radius:50%;background-color:#DE052A;top:0;bottom:0;margin:auto;left:15px;}
.circle_red:before{content:'';position:absolute;width:20px;height:20px;border-radius:50%;background-color:#fff;top:0;bottom:0;left:0;right:0;margin:auto;}
.circle_red:after{content:'';position:absolute;width:45px;height:4px;top:0;bottom:0;left:0;margin:auto;transform:rotateZ(-45deg);background-color:#fff;}
.bg_gray{background-color:#F1F1F1;}
.head_tab{font-size:15px;color:rgba(0, 0, 0, 0.5);}
.name_model{font-size:18px;font-weight:300;color:#DE052A;}
.buy_btn{color:#fff;background-color:#DE052A;border-radius:4px;width:100%;display:inline-block;font-size:16px;border:1px solid transparent;transition:all .3s;}
.buy_btn:hover{color:#000;text-decoration:none;background-color:transparent;border-color:#000;}
.border_bottom{border-bottom:2px solid rgba(0, 0, 0, 0.17);}
.img_bord{border-radius:50%;border:3px solid #DE052A;}
.txt_img{font-size:20px;color:#000;line-height:18px;}
.desc_img{font-size:16px;color:#000;}
.height_desctop{height:100%;}
.nav-tabs{border-bottom:none;}
.nav-tabs .nav-item.show .nav-link,.nav-tabs .nav-link.active{border-color:#DE052A;}
.nav-tabs .nav-link{border-radius:0;border:1px solid rgba(0, 0, 0, 0.3);}
.name_akses{font-size:30px;font-weight:300;color:#DE052A;}
.akses_desk{font-size:20px;font-weight:300;color:#000;}
.akses_val{font-size:20px;color:#000;}
.btn_quant{border:none;background-color:#ECECEC;border-radius:10px;font-size:24px;font-weight:300;width:34px;height:50px;}
.btn_quant:hover{background-color:#ccc;}
.btn_quant:focus{outline:none;}
.num_quant{font-size:24px;font-weight:500;}
.price_akses{font-size:30px;font-weight:500;color:#DE052A;line-height:21px;}
.download_link{color:#DE052A;font-size:20px;font-weight:300;text-decoration:underline;}
.download_link:hover{color:#DE052A;text-decoration:none;}
.blu_min_txt{font-size:14px;color:#2C60A7;}
.link_sl{display:inline-block;color:#DE052A;font-size:14px;font-weight:300;text-decoration:underline;}
.intro_catal{background-image:url(../img/bg_catal.jpg);background-size:cover;background-position:center center;height:539px;position:relative;}
.head_catal{font-size:60px;color:#fff;font-weight:bold;text-transform:uppercase;}
.box_item_catal{perspective:1000;position: relative;}
.flip_cont{background:#F9F9F9;box-shadow: 0px 4px 10px rgba(222, 5, 42, 0.3);border-radius: 10px;padding:50px 15px;}
.name_catal{font-size:22px;font-weight:500;color:#000;line-height:30px;margin:0;}
.box_item_catal:hover .flip_cont{ transform: rotateY(180deg);}
.flip_cont{transition:all .6s;transform-style:preserve-3d;position: relative;}
.front, .back {backface-visibility: hidden;position: absolute;top:0;left:0;right:0;bottom:0;margin:auto;}
.front{z-index: 2;}
.back{transform: rotateY(180deg);}
.flip_cont,.front,.back{width:100%;height:370px;}
.catal_link{color:#DE052A;font-size:30px;font-weight:300;text-decoration:underline;}
.catal_link:hover{color:#000;}
.intro_history{background-image:url(../img/bg_history.jpg);background-position:center;background-size:cover;padding:50px 0;height:511px;}
.font_size_his{font-size:30px;}
.name_quest{position:relative;color:#DE052A;font-size:20px;line-height:20px;padding-left:35px;}
.faq{cursor:pointer;}
.answer{padding-left:35px;}
.circle_faq{position:absolute;width:21px;height:21px;background-color:#DE052A;top:0;left:0;bottom:0;margin:auto;border-radius:50%;}
.circle_faq:before{content:'';position:absolute;width:9px;height:9px;background-color:#fff;top:0;bottom:0;left:0;right:0;margin:auto;border-radius:50%;}
.circle_faq:after{content:'';position:absolute;width:22px;height:2px;background-color:#fff;top:0;bottom:0;left:0;right:0;margin:auto;transform:rotateZ(-45deg);transition:all .5s ease-in-out;}
.faq[aria-expanded="true"] .circle_faq:after{transform:rotateZ(-360deg)}
.intro_info{background-image:url(../img/bg_info.jpg);background-size:cover;background-position:center center;height:373px;padding-top:270px;}
.data_bg{color:#fff;font-size:20px;font-weight:300;background-image:url(../svg/bg_date.svg);background-size:100%;background-repeat:no-repeat;width:168px;height:64px;display: inline-block;vertical-align: middle;text-align: left;padding-top: 18px;padding-left: 20px;}
.head_info{font-size:30px;color:#DE052A;font-weight:bold;}
.midl_weight{font-weight:500;}
.col_red{color:#DE052A;}
.border-bottom{border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);}
.head_side_right{font-size:24px;color:#DE052A;font-weight:300;line-height:30px;}
.item_side{border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);}
.link_side{display:inline-block;color:#000;font-weight:300;text-decoration:none;padding:10px 0;}
.item_side:hover .link_side{color:#DE052A;}
.txt_contact{font-size:20px;font-weight:300;}
.link_cont_phone{font-size:16px;color:#DE052A;font-weight:normal;}
.link_cont_phone:hover{color:#DE052A;text-decoration:underline;}
.contact_form input{padding:10px;}
.btn_submit{font-size:22px;font-weight:500;color:#fff;display:inline-block;border:none;background-color:#DE052A;border-radius:10px;padding:5px 50px;}

@media(max-width:1199px){
  .year{left:-146px}
  .name_goods{font-size:17px;}
}
@media(max-width:991px){
  .sub_menu{position:relative;top:auto;}
  #conv i{right:15px;}
}
@media(max-width:767px) {
  .text_intro{font-size:16px;}
  .text_intro_2{font-size:25px;}
  .year{font-size:65px;bottom:40px;left:-137px;}
  .name_model{font-size:13px;}
  .txt_tab{font-size:13px;}
  .buy_btn{font-size:13px;}
  .desc_adv{font-size:15px;}
  .head_page{font-size:26px;padding-left:50px;}
  .circle_red{width:26px;height:26px;left:15px;}
  .circle_red:before{width:12px;height:12px;top:0;bottom:0;left:0;right:0;margin:auto;}
  .circle_red:after{width:27px;height:3px;top:0;bottom:0;left:0;margin:auto;transform:rotateZ(-45deg);background-color:#fff;}
  .title_head{font-size:25px;}
  .data_bg{width:104px;height:39px;font-size:13px;padding-top:10px;padding-left:12px;}
  .head_info{font-size:26px;}
}
@media(max-width:575px){
  .intro_category{background-image:url(../img/bg_category_mobile.jpg);padding:50px 0 100px;}
  .intro_info{background-image:url(../img/bg_info_mobile.jpg);padding:50px 0 0;height:543px;}
}
@media(max-width:400px){
  .btn_menu span:nth-of-type(1){top:2px;}
  .text_intro{font-size:12px;}
  .text_intro_2{font-size:18px;}
  .year{font-size:40px;bottom:27px;left:-90px;line-height:55px;}

}






