@font-face{font-family:'Montserrat_light'; src:url(../font/Montserrat-Light.ttf);}
@font-face{font-family:'Montserrat_reg'; src:url(../font/Montserrat-Regular.ttf);}
@font-face{font-family:'Montserrat_medium'; src:url(../font/Montserrat-Medium.ttf);}
@font-face{font-family:'Montserrat_semibold'; src:url(../font/Montserrat-SemiBold.ttf);}
@font-face{font-family:'Montserrat_extrabold'; src:url(../font/Montserrat-ExtraBold.ttf);}
html{scroll-behavior:smooth;}
body{font-family:'Montserrat_medium';}
.wrapper{overflow:hidden;position:relative;}
.header{position:relative;width:100%;}
.header_nav{position:absolute;left:0;top:0;width:100%;z-index:10;transition:all .5s ease;}
.content{position:relative;}
.header_nav_menu{display:flex;align-items:flex-start;justify-content:space-between;padding:30px 0 10px;}
.menu_top_block{display:flex;align-items:flex-start;justify-content:space-between;}
.logo_block{flex:0 0 174px;}
.menu_top_block{flex:1 1 auto;}
.wrapper_logo{background-color:#fff;box-shadow: 5px -1px 5px rgba(0, 0, 0, 0.25);border-radius: 10px;padding:22px 10px 22px;display:inline-flex;flex-direction:column;align-items:center;}
.line{width:80%;background-color:rgba(0,0,0,.1);}
.text_logo{display:inline-block;width:100%;text-align:center;font-size:15px;line-height:18px;color:rgba(0, 0, 0, 0.66);font-family:'Montserrat_medium';}
.menu_block{padding:0 0 0 20px;position:relative;flex:1 0 auto;}
.menu_main{list-style:none;padding-left:0;margin:0;display:flex;align-items:center;}
.menu_link{display:inline-flex;align-items:center;justify-content:center;color:#fff;font-size:15px;line-height:18px;padding:0 10px 10px;font-family:'Montserrat_medium';}
.drop_shevron{display:inline-flex;align-items:center;justify-content:center;transform:rotateZ(180deg);transition:all .3s;margin-left:4px;}
.menu_link:hover .drop_shevron{transform:rotateZ(0);}
.menu_link:hover{color:#fff;text-decoration:none;cursor:pointer;}
.dropdown_menu_wrapper{position:absolute;top:100%;left:0;width:100%;padding:20px 20px 0;opacity:0;transform:translateY(-100%);visibility:hidden;transition:all .3s;transition-delay:.2s;}
.dropdown_menu{background-color:transparent;display:flex;justify-content:space-between;list-style:none;padding-left:0;}
.dropdown_menu_item{display:flex;flex:0 1 19.5555%;}
.dropdown_menu_link{display:flex;height:100%;width:100%;cursor:pointer;align-items:center;flex-direction:column;justify-content:space-between;background-color:rgba(255,255,255,.9);padding:20px 5px;transition:all .3s;z-index:11;}
.dropdown_menu_link .name_link{display:inline-block;padding-top:10px;color:#000;font-size:15px;position:relative;}
.dropdown_menu_link:hover{text-decoration:none;}
.dropdown_menu_item:nth-of-type(1) .dropdown_menu_link{border-radius:10px 0 0 10px;}
.dropdown_menu_item:nth-of-type(5) .dropdown_menu_link{border-radius:0 10px 10px 0;}
.open_icon{position:absolute;bottom:-25px;left:50%;margin:auto;transform:translateX(-50%) translateY(-100%);opacity:0;transition:all .3s;visibility:hidden;}
.open_icon img{filter:drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));}
.menu_link:hover .open_icon{transform:translateX(-50%) translateY(0);opacity:1;visibility:visible;}
.menu_link:hover .dropdown_menu_wrapper{opacity:1;transform:translateY(0);visibility:visible;}
.dropdown_menu_link:hover{background-color:rgba(255,255,255,1);box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);}
.open_icon_sub{position:absolute;left:50%;bottom:-38px;transform:translateX(-50%);transform:translateY(-100%);opacity:0;visibility:hidden;transition:all .3s;}
.open_icon_sub img{filter:drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));}
.sub_dropdown_wrapper{position:absolute;top:100%;padding:20px 20px 0;width:100%;left:0;transform:translateX(-100%);opacity:0;visibility:hidden;transition:all .2s;transition-delay:.1s;}
.sub_dropdown{width:100%;background-color:#fff;padding:30px 35px 20px;border-radius:10px;box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);}
.dropdown_menu_link:hover .open_icon_sub{transform:translateX(-50%) translateY(0);opacity:1;visibility:visible;transition:all .3s;}
.dropdown_menu_item:nth-of-type(1) .dropdown_menu_link:hover .sub_dropdown_wrapper{transform:translateX(0);opacity:1;visibility:visible;transition:all .3s;transition-delay:.2s;}
.dropdown_menu_item:nth-of-type(2) .dropdown_menu_link .sub_dropdown_wrapper{transform:translateY(100%);visibility:hidden;}
.dropdown_menu_item:nth-of-type(2) .dropdown_menu_link:hover .sub_dropdown_wrapper{transform:translateY(0);opacity:1;visibility:visible;transition:all .3s;transition-delay:.3s;}
.dropdown_menu_item:nth-of-type(3) .dropdown_menu_link .sub_dropdown_wrapper{transform:translateY(100%);visibility:hidden;}
.dropdown_menu_item:nth-of-type(3) .dropdown_menu_link:hover .sub_dropdown_wrapper{transform:translateY(0);opacity:1;visibility:visible;transition:all .3s;transition-delay:.3s;}
.dropdown_menu_item:nth-of-type(4) .dropdown_menu_link .sub_dropdown_wrapper{transform:translateY(100%);visibility:hidden;}
.dropdown_menu_item:nth-of-type(4) .dropdown_menu_link:hover .sub_dropdown_wrapper{transform:translateY(0);opacity:1;visibility:visible;transition:all .3s;transition-delay:.3s;}
.dropdown_menu_item:nth-of-type(5) .dropdown_menu_link .sub_dropdown_wrapper{transform:translateX(100%);visibility:hidden;}
.dropdown_menu_item:nth-of-type(5) .dropdown_menu_link:hover .sub_dropdown_wrapper{transform:translateX(0);opacity:1;visibility:visible;transition:all .3s;transition-delay:.3s;}
.name_menu_item{font-size:15px;line-height:18px;color:#000;font-family:'Montserrat_semibold';}
.sub_dropdown_menu{width:100%;display:flex;}
.col_menu{list-style:none;flex:0 0 35%;width:100%;padding-right:2px;padding-left:35px;padding-top:15px;}
.col_menu_item_link.link_head{font-size:15px;line-height:18px;color: rgba(0, 0, 0, 0.7);font-family:'Montserrat_semibold';position:relative;transition:all .3s;}
.col_menu_item_link.link_head img{position:absolute;left:-35px;top:0;bottom:0;margin:auto;transition:all .3s;}
.col_menu_item_link.link_head:hover{text-decoration:none;color:#000;}
.col_menu_item_link.link_head:hover img{filter:drop-shadow(0 0 7px rgba(0,0,0,.2));}
.col_menu_item_link{font-size:12px;line-height:15px;color: rgba(0, 0, 0, 0.8);font-family:'Montserrat_medium';display:inline-block;transition:all .3s;}
.col_menu_item_link:hover{text-decoration:none;color:#000;}
.col_menu_item{display:flex;align-items:center;margin-bottom:13px;}
.status_icon{display:inline-flex;align-items:center;justify-content:center;padding:1px 10px;border-radius:0 20px 20px 20px;font-size:10px;line-height:11px;text-transform:uppercase;color:#fff;font-family:'Montserrat_semibold';margin-left:5px;transform:translateX(100%);opacity:0;visibility:hidden;transition:all .3s;transition-delay:.3s;}
.status_icon.hit{background-color:#0FC121;}
.status_icon.new{background-color:#4FCED7;}
.status_icon.stock{background-color:#F71212;}
.dropdown_menu_link:hover .status_icon{transform:translateX(0);opacity:1;visibility:visible;transition:all 1.5s;}
.col_menu:nth-of-type(1), .col_menu:nth-of-type(2){border-right:1px solid rgba(0, 0, 0, 0.3);}
.col_menu:nth-of-type(2), .col_menu:nth-of-type(3){padding-left:45px;}
.wrapper_min_banner{width:100%;border-radius:10px;overflow:hidden;padding:20px 30px;background-image:url(../img/banner_sub_menu.png);background-size:cover;background-position:center center;transition:all .5s;transition-delay:.5s;opacity:0;visibility:hidden;}
.text_block_banner{text-align:left;padding:20px 15px;background-color:rgba(255,255,255,.7);border-radius:5px;width:100%;transform:translateY(100%);visibility:hidden;opacity:0;transition:all .4s;transition-delay:.6s;}
.text_banner{font-size:20px;line-height:24px;color:#000;font-family:'Montserrat_medium';}
.gradient_btn{display:inline-flex;align-items:center;position:relative;justify-content:center;width:100%;text-align:center;background:linear-gradient(92.58deg, #F71212 -14.51%, #E49E0F 82.83%, #FFE922 139.94%);padding:8px 15px;border-radius:20px;font-size:10px;color:#FDFDFD;font-family:'Montserrat_semibold';transition:all .4s;transform:translateX(100%);visibility:hidden;opacity:0;transition-delay:.6s;}
.gradient_btn .shevron_right{transform:rotateZ(-90deg);}
.gradient_btn:hover{text-decoration:none;color:#fff;}
.gradient_btn:before{content:'';position:absolute;top:0;left:0;width:100%;height:100%;background-color:#F71212;transition:all .3s;opacity:0;z-index:0;border-radius:20px;}
.gradient_btn:hover:before{opacity:1;}
.gradient_btn_txt{z-index:1;}
.dropdown_menu_link:hover .wrapper_min_banner{opacity:1;visibility:visible;}
.dropdown_menu_link:hover .text_block_banner{transform:translateY(0);visibility:visible;opacity:1;}
.dropdown_menu_link:hover .gradient_btn{transform:translateX(0);visibility:visible;opacity:1;}
.dropdown_menu_wrapper_2{position:absolute;top:100%;padding:20px 20px 0;opacity:0;transform:translateY(100%) translateX(-5px);visibility:hidden;transition:all .3s;transition-delay:.2s;}
.dropdown_menu_2{background-color:#fff;box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);border-radius:5px;padding:15px 30px 15px 20px;}
.dropdown_menu_link_2{display:inline-flex;align-items:center;font-size:12px;line-height:15px;color:rgba(0, 0, 0, 0.7);font-family:'Montserrat_reg';transition:all .3s;}
.dropdown_menu_link_2:hover{text-decoration:none;color:#000;color:rgba(0, 0, 0, 1);}
.dropdown_menu_item_2{margin-bottom:7px;text-align:left;}
.min_shevron{display:inline-flex;align-items:center;justify-content:center;margin-left:3px;}
.menu_link:hover .dropdown_menu_wrapper_2{opacity:1;transform:translateY(0) translateX(-5px);visibility:visible;}
.contact_block{display:flex;align-items:center;flex:1 1 20%;position:relative;flex-wrap:wrap;}
.icon_menu{display:flex;align-items:center;flex:0 0 50%;justify-content:space-between;}
.link_icon_menu{display:inline-flex;align-items:center;position:relative;}
.link_icon_menu:nth-of-type(2), .link_icon_menu:nth-of-type(3){margin-left:20px;}
.link_icon_menu svg{filter:drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));transition:all .3s;}
.link_icon_menu:hover svg{filter:drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.6));}
.quentity{display:inline-flex;align-items:center;justify-content:center;position: absolute;width:22px;height:22px;top:0;right:-14px;border-radius:50%;background: linear-gradient(147.72deg, #F71212 14.52%, #FDB41E 88.56%);font-size:14px;color:#fff;font-family:'Montserrat_semibold';text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);}
.link_icon_menu:nth-of-type(2) .quentity{top:-3px;}
.phone_menu{display:flex;align-items:center;flex:0 0 50%;justify-content:flex-end;}
.phone_header{font-size:15px;line-height:18px;color:#1A1A1A;opacity:.8;font-family:'Montserrat_semibold';transition:all .3s;}
.phone_header:hover{color:#fff;text-shadow:0 0 4px rgba(0,0,0,.6);text-decoration:none;}
.city_block{width:100%;display:flex;align-items:center;justify-content:flex-end;}
.btn_city{display:inline-flex;align-items:center;border:none;cursor:pointer;margin-top:5px;background-color:transparent;color:rgba(26, 26, 26, 0.7);font-size:15px;padding:5px 0 5px 20px;font-family:'Montserrat_semibold';transition:all .3s;text-decoration:underline;}
.shevrron_down{display:inline-flex;align-items:center;justify-content:center;margin-left:5px;transform:rotateZ(90deg);}
.btn_city .open_icon{bottom:-15px;transform:translateX(-50%) translateY(100%);}
.btn_city:hover .open_icon{transform:translateX(-50%) translateY(0);opacity:1;visibility:visible;transition:all .3s;}
.wrapper_city_search{position:absolute;width:100%;left:0;top:57px;padding:20px 0 0 5px;z-index:10;transform:translateY(100%);opacity:0;visibility:hidden;transition:all .3s;transition-delay:.3s;}
.sity_search_block{background-color:#fff;padding:25px 35px;width:100%;border-radius:10px;}
.min_txt{font-size:12px;line-height:15px;color: rgba(0, 0, 0, 0.7);font-family:'Montserrat_reg';}
.search_input{width:100%;position:relative;}
.search_input input{border-radius:10px;border:1px solid #D2D2D2;padding:7px 15px;font-size:12px;line-height:15px;width:100%;transition:all .3s;font-family:'Montserrat_reg';color:#000;}
.search_input input:focus{outline:none;box-shadow:0 0 3px 1px rgba(0,0,0,.1);}
.search_input input::-webkit-input-placeholder{color: rgba(0, 0, 0, 0.45);;}
.search_input .search_btn{position:absolute;right:0;top:0;bottom:0;margin:auto;border:none;background-color:transparent;}
.link_city{display:inline-block;width:100%;color:rgba(0, 0, 0, 0.7);font-size:12px;line-height:15px;font-family:'Montserrat_reg';transition:all .3s;}
.link_city:hover{color:rgba(0, 0, 0, 1);text-decoration:none;}
.btn_city:hover .wrapper_city_search{transform:translateY(0);opacity:1;visibility:visible;}
.letter_our{width:100%;display:flex;align-items:center;justify-content:flex-end;}
.link_mail{display:inline-flex;align-items:center;justify-content:flex-end;margin-top:10px;color:rgba(26, 26, 26,.8);font-family:'Montserrat_medium';transition:all .3s;font-size:15px;line-height:18px;}
.link_mail:hover{color:rgba(255, 255, 255,1);text-decoration:none;text-shadow:0 0 4px rgba(0,0,0,.6);}
.link_mail img{filter:drop-shadow(2px 6px 7px rgba(0, 0, 0, 0.25));z-index:0;}




@media (min-width:1440px){
  .container.first_intro{max-width:1320px;}
}
@media(max-width:1439px){
  .icon_menu, .phone_menu{flex:1 1 100%;}
  .phone_menu{margin-top:15px;}
  .link_mail{font-size:13px;}
  .wrapper_city_search{min-width:320px;left:auto;right:0;top:89px;}
  .sity_search_block{padding:20px 25px;}
}
@media(max-width:1199px){
  .menu_block{flex:1 1 auto;text-align:center;padding-left:10px;}
  .menu_link{padding:0 2px 10px;font-size:14px;}
}



